<SpendableCurrencies>
	<RushCostRatios name="HeightsRatio" Furniture="1" Latte="2" YogaMat="2" SmartDevice="3" Pharmaceutical="3" Ads="4" HollywoodAward="5" />
	<SpendableCurrency Type="105000" name="RealEstateValue" Icons="ICO_Heights_RealEstate" indicatorIcon="Indicator_Heights_RealEstate" droppedIcon="Indicator_Heights_RealEstate" prizeIcon="Indicator_Heights_RealEstate" TextPoolID="UI_RealEstateValue_name" TextPoolResourceSingularID="UI_RealEstateValue_name" TextPoolResourcePluralID="UI_RealEstateValue_name" Sound="Stonecutters_emblem_pickup.caf" abbreviateAmount="true" usesMapView="true" maximum="2000000000" />
	<SpendableCurrency Type="105001" name="Furniture" Icons="ICO_Heights_Furniture" indicatorIcon="Indicator_Heights_Furniture" droppedIcon="Indicator_Heights_Furniture" prizeIcon="Indicator_Heights_Furniture" TextPoolID="UI_Furniture_name" TextPoolResourceSingularID="UI_Furniture_name" TextPoolResourcePluralID="UI_Furniture_name" Sound="Stonecutters_emblem_pickup.caf" buttonColour="0x8928f7ff" softMaximum="selector FurnitureResourceCap" getThisScript="SpringfieldHeights_Scripts:GoToShop" useGetThisScriptWhenUnavailable="false" defaultTopupRatio="HeightsRatio" />
	<SpendableCurrency Type="105002" name="Latte" Icons="ICO_Heights_Coffee" indicatorIcon="Indicator_Heights_Coffee" droppedIcon="Indicator_Heights_Coffee" prizeIcon="Indicator_Heights_Coffee" TextPoolID="UI_Latte_single" TextPoolResourceSingularID="UI_Latte_single" TextPoolResourcePluralID="UI_Latte_plural" Sound="Stonecutters_emblem_pickup.caf" buttonColour="0x8928f7ff" softMaximum="selector LatteResourceCap" getThisScript="SpringfieldHeights_Scripts:GoToCoffeeShop" useGetThisScriptWhenUnavailable="false" defaultTopupRatio="HeightsRatio" />
	<SpendableCurrency Type="105003" name="Pharmaceutical" Icons="ICO_Heights_Pharmaceutical" indicatorIcon="Indicator_Heights_Pharmaceutical" droppedIcon="Indicator_Heights_Pharmaceutical" prizeIcon="Indicator_Heights_Pharmaceutical" TextPoolID="UI_Pharmaceutical_single" TextPoolResourceSingularID="UI_Pharmaceutical_single" TextPoolResourcePluralID="UI_Pharmaceutical_plural" Sound="Stonecutters_emblem_pickup.caf" buttonColour="0x8928f7ff" softMaximum="selector PharmaceuticalResourceCap" getThisScript="SpringfieldHeights_Scripts:GoToPharmerJohns" useGetThisScriptWhenUnavailable="false" defaultTopupRatio="HeightsRatio" />
	<SpendableCurrency Type="105004" name="SmartDevice" Icons="ICO_Heights_SmartDevice" indicatorIcon="Indicator_Heights_SmartDevice" droppedIcon="Indicator_Heights_SmartDevice" prizeIcon="Indicator_Heights_SmartDevice" TextPoolID="UI_SmartDevice_single" TextPoolResourceSingularID="UI_SmartDevice_single" TextPoolResourcePluralID="UI_SmartDevice_plural" Sound="Stonecutters_emblem_pickup.caf" buttonColour="0x8928f7ff" softMaximum="selector SmartDeviceResourceCap" getThisScript="SpringfieldHeights_Scripts:GoToSHIT" useGetThisScriptWhenUnavailable="false" defaultTopupRatio="HeightsRatio" />
	<SpendableCurrency Type="105005" name="YogaMat" Icons="ICO_Heights_YogaMat" indicatorIcon="Indicator_Heights_YogaMat" droppedIcon="Indicator_Heights_YogaMat" prizeIcon="Indicator_Heights_YogaMat" TextPoolID="UI_YogaMat_single" TextPoolResourceSingularID="UI_YogaMat_single" TextPoolResourcePluralID="UI_YogaMat_plural" Sound="Stonecutters_emblem_pickup.caf" buttonColour="0x8928f7ff" softMaximum="selector YogaMatResourceCap" getThisScript="SpringfieldHeights_Scripts:GoToLABodyWorks" useGetThisScriptWhenUnavailable="false" defaultTopupRatio="HeightsRatio" />
	<SpendableCurrency Type="105006" name="HollywoodAward" Icons="ICO_Heights_GoldAwards" indicatorIcon="Indicator_Heights_GoldAwards" droppedIcon="Indicator_Heights_GoldAwards" prizeIcon="Indicator_Heights_GoldAwards" TextPoolID="UI_HollywoodAward_single" TextPoolResourceSingularID="UI_HollywoodAward_single" TextPoolResourcePluralID="UI_HollywoodAward_plural" Sound="Stonecutters_emblem_pickup.caf" buttonColour="0x8928f7ff" softMaximum="selector HollywoodAwardResourceCap" getThisScript="SpringfieldHeights_Scripts:GoToHeightsTheater" useGetThisScriptWhenUnavailable="false" defaultTopupRatio="HeightsRatio" />
	<SpendableCurrency Type="105007" name="Ads" Icons="ICO_SheightsExpac_ads" indicatorIcon="Indicator_ads" droppedIcon="Indicator_ads" prizeIcon="Indicator_ads" TextPoolID="UI_Ads_single" TextPoolResourceSingularID="UI_Ads_single" TextPoolResourcePluralID="UI_Ads_plural" Sound="Stonecutters_emblem_pickup.caf" buttonColour="0x8928f7ff" softMaximum="selector AdsResourceCap" getThisScript="SpringfieldHeights2_Scripts:GoToMarketingAgency" useGetThisScriptWhenUnavailable="false" defaultTopupRatio="HeightsRatio" />
</SpendableCurrencies>