<Skins>
	<Skin name="DeluxeCondo02">
		<BSv2 name="FancyCondo02" />
	</Skin>
	<Skin name="DeluxeCondo03">
		<BSv2 name="FancyCondo03" />
	</Skin>
	<Skin name="DeluxeCondo04">
		<BSv2 name="FancyCondo04" />
	</Skin>
	<Skin name="DeluxeCondo05">
		<BSv2 name="FancyCondo05" />
	</Skin>
	<Skin name="DeluxeCondo_First02">
		<BSv2 name="FancyCondo02" />
	</Skin>
	<Skin name="DeluxeCondo_First03">
		<BSv2 name="FancyCondo03" />
	</Skin>
	<Skin name="DeluxeCondo_First04">
		<BSv2 name="FancyCondo04" />
	</Skin>
	<Skin name="DeluxeCondo_First05">
		<BSv2 name="FancyCondo05" />
	</Skin>
	<Skin name="BusinessCenter02">
		<BSv2 name="FancyBusiness02" />
	</Skin>
	<Skin name="BusinessCenter03">
		<BSv2 name="FancyBusiness03" />
	</Skin>
	<Skin name="BusinessCenter04">
		<BSv2 name="FancyBusiness04" />
	</Skin>
	<Skin name="BusinessCenter05">
		<BSv2 name="FancyBusiness05" />
	</Skin>
	<Skin name="ValetParking02">
		<BSv2 name="FancyParkade02" flippedname="FancyParkade02Flipped" />
	</Skin>
	<Skin name="ValetParking03">
		<BSv2 name="FancyParkade03" flippedname="FancyParkade03Flipped" />
	</Skin>
	<Skin name="ValetParking04">
		<BSv2 name="FancyParkade04" flippedname="FancyParkade04Flipped" />
	</Skin>
	<Skin name="ValetParking05">
		<BSv2 name="FancyParkade05" flippedname="FancyParkade05Flipped" />
	</Skin>
	<Skin name="DeluxeCondo_Complete01">
		<BSv2 name="FancyCondo01" />
	</Skin>
	<Skin name="DeluxeCondo_Complete02">
		<BSv2 name="FancyCondo02" />
	</Skin>
	<Skin name="DeluxeCondo_Complete03">
		<BSv2 name="FancyCondo03" />
	</Skin>
	<Skin name="DeluxeCondo_Complete04">
		<BSv2 name="FancyCondo04" />
	</Skin>
	<Skin name="DeluxeCondo_Complete05">
		<BSv2 name="FancyCondo05" />
	</Skin>
	<Skin name="ValetParking_Complete01">
		<BSv2 name="FancyParkade01" flippedname="FancyParkade01Flipped" />
	</Skin>
	<Skin name="ValetParking_Complete02">
		<BSv2 name="FancyParkade02" flippedname="FancyParkade02Flipped" />
	</Skin>
	<Skin name="ValetParking_Complete03">
		<BSv2 name="FancyParkade03" flippedname="FancyParkade03Flipped" />
	</Skin>
	<Skin name="ValetParking_Complete04">
		<BSv2 name="FancyParkade04" flippedname="FancyParkade04Flipped" />
	</Skin>
	<Skin name="ValetParking_Complete05">
		<BSv2 name="FancyParkade05" flippedname="FancyParkade05Flipped" />
	</Skin>
	<Skin name="BusinessCenter_Complete01">
		<BSv2 name="FancyBusiness01" />
	</Skin>
	<Skin name="BusinessCenter_Complete02">
		<BSv2 name="FancyBusiness02" />
	</Skin>
	<Skin name="BusinessCenter_Complete03">
		<BSv2 name="FancyBusiness03" />
	</Skin>
	<Skin name="BusinessCenter_Complete04">
		<BSv2 name="FancyBusiness04" />
	</Skin>
	<Skin name="BusinessCenter_Complete05">
		<BSv2 name="FancyBusiness05" />
	</Skin>
	<Skin name="PrivateIsland_Complete01">
		<BSv2 name="PrivateIsland01" neutralAnim="privateislandbase" />
	</Skin>
	<Skin name="PrivateIsland_Complete02">
		<BSv2 name="PrivateIsland02" neutralAnim="privateislandbase" />
	</Skin>
	<Skin name="PrivateIsland_Complete03">
		<BSv2 name="PrivateIsland03" neutralAnim="privateislandbase" />
	</Skin>
	<Skin name="PrivateIsland_Complete04">
		<BSv2 name="PrivateIsland04" neutralAnim="privateislandbase" />
	</Skin>
	<Skin name="FlandersHome_Festive_01">
		<BSv2 name="FlandersHouse_Decorated01" flippedname="FlandersHouseFlipped_Decorated01" overlayAnim="DecorationGlow" />
	</Skin>
</Skins>