<Quests>
	<MasterList>
		<DataID id="157000" name="SpringfieldCleaning_1" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157001" name="SpringfieldCleaning_2" onDeprecated="delete" endDate="Promo_SpringCleaning_Kill" />
		<DataID id="157002" name="SpringfieldCleaning_3" onDeprecated="delete" endDate="Promo_SpringCleaning_Kill" />
		<DataID id="157003" name="BlackMoeld" />
		<DataID id="157004" name="StreetCleanerDialogue" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157005" name="MoesHousePlaced" />
		<DataID id="157006" name="GreenhousePurchased" />
		<DataID id="157007" name="GreenhouseAsylum_1" />
		<DataID id="157008" name="GreenhouseAsylum_2" />
		<DataID id="157009" name="GreenhouseAsylum_3" />
		<DataID id="157010" name="SpringCleaning_Promo_CreateGil" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157011" name="SpringCleaning_Promo_Trigger" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157013" name="SpringCleaning_Promo_Canceled" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157014" name="SpringCleaning_Promo_Wave1" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157015" name="SpringCleaning_Promo_Wave2" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157016" name="SpringCleaning_Promo_Wave3" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157017" name="SpringCleaning_Promo_NatureBundle" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157018" name="SpringCleaning_Promo_KillGil" onDeprecated="delete" startDate="Promo_SpringCleaning_End" />
		<DataID id="157019" name="GreenhouseAsylum_3_NoOtto" />
		<DataID id="157020" name="SpringfieldCleaning_1_NoMarge" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
	</MasterList>
	<QuestBranch>
		<BranchCondition>
			<Requirement type="characterunlocked" name="Marge" />
		</BranchCondition>
		<True>
			<Quest id="157000" name="SpringfieldCleaning_1" tags="sidequest" icon="Marge">
				<Priority types="LimitedTime" />
				<Requirements>
					<Requirement type="quest" quest="MyPad" />
				</Requirements>
				<StartScript package="SpringCleaning_Scripts" name="SpringfieldCleaning_1_Start" triggerType="character" character="Homer" />
				<Objectives>
					<Objective type="complete job" character="Marge" job="RallyASpringfieldCleaningCrew" quantity="1" progress="quest" />
					<Objective type="complete job" group="NormalSpringfielders" job="EndureMargesNagging" quantity="5" progress="quest" />
				</Objectives>
				<Reward money="100" xp="10" />
				<EndScript package="SpringCleaning_Scripts" name="SpringfieldCleaning_1_End" />
			</Quest>
		</True>
		<False>
			<Quest id="157020" name="SpringfieldCleaning_1_NoMarge" tags="sidequest" icon="Marge" textpoolName="QST_SpringfieldCleaning_1_1_name">
				<Priority types="LimitedTime" />
				<Requirements>
					<Requirement type="quest" quest="MyPad" />
				</Requirements>
				<StartScript package="SpringCleaning_Scripts" name="SpringfieldCleaning_1_Start" triggerType="character" character="Homer" />
				<Objectives>
					<Objective type="complete job" group="NormalSpringfielders" job="EndureMargesNagging" quantity="5" progress="quest" textpoolName="QST_SpringfieldCleaning_1_2_obj_2" />
				</Objectives>
				<Reward money="100" xp="10" />
				<EndScript package="SpringCleaning_Scripts" name="SpringfieldCleaning_1_End" />
			</Quest>
		</False>
	</QuestBranch>
	<Quest id="157001" name="SpringfieldCleaning_2" tags="sidequest" icon="Marge">
		<Priority types="LimitedTime" />
		<Requirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="quest" quest="SpringfieldCleaning_1" allowDeprecate="true" />
				<Requirement type="quest" quest="SpringfieldCleaning_1_NoMarge" allowDeprecate="true" />
			</Requirement>
			<Requirement type="variable" variable="SpringCleaning_Part1Complete" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts" name="SpringfieldCleaning_2_Start" />
		<Objectives>
			<Objective type="complete job" group="NormalSpringfielders" job="CleanHouse" quantity="5" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="157002" name="SpringfieldCleaning_3" tags="sidequest" icon="Marge" toolTip="QST_SpringfieldCleaning_3_3_dlg_Start_8_ToolTip">
		<Priority types="LimitedTime" />
		<Requirements>
			<Requirement type="quest" quest="SpringfieldCleaning_2" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts" name="SpringfieldCleaning_3_Start" />
		<Objectives>
			<Objective type="build" building="MoesTavern" quantity="1" rewardsCollected="yes" />
			<Objective type="complete job" character="Marge" job="CleanHouse" quantity="5" progress="quest" />
		</Objectives>
		<Reward money="200" xp="20" />
		<EndOfQuestline />
		<EndScript package="SpringCleaning_Scripts" name="SpringfieldCleaning_3_End" />
	</Quest>
	<Quest id="157003" name="BlackMoeld" tags="premiumquest" icon="Moe">
		<Requirements>
			<Requirement type="level" level="15" />
			<Requirement type="quest" quest="MoesHousePlaced" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts" name="BlackMoeld_Start" triggerType="character" character="Moe" />
		<Objectives>
			<Objective type="complete job" character="Moe" job="DigOutABasement" quantity="1" progress="quest" />
		</Objectives>
		<EndScript package="SpringCleaning_Scripts" name="BlackMoeld_End" />
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="157004" name="StreetCleanerDialogue" tags="sidequest">
		<Requirements>
			<Requirement type="character" name="StreetCleaner" />
		</Requirements>
		<Objectives>
			<Objective type="none" supressCompleteSound="true" />
		</Objectives>
		<StartScript package="SpringCleaning_Scripts" name="StreetCleanerDialogue_Start" />
	</Quest>
	<Quest id="157005" name="MoesHousePlaced" tags="sidequest">
		<Requirements>
			<Requirement type="building" building="MoesHouse" quantity="1" />
		</Requirements>
		<Objectives>
			<Objective type="none" supressCompleteSound="true" />
		</Objectives>
		<StartScript package="SpringCleaning_Scripts" name="MoesHousePlaced" />
	</Quest>
	<Quest id="157006" name="GreenhousePurchased" tags="sidequest">
		<Requirements>
			<Requirement type="level" level="5" />
			<Requirement type="building" building="SpringfieldGreenhouse" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts" name="GreenhousePurchased_Start" />
		<Objectives>
			<Objective type="none" supressCompleteSound="true" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="157007" name="GreenhouseAsylum_1" tags="sidequest" icon="Greenhouse">
		<Requirements>
			<Requirement type="level" level="39" />
			<Requirement type="quest" quest="GreenhousePurchased" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_1_Start" triggerType="character" character="Apu" />
		<Objectives>
			<Objective type="build" building="SanjaysHouse" quantity="1" rewardsCollected="yes" />
			<Objective type="complete job" character="Sanjay" job="ApplyForASecurityGuardJobAtTheGreenhouse" quantity="1" progress="quest" />
		</Objectives>
		<EndScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_1_End" />
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="157008" name="GreenhouseAsylum_2" tags="sidequest" icon="Greenhouse">
		<Requirements>
			<Requirement type="level" level="39" />
			<Requirement type="quest" quest="GreenhouseAsylum_1" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_2_Start" triggerType="character" character="Lisa" />
		<Objectives>
			<Objective type="complete job" character="Lisa" job="BuyPhishTickets" quantity="1" progress="quest" />
		</Objectives>
		<JobsStartedScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_2_All_Obj_Started" />
		<Reward money="100" xp="10" />
	</Quest>
	<QuestBranch>
		<BranchCondition>
			<Requirement type="characterunlocked" name="Otto" />
		</BranchCondition>
		<True>
			<Quest id="157009" name="GreenhouseAsylum_3" tags="sidequest" icon="Greenhouse">
				<Requirements>
					<Requirement type="level" level="5" />
					<Requirement type="quest" quest="GreenhouseAsylum_2" />
				</Requirements>
				<StartScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_3_Start" triggerType="character" character="Lisa" />
				<Objectives>
					<Objective type="complete job" character="Lisa" job="BoycottTheGreenhouse" quantity="1" progress="quest" />
					<Objective type="complete job" character="Sanjay" job="GoBackToWorkAtKwikEMart" quantity="1" progress="quest" />
					<Objective type="complete job" character="Otto" job="ComplainOnlineThatWeDidntMentionPapadosio" quantity="1" progress="quest" />
				</Objectives>
				<EndScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_3_End" />
				<Reward money="200" xp="20" />
				<EndOfQuestline />
			</Quest>
		</True>
		<False>
			<Quest id="157019" name="GreenhouseAsylum_3_NoOtto" tags="sidequest" icon="Greenhouse" textpoolName="QST_GreenhouseAsylum_3_1_name">
				<Requirements>
					<Requirement type="level" level="5" />
					<Requirement type="quest" quest="GreenhouseAsylum_2" />
				</Requirements>
				<StartScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_3_Start" triggerType="character" character="Lisa" />
				<Objectives>
					<Objective type="complete job" character="Lisa" job="BoycottTheGreenhouse" quantity="1" progress="quest" textpoolName="QST_GreenhouseAsylum_3_2_obj_1" />
					<Objective type="complete job" character="Sanjay" job="GoBackToWorkAtKwikEMart" quantity="1" progress="quest" textpoolName="QST_GreenhouseAsylum_3_2_obj_2" />
				</Objectives>
				<EndScript package="SpringCleaning_Scripts" name="GreenhouseAsylum_3_End" />
				<Reward money="200" xp="20" />
				<EndOfQuestline />
			</Quest>
		</False>
	</QuestBranch>
	<Quest id="157017" name="SpringCleaning_Promo_NatureBundle" type="Promo">
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_1" end="Promo_SpringCleaning_End" />
			<Requirement type="quest" quest="SpringCleaning_Promo_Canceled" />
			<Requirement type="building" building="WorldsLargestRedwood" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts_Promo" name="Promo_NatureBundlePopup" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="157014" name="SpringCleaning_Promo_Wave1" type="Promo">
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_1" end="Promo_SpringCleaning_Wave_2" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="quest" quest="SpringfieldCleaning_1" />
				<Requirement type="quest" quest="SpringfieldCleaning_1_NoMarge" />
			</Requirement>
		</Requirements>
		<StartScript package="SpringCleaning_Scripts_Promo" name="Promo_SpringCleaning_SummonGil" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="157015" name="SpringCleaning_Promo_Wave2" type="Promo">
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_2" end="Promo_SpringCleaning_Wave_3" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="quest" quest="SpringfieldCleaning_1" />
				<Requirement type="quest" quest="SpringfieldCleaning_1_NoMarge" />
			</Requirement>
		</Requirements>
		<StartScript package="SpringCleaning_Scripts_Promo" name="Promo_SpringCleaning_SummonGil" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="157016" name="SpringCleaning_Promo_Wave3" type="Promo">
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_3" end="Promo_SpringCleaning_End" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="quest" quest="SpringfieldCleaning_1" />
				<Requirement type="quest" quest="SpringfieldCleaning_1_NoMarge" />
			</Requirement>
		</Requirements>
		<StartScript package="SpringCleaning_Scripts_Promo" name="Promo_SpringCleaning_SummonGil" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="157010" name="SpringCleaning_Promo_CreateGil" tags="mainquest" repeatable="true">
		<Requirements>
			<Requirement type="variable" variable="Promo_SpringCleaning_PromoActive" />
			<Requirement type="variable" variable="Promo_SpringCleaning_SummonGil" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts_Promo" name="Promo_SpringCleaning_Start" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="157011" name="SpringCleaning_Promo_Trigger" tags="mainquest" customIcon="Indicator_SpringCleaning2016_LTD.rgb" repeatable="true" preventSuspend="true">
		<Requirements>
			<Requirement type="quest" quest="SpringCleaning_Promo_CreateGil" />
			<Requirement type="variable" variable="Promo_SpringCleaning_PromoActive" />
		</Requirements>
		<StartScript package="SpringCleaning_Scripts_Promo" name="Promo_SpringCleaning_Display" triggerType="character" character="PromoGilPermanent" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
		<EndScript package="SpringCleaning_Scripts_Promo" name="CheckCanceled" />
	</Quest>
	<Quest id="157013" name="SpringCleaning_Promo_Canceled" type="Promo" repeatable="true">
		<Requirements>
			<Requirement type="variable" variable="Promo_SpringCleaning_PromoSeen" />
			<Requirement type="variable" variable="Promo_SpringCleaning_PromoIgnored" />
			<Requirement type="quest" quest="SpringCleaning_Promo_Trigger" />
			<Requirement type="variable" variable="Promo_SpringCleaning_CheckCanceled" />
		</Requirements>
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
		<EndScript package="SpringCleaning_Scripts_Promo" name="Promo_SpringCleaning_Canceled" />
	</Quest>
	<Quest id="157018" name="SpringCleaning_Promo_KillGil" start_waits_idle="false" end_waits_idle="false">
		<StartScript package="MiscScripts" name="KillGil" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
</Quests>