<ScriptPackage>
	<SpringfieldHeights04_Obj1_Done>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights04_3_dlg_Start_10_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights04_3_dlg_Start_11_Burns" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights04_3_dlg_Start_12_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights04_3_dlg_Start_13_CookieKwan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights04_3_dlg_Start_14_Burns" revealSpeed="medium" emotion="diabolical" />
		<Action type="notification" title="BLD_DeluxeCondo_name" button="UI_OK" text="QST_SpringfieldHeights04_3_dlg_Start_15_SystemMessage" icon="FancyCondo01_Menu" />
		<Action type="focusOnMenuItem" itemName="DeluxeCondo" menuCategory="SpringfieldHeights" />
	</SpringfieldHeights04_Obj1_Done>
	<SpringfieldHeights05_Obj1_Done>
		<Action type="notification" title="BLD_CoffeeShop_name" button="UI_OK" text="QST_SpringfieldHeights05_3_dlg_Start_5_System" icon="ICO_Heights_Coffee_LG" />
		<Action type="runScript" script="GoToCoffeeShop" package="SpringfieldHeights_Scripts" waitUntilComplete="true" />
	</SpringfieldHeights05_Obj1_Done>
	<SpringfieldHeights06_Obj1_Done>
		<Action type="notification" title="BLD_SpringfieldHeightsInstituteOfTechnology_name" button="UI_OK" text="QST_SpringfieldHeights06_3_dlg_Start_4_System" icon="ICO_Heights_SmartDevice_LG" />
		<Action type="runScript" script="GoToSHIT" package="SpringfieldHeights_Scripts" />
	</SpringfieldHeights06_Obj1_Done>
	<SpringfieldHeights07_Obj1_Done>
		<Action type="notification" title="BLD_LABodyWorks_name" button="UI_OK" text="QST_SpringfieldHeights07_3_dlg_Start_4_System" icon="ICO_Heights_YogaMat_LG" />
		<Action type="runScript" script="GoToLABodyWorks" package="SpringfieldHeights_Scripts" />
	</SpringfieldHeights07_Obj1_Done>
	<SpringfieldHeights08_Obj1_Done>
		<Action type="notification" title="BLD_PharmerJohnsPharmaceuticals_name" button="UI_OK" text="QST_SpringfieldHeights08_3_dlg_Start_5_System" icon="ICO_Heights_Pharmaceutical_LG" />
		<Action type="runScript" script="GoToPharmerJohns" package="SpringfieldHeights_Scripts" />
	</SpringfieldHeights08_Obj1_Done>
	<SpringfieldHeights09_Obj1_Done>
		<Action type="notification" title="BLD_HeightsTheater_name" button="UI_OK" text="QST_SpringfieldHeights09_3_dlg_Start_8_System" icon="ICO_Heights_GoldAwards_LG" />
		<Action type="runScript" script="GoToHeightsTheater" package="SpringfieldHeights_Scripts" />
	</SpringfieldHeights09_Obj1_Done>
	<SpringfieldHeights01_Start>
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights01_3_dlg_Start_1_Burns" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Smithers" text="QST_SpringfieldHeights01_3_dlg_Start_2_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldHeights01_3_dlg_Start_3_Homer" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Carl" text="QST_SpringfieldHeights01_3_dlg_Start_4_Carl" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Lenny" text="QST_SpringfieldHeights01_3_dlg_Start_5_Lenny" revealSpeed="medium" />
		<Action type="dialogue" character="Lenny" text="QST_SpringfieldHeights01_3_dlg_Start_6_Lenny" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldHeights01_3_dlg_Start_7_Homer" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldHeights01_3_dlg_Start_8_Homer" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Smithers" text="QST_SpringfieldHeights01_3_dlg_Start_9_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights01_3_dlg_Start_10_Burns" revealSpeed="medium" emotion="diabolical" />
	</SpringfieldHeights01_Start>
	<SpringfieldHeights02_Start>
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights02_3_dlg_Start_1_Burns" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights02_3_dlg_Start_2_Burns" revealSpeed="medium" emotion="diabolical" />
		<Action type="dialogue" character="Smithers" text="QST_SpringfieldHeights02_3_dlg_Start_3_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights02_3_dlg_Start_4_Burns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_SpringfieldHeights02_3_dlg_Start_5_Smithers" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights02_3_dlg_Start_6_Burns" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights02_3_dlg_Start_7_Burns" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights02_3_dlg_Start_8_Burns" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights02_3_dlg_Start_9_Burns" revealSpeed="medium" emotion="diabolical" />
	</SpringfieldHeights02_Start>
	<SpringfieldHeights03_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights03_3_dlg_Start_1_CookieKwan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights03_3_dlg_Start_2_Burns" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights03_3_dlg_Start_3_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights03_3_dlg_Start_4_Burns" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights03_3_dlg_Start_5_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights03_3_dlg_Start_6_CookieKwan" revealSpeed="medium" />
		<Action type="unlockLand" block="2, 1" skipUnavailableBlocks="false" />
		<Action type="unlockLand" block="2,0" skipUnavailableBlocks="false" />
		<Action type="unlockLand" block="2,-1" skipUnavailableBlocks="false" />
		<Action type="pantoobject" building="Mountain02" fakeTouch="false" />
	</SpringfieldHeights03_Start>
	<SpringfieldHeights03_End>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights03_3_dlg_End_1_CookieKwan" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights03_3_dlg_End_2_CookieKwan" revealSpeed="medium" />
	</SpringfieldHeights03_End>
	<UnlockFirstSHExpansion_Popup>
		<Action type="unlockLand" block="2,-2" skipUnavailableBlocks="false" />
		<Action type="unlockLand" block="1,-2" skipUnavailableBlocks="false" />
		<Action type="pantoobject" building="Shop" fakeTouch="false" />
		<Action type="message" title="UI_FirstSHLandExpansion_title" button="UI_OK" text="UI_FirstSHLandExpansion_body" />
		<Action type="runScript" script="SpringfieldHeightsShowGuidePanel" package="SpringfieldHeights_Scripts" />
	</UnlockFirstSHExpansion_Popup>
	<SpringfieldHeights04_Start>
		<Action type="recommendation" recType="Expansion" description="UI_REC_Expansion_Heights" name="EnterSpringfieldHeightsCategory" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights04_3_dlg_Start_1_CookieKwan" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldHeights04_3_dlg_Start_2_Lisa" revealSpeed="medium" emotion="shocked" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights04_3_dlg_Start_3_CookieKwan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldHeights04_3_dlg_Start_4_Homer" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights04_3_dlg_Start_5_CookieKwan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldHeights04_3_dlg_Start_6_Lisa" revealSpeed="medium" emotion="nagging" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights04_3_dlg_Start_7_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldHeights04_3_dlg_Start_8_Homer" revealSpeed="medium" emotion="scared" />
		<Action type="notification" title="BLD_Shop_name" button="UI_OK" text="QST_SpringfieldHeights04_3_dlg_Start_9_SystemMessage" icon="FurnitureShop_Menu" />
	</SpringfieldHeights04_Start>
	<SpringfieldHeights04_End>
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_Heights04" />
	</SpringfieldHeights04_End>
	<RealEstateMogul01_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_RealEstateMogul01_3_dlg_Start_1_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_RealEstateMogul01_3_dlg_Start_2_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Quimby" text="QST_RealEstateMogul01_3_dlg_Start_3_Quimby" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_RealEstateMogul01_3_dlg_Start_4_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Quimby" text="QST_RealEstateMogul01_3_dlg_Start_5_Quimby" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="CookieKwan" text="QST_RealEstateMogul01_3_dlg_Start_6_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_RealEstateMogul01_3_dlg_Start_7_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_RealEstateMogul01_3_dlg_Start_8_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Quimby" text="QST_RealEstateMogul01_3_dlg_Start_9_Quimby" revealSpeed="medium" emotion="sad" />
	</RealEstateMogul01_Start>
	<SpringfieldHeights05_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights05_3_dlg_Start_1_CookieKwan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="ComicBookGuy" text="QST_SpringfieldHeights05_3_dlg_Start_2_ComicBookGuy" revealSpeed="medium" />
		<Action type="dialogue" character="ComicBookGuy" text="QST_SpringfieldHeights05_3_dlg_Start_3_ComicBookGuy" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights05_3_dlg_Start_4_CookieKwan" revealSpeed="medium" emotion="happy" />
	</SpringfieldHeights05_Start>
	<SpringfieldHeights05_End>
		<Action type="dialogue" character="TheRichTexan" text="QST_SpringfieldHeights05_3_dlg_End_1_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="ParisTexan" text="QST_SpringfieldHeights05_3_dlg_End_2_ParisTexan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_SpringfieldHeights05_3_dlg_End_3_ParisTexan" revealSpeed="medium" />
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_Heights05" />
	</SpringfieldHeights05_End>
	<SpringfieldHeights06_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights06_3_dlg_Start_1_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_SpringfieldHeights06_3_dlg_Start_2_Burns" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights06_3_dlg_Start_3_CookieKwan" revealSpeed="medium" />
	</SpringfieldHeights06_Start>
	<SpringfieldHeights06_End>
		<Action type="dialogue" character="Manjula" text="QST_SpringfieldHeights06_3_dlg_End_1_Manjula" revealSpeed="medium" />
		<Action type="dialogue" character="Apu" text="QST_SpringfieldHeights06_3_dlg_End_2_Apu" revealSpeed="medium" emotion="surprised" />
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_Heights06" />
	</SpringfieldHeights06_End>
	<SpringfieldHeights07_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights07_3_dlg_Start_1_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Moe" text="QST_SpringfieldHeights07_3_dlg_Start_2_Moe" revealSpeed="medium" />
		<Action type="dialogue" character="Moe" text="QST_SpringfieldHeights07_3_dlg_Start_3_Moe" revealSpeed="medium" />
	</SpringfieldHeights07_Start>
	<SpringfieldHeights08_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights08_3_dlg_Start_1_CookieKwan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="DrNick" text="QST_SpringfieldHeights08_3_dlg_Start_2_DrNick" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights08_3_dlg_Start_3_CookieKwan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights08_3_dlg_Start_4_CookieKwan" revealSpeed="medium" />
	</SpringfieldHeights08_Start>
	<SpringfieldHeights09_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights09_3_dlg_Start_1_CookieKwan" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="KentBrockman" text="QST_SpringfieldHeights09_3_dlg_Start_2_KentBrockman" revealSpeed="medium" />
		<Action type="dialogue" character="KentBrockman" text="QST_SpringfieldHeights09_3_dlg_Start_3_KentBrockman" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights09_3_dlg_Start_4_CookieKwan" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="KentBrockman" text="QST_SpringfieldHeights09_3_dlg_Start_5_KentBrockman" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights09_3_dlg_Start_6_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights09_3_dlg_Start_7_CookieKwan" revealSpeed="medium" emotion="happy" />
	</SpringfieldHeights09_Start>
	<SpringfieldHeights09_End>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights09_3_dlg_End_1_CookieKwan" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights09_3_dlg_End_2_CookieKwan" revealSpeed="medium" emotion="annoyed" />
	</SpringfieldHeights09_End>
	<TheMoreTheMerrier_Start>
		<Action type="dialogue" character="Homer" text="QST_TheMoreTheMerrier_3_dlg_Start_1_Homer" revealSpeed="medium" emotion="aah" />
		<Action type="dialogue" character="Lisa" text="QST_TheMoreTheMerrier_3_dlg_Start_5_Lisa" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Homer" text="QST_TheMoreTheMerrier_3_dlg_Start_6_Homer" revealSpeed="medium" emotion="doh" />
	</TheMoreTheMerrier_Start>
	<TheMoreTheMerrier_End>
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_TheMoreTheMerrier" />
	</TheMoreTheMerrier_End>
	<RealEstateMogul05_Start>
		<Action type="dialogue" character="TheRichTexan" text="QST_RealEstateMogul05_3_dlg_Start_1_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="TheRichTexan" text="QST_RealEstateMogul05_3_dlg_Start_2_RichTexan" revealSpeed="medium" />
		<Action type="message" text="QST_RealEstateMogul05_3_dlg_Start_3_SystemMessage" revealSpeed="medium" />
	</RealEstateMogul05_Start>
	<RealEstateMogul05_End>
		<Action type="dialogue" character="TheRichTexan" text="QST_RealEstateMogul05_3_dlg_End_1_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="ParisTexan" text="QST_RealEstateMogul05_3_dlg_End_2_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="ParisTexan" text="QST_RealEstateMogul05_3_dlg_End_3_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="ParisTexan" text="QST_RealEstateMogul05_3_dlg_End_4_ParisTexan" revealSpeed="medium" />
	</RealEstateMogul05_End>
	<TrendFretter01_Start>
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter01_3_dlg_Start_1_ParisTexan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter01_3_dlg_Start_2_ParisTexan" revealSpeed="medium" emotion="happy" />
	</TrendFretter01_Start>
	<TrendFretter02_Start>
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter02_3_dlg_Start_1_ParisTexan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter02_3_dlg_Start_2_ParisTexan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter02_3_dlg_Start_3_ParisTexan" revealSpeed="medium" emotion="surprised" />
	</TrendFretter02_Start>
	<TrendFretter03_Start>
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter03_3_dlg_Start_1_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="TheRichTexan" text="QST_TrendFretter03_3_dlg_Start_2_RichTexan" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter03_3_dlg_Start_3_ParisTexan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter03_3_dlg_Start_4_ParisTexan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter03_3_dlg_Start_5_ParisTexan" revealSpeed="medium" emotion="happy" />
	</TrendFretter03_Start>
	<TrendFretter04_Start>
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter04_3_dlg_Start_1_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Lisa" text="QST_TrendFretter04_3_dlg_Start_2_Lisa" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter04_3_dlg_Start_3_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="ParisTexan" text="QST_TrendFretter04_3_dlg_Start_4_ParisTexan" revealSpeed="medium" emotion="happy" />
	</TrendFretter04_Start>
	<GettingClassy01_Start>
		<Action type="dialogue" character="TheRichTexan" text="QST_GettingClassy01_3_dlg_Start_1_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="ParisTexan" text="QST_GettingClassy01_3_dlg_Start_2_ParisTexan" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="TheRichTexan" text="QST_GettingClassy01_3_dlg_Start_3_RichTexan" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="ParisTexan" text="QST_GettingClassy01_3_dlg_Start_4_ParisTexan" revealSpeed="medium" />
	</GettingClassy01_Start>
	<GettingClassy01_End>
		<Action type="dialogue" character="Homer" text="QST_GettingClassy01_3_dlg_End_1_Homer" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="CookieKwan" text="QST_GettingClassy01_3_dlg_End_2_CookieKwan" revealSpeed="medium" />
	</GettingClassy01_End>
	<ShowVroom01_Start>
		<Action type="dialogue" character="ParisTexan" text="QST_ShowVroom01_3_dlg_Start_3_ParisTexan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_ShowVroom01_3_dlg_Start_4_CookieKwan" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="ParisTexan" text="QST_ShowVroom01_3_dlg_Start_5_ParisTexan" revealSpeed="medium" emotion="surprised" />
	</ShowVroom01_Start>
	<AboveTheCloudsOfSpringfield01_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_AboveTheCloudsOfSpringfield01_3_dlg_Start_1_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_AboveTheCloudsOfSpringfield01_3_dlg_Start_2_Burns" revealSpeed="medium" emotion="diabolical" />
	</AboveTheCloudsOfSpringfield01_Start>
	<CubicalDream01_Start>
		<Action type="dialogue" character="ParisTexan" text="QST_CubicalDream01_3_dlg_Start_1_ParisTexan" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="ParisTexan" text="QST_CubicalDream01_3_dlg_Start_2_ParisTexan" revealSpeed="medium" />
		<Action type="dialogue" character="ParisTexan" text="QST_CubicalDream01_3_dlg_Start_3_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="ParisTexan" text="QST_CubicalDream01_3_dlg_Start_4_ParisTexan" revealSpeed="medium" emotion="surprised" />
	</CubicalDream01_Start>
	<TheFirstBillionIsTheHardest_Start>
		<Action type="dialogue" character="ParisTexan" text="QST_TheFirstBillionIsTheHardest_3_dlg_Start_1_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="ParisTexan" text="QST_TheFirstBillionIsTheHardest_3_dlg_Start_2_ParisTexan" revealSpeed="medium" />
		<Action type="dialogue" character="TheRichTexan" text="QST_TheFirstBillionIsTheHardest_3_dlg_Start_3_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="TheRichTexan" text="QST_TheFirstBillionIsTheHardest_3_dlg_Start_4_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="TheRichTexan" text="QST_TheFirstBillionIsTheHardest_3_dlg_Start_6_RichTexan" revealSpeed="medium" />
		<Action type="message" text="QST_TheFirstBillionIsTheHardest_3_dlg_Start_7_SystemMessage" revealSpeed="medium" />
	</TheFirstBillionIsTheHardest_Start>
	<LostInHollywood_End>
		<Action type="message" button="UI_OK" text="QST_LostInHollywood_3_dlg_End_1_System" />
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_LostInHollywood" />
	</LostInHollywood_End>
	<AClockworkStorage_Start>
		<Action type="dialogue" character="Apu" text="QST_AClockworkStorage_3_dlg_Start_1_Apu" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Milhouse" text="QST_AClockworkStorage_3_dlg_Start_2_Milhouse" revealSpeed="medium" />
		<Action type="dialogue" character="Apu" text="QST_AClockworkStorage_3_dlg_Start_3_Apu" revealSpeed="medium" />
		<Action type="dialogue" character="Milhouse" text="QST_AClockworkStorage_3_dlg_Start_4_Milhouse" revealSpeed="medium" />
		<Action type="dialogue" character="Apu" text="QST_AClockworkStorage_3_dlg_Start_5_Apu" revealSpeed="medium" />
		<Action type="dialogue" character="Milhouse" text="QST_AClockworkStorage_3_dlg_Start_6_Milhouse" revealSpeed="medium" emotion="sad" />
	</AClockworkStorage_Start>
	<InLandProperty_End>
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_InLandProperty" />
	</InLandProperty_End>
	<WaterfrontProperty_End>
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_WaterfrontProperty" />
	</WaterfrontProperty_End>
	<GetSmart_End>
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_GetSmart" />
	</GetSmart_End>
	<GetFit_End>
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_GetFit" />
	</GetFit_End>
	<LegalDrugTrade_End>
		<Action type="runScript" package="SpringfieldHeights_Scripts" script="HudTip_QuestReward_LegalDrugTrade" />
	</LegalDrugTrade_End>
	<GoToUnpurchasedCoffeeShop>
		<Action type="checkRequirements">
			<Requirement type="land" land="Springfield" />
			<True>
				<Action type="gotoState" state="GameState_PlaceLand" />
				<Action type="pantoobject" building="CoffeeShop" />
			</True>
			<False>
				<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
			</False>
		</Action>
	</GoToUnpurchasedCoffeeShop>
	<GoToUnpurchasedSHIT>
		<Action type="checkRequirements">
			<Requirement type="land" land="Springfield" />
			<True>
				<Action type="setVariable" intVariable="GoToUnpurchasedSHIT_Ran" intValue="1" addTempIfNotExisting="true" />
				<Action type="checkRequirements">
					<Requirement type="conditional" logic="OR">
						<Requirement type="land block" land="Springfield" count="1" min="true" block="3,-5" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="3,-3" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="4,-4" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="2,-4" />
					</Requirement>
					<True>
						<Action type="gotoState" state="GameState_PlaceLand" />
						<Action type="pantoobject" building="SpringfieldHeightsInstituteOfTechnology" />
					</True>
					<False>
						<Action type="checkRequirements">
							<Requirement type="conditional" logic="OR">
								<Requirement type="land block" land="Springfield" count="1" min="true" block="3,-2" />
								<Requirement type="land block" land="Springfield" count="1" min="true" block="4,-3" />
								<Requirement type="land block" land="Springfield" count="1" min="true" block="2,-3" />
							</Requirement>
							<True>
								<Action type="gotoState" state="GameState_PlaceLand" />
								<Action type="pantolandblock" xCoord="3" zCoord="-3" />
							</True>
							<False>
								<Action type="gotoState" state="GameState_PlaceLand" />
								<Action type="pantolandblock" xCoord="2" zCoord="-3" />
							</False>
						</Action>
					</False>
				</Action>
			</True>
			<False>
				<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
			</False>
		</Action>
	</GoToUnpurchasedSHIT>
	<GoToUnpurchasedSHIT_HiddenObjectiveDone>
		<Action type="checkRequirements">
			<Requirement type="variable" variable="GoToUnpurchasedSHIT_Ran" />
			<True>
				<Action type="runScript" package="SpringfieldHeights_QuestScripts" script="GoToUnpurchasedSHIT" waitUntilComplete="true" />
			</True>
		</Action>
	</GoToUnpurchasedSHIT_HiddenObjectiveDone>
	<GoToUnpurchasedLABodyWorks>
		<Action type="checkRequirements">
			<Requirement type="land" land="Springfield" />
			<True>
				<Action type="setVariable" intVariable="GoToUnpurchasedLABodyWorks_Ran" intValue="1" addTempIfNotExisting="true" />
				<Action type="checkRequirements">
					<Requirement type="conditional" logic="OR">
						<Requirement type="land block" land="Springfield" count="1" min="true" block="0,-5" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="2,-5" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="1,-6" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="1,-4" />
					</Requirement>
					<True>
						<Action type="gotoState" state="GameState_PlaceLand" />
						<Action type="pantoobject" building="LABodyWorks" />
					</True>
					<False>
						<Action type="gotoState" state="GameState_PlaceLand" />
						<Action type="pantolandblock" xCoord="1" zCoord="-4" />
					</False>
				</Action>
			</True>
			<False>
				<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
			</False>
		</Action>
	</GoToUnpurchasedLABodyWorks>
	<GoToUnpurchasedLABodyWorks_HiddenObjectiveDone>
		<Action type="checkRequirements">
			<Requirement type="variable" variable="GoToUnpurchasedLABodyWorks_Ran" />
			<True>
				<Action type="runScript" package="SpringfieldHeights_QuestScripts" script="GoToUnpurchasedLABodyWorks" waitUntilComplete="true" />
			</True>
		</Action>
	</GoToUnpurchasedLABodyWorks_HiddenObjectiveDone>
	<GoToUnpurchasedPharmerJohns>
		<Action type="checkRequirements">
			<Requirement type="land" land="Springfield" />
			<True>
				<Action type="setVariable" intVariable="GoToUnpurchasedPharmerJohns_Ran" intValue="1" addTempIfNotExisting="true" />
				<Action type="checkRequirements">
					<Requirement type="conditional" logic="OR">
						<Requirement type="land block" land="Springfield" count="1" min="true" block="4,-4" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="6,-4" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="5,-5" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="5,-3" />
					</Requirement>
					<True>
						<Action type="gotoState" state="GameState_PlaceLand" />
						<Action type="pantoobject" building="PharmerJohnsPharmaceuticals" />
					</True>
					<False>
						<Action type="gotoState" state="GameState_PlaceLand" />
						<Action type="pantolandblock" xCoord="4" zCoord="-4" />
					</False>
				</Action>
			</True>
			<False>
				<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
			</False>
		</Action>
	</GoToUnpurchasedPharmerJohns>
	<GoToUnpurchasedPharmerJohns_HiddenObjectiveDone>
		<Action type="checkRequirements">
			<Requirement type="variable" variable="GoToUnpurchasedPharmerJohns_Ran" />
			<True>
				<Action type="runScript" package="SpringfieldHeights_QuestScripts" script="GoToUnpurchasedPharmerJohns" waitUntilComplete="true" />
			</True>
		</Action>
	</GoToUnpurchasedPharmerJohns_HiddenObjectiveDone>
	<GoToUnpurchasedHeightsTheater>
		<Action type="checkRequirements">
			<Requirement type="land" land="Springfield" />
			<True>
				<Action type="setVariable" intVariable="GoToUnpurchasedHeightsTheater_Ran" intValue="1" addTempIfNotExisting="true" />
				<Action type="checkRequirements">
					<Requirement type="conditional" logic="OR">
						<Requirement type="land block" land="Springfield" count="1" min="true" block="2,-7" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="4,-7" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="3,-8" />
						<Requirement type="land block" land="Springfield" count="1" min="true" block="3,-6" />
					</Requirement>
					<True>
						<Action type="gotoState" state="GameState_PlaceLand" />
						<Action type="pantoobject" building="HeightsTheater" />
					</True>
					<False>
						<Action type="checkRequirements">
							<Requirement type="conditional" logic="OR">
								<Requirement type="land block" land="Springfield" count="1" min="true" block="2,-6" />
								<Requirement type="land block" land="Springfield" count="1" min="true" block="4,-6" />
								<Requirement type="land block" land="Springfield" count="1" min="true" block="3,-5" />
							</Requirement>
							<True>
								<Action type="gotoState" state="GameState_PlaceLand" />
								<Action type="pantolandblock" xCoord="3" zCoord="-6" />
							</True>
							<False>
								<Action type="checkRequirements">
									<Requirement type="conditional" logic="OR">
										<Requirement type="land block" land="Springfield" count="1" min="true" block="2,-5" />
										<Requirement type="land block" land="Springfield" count="1" min="true" block="4,-5" />
										<Requirement type="land block" land="Springfield" count="1" min="true" block="3,-4" />
									</Requirement>
									<True>
										<Action type="gotoState" state="GameState_PlaceLand" />
										<Action type="pantolandblock" xCoord="3" zCoord="-5" />
									</True>
									<False>
										<Action type="gotoState" state="GameState_PlaceLand" />
										<Action type="pantolandblock" xCoord="3" zCoord="-4" />
									</False>
								</Action>
							</False>
						</Action>
					</False>
				</Action>
			</True>
			<False>
				<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
			</False>
		</Action>
	</GoToUnpurchasedHeightsTheater>
	<GoToUnpurchasedHeightsTheater_HiddenObjectiveDone>
		<Action type="checkRequirements">
			<Requirement type="variable" variable="GoToUnpurchasedHeightsTheater_Ran" />
			<True>
				<Action type="runScript" package="SpringfieldHeights_QuestScripts" script="GoToUnpurchasedHeightsTheater" waitUntilComplete="true" />
			</True>
		</Action>
	</GoToUnpurchasedHeightsTheater_HiddenObjectiveDone>
</ScriptPackage>