<SpendableCurrencies>
	<MasterList>
		<DataID id="242000" name="SpringfieldChoppers_Currency" />
	</MasterList>
	<SpendableCurrency Type="242000" name="SpringfieldChoppers_Currency" Icons="ICO_CUR_SpringfieldChoppers_Currency" indicatorIcon="Indicator_SpringfieldChoppers_Currency" droppedIcon="Indicator_SpringfieldChoppers_Currency" prizeIcon="ICO_CUR_SpringfieldChoppers_Currency_LG" TextPoolID="UI_SpringfieldChoppers_CurrencyPlural" TextPoolResourceSingularID="UI_SpringfieldChoppers_CurrencySingular" TextPoolResourcePluralID="UI_SpringfieldChoppers_CurrencyPlural" SoundKit="SpringfieldChoppers_Currency_Collect" />
</SpendableCurrencies>