<Buildings>
	<MasterList>
		<DataID id="197000" name="DollarCasino" />
		<DataID id="197001" name="BuckinghamPalace" />
		<DataID id="197002" name="Colosseum" />
		<DataID id="197003" name="DarbyOGuzzlins" />
		<DataID id="197004" name="FernandoVidalsVilla" />
		<DataID id="197005" name="FortuneMegastore" />
		<DataID id="197006" name="InternationalCourtOfJustice" />
		<DataID id="197007" name="IslandCapitolBuilding" />
		<DataID id="197008" name="LeaningTower" />
		<DataID id="197009" name="MasterHypnotistTent" />
		<DataID id="197010" name="MoHoHouse" />
		<DataID id="197011" name="MonteBurnsResortCasino" />
		<DataID id="197012" name="MuseumOfSuperFineArts" />
		<DataID id="197013" name="OldCathedral" />
		<DataID id="197014" name="PlundererPetes" />
		<DataID id="197015" name="RaoulsPenthouse" />
		<DataID id="197016" name="ResortHotel" />
		<DataID id="197017" name="ScotlandYard" />
		<DataID id="197018" name="SmoochesOnTheBeach" />
		<DataID id="197019" name="StPaulsBasilica" />
		<DataID id="197020" name="Swelldorado" />
		<DataID id="197021" name="TheBoiledPotato" />
		<DataID id="197022" name="TheFirstClassLounge" />
		<DataID id="197023" name="TheNagAndWeasel" />
		<DataID id="197024" name="TowerOfSpringfield" />
		<DataID id="197025" name="WestminsterAbbey" />
		<DataID id="197026" name="StPaulsCathedral" />
		<DataID id="197100" name="MuseumOfSuperFineArts_Dummy" />
		<DataID id="197101" name="TowerOfSpringfield_Dummy" />
		<DataID id="197102" name="MonteBurnsResortCasino_Dummy" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="true" />
		<MultiPlace value="false" />
		<LoadBuilding value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="true" />
		<TaxJobPackage value="SpringfieldJobs_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="197000" name="DollarCasino" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197401" name="PrintingSpeculativeCash" time="4h" />
		<RatingElem decoration="200" />
		<BSv2 name="DollarCasino" flippedname="DollarCasinoFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Group name="Casinos" />
		<SoundKit event="BuildingTouched" name="DollarCasino_Tap" />
		<Cost donuts="100" />
	</Building>
	<Building id="197001" name="BuckinghamPalace" type="Building" xpValue="60">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197402" name="StandingStillForCenturies" time="4h" premiumJob="true" />
		<RatingElem housing="20" />
		<BSv2 name="EnglishPalace" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<StorePositioningRule rule="BuckinghamPalaceCustomIcon" />
		<Group name="Home" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:BuckinghamPalace__" />
		<SoundKit event="BuildingTouched" name="BuckinghamPalace_Tap" />
	</Building>
	<Building id="197002" name="Colosseum" type="Building" xpValue="100">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197403" name="BloodSportTShirtsInTheGiftShop" time="4h" premiumJob="true" />
		<RatingElem decoration="200" />
		<BSv2 name="Coliseum" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:Colosseum__" />
		<SoundKit event="BuildingTouched" name="Colosseum_Tap" />
	</Building>
	<Building id="197003" name="DarbyOGuzzlins" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197404" name="NoSmokingVapeRigsOnly" time="4h" />
		<RatingElem decoration="200" />
		<BSv2 name="DarbyOGuzzlins" flippedname="DarbyOGuzzlinsFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Group name="Bars" />
		<SoundKit event="BuildingTouched" name="DarbyOGuzzlins_Tap" />
		<Cost donuts="80" />
	</Building>
	<Building id="197004" name="FernandoVidalsVilla" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197405" name="PreparingPoliticalSubterfuge" time="4h" />
		<RatingElem housing="10" />
		<BSv2 name="FernandoVidalsVilla" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Home" />
		<Character name="FernandoVidal" />
		<SoundKit event="BuildingTouched" name="FernandoVidalsVilla_Tap" />
		<Cost donuts="125" />
	</Building>
	<Building id="197005" name="FortuneMegastore" type="Building" xpValue="145">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197406" name="RestockingShopliftingDepartment" time="4h" premiumJob="true" />
		<RatingElem shopping="20" />
		<BSv2 name="FortuneMegastore" flippedname="FortuneMegastoreFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Shop" />
		<Character name="ArthurFortune" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:FortuneMegastore__" />
		<Locators>
			<Locator name="TopOfStore" x="13" z="9" flip="SE" />
			<Locator name="TopOfStore" x="9" z="13" flip="SW" />
		</Locators>
		<StorePositioningRule rule="FortuneMegastoreCustomIcon" />
		<SoundKit event="BuildingTouched" name="FortuneMegastore_Tap" />
	</Building>
	<Building id="197006" name="InternationalCourtOfJustice" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197407" name="TryingToBeTakenSeriously" time="4h" />
		<RatingElem service="10" />
		<BSv2 name="CourtOfJustice" flippedname="CourtOfJusticeFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="100" />
		<Group name="MiscCash" />
		<SoundKit event="BuildingTouched" name="InternationalCourtOfJustice_Tap" />
	</Building>
	<Building id="197007" name="IslandCapitolBuilding" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197408" name="BureaucracyInAForeignLanguage" time="4h" />
		<RatingElem decoration="200" />
		<BSv2 name="IslandCapitolBuilding" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="90" />
		<Group name="MiscCash" />
		<SoundKit event="BuildingTouched" name="IslandCapitolBuilding_Tap" />
	</Building>
	<Building id="197008" name="LeaningTower" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197409" name="CollectingSelfieRoyalties" time="4h" />
		<RatingElem decoration="200" />
		<BSv2 name="LeaningTower" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="90" />
		<Group name="MiscCash" />
		<SoundKit event="BuildingTouched" name="LeaningTower_Tap" />
	</Building>
	<Building id="197009" name="MasterHypnotistTent" type="Building" xpValue="300">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197410" name="HavingASaleOnWorkHypnosis" time="8h" premiumJob="true" />
		<RatingElem decoration="400" />
		<BSv2 name="MasterHypnotistTent" flippedname="MasterHypnotistTentFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Character name="SvenGolly" />
		<Cost donuts="120" />
		<SoundKit event="BuildingTouched" name="MasterHypnotistTent_Tap" />
		<StorePositioningRule rule="MasterHypnotistTentRule" />
	</Building>
	<Building id="197010" name="MoHoHouse" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<Cost donuts="125" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197411" name="ChargingExtraForValetElevator" time="8h" />
		<RatingElem restaurant="10" />
		<BSv2 name="MoHoHouse" flippedname="MoHoHouseFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Eatery" />
		<Character name="Nigel" />
		<ActiveAnimationController name="MoHoHouse_Active" />
		<SoundKit event="BuildingTouched" name="MoHoHouse_Tap" />
		<StorePositioningRule rule="MohoHouseRule" />
	</Building>
	<Building id="197011" name="MonteBurnsResortCasino" type="Building" xpValue="0">
		<Unique value="true" />
		<Cost donuts="100" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|dirtpavement" />
		<Job id="197412" name="ScoffingAtThePoors" time="8h" />
		<RatingElem decoration="200" />
		<BSv2 name="BurnsResortCasino" flippedname="BurnsResortCasinoFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Group name="Casinos" />
		<SoundKit event="BuildingTouched" name="MonteBurnsResortCasino_Tap" />
		<ScriptTrigger title="UI_WildWestFinale_ScriptTriggerName" description="UI_SpringFieldJobsFinale_ScriptTriggerDesc" buttonLabel="UI_GoTo" buttonColor="0091F6FF">
			<Requirements>
				<Requirement type="time" start="SpringfieldJobs_End" />
				<Requirement type="conditional" logic="OR">
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct1Scene_Permanent" />
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct2Scene_Permanent" />
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct3Scene_Permanent" />
				</Requirement>
			</Requirements>
			<Script onButtonPressed="SpringfieldJobs_Scripts:MonteBurnsResortCasino_Scenes" />
		</ScriptTrigger>
	</Building>
	<Building id="197102" name="MonteBurnsResortCasino_Dummy" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="false" />
		<BuildTime time="0h" />
		<GridType type="road|sidewalk|grass|river|pavement|ocean|shoreline|outofbounds|boardwalk|boardwalkedge|beach|klroad|klroadedge|klparking|wall|cliff|pier|pieredge|dirtroad|dirtedge|dirtpavement|cobblestone|cobblestoneedge|iceriver" />
		<BSv2 name="BurnsResortCasino" />
		<EffectOverlays>
			<EffectOverlay bsv3="BurnsResortCasino_ShootOut" anim="Part_1" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene3Switch == 1" />
			<EffectOverlay bsv3="BurnsResortCasino_ShootOut" anim="Part_2" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene3Switch == 2" />
			<EffectOverlay bsv3="BurnsResortCasino_ShootOut" anim="Part_3" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene3Switch == 3" />
			<EffectOverlay bsv3="BurnsResortCasino_ShootOut" anim="Part_4" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene3Switch == 4" />
			<EffectOverlay bsv3="BurnsResortCasino_ShootOut" anim="Part_5" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene3Switch == 5" />
		</EffectOverlays>
	</Building>
	<Building id="197012" name="MuseumOfSuperFineArts" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|dirtpavement" />
		<Job id="197413" name="DisplayingPrintedWikiPages" time="8h" />
		<RatingElem decoration="200" />
		<BSv2 name="MuseumOfSuperFineArts" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="100" />
		<Group name="MiscCash" />
		<SoundKit event="BuildingTouched" name="MuseumOfSuperFineArts_Tap" />
		<ScriptTrigger title="UI_WildWestFinale_ScriptTriggerName" description="UI_SpringFieldJobsFinale_ScriptTriggerDesc" buttonLabel="UI_GoTo" buttonColor="0091F6FF">
			<Requirements>
				<Requirement type="time" start="SpringfieldJobs_End" />
				<Requirement type="conditional" logic="OR">
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct1Scene_Permanent" />
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct2Scene_Permanent" />
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct3Scene_Permanent" />
				</Requirement>
			</Requirements>
			<Script onButtonPressed="SpringfieldJobs_Scripts:MuseumOfSuperFineArts_Scenes" />
		</ScriptTrigger>
	</Building>
	<Building id="197100" name="MuseumOfSuperFineArts_Dummy" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="false" />
		<BuildTime time="0h" />
		<GridType type="road|sidewalk|grass|river|pavement|ocean|shoreline|outofbounds|boardwalk|boardwalkedge|beach|klroad|klroadedge|klparking|wall|cliff|pier|pieredge|dirtroad|dirtedge|dirtpavement|cobblestone|cobblestoneedge|iceriver" />
		<BSv2 name="MuseumOfSuperFineArts" />
		<EffectOverlays>
			<EffectOverlay bsv3="MuseumOfSuperFineArts_BreakIn" anim="Part_1" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" formulaRequirement="SpringfieldJobs_Scene1Switch == 1" />
			<EffectOverlay bsv3="MuseumOfSuperFineArts_BreakIn" anim="Part_2" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" formulaRequirement="SpringfieldJobs_Scene1Switch == 2" />
			<EffectOverlay bsv3="MuseumOfSuperFineArts_BreakIn" anim="Part_3" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" formulaRequirement="SpringfieldJobs_Scene1Switch == 3" />
			<EffectOverlay bsv3="MuseumOfSuperFineArts_BreakIn" anim="Part_4" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" formulaRequirement="SpringfieldJobs_Scene1Switch == 4" />
			<EffectOverlay bsv3="MuseumOfSuperFineArts_BreakIn" anim="Part_5" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" formulaRequirement="SpringfieldJobs_Scene1Switch == 5" />
			<EffectOverlay bsv3="MuseumOfSuperFineArts_BreakIn" anim="Part_6" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" formulaRequirement="SpringfieldJobs_Scene1Switch == 6" />
			<EffectOverlay bsv3="MuseumOfSuperFineArts_BreakIn" anim="Part_7" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" formulaRequirement="SpringfieldJobs_Scene1Switch == 7" />
		</EffectOverlays>
	</Building>
	<Building id="197013" name="OldCathedral" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<Cost donuts="80" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197414" name="SellingPietyForPittance" time="8h" />
		<RatingElem decoration="200" />
		<BSv2 name="OldCathedral" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Group name="Churches" />
		<SoundKit event="BuildingTouched" name="OldCathedral_Tap" />
	</Building>
	<Building id="197014" name="PlundererPetes" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197415" name="TurningPlunderIntoBooty" time="8h" />
		<RatingElem shopping="10" />
		<BSv2 name="PlundererPetes" flippedname="PlundererPetesFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Shop" />
		<SoundKit event="BuildingTouched" name="PlundererPetes_Tap" />
		<Cost donuts="70" />
	</Building>
	<Building id="197015" name="RaoulsPenthouse" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197416" name="PolishingShuffleBoards" time="8h" premiumJob="true" />
		<RatingElem housing="20" />
		<BSv2 name="RaoulsPenthouse" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Home" />
		<Character name="Raoul" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:RaoulsPenthouse__" />
		<StorePositioningRule rule="RaoulsPenthouseCustomIcon" />
		<SoundKit event="BuildingTouched" name="RaoulsPenthouse_Tap" />
	</Building>
	<Building id="197016" name="ResortHotel" type="Building" xpValue="0">
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<Cost donuts="70" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197417" name="TrainingInTowerFoldingArts" time="8h" />
		<RatingElem housing="10" />
		<BSv2 name="ResortHotel" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Home" />
		<SoundKit event="BuildingTouched" name="ResortHotel_Tap" />
	</Building>
	<Building id="197017" name="ScotlandYard" type="Building" xpValue="199">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<Cost donuts="175" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197418" name="StompingTheYard" time="8h" premiumJob="true" />
		<RatingElem service="20" />
		<BSv2 name="ScotlandPrison" flippedname="ScotlandPrisonFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Character name="JackTheRipper" />
		<SoundKit event="BuildingTouched" name="ScotlandYard_Tap" />
	</Building>
	<Building id="197018" name="SmoochesOnTheBeach" type="Building" xpValue="45">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|beach" />
		<Job id="197419" name="ServingSexOnABeachDaily" time="8h" premiumJob="true" />
		<RatingElem restaurant="20" />
		<BSv2 name="SmoochesOnTheBeach" flippedname="SmoochesOnTheBeachFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Eatery" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:SmoochesOnTheBeach__" />
		<SoundKit event="BuildingTouched" name="SmoochesOnTheBeach_Tap" />
	</Building>
	<Building id="197019" name="StPaulsBasilica" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197420" name="SellingSleeveAndSandalCovers" time="12h" premiumJob="true" />
		<RatingElem decoration="400" />
		<BSv2 name="VaticanCathedral" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Group name="Churches" />
		<Character name="Pope" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:StPaulsBasilica__" />
		<StorePositioningRule rule="StPaulsBasilicaCustomIcon" />
		<SoundKit event="BuildingTouched" name="StPaulsBasilica_Tap" />
	</Building>
	<Building id="197020" name="Swelldorado" type="Building" xpValue="35">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197421" name="BetterThanTheSwellmotel" time="12h" premiumJob="true" />
		<RatingElem housing="20" />
		<BSv2 name="Swelldorado" flippedname="SwelldoradoFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Home" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:Swelldorado__" />
		<SoundKit event="BuildingTouched" name="Swelldorado_Tap" />
	</Building>
	<Building id="197021" name="TheBoiledPotato" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<Cost donuts="75" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197422" name="ServingActuallyBadFishAndChips" time="12h" />
		<RatingElem restaurant="10" />
		<BSv2 name="TheBoiledPotato" flippedname="TheBoiledPotatoFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Eatery" />
		<Group name="Bars" />
		<SoundKit event="BuildingTouched" name="TheBoiledPotato_Tap" />
	</Building>
	<Building id="197022" name="TheFirstClassLounge" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197423" name="RestockingMiniLiquorBottles" time="12h" premiumJob="true" />
		<RatingElem restaurant="20" />
		<BSv2 name="FirstClassLounge" flippedname="FirstClassLoungeFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Eatery" />
		<Character name="WheelsMcGrath" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:TheFirstClassLounge__" />
		<StorePositioningRule rule="FirstClassLoungeCustomIcon" />
		<SoundKit event="BuildingTouched" name="TheFirstClassLounge_Tap" />
	</Building>
	<Building id="197023" name="TheNagAndWeasel" type="Building" xpValue="135">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197424" name="RunningAPubNameGenerator" time="12h" premiumJob="true" />
		<RatingElem restaurant="20" />
		<BSv2 name="TheNagAndWeasel" flippedname="TheNagAndWeaselFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Eatery" />
		<Character name="GuyIncognito" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:TheNagAndWeasel__" />
		<StorePositioningRule rule="NagAndWeaselCustomIcon" />
		<SoundKit event="BuildingTouched" name="TheNagAndWeasel_Tap" />
	</Building>
	<Building id="197024" name="TowerOfSpringfield" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|dirtpavement" />
		<Job id="197425" name="BeheadingWives" time="24h" />
		<RatingElem service="10" />
		<BSv2 name="TowerOfSpringfield" flippedname="TowerOfSpringfieldFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="100" />
		<Group name="MiscCash" />
		<SoundKit event="BuildingTouched" name="TowerOfSpringfield_Tap" />
		<ScriptTrigger title="UI_WildWestFinale_ScriptTriggerName" description="UI_SpringFieldJobsFinale_ScriptTriggerDesc" buttonLabel="UI_GoTo" buttonColor="0091F6FF">
			<Requirements>
				<Requirement type="time" start="SpringfieldJobs_End" />
				<Requirement type="conditional" logic="OR">
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct1Scene_Permanent" />
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct2Scene_Permanent" />
					<Requirement type="variable" variable="SpringfieldJobs_CollectedAct3Scene_Permanent" />
				</Requirement>
			</Requirements>
			<Script onButtonPressed="SpringfieldJobs_Scripts:TowerOfSpringfield_Scenes" />
		</ScriptTrigger>
	</Building>
	<Building id="197101" name="TowerOfSpringfield_Dummy" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="false" />
		<BuildTime time="0h" />
		<GridType type="road|sidewalk|grass|river|pavement|ocean|shoreline|outofbounds|boardwalk|boardwalkedge|beach|klroad|klroadedge|klparking|wall|cliff|pier|pieredge|dirtroad|dirtedge|dirtpavement|cobblestone|cobblestoneedge|iceriver" />
		<BSv2 name="TowerOfSpringfield" />
		<EffectOverlays>
			<EffectOverlay bsv3="TowerOfSpringfield_Job" anim="Part_1" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene2Switch == 1" />
			<EffectOverlay bsv3="TowerOfSpringfield_Job" anim="Part_2" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene2Switch == 2" />
			<EffectOverlay bsv3="TowerOfSpringfield_Job" anim="Part_3" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene2Switch == 3" />
			<EffectOverlay bsv3="TowerOfSpringfield_Job" anim="Part_4" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene2Switch == 4" />
			<EffectOverlay bsv3="TowerOfSpringfield_Job" anim="Part_5" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene2Switch == 5" />
			<EffectOverlay bsv3="TowerOfSpringfield_Job" anim="Part_6" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene2Switch == 6" />
			<EffectOverlay bsv3="TowerOfSpringfield_Job" anim="Part_7" randomStartFrame="false" vboCache="false" rooted="rooted" allowInNormal="true" allowInWrecked="false" animLoop="false" registerVariableEvent="true" ignoreBuildingFlipFile="true" formulaRequirement="SpringfieldJobs_Scene2Switch == 7" />
		</EffectOverlays>
	</Building>
	<Building id="197025" name="WestminsterAbbey" type="Building" xpValue="175">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197426" name="ForWhomTheBellDoesntToll" time="24h" premiumJob="true" />
		<RatingElem decoration="400" />
		<BSv2 name="GothicAbbeyChurch" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Group name="Churches" />
		<Characters>
			<Character name="GeoffreyChaucer" />
			<Character name="OscarWilde" />
		</Characters>
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:WestminsterAbbey__" />
		<SoundKit event="BuildingTouched" name="WestminsterAbbey_Tap" />
	</Building>
	<Building id="197026" name="StPaulsCathedral" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<Cost donuts="90" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="197427" name="SurvivingTheBlitz" time="24h" />
		<RatingElem decoration="200" />
		<BSv2 name="EnglishCathedral" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Group name="Churches" />
		<SoundKit event="BuildingTouched" name="OldCathedral_Tap" />
	</Building>
</Buildings>