<Attributes>
	<CraftingMenu>
		<Include path="Config_Crafting:Default" />
		<Attribute name="helpButtonScript" value="SpringfieldJobs_Scripts:GuidePanel_Crafting" />
		<Attribute name="craftItemsTitleText" value="UI_SpringfieldJobs_Crafting_Title" />
		<Attribute name="activeAfterExpiredText" value="UI_Superheroes2_Crafting_ExpiredTipText" localise="true" />
		<Attribute name="tooltipText" value="UI_SpringfieldJobs_Crafting_TipText" localise="true" />
		<Attribute name="tooltipText" value="UI_Superheroes2_Crafting_FinalTipText" localise="true">
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
		</Attribute>
		<Attribute name="newCraftingPrizesDate" value="SpringfieldJobs_ActTwo" />
		<Attribute name="newCraftingPrizesDate" value="SpringfieldJobs_ActThree">
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
		</Attribute>
		<Attribute name="newCraftingPrizesDate" value="SpringfieldJobs_End">
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
		</Attribute>
		<Attribute name="spendables">
			<AttributeSet>
				<Attribute name="spendable" value="SpringfieldJobs_CraftingCurrency" />
				<Attribute name="rushCurrency" value="donuts" />
				<Attribute name="rushCost" value="__SpringfieldJobs_BalanceConfig:CraftItemsCost:DonutRatio__" />
			</AttributeSet>
		</Attribute>
		<Attribute name="showLevelProgress" value="false" />
		<CraftingPrizes>
			<CraftItemSet name="BLD_TerracedHouse1_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_TerracedHouse01_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_TerracedHouse01_LG.rgb" highlight="false" newVariable="TerracedHouse1_New" hasCraftedVariable="TerracedHouse1_Crafted" quantityVariable="TerracedHouse1_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:TerracedHouse1_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse1__">
					<Item type="building" name="TerracedHouse1" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse1__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_TerracedHouse2_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_TerracedHouse02_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_TerracedHouse02_LG.rgb" highlight="false" newVariable="TerracedHouse2_New" hasCraftedVariable="TerracedHouse2_Crafted" quantityVariable="TerracedHouse2_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:TerracedHouse2_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse2__">
					<Item type="building" name="TerracedHouse2" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse2__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_TerracedHouse3_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_TerracedHouse03_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_TerracedHouse03_LG.rgb" highlight="false" newVariable="TerracedHouse3_New" hasCraftedVariable="TerracedHouse3_Crafted" quantityVariable="TerracedHouse3_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:TerracedHouse3_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse3__">
					<Item type="building" name="TerracedHouse3" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse3__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_TerracedHouse4_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_TerracedHouse04_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_TerracedHouse04_LG.rgb" highlight="false" newVariable="TerracedHouse4_New" hasCraftedVariable="TerracedHouse4_Crafted" quantityVariable="TerracedHouse4_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:TerracedHouse4_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse4__">
					<Item type="building" name="TerracedHouse4" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse4__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_TerracedHouse5_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_TerracedHouse05_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_TerracedHouse05_LG.rgb" highlight="false" newVariable="TerracedHouse5_New" hasCraftedVariable="TerracedHouse5_Crafted" quantityVariable="TerracedHouse5_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:TerracedHouse5_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse5__">
					<Item type="building" name="TerracedHouse5" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse5__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_TerracedHouse6_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_TerracedHouse06_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_TerracedHouse06_LG.rgb" highlight="false" newVariable="TerracedHouse6_New" hasCraftedVariable="TerracedHouse6_Crafted" quantityVariable="TerracedHouse6_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:TerracedHouse6_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse6__">
					<Item type="building" name="TerracedHouse6" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:TerracedHouse6__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_GrandCanal1_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_GrandCanalCorner_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_GrandCanalCorner_LG.rgb" highlight="false" newVariable="GrandCanal1_New" hasCraftedVariable="GrandCanal1_Crafted" quantityVariable="GrandCanal1_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:GrandCanal1_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal1__">
					<Item type="building" name="GrandCanal1" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal1__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_GrandCanal2_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_GrandCanalEdge_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_GrandCanalEdge_LG.rgb" highlight="false" newVariable="GrandCanal2_New" hasCraftedVariable="GrandCanal2_Crafted" quantityVariable="GrandCanal2_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:GrandCanal2_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal2__">
					<Item type="building" name="GrandCanal2" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal2__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_GrandCanal3_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_GrandCanalStraight_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_GrandCanalStraight_LG.rgb" highlight="false" newVariable="GrandCanal3_New" hasCraftedVariable="GrandCanal3_Crafted" quantityVariable="GrandCanal3_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:GrandCanal3_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal3__">
					<Item type="building" name="GrandCanal3" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal3__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_GrandCanal4_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_GrandCanalTop_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_GrandCanalTop_LG.rgb" highlight="false" newVariable="GrandCanal4_New" hasCraftedVariable="GrandCanal4_Crafted" quantityVariable="GrandCanal4_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:GrandCanal4_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal4__">
					<Item type="building" name="GrandCanal4" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal4__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_GrandCanal5_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_GrandCanalCornerRight_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_GrandCanalCornerRight_LG.rgb" highlight="false" newVariable="GrandCanal5_New" hasCraftedVariable="GrandCanal5_Crafted" quantityVariable="GrandCanal5_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:GrandCanal5_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal5__">
					<Item type="building" name="GrandCanal5" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:GrandCanal5__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_Gondola_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_Gondola_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_Gondola_LG.rgb" highlight="false" newVariable="Gondola_New" hasCraftedVariable="Gondola_Crafted" quantityVariable="Gondola_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:Gondola_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:Gondola__">
					<Item type="building" name="Gondola" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:Gondola__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_DaVinciAircraft_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_DaVinciAircraft_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_DaVinciAircraft_LG.rgb" highlight="false" newVariable="DaVinciAircraft_New" hasCraftedVariable="DaVinciAircraft_Crafted" quantityVariable="DaVinciAircraft_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:DaVinciAircraft_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:DaVinciAircraft__">
					<Item type="building" name="DaVinciAircraft" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:DaVinciAircraft__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_CheeseTruck_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_CheeseTruck_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_CheeseTruck_LG.rgb" highlight="false" newVariable="CheeseTruck_New" hasCraftedVariable="CheeseTruck_Crafted" quantityVariable="CheeseTruck_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:CheeseTruck_Info__">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:CheeseTruck__">
					<Item type="building" name="CheeseTruck" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:CheeseTruck__" />
			</CraftItemSet>
			<CraftItemSet name="SPD_FreeLandTokenCurrency_Singular" iconNameForShowingInCraftPanel="ICO_CUR_FreeLandToken_LG.rgb" iconNameForItemCraftedPopUp="ICO_CUR_FreeLandToken_LG.rgb" highlight="false" newVariable="LandTokenCurrency_Act1_New" hasCraftedVariable="LandTokenCurrency_Act1_Crafted" quantityVariable="LandTokenCurrency_Act1_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" craftLimit="1">
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
					<Requirement type="time" start="SpringfieldJobs_ActOne" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:LandTokenCurrency_Act1__">
					<Requirement type="variable" variable="LandTokenCurrency_Act1_Crafted" not="true" />
					<Item type="consumable" name="LandTokenCurrency_Act1" useImmediately="true" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:LandTokenCurrency_Act1__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_OldPhoneBooth_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_PhoneBooth_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_PhoneBooth_LG.rgb" highlight="false" newVariable="OldPhoneBooth_New" hasCraftedVariable="OldPhoneBooth_Crafted" quantityVariable="OldPhoneBooth_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:OldPhoneBooth_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:OldPhoneBooth__">
					<Item type="building" name="OldPhoneBooth" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:OldPhoneBooth__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_PoliceCallBox_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_PoliceCallBox_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_PoliceCallBox_LG.rgb" highlight="false" newVariable="PoliceCallBox_New" hasCraftedVariable="PoliceCallBox_Crafted" quantityVariable="PoliceCallBox_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:PoliceCallBox_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:PoliceCallBox__">
					<Item type="building" name="PoliceCallBox" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:PoliceCallBox__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_QueensGuard_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_QueensGuard_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_QueensGuard_LG.rgb" highlight="false" newVariable="QueensGuard_New" hasCraftedVariable="QueensGuard_Crafted" quantityVariable="QueensGuard_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:QueensGuard_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:QueensGuard__">
					<Item type="building" name="QueensGuard" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:QueensGuard__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_Beefeater_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_Beefeater_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_Beefeater_LG.rgb" highlight="false" newVariable="Beefeater_New" hasCraftedVariable="Beefeater_Crafted" quantityVariable="Beefeater_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:Beefeater_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:Beefeater__">
					<Item type="building" name="Beefeater" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:Beefeater__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_DarbyOGuzzlins_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_DarbyOGuzzlins_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_DarbyOGuzzlins_LG.rgb" highlight="false" newVariable="DarbyOGuzzlins_New" hasCraftedVariable="DarbyOGuzzlins_Crafted" quantityVariable="DarbyOGuzzlins_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" craftLimit="1" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:DarbyOGuzzlins__">
					<Item type="building" name="DarbyOGuzzlins" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:DarbyOGuzzlins__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_BritishRoundabout_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_BritishRoundabout_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_BritishRoundabout_LG.rgb" highlight="false" newVariable="BritishRoundabout_New" hasCraftedVariable="BritishRoundabout_Crafted" quantityVariable="BritishRoundabout_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:BritishRoundabout__">
					<Item type="building" name="BritishRoundabout" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:BritishRoundabout__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_StPaulsCathedral_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_EnglishCathedral_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_EnglishCathedral_LG.rgb" highlight="false" newVariable="StPaulsCathedral_New" hasCraftedVariable="StPaulsCathedral_Crafted" quantityVariable="StPaulsCathedral_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:StPaulsCathedral__">
					<Item type="building" name="StPaulsCathedral" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:StPaulsCathedral__" />
			</CraftItemSet>
			<CraftItemSet name="SPD_FreeLandTokenCurrency_Singular" iconNameForShowingInCraftPanel="ICO_CUR_FreeLandToken_LG.rgb" iconNameForItemCraftedPopUp="ICO_CUR_FreeLandToken_LG.rgb" highlight="false" newVariable="LandTokenCurrency_Act2_New" hasCraftedVariable="LandTokenCurrency_Act2_Crafted" quantityVariable="LandTokenCurrency_Act2_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" craftLimit="1" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act2">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 2)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:LandTokenCurrency_Act2__">
					<Requirement type="variable" variable="LandTokenCurrency_Act2_Crafted" not="true" />
					<Item type="consumable" name="LandTokenCurrency_Act2" useImmediately="true" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:LandTokenCurrency_Act2__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_FirstBankOfSpringfieldATM_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_FirstBankOfSpringfieldATM_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_FirstBankOfSpringfieldATM_LG.rgb" highlight="false" newVariable="FirstBankOfSpringfieldATM_New" hasCraftedVariable="FirstBankOfSpringfieldATM_Crafted" quantityVariable="FirstBankOfSpringfieldATM_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act3" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:FirstBankOfSpringfieldATM_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 3)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:FirstBankOfSpringfieldATM__">
					<Item type="building" name="FirstBankOfSpringfieldATM" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:FirstBankOfSpringfieldATM__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_IslandCapitolBuilding_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_IslandCapitolBuilding_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_IslandCapitolBuilding_LG.rgb" highlight="false" newVariable="IslandCapitolBuilding_New" hasCraftedVariable="IslandCapitolBuilding_Crafted" quantityVariable="IslandCapitolBuilding_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act3">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 3)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:IslandCapitolBuilding__">
					<Item type="building" name="IslandCapitolBuilding" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:IslandCapitolBuilding__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_ResortHotel_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_ResortHotel_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_ResortHotel_LG.rgb" highlight="false" newVariable="ResortHotel_New" hasCraftedVariable="ResortHotel_Crafted" quantityVariable="ResortHotel_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act3">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 3)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:ResortHotel__">
					<Item type="building" name="ResortHotel" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:ResortHotel__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_FancyOvalFountain_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_FancyOvalFountain_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_FancyOvalFountain_LG.rgb" highlight="false" newVariable="FancyOvalFountain_New" hasCraftedVariable="FancyOvalFountain_Crafted" quantityVariable="FancyOvalFountain_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act3" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:FancyOvalFountain_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 3)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:FancyOvalFountain__">
					<Item type="building" name="FancyOvalFountain" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:FancyOvalFountain__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_FirstPrimeMinisterOfAustraliaStatue_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_FirstPrimeMinisterOfAustraliaStatue_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_FirstPrimeMinisterOfAustraliaStatue_LG.rgb" highlight="false" newVariable="FirstPrimeMinisterOfAustraliaStatue_New" hasCraftedVariable="FirstPrimeMinisterOfAustraliaStatue_Crafted" quantityVariable="FirstPrimeMinisterOfAustraliaStatue_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act3" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:FirstPrimeMinisterOfAustraliaStatue_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 3)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:FirstPrimeMinisterOfAustraliaStatue__">
					<Item type="building" name="FirstPrimeMinisterOfAustraliaStatue" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:FirstPrimeMinisterOfAustraliaStatue__" />
			</CraftItemSet>
			<CraftItemSet name="BLD_RaceCarStatue_name" iconNameForShowingInCraftPanel="ICO_PRIZ_SpringfieldJobs_RaceCarStatue_MD.rgb" iconNameForItemCraftedPopUp="ICO_PRIZ_SpringfieldJobs_RaceCarStatue_LG.rgb" highlight="false" newVariable="RaceCarStatue_New" hasCraftedVariable="RaceCarStatue_Crafted" quantityVariable="RaceCarStatue_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act3" infoOverrideText="__SpringfieldJobs_GameConfig:InfoText:RaceCarStatue_Info__">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 3)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:RaceCarStatue__">
					<Item type="building" name="RaceCarStatue" useImmediately="false" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:RaceCarStatue__" />
			</CraftItemSet>
			<CraftItemSet name="SPD_FreeLandTokenCurrency_Singular" iconNameForShowingInCraftPanel="ICO_CUR_FreeLandToken_LG.rgb" iconNameForItemCraftedPopUp="ICO_CUR_FreeLandToken_LG.rgb" highlight="false" newVariable="LandTokenCurrency_Act3_New" hasCraftedVariable="LandTokenCurrency_Act3_Crafted" quantityVariable="LandTokenCurrency_Act3_TotalCrafted" rushable="true" suppressInventoryPopup="true" switchPrizeToPurchase="true" craftLimit="1" lockedText="UI_SpringfieldJobs_CraftingTrack_ItemLocked_Act3">
				<LockRequirements>
					<Requirement type="formula" formula="greaterThanEQ(SpringfieldJobs_CraftingLevel, 3)" />
				</LockRequirements>
				<Requirements>
					<Requirement type="variable" variable="SpringfieldJobs" />
				</Requirements>
				<Reward SpringfieldJobs_CraftingXP="__SpringfieldJobs_BalanceConfig:CraftItemsCost:LandTokenCurrency_Act3__">
					<Requirement type="variable" variable="LandTokenCurrency_Act3_Crafted" not="true" />
					<Item type="consumable" name="LandTokenCurrency_Act3" useImmediately="true" />
				</Reward>
				<Cost SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:LandTokenCurrency_Act3__" />
			</CraftItemSet>
		</CraftingPrizes>
	</CraftingMenu>
</Attributes>