<Buildings>
	<MasterList>
		<DataID id="242500" name="StolenBicycleGraveyard" />
		<DataID id="242501" name="HomersMotorcycle" />
		<DataID id="242502" name="BallOfDeath" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="false" />
		<Unique value="false" />
		<Falls value="false" />
		<MultiPlace value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="true" />
		<TaxJobPackage value="SpringfieldChoppers_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="242500" name="StolenBicycleGraveyard" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem community="10" />
		<BSv2 name="BicycleGraveyard" flippedname="BicycleGraveyardFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="90" />
		<SoundKit event="BuildingTouched" name="StolenBicycleGraveyard_tap" />
	</Building>
	<Building id="242501" name="HomersMotorcycle" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem shopping="5" />
		<BSv2 name="HomersMotorcycle" flippedname="HomersMotorcycleFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="30" />
		<SoundKit event="BuildingTouched" name="HomersMotorcycle_tap" />
		<OnEvent event="BuildingTouched" building="HomersMotorcycle">
			<Requirement type="formula" formula="System::evaluate('Building::HomersMotorcycle::Object::TestOutTheHogActive')==1" not="true" />
			<Script name="DecorationTapped_SingleTap_Wait" package="MiscScripts" />
		</OnEvent>
		<ActiveAnimationController name="HomersMotorcycleController" />
		<NeutralAnimationController name="HomersMotorcycleController" />
	</Building>
	<Building id="242502" name="BallOfDeath" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem crime="10" />
		<BSv2 name="BallOfDeath" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="50" />
		<SoundKit event="BuildingTouched" name="BallOfDeath_tap" />
		<OnEvent event="BuildingTouched" building="BallOfDeath">
			<Script name="DecorationTapped_SingleActive_Wait" package="MiscScripts" />
		</OnEvent>
	</Building>
</Buildings>