<SpendableCurrencies>
	<MasterList>
		<DataID id="162000" name="SpringfieldGames_ParticipationRibbons" />
		<DataID id="162001" name="SpringfieldGames_BottleCaps" />
		<DataID id="162002" name="SpringfieldGames_Pins" />
	</MasterList>
	<RushCostRatios name="SpringfieldGames_Ratio" SpringfieldGames_ParticipationRibbons="5" SpringfieldGames_BottleCaps="1" SpringfieldGames_Pins="30" />
	<SpendableCurrency Type="162000" name="SpringfieldGames_ParticipationRibbons" Icons="ICO_CUR_SpringfieldGames_Ribbon" indicatorIcon="Indicator_SpringfieldGames_Ribbons" droppedIcon="Indicator_SpringfieldGames_Ribbons" TextPoolID="UI_SpringfieldGames_RibbonsPlural" TextPoolResourceSingularID="UI_SpringfieldGames_RibbonsSingle" TextPoolResourcePluralID="UI_SpringfieldGames_RibbonsPlural" Sound="06_coins_collect.caf" defaultTopupRatio="SpringfieldGames_Ratio" />
	<SpendableCurrency Type="162001" name="SpringfieldGames_BottleCaps" Icons="ICO_CUR_SpringfieldGames_BottleCap" indicatorIcon="Indicator_SpringfieldGames_BottleCaps" droppedIcon="Indicator_SpringfieldGames_BottleCaps" TextPoolID="UI_SpringfieldGames_BottleCapsPlural" TextPoolResourceSingularID="UI_SpringfieldGames_BottleCapsSingle" TextPoolResourcePluralID="UI_SpringfieldGames_BottleCapsPlural" Sound="06_coins_collect.caf" defaultTopupRatio="SpringfieldGames_Ratio" />
	<SpendableCurrency Type="162002" name="SpringfieldGames_Pins" Icons="ICO_CUR_SpringfieldGames_Pins" indicatorIcon="Indicator_SpringfieldGames_Pins" droppedIcon="Indicator_SpringfieldGames_Pins" TextPoolID="UI_SpringfieldGames_PinsPlural" TextPoolResourceSingularID="UI_SpringfieldGames_PinsSingle" TextPoolResourcePluralID="UI_SpringfieldGames_PinsPlural" Sound="06_coins_collect.caf" defaultTopupRatio="SpringfieldGames_Ratio" />
</SpendableCurrencies>