<SpendableCurrencies>
	<MasterList>
		<DataID id="197000" name="SpringfieldJobs_Act1PrizeTrackCurrency" onDeprecated="delete" endDate="SpringfieldJobs_End" />
		<DataID id="197001" name="SpringfieldJobs_Act2PrizeTrackCurrency" onDeprecated="delete" endDate="SpringfieldJobs_End" />
		<DataID id="197002" name="SpringfieldJobs_Act3PrizeTrackCurrency" onDeprecated="delete" endDate="SpringfieldJobs_End" />
		<DataID id="197003" name="SpringfieldJobs_ActivePrizeTrackCurrency" onDeprecated="delete" endDate="SpringfieldJobs_End" />
		<DataID id="197004" name="SpringfieldJobs_CraftingCurrency" onDeprecated="delete" endDate="SpringfieldJobs_End" />
		<DataID id="197005" name="SpringfieldJobs_CraftingXP" onDeprecated="delete" endDate="SpringfieldJobs_End" />
		<DataID id="197006" name="SpringfieldJobs_SocialCurrency" onDeprecated="delete" endDate="SpringfieldJobs_End" />
	</MasterList>
	<SpendableCurrency Type="197000" name="SpringfieldJobs_Act1PrizeTrackCurrency" Icons="ICO_CUR_SpringfieldJobs_Act1Currency" indicatorIcon="Indicator_SpringfieldJobs_Act1Currency" droppedIcon="Indicator_SpringfieldJobs_Act1Currency" prizeIcon="ICO_CUR_SpringfieldJobs_Act1Currency_LG" TextPoolID="RES_SpringfieldJobs_Act1PrizeTrackCurrency_Plural" TextPoolResourceSingularID="RES_SpringfieldJobs_Act1PrizeTrackCurrency_Single" TextPoolResourcePluralID="RES_SpringfieldJobs_Act1PrizeTrackCurrency_Plural" SoundKit="SpringfieldJobs_Act1PrizeTrackCurrency_Collect" usesMapView="true" VariablesUpdateTrigger="SpringfieldJobs_UpdateFriendActionHelpVariables" MultiplierVariable="SpringfieldJobs_Act1PrizeTrackCurrency_FOR_NEXT_FRIEND_ACTION" CountToNextMultiplierVariable="SpringfieldJobs_ACTIONS_UNTIL_NEXT_MULTIPLIER" MultiplierSelector="selector SpringfieldJobs_PTCurrencyPerFriendAction" />
	<SpendableCurrency Type="197001" name="SpringfieldJobs_Act2PrizeTrackCurrency" Icons="ICO_CUR_SpringfieldJobs_Act2Currency" indicatorIcon="Indicator_SpringfieldJobs_Act2Currency" droppedIcon="Indicator_SpringfieldJobs_Act2Currency" prizeIcon="ICO_CUR_SpringfieldJobs_Act2Currency_LG" TextPoolID="RES_SpringfieldJobs_Act2PrizeTrackCurrency_Plural" TextPoolResourceSingularID="RES_SpringfieldJobs_Act2PrizeTrackCurrency_Single" TextPoolResourcePluralID="RES_SpringfieldJobs_Act2PrizeTrackCurrency_Plural" SoundKit="SpringfieldJobs_Act2PrizeTrackCurrency_Collect" usesMapView="true" VariablesUpdateTrigger="SpringfieldJobs_UpdateFriendActionHelpVariables" MultiplierVariable="SpringfieldJobs_Act2PrizeTrackCurrency_FOR_NEXT_FRIEND_ACTION" CountToNextMultiplierVariable="SpringfieldJobs_ACTIONS_UNTIL_NEXT_MULTIPLIER" MultiplierSelector="selector SpringfieldJobs_PTCurrencyPerFriendAction" />
	<SpendableCurrency Type="197002" name="SpringfieldJobs_Act3PrizeTrackCurrency" Icons="ICO_CUR_SpringfieldJobs_Act3Currency" indicatorIcon="Indicator_SpringfieldJobs_Act3Currency" droppedIcon="Indicator_SpringfieldJobs_Act3Currency" prizeIcon="ICO_CUR_SpringfieldJobs_Act3Currency_LG" TextPoolID="RES_SpringfieldJobs_Act3PrizeTrackCurrency_Plural" TextPoolResourceSingularID="RES_SpringfieldJobs_Act3PrizeTrackCurrency_Single" TextPoolResourcePluralID="RES_SpringfieldJobs_Act3PrizeTrackCurrency_Plural" SoundKit="SpringfieldJobs_Act3PrizeTrackCurrency_Collect" usesMapView="true" VariablesUpdateTrigger="SpringfieldJobs_UpdateFriendActionHelpVariables" MultiplierVariable="SpringfieldJobs_Act3PrizeTrackCurrency_FOR_NEXT_FRIEND_ACTION" CountToNextMultiplierVariable="SpringfieldJobs_ACTIONS_UNTIL_NEXT_MULTIPLIER" MultiplierSelector="selector SpringfieldJobs_PTCurrencyPerFriendAction" />
	<SpendableCurrency Type="197003" name="SpringfieldJobs_ActivePrizeTrackCurrency">
		<CurrencyMap>
			<Currency name="SpringfieldJobs_Act1PrizeTrackCurrency">
				<Requirement type="time" end="SpringfieldJobs_ActTwo" />
			</Currency>
			<Currency name="SpringfieldJobs_Act2PrizeTrackCurrency">
				<Requirement type="time" start="SpringfieldJobs_ActTwo" end="SpringfieldJobs_ActThree" />
			</Currency>
			<Currency name="SpringfieldJobs_Act3PrizeTrackCurrency">
				<Requirement type="time" start="SpringfieldJobs_ActThree" />
			</Currency>
		</CurrencyMap>
	</SpendableCurrency>
	<SpendableCurrency Type="197004" name="SpringfieldJobs_CraftingCurrency" Icons="ICO_CUR_SpringfieldJobs_CraftingCurrency" indicatorIcon="Indicator_SpringfieldJobs_CraftingCurrency" droppedIcon="Indicator_SpringfieldJobs_CraftingCurrency" prizeIcon="ICO_CUR_SpringfieldJobs_CraftingCurrency_LG" TextPoolID="RES_SpringfieldJobs_CraftingCurrency_Plural" TextPoolResourceSingularID="RES_SpringfieldJobs_CraftingCurrency_Single" TextPoolResourcePluralID="RES_SpringfieldJobs_CraftingCurrency_Plural" SoundKit="SpringfieldJobs_CraftingCurrency_Collect" donutCostPerSpendable="1" defaultTopupRatio="SpringfieldJobsDonutRatio" getThisScript="SpringfieldJobs_Scripts:GetMoreCraftingCurrency" />
	<RushCostRatios name="SpringfieldJobsDonutRatio" SpringfieldJobs_CraftingCurrency="__SpringfieldJobs_BalanceConfig:CraftItemsCost:DonutRatio__" />
	<SpendableCurrency Type="197005" name="SpringfieldJobs_CraftingXP" Icons="ico_genr_fpo" indicatorIcon="ico_genr_fpo" droppedIcon="ico_genr_fpo" TextPoolID="--" TextPoolResourceSingularID="--" TextPoolResourcePluralID="--" SoundKit="UI_Casino_Collect_Chips" />
	<SpendableCurrency Type="197006" name="SpringfieldJobs_SocialCurrency" Icons="ICO_CUR_SpringfieldJobs_SocialCurrency" indicatorIcon="Indicator_SpringfieldJobs_SocialCurrency" droppedIcon="Indicator_SpringfieldJobs_SocialCurrency" prizeIcon="ICO_CUR_SpringfieldJobs_SocialCurrency_LG" TextPoolID="RES_SpringfieldJobs_SocialCurrency_Plural" TextPoolResourceSingularID="RES_SpringfieldJobs_SocialCurrency_Single" TextPoolResourcePluralID="RES_SpringfieldJobs_SocialCurrency_Plural" SoundKit="SpringfieldJobs_SocialCurrency_Collect" floatToGenericBottomButton="false" />
</SpendableCurrencies>