<Dates>
	<Date name="Promo_SpringCleaning_Wave_1" date="__SpringCleaning_GameConfig:Dates:Promo_SpringCleaning_Wave_1__" />
	<Date name="Promo_SpringCleaning_Wave_2" date="__SpringCleaning_GameConfig:Dates:Promo_SpringCleaning_Wave_2__" />
	<Date name="Promo_SpringCleaning_Wave_3" date="__SpringCleaning_GameConfig:Dates:Promo_SpringCleaning_Wave_3__" />
	<Date name="Promo_SpringCleaning_End" date="__SpringCleaning_GameConfig:Dates:Promo_SpringCleaning_End__" />
	<Date name="Promo_SpringCleaning_Kill" date="__SpringCleaning_GameConfig:Dates:Promo_SpringCleaning_Kill__" />
</Dates>