<GameObjectBundles>
	<MasterList>
		<DataID id="197000" name="DragonBundleGOB" />
		<DataID id="197001" name="HostessMissSpringfieldAndSignGOB" />
		<DataID id="197002" name="HostessMissSpringfieldGOB" />
		<DataID id="197003" name="KumikoSailorKumikoAndAmericaTownGOB" />
		<DataID id="197004" name="SailorKumikoAndAmericaTownGOB" />
		<DataID id="197400" name="EasterTreeBundle" />
		<DataID id="197401" name="MexicanDuffmanBundle" />
		<DataID id="197402" name="MexicanDuffmanLadyDuff" />
	</MasterList>
	<GameObjectBundle id="197000" name="DragonBundleGOB" originX="0" originZ="0" image="ICO_PRIZ_BFCM_DragonBundle_MD.rgb" textpoolName="CON_DragonBundle_name" textpoolDesc="CON_DragonBundle_desc">
		<Cost donuts="100" />
		<Entries>
			<Building name="YellowDragon" x="-11" z="2" flipState="0" />
			<Building name="WhiteDragon" x="-6" z="9" flipState="0" />
			<Building name="RedDragon" x="-12" z="8" flipState="0" />
		</Entries>
	</GameObjectBundle>
	<GameObjectBundle id="197001" name="HostessMissSpringfieldAndSignGOB" originX="0" originZ="0" image="ICO_PRIZ_SpringfieldJobs_HostessMissSpringfieldSign_LG.rgb" textpoolName="CON_HostessMissSpringfield_Bundle1_name" textpoolDesc="CON_HostessMissSpringfield_Bundle1_desc">
		<Entries>
			<Building name="GolddiggersSign" x="0" z="0" flipState="0" />
			<Consumable name="HostessMissSpringfield" />
		</Entries>
	</GameObjectBundle>
	<GameObjectBundle id="197002" name="HostessMissSpringfieldGOB" originX="0" originZ="0" image="ICO_PRIZ_SpringfieldJobs_HostessMissSpringfield_LG.rgb" textpoolName="CON_HostessMissSpringfield_Bundle2_name">
		<Entries>
			<Building name="SleepEazyMotel" x="0" z="0" flipState="0" />
			<Consumable name="HostessMissSpringfield" />
		</Entries>
	</GameObjectBundle>
	<GameObjectBundle id="197003" name="KumikoSailorKumikoAndAmericaTownGOB" originX="0" originZ="0" textpoolName="BLD_Americatown_name">
		<VisibilityRequirements>
			<Requirement type="characterunlocked" name="Kumiko" not="true" />
			<Requirement type="character" name="Kumiko" unlockedskin="SailorKumiko" not="true" />
			<Requirement type="building" building="Americatown" not="true" />
		</VisibilityRequirements>
		<Entries>
			<Building name="Americatown" x="0" z="0" flipState="0" />
			<Character name="Kumiko" x="2" z="2" />
			<Consumable name="SailorKumikoSkin" />
		</Entries>
		<StorePositioningRule rule="KumikoAndKumikoSailorAndAmericaTownGOBRule" />
		<Cost donuts="175" />
	</GameObjectBundle>
	<GameObjectBundle id="197004" name="SailorKumikoAndAmericaTownGOB" originX="0" originZ="0" textpoolName="BLD_Americatown_name">
		<VisibilityRequirements>
			<Requirement type="characterunlocked" name="Kumiko" />
			<Requirement type="character" name="Kumiko" unlockedskin="SailorKumiko" not="true" />
			<Requirement type="building" building="Americatown" not="true" />
		</VisibilityRequirements>
		<Entries>
			<Building name="Americatown" x="0" z="0" flipState="0" />
			<Consumable name="SailorKumikoSkin" />
		</Entries>
		<StorePositioningRule rule="KumikoSailorAndAmericaTownGOBRule" />
		<Cost donuts="135" />
	</GameObjectBundle>
	<GameObjectBundle id="197400" name="EasterTreeBundle" originX="0" originZ="0" image="ICO_STOR_Single_SpringfieldJobs_EasterTreeBundle.rgb">
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:EasterTreeBundle__" />
		<Entries>
			<Building name="EasterTree" x="0" z="0" flipState="0" />
			<Building name="EasterTree" x="0" z="2" flipState="1" />
			<Building name="EasterTree" x="2" z="0" flipState="0" />
			<Building name="EasterTree" x="2" z="2" flipState="0" />
			<Building name="EasterTree" x="-2" z="0" flipState="0" />
		</Entries>
	</GameObjectBundle>
	<GameObjectBundle id="197401" name="MexicanDuffmanBundle" originX="0" originZ="0">
		<VisibilityRequirements>
			<Requirement type="building owned" building="DuffBrewery" not="true" />
			<Requirement type="characterunlocked" name="MexicanDuffman" not="true" />
		</VisibilityRequirements>
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:MexicanDuffmanBundle__" />
		<Entries>
			<Character name="MexicanDuffman" x="2" z="2" />
			<Building name="DuffBrewery" x="0" z="0" flipState="0" />
			<Consumable name="LadyDuff" />
		</Entries>
		<StorePositioningRule rule="MexicanDuffmanBundle_Rule" />
	</GameObjectBundle>
	<GameObjectBundle id="197402" name="MexicanDuffmanLadyDuff" originX="0" originZ="0" textpoolName="GOB_MexicanDuffmanBundle_name">
		<VisibilityRequirements>
			<Requirement type="building owned" building="DuffBrewery" />
			<Requirement type="characterunlocked" name="Duffman" unlockedskin="LadyDuff" not="true" />
			<Requirement type="characterunlocked" name="MexicanDuffman" not="true" />
		</VisibilityRequirements>
		<Cost donuts="120" />
		<Entries>
			<Character name="MexicanDuffman" x="2" z="2" />
			<Consumable name="LadyDuff" />
		</Entries>
		<StorePositioningRule rule="MexicanDuffmanLadyDuff_Rule" />
	</GameObjectBundle>
</GameObjectBundles>