<Requirements>
	<Event_Active>
		<Requirement type="time" end="SpringfieldJobs_End" />
		<Requirement type="quest" quest="TheSpringfieldJob_3" />
	</Event_Active>
	<ActOne>
		<Requirement type="quest" quest="MyPad" />
		<Requirement type="time" end="SpringfieldJobs_ActTwo" />
	</ActOne>
	<ActTwo>
		<Requirement type="quest" quest="MyPad" />
		<Requirement type="time" start="SpringfieldJobs_ActTwo" end="SpringfieldJobs_ActThree" />
	</ActTwo>
	<ActThree>
		<Requirement type="quest" quest="MyPad" />
		<Requirement type="time" start="SpringfieldJobs_ActThree" />
	</ActThree>
	<StoreCategory_Unlocked>
		<Requirement type="time" start="SpringfieldJobs_Start" end="SpringfieldJobs_End" />
		<Requirement type="quest" quest="SpringfieldJobs_RecommendStore" />
	</StoreCategory_Unlocked>
	<Easter2018StoreCategory_Unlocked>
		<Requirement type="quest" quest="MyPad" />
		<Requirement type="time" start="SpringfieldJobs_ResurrectionOfRigellianChrist_IN" end="SpringfieldJobs_ResurrectionOfRigellianChrist_OUT" />
	</Easter2018StoreCategory_Unlocked>
	<CincoDeMayo2018StoreCategory_Unlocked>
		<Requirement type="quest" quest="MyPad" />
		<Requirement type="time" start="SpringfieldJobs_CincoDeMayo_IN" end="SpringfieldJobs_CincoDeMayo_OUT" />
	</CincoDeMayo2018StoreCategory_Unlocked>
	<EventHub_Unlocked>
		<Requirement type="time" start="SpringfieldJobs_Start" end="SpringfieldJobs_End" />
		<Requirement type="quest started" quest="TheSpringfieldJob_4" />
	</EventHub_Unlocked>
	<PrizeTrack_Unlocked>
		<Requirement type="time" start="SpringfieldJobs_Start" end="SpringfieldJobs_End" />
		<Requirement type="quest started" quest="TheSpringfieldJob_4" />
	</PrizeTrack_Unlocked>
	<Crafting_Unlocked>
		<Requirement type="building" building="PlundererPetes" />
	</Crafting_Unlocked>
	<BuildingFinder_Unlocked>
		<Requirement type="conditional" logic="OR">
			<Requirement type="building" building="MuseumOfSuperFineArts" />
			<Requirement type="building" building="TowerOfSpringfield" />
			<Requirement type="building" building="MonteBurnsResortCasino" />
		</Requirement>
	</BuildingFinder_Unlocked>
	<Scenes_Unlocked>
		<Requirement type="time" start="SpringfieldJobs_Start" end="SpringfieldJobs_End" />
		<Requirement type="quest started" quest="TheSpringfieldJob_4" />
	</Scenes_Unlocked>
	<Tappables_Unlocked>
		<Requirement type="conditional" logic="OR">
			<Requirement type="quest started" quest="TheSpringfieldJob_5" />
			<Requirement type="quest started" quest="TheSpringfieldJob_5_NoBurns" />
		</Requirement>
	</Tappables_Unlocked>
	<SocialActions_Unlocked>
		<Requirement type="conditional" logic="OR">
			<Requirement type="quest started" quest="TheSpringfieldJob_5" />
			<Requirement type="quest started" quest="TheSpringfieldJob_5_NoBurns" />
		</Requirement>
	</SocialActions_Unlocked>
	<ArrangementBonus_Unlocked>
		<Requirement type="quest started" quest="TheSpringfieldJob_4" />
	</ArrangementBonus_Unlocked>
	<Heists_Intro_Unlocked>
		<Requirement type="time" start="SpringfieldJobs_Start" end="SpringfieldJobs_End" />
		<Requirement type="quest started" quest="TheSpringfieldJob_4" />
		<Requirement type="building" building="MuseumOfSuperFineArts" not="true" />
		<Requirement type="building" building="TowerOfSpringfield" not="true" />
		<Requirement type="building" building="MonteBurnsResortCasino" not="true" />
	</Heists_Intro_Unlocked>
	<Heists_ActOne_Unlocked>
		<Requirement type="building" building="MuseumOfSuperFineArts" />
	</Heists_ActOne_Unlocked>
	<Heists_ActTwo_Unlocked>
		<Requirement type="building" building="TowerOfSpringfield" />
	</Heists_ActTwo_Unlocked>
	<Heists_ActThree_Unlocked>
		<Requirement type="building" building="MonteBurnsResortCasino" />
	</Heists_ActThree_Unlocked>
	<HasMuseumOfSuperFineArtsJobsAvailable>
		<Requirement type="reqList" location="SpringfieldJobs_Requirements:Heists_ActOne_Unlocked" />
		<Requirement type="conditional" logic="OR">
			<Requirement type="IdleCharacter" character="Homer" />
			<Requirement type="IdleCharacter" character="Apu" />
			<Requirement type="IdleCharacter" character="Burns" />
			<Requirement type="IdleCharacter" character="Moe" />
			<Requirement type="IdleCharacter" character="Lenny" />
			<Requirement type="IdleCharacter" character="Carl" />
			<Requirement type="IdleCharacter" character="Smithers" />
			<Requirement type="IdleCharacter" character="Snake" />
			<Requirement type="IdleCharacter" character="AristotleAmadopolis" />
			<Requirement type="IdleCharacter" character="Primo" />
			<Requirement type="IdleCharacter" character="RuthPowers" />
			<Requirement type="IdleCharacter" character="Molloy" />
			<Requirement type="IdleCharacter" character="JohnnyTightlips" />
			<Requirement type="IdleCharacter" character="SvenGolly" />
			<Requirement type="IdleCharacter" character="WheelsMcGrath" />
			<Requirement type="IdleCharacter" character="DanteCalabresiSr" />
			<Requirement type="IdleCharacter" character="DanteCalabresiJr" />
		</Requirement>
	</HasMuseumOfSuperFineArtsJobsAvailable>
	<HasTowerOfSpringfieldJobsAvailable>
		<Requirement type="reqList" location="SpringfieldJobs_Requirements:Heists_ActTwo_Unlocked" />
		<Requirement type="conditional" logic="OR">
			<Requirement type="IdleCharacter" character="Homer" />
			<Requirement type="IdleCharacter" character="Apu" />
			<Requirement type="IdleCharacter" character="Burns" />
			<Requirement type="IdleCharacter" character="Moe" />
			<Requirement type="IdleCharacter" character="Lenny" />
			<Requirement type="IdleCharacter" character="Carl" />
			<Requirement type="IdleCharacter" character="Smithers" />
			<Requirement type="IdleCharacter" character="Snake" />
			<Requirement type="IdleCharacter" character="AristotleAmadopolis" />
			<Requirement type="IdleCharacter" character="Primo" />
			<Requirement type="IdleCharacter" character="RuthPowers" />
			<Requirement type="IdleCharacter" character="FatTony" />
			<Requirement type="IdleCharacter" character="Legs" />
			<Requirement type="IdleCharacter" character="Louie" />
			<Requirement type="IdleCharacter" character="MichaelDAmico" />
			<Requirement type="IdleCharacter" character="FrankieTheSquealer" />
			<Requirement type="IdleCharacter" character="Molloy" />
			<Requirement type="IdleCharacter" character="JohnnyTightlips" />
			<Requirement type="IdleCharacter" character="SvenGolly" />
			<Requirement type="IdleCharacter" character="WheelsMcGrath" />
			<Requirement type="IdleCharacter" character="GuyIncognito" />
			<Requirement type="IdleCharacter" character="Raoul" />
		</Requirement>
	</HasTowerOfSpringfieldJobsAvailable>
	<HasMonteBurnsResortCasinoJobsAvailable>
		<Requirement type="reqList" location="SpringfieldJobs_Requirements:Heists_ActThree_Unlocked" />
		<Requirement type="conditional" logic="OR">
			<Requirement type="IdleCharacter" character="Homer" />
			<Requirement type="IdleCharacter" character="Apu" />
			<Requirement type="IdleCharacter" character="Burns" />
			<Requirement type="IdleCharacter" character="Moe" />
			<Requirement type="IdleCharacter" character="Lenny" />
			<Requirement type="IdleCharacter" character="Carl" />
			<Requirement type="IdleCharacter" character="Smithers" />
			<Requirement type="IdleCharacter" character="Snake" />
			<Requirement type="IdleCharacter" character="AristotleAmadopolis" />
			<Requirement type="IdleCharacter" character="Primo" />
			<Requirement type="IdleCharacter" character="RuthPowers" />
			<Requirement type="IdleCharacter" character="FatTony" />
			<Requirement type="IdleCharacter" character="Legs" />
			<Requirement type="IdleCharacter" character="Louie" />
			<Requirement type="IdleCharacter" character="MichaelDAmico" />
			<Requirement type="IdleCharacter" character="FrankieTheSquealer" />
			<Requirement type="IdleCharacter" character="Molloy" />
			<Requirement type="IdleCharacter" character="JohnnyTightlips" />
			<Requirement type="IdleCharacter" character="SvenGolly" />
			<Requirement type="IdleCharacter" character="WheelsMcGrath" />
			<Requirement type="IdleCharacter" character="GuyIncognito" />
			<Requirement type="IdleCharacter" character="JackTheRipper" />
			<Requirement type="IdleCharacter" character="GeoffreyChaucer" />
			<Requirement type="IdleCharacter" character="OscarWilde" />
		</Requirement>
	</HasMonteBurnsResortCasinoJobsAvailable>
	<MuseumOfSuperFineArts_StorySegment1>
		<Requirement type="time" start="SpringfieldJobs_Start" end="SpringfieldJobs_End" />
		<Requirement type="conditional" logic="AND">
			<Requirement type="quest started" quest="TheSpringfieldJob_4" />
			<Requirement type="quest started" quest="TheSpringfieldJob_5" not="true" />
		</Requirement>
	</MuseumOfSuperFineArts_StorySegment1>
	<MuseumOfSuperFineArts_StorySegment2>
		<Requirement type="conditional" logic="AND">
			<Requirement type="quest started" quest="TheSpringfieldJob_7" />
			<Requirement type="quest started" quest="TheSpringfieldJob_8" not="true" />
		</Requirement>
	</MuseumOfSuperFineArts_StorySegment2>
	<TowerOfSpringfield_StorySegment1>
		<Requirement type="conditional" logic="AND">
			<Requirement type="quest started" quest="ItOnlyRainsEveryday_1" />
			<Requirement type="quest started" quest="ItOnlyRainsEveryday_2" not="true" />
		</Requirement>
	</TowerOfSpringfield_StorySegment1>
	<TowerOfSpringfield_StorySegment2>
		<Requirement type="conditional" logic="AND">
			<Requirement type="quest started" quest="ItOnlyRainsEveryday_3" />
			<Requirement type="quest started" quest="ItOnlyRainsEveryday_4" not="true" />
		</Requirement>
	</TowerOfSpringfield_StorySegment2>
	<MonteBurnsResortCasino_StorySegment1>
		<Requirement type="conditional" logic="AND">
			<Requirement type="quest started" quest="MonteBurnsCasinoHeist_2" />
			<Requirement type="quest started" quest="MonteBurnsCasinoHeist_3" not="true" />
		</Requirement>
	</MonteBurnsResortCasino_StorySegment1>
	<MonteBurnsResortCasino_StorySegment2>
		<Requirement type="conditional" logic="AND">
			<Requirement type="quest started" quest="MonteBurnsCasinoHeist_3" />
			<Requirement type="quest started" quest="MonteBurnsCasinoHeist_4" not="true" />
		</Requirement>
	</MonteBurnsResortCasino_StorySegment2>
	<AmericatownKumikoSailorKumikoMysteryBox_Available>
		<Requirement type="consumableCount" name="AmericatownKumikoSailorKumikoMysteryBox" requireCountMin="1" not="true" />
		<Requirement type="building owned" building="Americatown" not="true" />
		<Requirement type="characterunlocked" name="Kumiko" not="true" />
		<Requirement type="characterunlocked" name="Kumiko" unlockedskin="SailorKumiko" not="true" />
	</AmericatownKumikoSailorKumikoMysteryBox_Available>
	<AmericatownSailorKumikoMysteryBox_Available>
		<Requirement type="consumableCount" name="AmericatownSailorKumikoMysteryBox" requireCountMin="1" not="true" />
		<Requirement type="building owned" building="Americatown" not="true" />
		<Requirement type="characterunlocked" name="Kumiko" />
		<Requirement type="characterunlocked" name="Kumiko" unlockedskin="SailorKumiko" not="true" />
	</AmericatownSailorKumikoMysteryBox_Available>
	<DragonBundleGOB_Available>
		<Requirement type="consumableCount" name="DragonBundle" requireCountMin="1" not="true" />
		<Requirement type="consumable" name="DragonBundle" not="true" />
		<Requirement type="building owned" building="RedDragon" not="true" />
		<Requirement type="building owned" building="WhiteDragon" not="true" />
		<Requirement type="building owned" building="YellowDragon" not="true" />
	</DragonBundleGOB_Available>
	<HostessMissSpringfield_Bundle1_Available>
		<Requirement type="consumableCount" name="HostessMissSpringfield" requireCountMin="1" not="true" />
		<Requirement type="consumableCount" name="HostessMissSpringfield_Bundle1" requireCountMin="1" not="true" />
		<Requirement type="characterunlocked" name="MissSpringfield" />
		<Requirement type="characterunlocked" name="MissSpringfield" unlockedskin="HostessMissSpringfield" not="true" />
		<Requirement type="building owned" building="GolddiggersSign" not="true" />
	</HostessMissSpringfield_Bundle1_Available>
	<HostessMissSpringfield_Bundle2_Available>
		<Requirement type="consumableCount" name="HostessMissSpringfield" requireCountMin="1" not="true" />
		<Requirement type="consumableCount" name="HostessMissSpringfield_Bundle2" requireCountMin="1" not="true" />
		<Requirement type="building owned" building="SleepEazyMotel" not="true" />
		<Requirement type="characterunlocked" name="MissSpringfield" not="true" />
		<Requirement type="characterunlocked" name="MissSpringfield" unlockedskin="HostessMissSpringfield" not="true" />
	</HostessMissSpringfield_Bundle2_Available>
	<GingerAndAmber_Available>
		<Requirement type="consumableCount" name="GingerAndAmber" requireCountMin="1" not="true" />
		<Requirement type="characterunlocked" name="GingerFlanders" not="true" />
		<Requirement type="characterunlocked" name="AmberSimpson" not="true" />
	</GingerAndAmber_Available>
	<BartsCasinoAndCasinoBart_Available>
		<Requirement type="consumableCount" name="BartsCasinoAndCasinoBart" requireCountMin="1" not="true" />
		<Requirement type="item" item="BartsCasino" checkInventoryOnly="true" not="true" />
		<Requirement type="characterunlocked" name="Bart" unlockedskin="CasinoBossBart" not="true" />
	</BartsCasinoAndCasinoBart_Available>
	<SvenGollyPurchaseItem>
		<Requirement type="conditional" logic="OR">
			<Requirement type="item" item="MasterHypnotistTent" checkInventoryOnly="false" />
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" not="true" />
			<Requirement type="time" start="SpringfieldJobs_SvenGollyMTX_IN" end="SpringfieldJobs_SvenGollyMTX_OUT" not="true" />
		</Requirement>
	</SvenGollyPurchaseItem>
	<MonteBurnsCasinoBox_Available>
		<Requirement type="conditional" logic="AND" not="true">
			<Requirement type="building owned" building="LaBelleFrottage" />
			<Requirement type="building owned" building="PeacockLounge" />
			<Requirement type="building owned" building="CaesarsPowWowCasino" />
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:HostessMissSpringfield_Bundle1_Available" not="true" />
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:HostessMissSpringfield_Bundle2_Available" not="true" />
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:GingerAndAmber_Available" not="true" />
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:BartsCasinoAndCasinoBart_Available" not="true" />
		</Requirement>
	</MonteBurnsCasinoBox_Available>
	<WheelsMcGrathAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" />
			<Requirement type="time" start="SpringfieldJobs_FirstClassLounge_IN" end="SpringfieldJobs_FirstClassLounge_OUT" />
			<Requirement type="characterunlocked" name="WheelsMcGrath" not="true" />
		</Requirements>
	</WheelsMcGrathAvailableForUpsell>
	<CalabresiBundleAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="time" start="SpringfieldJobs_CalabresiBundle_IN" end="SpringfieldJobs_CalabresiBundle_OUT" />
				<Requirement type="time" start="SpringfieldJobs_LASTCHANCE_IN" />
			</Requirement>
			<Requirement type="conditional" logic="OR">
				<Requirement type="characterunlocked" name="DanteCalabresiJr" not="true" />
				<Requirement type="characterunlocked" name="DanteCalabresiSr" not="true" />
			</Requirement>
		</Requirements>
	</CalabresiBundleAvailableForUpsell>
	<JackTheRipperBundle_Available>
		<Requirement type="building owned" building="ScotlandYard" not="true" />
	</JackTheRipperBundle_Available>
	<WestminsterBundleAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="time" start="SpringfieldJobs_WestminsterAbbey_IN" end="SpringfieldJobs_WestminsterAbbey_OUT" />
				<Requirement type="time" start="SpringfieldJobs_LASTCHANCE_IN" />
			</Requirement>
			<Requirement type="conditional" logic="OR">
				<Requirement type="characterunlocked" name="OscarWilde" not="true" />
				<Requirement type="characterunlocked" name="GeoffreyChaucer" not="true" />
			</Requirement>
		</Requirements>
	</WestminsterBundleAvailableForUpsell>
	<GuyIncognitoAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="time" start="SpringfieldJobs_NagAndWeasel_IN" end="SpringfieldJobs_NagAndWeasel_OUT" />
				<Requirement type="time" start="SpringfieldJobs_LASTCHANCE_IN" />
			</Requirement>
			<Requirement type="characterunlocked" name="GuyIncognito" not="true" />
		</Requirements>
	</GuyIncognitoAvailableForUpsell>
	<RaoulAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" />
			<Requirement type="time" start="SpringfieldJobs_RaoulsPenthouse_IN" end="SpringfieldJobs_RaoulsPenthouse_OUT" />
			<Requirement type="characterunlocked" name="Raoul" not="true" />
		</Requirements>
	</RaoulAvailableForUpsell>
	<MolloyAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" />
			<Requirement type="time" start="SpringfieldJobs_SpringfieldMuseum_IN" end="SpringfieldJobs_SpringfieldMuseum_OUT" />
			<Requirement type="characterunlocked" name="Molloy" not="true" />
		</Requirements>
	</MolloyAvailableForUpsell>
	<JohnnyTightlipsAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:StoreCategory_Unlocked" />
			<Requirement type="time" start="SpringfieldJobs_PlatosRepublicCasino_IN" end="SpringfieldJobs_PlatosRepublicCasino_OUT" />
			<Requirement type="characterunlocked" name="JohnnyTightlips" not="true" />
		</Requirements>
	</JohnnyTightlipsAvailableForUpsell>
	<PrimoAvailableForUpsell>
		<Requirements>
			<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
			<Requirement type="characterunlocked" name="Primo" not="true" />
		</Requirements>
	</PrimoAvailableForUpsell>
</Requirements>