<Dates>
	<Date name="SpringfieldEnlightened_Start" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_Start__" />
	<Date name="SpringfieldEnlightened_Early" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_Early__" />
	<Date name="SpringfieldEnlightened_Act1Start" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_Act1Start__" />
	<Date name="SpringfieldEnlightened_Act2Start" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_Act2Start__" />
	<Date name="SpringfieldEnlightened_Act3Start" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_Act3Start__" />
	<Date name="SpringfieldEnlightened_Act4Start" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_Act4Start__" />
	<Date name="SpringfieldEnlightened_End" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_End__" />
	<Date name="SpringfieldEnlightened_TowerOfScience_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TowerOfScience_Start__" />
	<Date name="SpringfieldEnlightened_TowerOfScience_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TowerOfScience_End__" />
	<Date name="SpringfieldEnlightened_GautamaPalace_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GautamaPalace_Start__" />
	<Date name="SpringfieldEnlightened_GautamaPalace_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GautamaPalace_End__" />
	<Date name="SpringfieldEnlightened_AncientMultiplayerGame_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_AncientMultiplayerGame_Start__" />
	<Date name="SpringfieldEnlightened_AncientMultiplayerGame_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_AncientMultiplayerGame_End__" />
	<Date name="SpringfieldEnlightened_JogyesaTemple_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JogyesaTemple_Start__" />
	<Date name="SpringfieldEnlightened_JogyesaTemple_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JogyesaTemple_End__" />
	<Date name="SpringfieldEnlightened_TheTajMahal_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TheTajMahal_Start__" />
	<Date name="SpringfieldEnlightened_TheTajMahal_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TheTajMahal_End__" />
	<Date name="SpringfieldEnlightened_BannedByTheBuddhaMysteryBox_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_BannedByTheBuddhaMysteryBox_Start__" />
	<Date name="SpringfieldEnlightened_BannedByTheBuddhaMysteryBox_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_BannedByTheBuddhaMysteryBox_End__" />
	<Date name="SpringfieldEnlightened_ShintoShrine_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ShintoShrine_Start__" />
	<Date name="SpringfieldEnlightened_ShintoShrine_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ShintoShrine_End__" />
	<Date name="SpringfieldEnlightened_Pagoda_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Pagoda_Start__" />
	<Date name="SpringfieldEnlightened_Pagoda_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Pagoda_End__" />
	<Date name="SpringfieldEnlightened_ShivaStatue_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ShivaStatue_Start__" />
	<Date name="SpringfieldEnlightened_ShivaStatue_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ShivaStatue_End__" />
	<Date name="SpringfieldEnlightened_Shiva_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Shiva_Start__" />
	<Date name="SpringfieldEnlightened_Shiva_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Shiva_End__" />
	<Date name="SpringfieldEnlightened_GautamaBuddha_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GautamaBuddha_Start__" />
	<Date name="SpringfieldEnlightened_GautamaBuddha_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GautamaBuddha_End__" />
	<Date name="SpringfieldEnlightened_ThePeakInn_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ThePeakInn_Start__" />
	<Date name="SpringfieldEnlightened_ThePeakInn_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ThePeakInn_End__" />
	<Date name="SpringfieldEnlightened_ScreamapillarPond_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ScreamapillarPond_Start__" />
	<Date name="SpringfieldEnlightened_ScreamapillarPond_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ScreamapillarPond_End__" />
	<Date name="SpringfieldEnlightened_GiantScreamapillar_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GiantScreamapillar_Start__" />
	<Date name="SpringfieldEnlightened_GiantScreamapillar_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GiantScreamapillar_End__" />
	<Date name="SpringfieldEnlightened_BobsBigBuddha_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_BobsBigBuddha_Start__" />
	<Date name="SpringfieldEnlightened_BobsBigBuddha_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_BobsBigBuddha_End__" />
	<Date name="SpringfieldEnlightened_HimejiCastle_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_HimejiCastle_Start__" />
	<Date name="SpringfieldEnlightened_HimejiCastle_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_HimejiCastle_End__" />
	<Date name="SpringfieldEnlightened_Hokora_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Hokora_Start__" />
	<Date name="SpringfieldEnlightened_Hokora_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Hokora_End__" />
	<Date name="SpringfieldEnlightened_JapaneseLanternSmall_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JapaneseLanternSmall_Start__" />
	<Date name="SpringfieldEnlightened_JapaneseLanternSmall_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JapaneseLanternSmall_End__" />
	<Date name="SpringfieldEnlightened_JapaneseCherryTree_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JapaneseCherryTree_Start__" />
	<Date name="SpringfieldEnlightened_JapaneseCherryTree_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JapaneseCherryTree_End__" />
	<Date name="SpringfieldEnlightened_JapaneseMapleTree_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JapaneseMapleTree_Start__" />
	<Date name="SpringfieldEnlightened_JapaneseMapleTree_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_JapaneseMapleTree_End__" />
	<Date name="SpringfieldEnlightened_MountFuji_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_MountFuji_Start__" />
	<Date name="SpringfieldEnlightened_MountFuji_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_MountFuji_End__" />
	<Date name="SpringfieldEnlightened_Torii_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Torii_Start__" />
	<Date name="SpringfieldEnlightened_Torii_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_Torii_End__" />
	<Date name="SpringfieldEnlightened_ChineseAcrobaticTheatre_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ChineseAcrobaticTheatre_Start__" />
	<Date name="SpringfieldEnlightened_ChineseAcrobaticTheatre_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ChineseAcrobaticTheatre_End__" />
	<Date name="SpringfieldEnlightened_ThreeEyedSushi_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ThreeEyedSushi_Start__" />
	<Date name="SpringfieldEnlightened_ThreeEyedSushi_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ThreeEyedSushi_End__" />
	<Date name="SpringfieldEnlightened_ChineseJunk_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ChineseJunk_Start__" />
	<Date name="SpringfieldEnlightened_ChineseJunk_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ChineseJunk_End__" />
	<Date name="SpringfieldEnlightened_DragonBundle_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_DragonBundle_Start__" />
	<Date name="SpringfieldEnlightened_DragonBundle_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_DragonBundle_End__" />
	<Date name="SpringfieldEnlightened_GreatWallBundle_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GreatWallBundle_Start__" />
	<Date name="SpringfieldEnlightened_GreatWallBundle_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GreatWallBundle_End__" />
	<Date name="SpringfieldEnlightened_TheHappySumo_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TheHappySumo_Start__" />
	<Date name="SpringfieldEnlightened_TheHappySumo_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TheHappySumo_End__" />
	<Date name="SpringfieldEnlightened_ChineseRestaurant_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ChineseRestaurant_Start__" />
	<Date name="SpringfieldEnlightened_ChineseRestaurant_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_ChineseRestaurant_End__" />
	<Date name="SpringfieldEnlightened_TofuBell_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TofuBell_Start__" />
	<Date name="SpringfieldEnlightened_TofuBell_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_TofuBell_End__" />
	<Date name="SpringfieldEnlightened_GoldenCalfIdol_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GoldenCalfIdol_Start__" />
	<Date name="SpringfieldEnlightened_GoldenCalfIdol_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_GoldenCalfIdol_End__" />
	<Date name="SpringfieldEnlightened_DrBonebreak_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_DrBonebreak_Start__" />
	<Date name="SpringfieldEnlightened_DrBonebreak_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_DrBonebreak_End__" />
	<Date name="SpringfieldEnlightened_KwikEMartCentralOffice_IN" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_KwikEMartCentralOffice_Start__" />
	<Date name="SpringfieldEnlightened_KwikEMartCentralOffice_OUT" date="__SpringfieldEnlightened_GameConfig:Dates:SpringfieldEnlightened_MERCH_KwikEMartCentralOffice_End__" />
</Dates>