<Characters>
	<MasterList>
		<DataID id="139000" name="LindseyNaegle" />
	</MasterList>
	<Character id="139000" name="LindseyNaegle" unlockXP="25" customReminderIcon="Reminder_LindsayNaegle" customSidebarIcon="Sidebar_LindsayNaegle" customMenuIcon="LindsayNaegle_menu" customSetIcon="CharacterSets_LindsayNaegle" customUnlockIcon="Unlock_LindsayNaegle" avatar="LindsayNaegle">
		<WalkSpeed speed="50" />
		<Animations character="LindsayNaegle" />
		<Set index="7" name="MoreBusinessOwners" />
		<UnlockSound type="notFlanders" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="Adult" />
		<Group name="RegularCharacters" />
		<Group name="RegularFemale" />
		<Group name="Republican" />
		<Group name="RichPeople" />
		<Group name="Preppers" />
		<Group name="Entrepreneur" />
	</Character>
</Characters>