<Attributes>
	<Dates>
		<Attribute name="SpringfieldGames_End" value="2016-08-16 7:00:00" />
		<Attribute name="SpringfieldGames_tipEndDate" value="2016-08-16 7:00:00" />
	</Dates>
	<PinCost>
		<Attribute name="0PinCollected" value="180" />
		<Attribute name="1PinCollected" value="150" />
		<Attribute name="2PinCollected" value="120" />
		<Attribute name="3PinCollected" value="90" />
		<Attribute name="4PinCollected" value="60" />
		<Attribute name="5PinCollected" value="30" />
		<Attribute name="6PinCollected" value="0" />
	</PinCost>
	<ResourceQuantities>
		<Attribute name="ResourceList01" value="8" />
		<Attribute name="ResourceList02" value="16" />
		<Attribute name="ResourceList03" value="32" />
		<Attribute name="ResourceList04" value="40" />
		<Attribute name="ResourceList05" value="48" />
		<Attribute name="ResourceList06" value="56" />
	</ResourceQuantities>
	<RushCost>
		<Attribute name="QuestRush01" value="100" />
		<Attribute name="QuestRush02" value="60" />
		<Attribute name="QuestRush03" value="140" />
		<Attribute name="QuestRush04" value="40" />
		<Attribute name="QuestRush05" value="120" />
		<Attribute name="QuestRush06" value="80" />
	</RushCost>
	<CurrencyRewards>
		<Attribute name="RegularJobReward" value="1" />
		<Attribute name="PremiumJobReward" value="2" />
		<Attribute name="Tappables" value="1" />
		<Attribute name="BottleCapReward" value="4" />
		<Attribute name="RegularTaxJobs" value="1" />
		<Attribute name="PremiumTaxJobs" value="2" />
	</CurrencyRewards>
	<PinCraftingCost>
		<Attribute name="BCtoDonutRatio" value="1" />
		<Attribute name="Pin1" value="30" />
		<Attribute name="Pin2" value="30" />
		<Attribute name="Pin3" value="30" />
		<Attribute name="Pin4" value="30" />
		<Attribute name="Pin5" value="30" />
		<Attribute name="Pin6" value="30" />
	</PinCraftingCost>
	<UnrushableJobRules cache="true">
		<Attribute name="Enabled" value="true" />
		<Attribute name="HideButton" value="true" />
	</UnrushableJobRules>
	<FirmwareMessage>
		<Attribute name="Enabled" value="0" />
	</FirmwareMessage>
</Attributes>