<Jobs>
	<MasterList>
		<DataID id="242000" name="PracticeMakingClassyDrinks" />
		<DataID id="242001" name="ClassUpTheJoint" />
		<DataID id="242002" name="BreakUpAnotherBarFight" />
		<DataID id="242003" name="ReliveTheGloryDays" />
		<DataID id="242004" name="ShopAroundForCheaperBeerNuts" />
		<DataID id="242005" name="HitTheAirwaves" />
		<DataID id="242006" name="HaveADanceContest" />
		<DataID id="242007" name="WashTheWindshieldsOnTheBooths" />
		<DataID id="242008" name="RunWithTheWolves" />
		<DataID id="242009" name="GoSpeedDating" />
		<DataID id="242010" name="ProwlTheTown" />
		<DataID id="242011" name="RecordBullyOnTheStreet" />
		<DataID id="242012" name="GivePurpleNurples" />
		<DataID id="242013" name="HoldAPurpleNurpleMeeting" />
		<DataID id="242014" name="RobPeoplesHouses" />
		<DataID id="242015" name="BorrowGasCansFromPeoplesGarages" />
		<DataID id="242016" name="SiphonGasFromVehicles" />
		<DataID id="242017" name="GetInitiated" />
		<DataID id="242018" name="SewThePatchOnBartsGangJacket" />
		<DataID id="242019" name="PrepareBartAVirginDaiquiri" />
		<DataID id="242020" name="GoSeeTheStolenBicycleGraveyard" />
		<DataID id="242021" name="ShowBartTheEmptySwimmingPool" />
		<DataID id="242022" name="CarveBartsNameInTheDivingBoard" />
		<DataID id="242023" name="CleanTheNecklaceOfUnknownRetainers" />
		<DataID id="242024" name="PickUpHisKidFromSchool" />
		<DataID id="242025" name="GasUpTheHog" />
		<DataID id="242026" name="DemandHomerWearHisHelmet" />
		<DataID id="242027" name="RemindHomerHowTheThrottleWorks" />
		<DataID id="242028" name="DefendTurfWithHisSlingshot" />
		<DataID id="242029" name="CallForPurpleNurpleBackup" />
		<DataID id="242030" name="GiveWilburNurpleAPurpleNurple" />
		<DataID id="242031" name="WatchTheFlank" />
		<DataID id="242032" name="DefyDeathInTheBallOfDeath_Homer" />
		<DataID id="242033" name="DefyDeathInTheBallOfDeath_WilburNurple" />
		<DataID id="242034" name="ReluctantlyCheerOnHomer" />
		<DataID id="242035" name="EatItHard" />
		<DataID id="242036" name="Prevail" />
		<DataID id="242037" name="GoTalkToAbe_Spiro" />
		<DataID id="242038" name="GoTalkToAbe_RitaLaFleur" />
		<DataID id="242039" name="BreakABottleOverRamrodsHead" />
		<DataID id="242040" name="CrackAPoolCueInTwo" />
		<DataID id="242042" name="PracticeTunes" />
		<DataID id="242043" name="HandOutSpirosFlyers" />
		<DataID id="242044" name="StrictlyEnforceTheGuestList" />
		<DataID id="242045" name="StartABarFight" />
		<DataID id="242046" name="SingThroughTheFighting" />
		<DataID id="242047" name="ReOpenSpirosGyrosAndBikerLounge" />
		<DataID id="242048" name="TakeInAShow" />
		<DataID id="242049" name="HaveAMartini" />
		<DataID id="242050" name="UpdateTheMenu" />
		<DataID id="242051" name="OrderActualCheese" />
		<DataID id="242052" name="DefendTheNewMenu" />
		<DataID id="242053" name="StockGlutenFreeBurgerBuns" />
		<DataID id="242054" name="TapLocalCraftBrews" />
		<DataID id="242055" name="BuyOrganicGrassFedCageFreeLettuce" />
		<DataID id="242056" name="AddADriveThrough" />
		<DataID id="242057" name="TryToReturnSoyPickles" />
		<DataID id="242058" name="GiveTheKBLYWeatherUpdate" />
		<DataID id="242059" name="FollowWilburNurple" />
		<DataID id="242060" name="GetTipsFromWiggum" />
		<DataID id="242061" name="ImpartHisYearsOfWisdom" />
		<DataID id="242062" name="PlayPoolWithBikers" />
		<DataID id="242063" name="TestOutTheHog" />
		<DataID id="242066" name="ClassUpTheJoint_Backup" />
		<DataID id="242064" name="PracticeTunes_dual" />
		<DataID id="242065" name="SingThroughTheFighting_dual" />
		<DataID id="242500" name="IncomeTax_Spiros" />
		<DataID id="242501" name="IncomeTax_GreasersCafe" />
	</MasterList>
	<Job id="242000" name="PracticeMakingClassyDrinks" time="1h" animated="true">
		<Sequence loopThenWalk="true">
			<Loop>
				<Animation name="Practice_Making_Drinks_Active" />
			</Loop>
		</Sequence>
		<Character name="Spiro" good="true" />
	</Job>
	<Job id="242001" name="ClassUpTheJoint" time="4h" animated="true">
		<Sequence loopThenWalk="true">
			<Loop>
				<Animation name="Class_Up_The_Joint_Active_Right" flipped="Class_Up_The_Joint_Active_Left" />
			</Loop>
		</Sequence>
		<Location name="Spiros" fade="false" />
		<Character name="Spiro" good="true" />
	</Job>
	<Job id="242066" name="ClassUpTheJoint_Backup" time="4h" textpoolName="JOB_ClassUpTheJoint_name">
		<Requirements>
			<Requirement type="active quest" quest="ClassinUpTheJoint_2" />
			<Requirement type="building" building="Spiros" not="true" />
		</Requirements>
		<Location>
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Spiro" good="true" />
	</Job>
	<Job id="242002" name="BreakUpAnotherBarFight" time="8h">
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Spiro" good="false" />
	</Job>
	<Job id="242003" name="ReliveTheGloryDays" time="12h">
		<Location>
			<Building name="PeacockLounge" />
			<Building name="LittleBlackBox" />
			<Building name="OneNightStans" />
			<Building name="SnubClub" />
			<Building name="Spiros" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Spiro" good="false" />
	</Job>
	<Job id="242004" name="ShopAroundForCheaperBeerNuts" time="24h">
		<Location>
			<Building name="SprawlMart" />
			<Building name="CostMo" />
			<Building name="TryNSave" />
			<Building name="SpringfieldGroceryStore" />
			<Building name="HermansMilitaryAntiques" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Spiro" good="false" />
	</Job>
	<Job id="242005" name="HitTheAirwaves" time="1h" animated="true">
		<Sequence loopThenWalk="true">
			<Loop>
				<Animation name="Hit_The_Airwaves_Right" flipped="Hit_The_Airwaves_Left" />
			</Loop>
		</Sequence>
		<Location name="GreasersCafe" fade="false" />
		<Character name="WolfguyJack" good="true" premiumJob="true" />
	</Job>
	<Job id="242006" name="HaveADanceContest" time="4h" animated="true">
		<Sequence loopThenWalk="true">
			<Loop>
				<Random>
					<Animation name="Have_A_Dance_Contest_1_Right" flipped="Have_A_Dance_Contest_1_Left" />
					<Animation name="Have_A_Dance_Contest_2_Right" flipped="Have_A_Dance_Contest_2_Left" />
					<Animation name="Have_A_Dance_Contest_3_Right" flipped="Have_A_Dance_Contest_3_Left" />
				</Random>
			</Loop>
		</Sequence>
		<Character name="WolfguyJack" good="true" premiumJob="true" />
	</Job>
	<Job id="242007" name="WashTheWindshieldsOnTheBooths" time="8h">
		<Location name="GreasersCafe" />
		<Character name="WolfguyJack" good="false" premiumJob="true" />
	</Job>
	<Job id="242008" name="RunWithTheWolves" time="12h">
		<Location>
			<Building name="HowlHill" />
			<Building name="WolfRock" />
			<Building name="SpringfieldCursedForest" />
			<Building name="PrehistoricJungle" />
			<Building name="LavenderField" />
			<Building name="CanadianBorder" />
			<Building name="WildlifeSanctuary" />
			<Building name="WolfcastlesMansion" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WolfguyJack" good="true" premiumJob="true" />
	</Job>
	<Job id="242009" name="GoSpeedDating" time="24h">
		<Location>
			<Building name="KlubKrustyAdultRetreat" />
			<Building name="SpringfieldCommunityCenter" />
			<Building name="SpringfieldMulticulturalCenter" />
			<Building name="Bowlarama" />
			<Building name="InternationalCourtOfJustice" />
			<Building name="HardLadNightclub" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WolfguyJack" good="true" premiumJob="true" />
	</Job>
	<Job id="242010" name="ProwlTheTown" time="1h" animated="true">
		<MoveGroup updateFacingWhenIdle="false">
			<MovePick x="-1" y="1" speed="1.0">
				<Animation name="Prowl_The_Town_Front_Walk" fastBreak="true" />
			</MovePick>
			<MovePick x="1" y="-1" speed="1.0">
				<Animation name="Prowl_The_Town_Back_Walk" fastBreak="true" />
			</MovePick>
			<MovePick x="0" y="0" speed="0.0">
				<Sequence>
					<Animation name="Prowl_The_Town" loopThenWalk="true" />
				</Sequence>
			</MovePick>
		</MoveGroup>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242011" name="RecordBullyOnTheStreet" time="4h" animated="true">
		<MoveGroup updateFacingWhenIdle="false">
			<MovePick x="-1" y="1" speed="1.0">
				<Animation name="Record_Bully_Front_Walk" fastBreak="true" />
			</MovePick>
			<MovePick x="1" y="-1" speed="1.0">
				<Animation name="Record_Bully_Back_Walk" fastBreak="true" />
			</MovePick>
			<MovePick x="0" y="0" speed="0.0">
				<Sequence>
					<Animation name="Record_Bully" loopThenWalk="true" />
				</Sequence>
			</MovePick>
		</MoveGroup>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242012" name="GivePurpleNurples" time="8h">
		<Location>
			<Building name="NoiseLandVideoArcade" />
			<Building name="CaptainBlipsZapateria" />
			<Building name="WallEWeasels" />
			<Building name="ZipZapAndZa" />
			<Building name="SpringfieldElementary" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242013" name="HoldAPurpleNurpleMeeting" time="12h">
		<Location>
			<Building name="OldAbandonedWarehouse" />
			<Building name="SpringfieldMulticulturalCenter" />
			<Building name="SpringfieldCommunityCenter" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WilburNurple" good="false" premiumJob="true" />
	</Job>
	<Job id="242014" name="RobPeoplesHouses" time="24h" animated="true">
		<Group name="HomeVisitable" />
		<MovementBehavior mode="sneak">
			<BuildingVisit maxTime="4.0" minTime="2.0">
				<Group name="HomeVisitable" />
			</BuildingVisit>
		</MovementBehavior>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242015" name="BorrowGasCansFromPeoplesGarages" time="4h" temp="true">
		<Requirement type="reqList" location="SpringfieldChoppers_Requirements:MasterQuestActive" />
		<Group name="HomeVisitable" />
		<Character name="Bart" good="true" />
		<Character name="Homer" good="true" />
		<Character name="Lisa" good="true" />
		<Character name="Marge" good="true" />
		<Character name="Wiggum" good="true" />
		<Character name="Nelson" good="true" />
		<Character name="Grampa" good="true" />
		<Character name="Meathook" good="true" />
		<Character name="Ramrod" good="true" />
		<MovementBehavior mode="sneak">
			<BuildingVisit maxTime="5.0" minTime="4.0">
				<Group name="HomeVisitable" />
			</BuildingVisit>
		</MovementBehavior>
	</Job>
	<Job id="242016" name="SiphonGasFromVehicles" time="4h" animated="true" temp="true">
		<Requirement type="reqList" location="SpringfieldChoppers_Requirements:MasterQuestActive" />
		<Group name="Vehicles" fade="false" />
		<MovementBehavior mode="sneak">
			<BuildingVisit maxTime="4.0" minTime="2.0" fade="false" preferClosestUnvisited="true">
				<Group name="Vehicles" />
			</BuildingVisit>
		</MovementBehavior>
		<Character name="WolfguyJack" good="true" />
		<Character name="WilburNurple" good="true" />
	</Job>
	<Job id="242017" name="GetInitiated" time="6s" temp="true">
		<Requirement type="active quest" quest="ThereGoesMyHeroes" />
		<Location>
			<Group name="KwikEMart" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Bart" good="false" />
	</Job>
	<Job id="242018" name="SewThePatchOnBartsGangJacket" time="6s" temp="true">
		<Requirement type="active quest" quest="ThereGoesMyHeroes" />
		<Location>
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Meathook" good="true" premiumJob="true" />
	</Job>
	<Job id="242019" name="PrepareBartAVirginDaiquiri" time="6s" temp="true">
		<Requirement type="active quest" quest="ThereGoesMyHeroes" />
		<Location>
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Ramrod" good="true" premiumJob="true" />
	</Job>
	<Job id="242020" name="GoSeeTheStolenBicycleGraveyard" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_1" />
		<Location>
			<Building name="SpringfieldCemetery" />
			<Building name="FogburyCemetery" />
			<Building name="FrontierCemetery" />
			<Building name="PetCemetery" />
			<Building name="CemeteryPlot" />
			<Building name="MuntzHouse" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Bart" good="false" />
	</Job>
	<Job id="242021" name="ShowBartTheEmptySwimmingPool" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_1" />
		<Location>
			<Building name="SpringfieldCemetery" />
			<Building name="FogburyCemetery" />
			<Building name="FrontierCemetery" />
			<Building name="PetCemetery" />
			<Building name="CemeteryPlot" />
			<Building name="MuntzHouse" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Nelson" good="true" />
	</Job>
	<Job id="242022" name="CarveBartsNameInTheDivingBoard" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_1" />
		<Location>
			<Building name="SpringfieldCemetery" />
			<Building name="FogburyCemetery" />
			<Building name="FrontierCemetery" />
			<Building name="PetCemetery" />
			<Building name="CemeteryPlot" />
			<Building name="MuntzHouse" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Jimbo" good="true" />
	</Job>
	<Job id="242023" name="CleanTheNecklaceOfUnknownRetainers" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_1" />
		<Location>
			<Building name="SpringfieldCemetery" />
			<Building name="FogburyCemetery" />
			<Building name="FrontierCemetery" />
			<Building name="PetCemetery" />
			<Building name="CemeteryPlot" />
			<Building name="MuntzHouse" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Dolph" good="true" />
	</Job>
	<Job id="242024" name="PickUpHisKidFromSchool" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_1" />
		<Location>
			<Building name="AynRandSchoolForTots" />
			<Building name="StonecutterDaycareCenter" />
			<Building name="ChildCareCenter" />
			<Building name="ShelbyvilleElementary" />
			<Building name="SpringfieldElementary" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Kearney" good="false" />
	</Job>
	<Job id="242025" name="GasUpTheHog" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_2" />
		<Location>
			<Building name="SimpsonHome" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Homer" good="true" />
	</Job>
	<Job id="242026" name="DemandHomerWearHisHelmet" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_2" />
		<Location>
			<Building name="SimpsonHome" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Marge" good="false" />
	</Job>
	<Job id="242027" name="RemindHomerHowTheThrottleWorks" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_2" />
		<Location>
			<Building name="SimpsonHome" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Lisa" good="false" />
	</Job>
	<Job id="242028" name="DefendTurfWithHisSlingshot" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_3" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Bart" good="true" />
	</Job>
	<Job id="242029" name="CallForPurpleNurpleBackup" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_3" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242030" name="GiveWilburNurpleAPurpleNurple" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_3" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Meathook" good="true" premiumJob="true" />
	</Job>
	<Job id="242031" name="WatchTheFlank" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_3" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Ramrod" good="true" premiumJob="true" />
	</Job>
	<Job id="242032" name="DefyDeathInTheBallOfDeath_Homer" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_4" />
		<Location>
			<Building name="BallOfDeath" />
			<Building name="Spiros" />
			<Building name="CircleOfDeath" />
			<Building name="PoppaWheelies" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Homer" good="true" />
	</Job>
	<Job id="242033" name="DefyDeathInTheBallOfDeath_WilburNurple" time="4h" temp="true" textpoolName="JOB_DefyDeathInTheBallOfDeath_Homer_name">
		<Requirement type="active quest" quest="SpringfieldTurfWars_4" />
		<Location>
			<Building name="BallOfDeath" />
			<Building name="Spiros" />
			<Building name="CircleOfDeath" />
			<Building name="PoppaWheelies" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242034" name="ReluctantlyCheerOnHomer" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_4" />
		<Location>
			<Building name="BallOfDeath" />
			<Building name="Spiros" />
			<Building name="CircleOfDeath" />
			<Building name="PoppaWheelies" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Bart" good="false" />
	</Job>
	<Job id="242035" name="EatItHard" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_5" />
		<Location>
			<Building name="BallOfDeath" />
			<Building name="Spiros" />
			<Building name="CircleOfDeath" />
			<Building name="PoppaWheelies" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Homer" good="false" />
	</Job>
	<Job id="242036" name="Prevail" time="4h" temp="true">
		<Requirement type="active quest" quest="SpringfieldTurfWars_5" />
		<Location>
			<Building name="BallOfDeath" />
			<Building name="Spiros" />
			<Building name="CircleOfDeath" />
			<Building name="PoppaWheelies" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242037" name="GoTalkToAbe_Spiro" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_1" />
		<Location>
			<Building name="SpringfieldRetirementCastle" />
			<Building name="SimpsonHome" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Spiro" good="true" />
	</Job>
	<Job id="242038" name="GoTalkToAbe_RitaLaFleur" time="4h" temp="true" textpoolName="JOB_GoTalkToAbe_Spiro_name">
		<Requirement type="active quest" quest="ClassinUpTheJoint_1" />
		<Location>
			<Building name="SpringfieldRetirementCastle" />
			<Building name="SimpsonHome" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="RitaLaFleur" good="true" premiumJob="true" />
	</Job>
	<Job id="242039" name="BreakABottleOverRamrodsHead" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_1" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Meathook" good="true" premiumJob="true" />
	</Job>
	<Job id="242040" name="CrackAPoolCueInTwo" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_1" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Ramrod" good="true" premiumJob="true" />
	</Job>
	<Job id="242042" name="PracticeTunes" time="4h" animated="true" temp="true" waitForLinkedJobToBegin="true" rushMultiplier="2.0">
		<Requirement type="active quest" quest="ClassinUpTheJoint_2" />
		<Sequence loopThenWalk="true">
			<Loop>
				<Animation name="Play_Romantic_Tune" fastBreak="true" />
			</Loop>
		</Sequence>
		<Character name="RitaLaFleur" good="true" premiumJob="true">
			<Link job="PracticeTunes_dual" character="Grampa" />
		</Character>
	</Job>
	<Job id="242064" name="PracticeTunes_dual" textpoolName="JOB_PracticeTunes_name" time="4h" waitForLinkedJobToBegin="true" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_2" />
		<Character name="Grampa" good="true" premiumJob="true" showInMenu="false" autocomplete="true" redirectTouchTo="RitaLaFleur">
			<CustomEndConditions>
				<Requirement type="job done listener" job="PracticeTunes" character="RitaLaFleur" />
			</CustomEndConditions>
		</Character>
		<MovementBehavior>
			<Follow character="RitaLaFleur" visible="false" />
		</MovementBehavior>
	</Job>
	<Job id="242043" name="HandOutSpirosFlyers" time="4h" animated="true" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_3" />
		<Group name="Shop" fade="false" />
		<MovementBehavior mode="sneak">
			<BuildingVisit maxTime="2.0" minTime="1.0" fade="false" preferClosestUnvisited="true">
				<Group name="Shop" />
			</BuildingVisit>
		</MovementBehavior>
		<CharacterGroup name="Youngster" good="true" />
	</Job>
	<Job id="242044" name="StrictlyEnforceTheGuestList" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_4" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Spiro" good="true" />
	</Job>
	<Job id="242045" name="StartABarFight" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_4" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Meathook" good="true" premiumJob="true" />
		<Character name="Ramrod" good="true" premiumJob="true" />
	</Job>
	<Job id="242046" name="SingThroughTheFighting" time="4h" animated="true" temp="true" waitForLinkedJobToBegin="true" rushMultiplier="2.0">
		<Requirement type="active quest" quest="ClassinUpTheJoint_4" />
		<Sequence loopThenWalk="true">
			<Loop>
				<Animation name="Play_Romantic_Tune" fastBreak="true" />
			</Loop>
		</Sequence>
		<Character name="RitaLaFleur" good="true" premiumJob="true">
			<Link job="SingThroughTheFighting_dual" character="Grampa" />
		</Character>
	</Job>
	<Job id="242065" name="SingThroughTheFighting_dual" textpoolName="JOB_SingThroughTheFighting_name" time="4h" waitForLinkedJobToBegin="true" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_4" />
		<Character name="Grampa" good="true" premiumJob="true" showInMenu="false" autocomplete="true" redirectTouchTo="RitaLaFleur">
			<CustomEndConditions>
				<Requirement type="job done listener" job="SingThroughTheFighting" character="RitaLaFleur" />
			</CustomEndConditions>
		</Character>
		<MovementBehavior>
			<Follow character="RitaLaFleur" visible="false" />
		</MovementBehavior>
	</Job>
	<Job id="242047" name="ReOpenSpirosGyrosAndBikerLounge" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_5" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Spiro" good="true" />
	</Job>
	<Job id="242048" name="TakeInAShow" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_5" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Meathook" good="true" premiumJob="true" />
	</Job>
	<Job id="242049" name="HaveAMartini" time="4h" temp="true">
		<Requirement type="active quest" quest="ClassinUpTheJoint_5" />
		<Location>
			<Building name="Spiros" />
			<Building name="PoppaWheelies" />
			<Building name="Barra" />
			<Building name="BeerNBrawl" />
			<Building name="DarbyOGuzzlins" />
			<Building name="MoesTavern" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Ramrod" good="true" premiumJob="true" />
	</Job>
	<Job id="242050" name="UpdateTheMenu" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_1" />
		<Location name="GreasersCafe" />
		<Character name="WolfguyJack" good="false" premiumJob="true" />
	</Job>
	<Job id="242051" name="OrderActualCheese" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_1" />
		<Location name="GreasersCafe" />
		<Character name="SqueakyVoiceTeen" good="true" premiumJob="true" />
	</Job>
	<Job id="242052" name="DefendTheNewMenu" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_2" />
		<Location name="GreasersCafe" />
		<Character name="WolfguyJack" good="false" premiumJob="true" />
	</Job>
	<Job id="242053" name="StockGlutenFreeBurgerBuns" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_2" />
		<Location name="GreasersCafe" />
		<Character name="SqueakyVoiceTeen" good="true" premiumJob="true" />
	</Job>
	<Job id="242054" name="TapLocalCraftBrews" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_3" />
		<Location name="GreasersCafe" />
		<Character name="SqueakyVoiceTeen" good="true" premiumJob="true" />
	</Job>
	<Job id="242055" name="BuyOrganicGrassFedCageFreeLettuce" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_4" />
		<Location name="GreasersCafe" />
		<Character name="SqueakyVoiceTeen" good="true" premiumJob="true" />
	</Job>
	<Job id="242056" name="AddADriveThrough" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_5" />
		<Location name="GreasersCafe" />
		<Character name="WolfguyJack" good="false" premiumJob="true" />
	</Job>
	<Job id="242057" name="TryToReturnSoyPickles" time="4h" temp="true">
		<Requirement type="active quest" quest="GreasedIrony_5" />
		<Location name="GreasersCafe" />
		<Character name="SqueakyVoiceTeen" good="false" premiumJob="true" />
	</Job>
	<Job id="242058" name="GiveTheKBLYWeatherUpdate" time="4h" temp="true">
		<Requirement type="active quest" quest="TheBullyPulpit_1" />
		<Location>
			<Building name="KBBLRadio" />
			<Building name="KJAZZ" />
			<Building name="SpringfieldMulticulturalCenter" />
			<Building name="SpringfieldCommunityCenter" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242059" name="FollowWilburNurple" time="4h" animated="true" temp="true">
		<Requirement type="active quest" quest="TheBullyPulpit_2" />
		<MovementBehavior>
			<Follow character="WilburNurple" visible="true" distance="4" />
		</MovementBehavior>
		<Character name="Bart" good="true" />
	</Job>
	<Job id="242060" name="GetTipsFromWiggum" time="4h" temp="true">
		<Requirement type="active quest" quest="TheBullyPulpit_3" />
		<Location>
			<Building name="KBBLRadio" />
			<Building name="KJAZZ" />
			<Building name="SpringfieldCommunityCenter" />
			<Building name="SpringfieldMulticulturalCenter" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="WilburNurple" good="true" premiumJob="true" />
	</Job>
	<Job id="242061" name="ImpartHisYearsOfWisdom" time="4h" temp="true">
		<Requirement type="active quest" quest="TheBullyPulpit_3" />
		<Location>
			<Building name="KBBLRadio" />
			<Building name="KJAZZ" />
			<Building name="SpringfieldCommunityCenter" />
			<Building name="SpringfieldMulticulturalCenter" />
			<Group name="HomeVisitable" />
		</Location>
		<Character name="Wiggum" good="true" />
	</Job>
	<Job id="242062" name="PlayPoolWithBikers" time="6h">
		<Location name="Spiros" />
		<Character name="Bart" good="true" />
	</Job>
	<Job id="242063" name="TestOutTheHog" time="4h" animated="true" OnJobBeginScript="SpringfieldChoppers_Scripts:HomersMotorcycle_TestOutTheHog" OnJobDoneScript="SpringfieldChoppers_Scripts:HomersMotorcycle_TestOutTheHogDone">
		<Location name="HomersMotorcycle" />
		<Character name="Homer" good="true" />
	</Job>
</Jobs>