<Jobs>
	<MasterList>
		<DataID id="157000" name="WriteEpicPoetry" />
		<DataID id="157001" name="RallyASpringfieldCleaningCrew" />
		<DataID id="157002" name="EndureMargesNagging" />
		<DataID id="157003" name="CleanHouse" />
		<DataID id="157004" name="DigOutABasement" />
		<DataID id="157005" name="SellingBrownGold" />
		<DataID id="157006" name="NotThrowingStones" />
		<DataID id="157007" name="WorkWithFierceDiligence" />
		<DataID id="157008" name="ApplyForASecurityGuardJobAtTheGreenhouse" />
		<DataID id="157009" name="BuyPhishTickets" />
		<DataID id="157010" name="BoycottTheGreenhouse" />
		<DataID id="157011" name="GoBackToWorkAtKwikEMart" />
		<DataID id="157012" name="ComplainOnlineThatWeDidntMentionPapadosio" />
	</MasterList>
	<Job id="157000" name="WriteEpicPoetry" time="16h">
		<VisibilityRequirements>
			<Requirement type="quest" quest="BlackMoeld" />
		</VisibilityRequirements>
		<Location name="MoesHouse" />
		<Character name="Moe" good="true" premiumJob="true" />
	</Job>
	<Job id="157001" name="RallyASpringfieldCleaningCrew" time="6s" temp="true">
		<Requirement type="variable" variable="Promo_SpringCleaning_PromoActive" />
		<Location name="SimpsonHome" />
		<Character name="Marge" good="true" />
	</Job>
	<Job id="157002" name="EndureMargesNagging" time="6s">
		<VisibilityRequirements>
			<Requirement type="variable" variable="Promo_SpringCleaning_PromoActive" />
		</VisibilityRequirements>
		<Location name="SimpsonHome" />
		<CharacterGroup name="RegularCharacters" good="false">
			<ExcludeCharacter name="Marge" />
		</CharacterGroup>
		<CharacterGroup name="PremiumCharacters" premiumJob="true" good="false"></CharacterGroup>
	</Job>
	<Job id="157003" name="CleanHouse" time="6h" temp="true">
		<VisibilityRequirements>
			<Requirement type="variable" variable="SpringCleaning_QuestsAvailable" />
		</VisibilityRequirements>
		<Location name="BrownHouse" />
		<CharacterGroup name="RegularCharacters" good="false"></CharacterGroup>
		<CharacterGroup name="PremiumCharacters" premiumJob="true" good="false"></CharacterGroup>
	</Job>
	<Job id="157004" name="DigOutABasement" time="8h" temp="true">
		<Requirement type="active quest" quest="BlackMoeld" />
		<Location name="MoesHouse" />
		<Character name="Moe" good="true" premiumJob="true" />
	</Job>
	<Job id="157007" name="WorkWithFierceDiligence" time="6h">
		<VisibilityRequirements>
			<Requirement type="quest started" quest="GreenhouseAsylum_2" />
		</VisibilityRequirements>
		<Location name="SpringfieldGreenhouse" />
		<Character name="Willy" good="true" premiumJob="true" />
	</Job>
	<Job id="157008" name="ApplyForASecurityGuardJobAtTheGreenhouse" time="30m" temp="true">
		<Requirement type="active quest" quest="GreenhouseAsylum_1" />
		<Location name="SpringfieldGreenhouse" />
		<Character name="Sanjay" good="true" premiumJob="true" />
	</Job>
	<Job id="157009" name="BuyPhishTickets" time="4h" temp="true">
		<Requirement type="active quest" quest="GreenhouseAsylum_2" />
		<Location name="SimpsonHome" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="157010" name="BoycottTheGreenhouse" time="2h" temp="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="active quest" quest="GreenhouseAsylum_3" />
				<Requirement type="active quest" quest="GreenhouseAsylum_3_NoOtto" />
			</Requirement>
		</VisibilityRequirements>
		<Location name="SimpsonHome" />
		<Character name="Lisa" good="true" premiumJob="true" />
	</Job>
	<Job id="157011" name="GoBackToWorkAtKwikEMart" time="2h" temp="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="active quest" quest="GreenhouseAsylum_3" />
				<Requirement type="active quest" quest="GreenhouseAsylum_3_NoOtto" />
			</Requirement>
		</VisibilityRequirements>
		<Group name="KwikEMart" />
		<Character name="Sanjay" good="true" />
	</Job>
	<Job id="157012" name="ComplainOnlineThatWeDidntMentionPapadosio" time="2h" temp="true">
		<Requirement type="active quest" quest="GreenhouseAsylum_3" />
		<Location name="JavaServer" />
		<Character name="Otto" good="true" />
	</Job>
</Jobs>