<Characters>
	<MasterList>
		<DataID id="157000" name="StreetCleaner" />
	</MasterList>
	<Character id="157000" name="StreetCleaner" unlockXP="25" ignoredByCensus="true" hasDialogue="false" showUnlock="false">
		<PreferredGridType type="dirtroad|road|cobblestone" />
		<WalkSpeed speed="50" />
		<Animations character="StreetCleaner" />
		<UnlockSound type="roomForMore" />
		<SpeechBubbleOffset x="40" y="-90" />
		<OnEvent onObject="StreetCleaner" event="CharacterTouched">
			<Script name="StreetCleaner_Tapped" package="SpringCleaning_Scripts" />
		</OnEvent>
		<Sound event="CharacterSoundTouched" sound="sfx_Spring_Cleaning_Street_Cleaner.caf" />
		<Cost donuts="90" />
	</Character>
</Characters>