<Jobs>
	<JobDefaults>
		<Subland value="Springfield" />
	</JobDefaults>
	<Job id="105000" name="HuntForAMan" time="1h">
		<Location name="MoesTavern" />
		<Character name="CookieKwan" good="true" />
	</Job>
	<Job id="105001" name="ProtectHerTerritory" time="4h" animated="true">
		<Character name="CookieKwan" good="false" />
		<AnimationRemap Idle_Left="Protect_Her_Territory_Active_Left" Idle_Right="Protect_Her_Territory_Active_Right" Idle_Blink_Left="Protect_Her_Territory_Active_Left" Idle_Blink_Right="Protect_Her_Territory_Active_Right" Back_Walk="Protect_Her_Territory_Back_Walk" Front_Walk_Left="Protect_Her_Territory_Front_Walk_Left" Front_Walk_Right="Protect_Her_Territory_Front_Walk_Right" />
	</Job>
	<Job id="105002" name="AdvertiseSpringfieldHeights" time="8h" animated="true">
		<Character name="CookieKwan" good="true" />
		<AnimationRemap Back_Walk="Advertise_Springfield_Heights_Back_Walk_" Front_Walk_Left="Advertise_Springfield_Heights_Front_Walk_Left" Front_Walk_Right="Advertise_Springfield_Heights_Front_Walk_Right" Idle_Left="Advertise_Springfield_Heights_Active_In_Left" Idle_Right="Advertise_Springfield_Heights_Active_In_Right" Idle_Blink_Left="Advertise_Springfield_Heights_Active_In_Left" Idle_Blink_Right="Advertise_Springfield_Heights_Active_In_Right" />
		<MovementBehavior>
			<BuildingVisit maxTime="6" minTime="6" fade="false">
				<Group name="Shop" />
			</BuildingVisit>
		</MovementBehavior>
		<Group name="Shop" visit="true" fade="false" />
		<MoveGroup>
			<MovePick x="1" y="1" speed="0">
				<Sequence>
					<Loop>
						<Sequence>
							<Animation name="Advertise_Springfield_Heights_Active_In_Left" fastBreak="true" />
							<Animation name="Advertise_Springfield_Heights_Active_Left" fastBreak="true" />
							<Animation name="Advertise_Springfield_Heights_Active_Out_Left" fastBreak="true" />
						</Sequence>
					</Loop>
				</Sequence>
			</MovePick>
			<MovePick x="-1" y="-1" speed="0">
				<Sequence>
					<Loop>
						<Sequence>
							<Animation name="Advertise_Springfield_Heights_Active_In_Right" fastBreak="true" />
							<Animation name="Advertise_Springfield_Heights_Active_Right" fastBreak="true" />
							<Animation name="Advertise_Springfield_Heights_Active_Out_Right" fastBreak="true" />
						</Sequence>
					</Loop>
				</Sequence>
			</MovePick>
		</MoveGroup>
		<Reward RealEstateValue="1000" xp="70" />
	</Job>
	<Job id="105003" name="AggressivelyMakeSales" time="12h">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="place building" building="PurpleHouse" />
				<Requirement type="place building" building="BrownHouse" />
				<Requirement type="place building" building="BlueHouse" />
				<Requirement type="place building" building="PinkHouse" />
				<Requirement type="place building" building="WhiteHouse" />
				<Requirement type="place building" building="OrangeHouse" />
			</Requirement>
		</VisibilityRequirements>
		<Character name="CookieKwan" good="true" />
		<MovementBehavior mode="sneak">
			<BuildingVisit maxTime="10" minTime="10" fade="false">
				<Group name="AggressivelyMakeSalesLocations" />
			</BuildingVisit>
		</MovementBehavior>
	</Job>
	<Job id="105004" name="HackCoworkersEmails" time="24h">
		<Location name="JavaServer" />
		<Character name="CookieKwan" good="true" />
	</Job>
	<Job id="105005" name="WalkTheDog" time="1h" animated="true">
		<Character name="ParisTexan" good="true" />
		<AnimationRemap Idle_Left="Walk_The_Dog_Active" Idle_Right="Walk_The_Dog_Active" Idle="Walk_The_Dog_Active" Idle_Blink="Walk_The_Dog_Active" Back_Walk="Walk_The_Dog_Back_Walk" Front_Walk="Walk_The_Dog_Front_Walk" />
		<MovementBehavior>
			<Pose chance="0.15" checkTime="3" minRepeat="15" poseTime="5" loop="false">
				<Animation name="Walk_The_Dog_Active" />
			</Pose>
			<BuildingVisit maxTime="7" minTime="7" fade="false">
				<Group name="WalkTheDogLocations" />
				<Pose chance="1">
					<Animation name="Walk_The_Dog_Active" />
				</Pose>
			</BuildingVisit>
		</MovementBehavior>
	</Job>
	<Job id="105006" name="PoseForThePaparazzi" time="4h">
		<Location name="LamborgottiFasterossa">
			<Building name="SpringfieldLake" />
		</Location>
		<Character name="ParisTexan" good="true" />
	</Job>
	<Job id="105007" name="FilmEndorsementCommercial" time="8h">
		<Location name="Channel6" />
		<Character name="ParisTexan" good="true" />
	</Job>
	<Job id="105008" name="AttendBillionaireHaven" time="12h" animated="true">
		<Location name="BillionaireHaven" fade="false" lockPosition="true" />
		<Character name="ParisTexan" good="true" />
		<Loop>
			<Random chance="0.8">
				<Animation name="Attend_Billionaire_Haven_Active_2" shadow="false" fastBreak="true" />
				<Animation name="Attend_Billionaire_Haven_Active_1" shadow="false" fastBreak="true" />
			</Random>
		</Loop>
		<AnimationSync>
			<Sync character="Attend_Billionaire_Haven_Active_1" building="AttendBillionaireHaven1" />
			<Sync character="Attend_Billionaire_Haven_Active_2" building="AttendBillionaireHaven2" />
			<Sync character="Victory_Pose" building="Active" />
		</AnimationSync>
	</Job>
	<Job id="105009" name="ClassUpAParty" time="24h">
		<Requirements>
			<Requirement type="building" building="ClassicMansion" typetext="BLD_ClassicMansion_name" />
		</Requirements>
		<MovementBehavior>
			<BuildingVisit maxTime="2" minTime="2" fade="true">
				<Group name="ClassUpAPartyLocations" />
			</BuildingVisit>
		</MovementBehavior>
		<Character name="ParisTexan" good="true" />
	</Job>
	<Job id="105010" name="GetATouchUp" time="6h">
		<Location name="PlasticSurgeryCenter" />
		<Character name="ParisTexan" good="true" />
	</Job>
	<Job id="105011" name="BuyImportedWaterPipe" time="30s">
		<Reward Furniture="2" xp="2" />
		<Location name="Shop" />
		<Character name="Otto" good="true" showInMenu="false" />
	</Job>
	<Job id="105012" name="TestBeanBagChairs" time="30s">
		<Reward Furniture="1" xp="1" />
		<Location name="Shop" />
		<Character name="Homer" good="true" showInMenu="false" />
	</Job>
	<Job id="105013" name="LookForHandyMen" time="30s">
		<Reward Furniture="1" xp="1" />
		<Location name="Shop" />
		<Character name="Krabappel" good="true" showInMenu="false" />
	</Job>
	<Job id="105014" name="SneakBiblesIntoDrawers" time="30s">
		<Reward Furniture="1" xp="1" />
		<Location name="Shop" />
		<Character name="Ned" good="true" showInMenu="false" />
	</Job>
	<Job id="105015" name="PickupBibleDonations" time="30s">
		<Reward Furniture="1" xp="1" />
		<Location name="Shop" />
		<Character name="Lovejoy" good="true" showInMenu="false" />
	</Job>
	<Job id="105016" name="StealaMeatballs" time="30s">
		<Reward Furniture="1" xp="1" />
		<Location name="Shop" />
		<Character name="Luigi" good="true" showInMenu="false" />
	</Job>
	<Job id="105017" name="CleanEspressoMachines" time="2m">
		<Reward Latte="2" xp="3" />
		<Location name="CoffeeShop" />
		<Character name="SqueakyVoiceTeen" good="true" showInMenu="false" />
	</Job>
	<Job id="105018" name="BingeWatchTVOnFreeWifi" time="2m">
		<Reward Latte="1" xp="2" />
		<Location name="CoffeeShop" />
		<Character name="CBGuy" good="true" showInMenu="false" />
	</Job>
	<Job id="105019" name="BuyGoldFleckedLatteMacchiato" time="2m">
		<Reward Latte="1" xp="2" />
		<Location name="CoffeeShop" />
		<Character name="Burns" good="true" showInMenu="false" />
	</Job>
	<Job id="105020" name="RecitePoetryForAnnoyedPatrons" time="2m">
		<Reward Latte="1" xp="2" />
		<Location name="CoffeeShop" />
		<Character name="Lisa" good="true" showInMenu="false" />
	</Job>
	<Job id="105021" name="TryToOrderPlainBlackCoffee" time="2m">
		<Reward Latte="1" xp="2" />
		<Location name="CoffeeShop" />
		<Character name="Grampa" good="true" showInMenu="false" />
	</Job>
	<Job id="105022" name="ReviewLatestWorkInObituaries" time="2m">
		<Reward Latte="1" xp="2" />
		<Location name="CoffeeShop" />
		<Character name="Louie" good="true" showInMenu="false" />
	</Job>
	<Job id="105023" name="TestTrialMedication" time="12m">
		<Cost Latte="2" YogaMat="1" />
		<Reward Pharmaceutical="2" xp="7" />
		<Location name="PharmerJohnsPharmaceuticals" />
		<Character name="Jasper" good="true" showInMenu="false" />
	</Job>
	<Job id="105024" name="TestNewSleepAid" time="12m">
		<Cost Latte="2" YogaMat="1" />
		<Reward Pharmaceutical="1" xp="5" />
		<Location name="PharmerJohnsPharmaceuticals" />
		<Character name="Wiggum" good="true" showInMenu="false" />
	</Job>
	<Job id="105025" name="AcquireAmphetamines" time="12m">
		<Cost Latte="2" YogaMat="1" />
		<Reward Pharmaceutical="1" xp="5" />
		<Location name="PharmerJohnsPharmaceuticals" />
		<Character name="Cletus" good="true" showInMenu="false" />
	</Job>
	<Job id="105026" name="PickupBurnsPillCocktail" time="12m">
		<Cost Latte="2" YogaMat="1" />
		<Reward Pharmaceutical="1" xp="5" />
		<Location name="PharmerJohnsPharmaceuticals" />
		<Character name="Smithers" good="true" showInMenu="false" />
	</Job>
	<Job id="105027" name="InquireAboutPillCosts" time="12m">
		<Cost Latte="2" YogaMat="1" />
		<Reward Pharmaceutical="1" xp="5" />
		<Location name="PharmerJohnsPharmaceuticals" />
		<Character name="Marge" good="true" showInMenu="false" />
	</Job>
	<Job id="105028" name="FilmEndorsementCommercials" time="12m">
		<Cost Latte="2" YogaMat="1" />
		<Reward Pharmaceutical="1" xp="5" />
		<Location name="PharmerJohnsPharmaceuticals" />
		<Character name="DrHibbert" good="true" showInMenu="false" />
	</Job>
	<Job id="105029" name="WorkOnFrinkiac8" time="5m">
		<Cost Furniture="2" Latte="1" />
		<Reward SmartDevice="2" xp="5" />
		<Location name="SpringfieldHeightsInstituteOfTechnology" />
		<Character name="Frink" good="true" showInMenu="false" />
	</Job>
	<Job id="105030" name="WorkOnANewThesis" time="5m">
		<Cost Furniture="2" Latte="1" />
		<Reward SmartDevice="1" xp="3" />
		<Location name="SpringfieldHeightsInstituteOfTechnology" />
		<Character name="Apu" good="true" showInMenu="false" />
	</Job>
	<Job id="105031" name="ConsumerTestProducts" time="5m">
		<Cost Furniture="2" Latte="1" />
		<Reward SmartDevice="1" xp="3" />
		<Location name="SpringfieldHeightsInstituteOfTechnology" />
		<Character name="Milhouse" good="true" showInMenu="false" />
	</Job>
	<Job id="105032" name="CertifyVotingMachines" time="5m">
		<Cost Furniture="2" Latte="1" />
		<Reward SmartDevice="1" xp="3" />
		<Location name="SpringfieldHeightsInstituteOfTechnology" />
		<Character name="Quimby" good="true" showInMenu="false" />
	</Job>
	<Job id="105033" name="BeSubjectOfAStudy" time="5m">
		<Cost Furniture="2" Latte="1" />
		<Reward SmartDevice="1" xp="3" />
		<Location name="SpringfieldHeightsInstituteOfTechnology" />
		<Character name="Ralph" good="true" showInMenu="false" />
	</Job>
	<Job id="105034" name="EraseGroundbreakingEquations" time="5m">
		<Cost Furniture="2" Latte="1" />
		<Reward SmartDevice="1" xp="3" />
		<Location name="SpringfieldHeightsInstituteOfTechnology" />
		<Character name="Willy" good="true" showInMenu="false" />
	</Job>
	<Job id="105035" name="TeachSweatin70sWorkout" time="8m">
		<Reward YogaMat="2" xp="5" />
		<Location name="LABodyWorks" />
		<Character name="DiscoStu" good="true" showInMenu="false" />
	</Job>
	<Job id="105036" name="WatchYogaClass" time="8m">
		<Reward YogaMat="1" xp="3" />
		<Location name="LABodyWorks" />
		<Character name="Moe" good="true" showInMenu="false" />
	</Job>
	<Job id="105037" name="DropTadpolesInThePool" time="8m">
		<Reward YogaMat="1" xp="3" />
		<Location name="LABodyWorks" />
		<Character name="Bart" good="true" showInMenu="false" />
	</Job>
	<Job id="105038" name="WorkoutHisSwingArm" time="8m">
		<Reward YogaMat="1" xp="3" />
		<Location name="LABodyWorks" />
		<Character name="Legs" good="true" showInMenu="false" />
	</Job>
	<Job id="105039" name="RecruitSomeMuscle" time="8m">
		<Reward YogaMat="1" xp="3" />
		<Location name="LABodyWorks" />
		<Character name="Snake" good="true" showInMenu="false" />
		<Character name="FatTony" good="true" showInMenu="false" />
	</Job>
	<Job id="105040" name="StealDirtyTowelsForHome" time="8m">
		<Reward YogaMat="1" xp="3" />
		<Location name="LABodyWorks" />
		<Character name="Nelson" good="true" showInMenu="false" />
	</Job>
	<Job id="105041" name="AcceptAwardForChannelOcho" time="20m">
		<Cost SmartDevice="2" Pharmaceutical="2" />
		<Reward HollywoodAward="2" xp="12" />
		<Location name="HeightsTheater" />
		<Character name="BumblebeeMan" good="true" showInMenu="false" />
	</Job>
	<Job id="105042" name="ReportShowResults" time="20m">
		<Cost SmartDevice="2" Pharmaceutical="2" />
		<Reward HollywoodAward="1" xp="8" />
		<Location name="HeightsTheater" />
		<Character name="KentBrockman" good="true" showInMenu="false" />
	</Job>
	<Job id="105043" name="LoseComedyAwardToAnimal" time="20m">
		<Cost SmartDevice="2" Pharmaceutical="2" />
		<Reward HollywoodAward="1" xp="8" />
		<Location name="HeightsTheater" />
		<Character name="Krusty" good="true" showInMenu="false" />
	</Job>
	<Job id="105044" name="RidiculeOutfitsOnRedCarpet" time="20m">
		<Cost SmartDevice="2" Pharmaceutical="2" />
		<Reward HollywoodAward="1" xp="8" />
		<Location name="HeightsTheater" />
		<Character name="Agnes" good="true" showInMenu="false" />
	</Job>
	<Job id="105045" name="SetupPyrotechnics" time="20m">
		<Cost SmartDevice="2" Pharmaceutical="2" />
		<Reward HollywoodAward="1" xp="8" />
		<Location name="HeightsTheater" />
		<Character name="Herman" good="true" showInMenu="false" />
	</Job>
	<Job id="105046" name="BegForWork" time="20m">
		<Cost SmartDevice="2" Pharmaceutical="2" />
		<Reward HollywoodAward="1" xp="8" />
		<Location name="HeightsTheater" />
		<Character name="Wolfcastle" good="true" showInMenu="false" />
	</Job>
	<Job id="105047" name="FilmRealityShowSegment" time="24h">
		<Requirement type="active quest" quest="TrendFretter03" />
		<Reward HollywoodAward="1" xp="100" />
		<Location name="BillionaireHaven" />
		<Character name="ParisTexan" good="true" />
	</Job>
	<Job id="105109" name="ClearTheTunnel" time="6s" animated="true">
		<VisibilityRequirements>
			<Requirement type="quest started" quest="SpringfieldHeights03" />
			<Requirement type="quest started" quest="SpringfieldHeights04" not="true" />
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="quest started" quest="SpringfieldHeights03" />
			<Requirement type="quest started" quest="SpringfieldHeights04" not="true" />
		</Requirements>
		<Character name="Homer" good="true" />
		<AnimationRemap Idle="Blow_Up_Mountain_Active" Idle_Blink="Blow_Up_Mountain_Active" Back_Walk="Blow_Up_Mountain_Back_Walk" Front_Walk="Blow_Up_Mountain_Front_Walk" />
		<Location name="Mountain02" fade="false" />
		<Sequence>
			<Loop>
				<Sequence>
					<Animation name="Blow_Up_Mountain_Active" shadow="false" fastBreak="true" />
				</Sequence>
			</Loop>
		</Sequence>
	</Job>
</Jobs>