<Dates>
	<Date name="SpringfieldHeightsWeekOne" date="__SpringfieldHeights_GameConfig:Dates:SpringfieldHeightsWeekOne__" />
	<Date name="SpringfieldHeightsWeekTwo" date="__SpringfieldHeights_GameConfig:Dates:SpringfieldHeightsWeekTwo__" />
	<Date name="SpringfieldHeightsWeekThree" date="__SpringfieldHeights_GameConfig:Dates:SpringfieldHeightsWeekThree__" />
	<Date name="SpringfieldHeightsWeekFour" date="__SpringfieldHeights_GameConfig:Dates:SpringfieldHeightsWeekFour__" />
	<Date name="SpringfieldHeightsWeekNine" date="__SpringfieldHeights_GameConfig:Dates:SpringfieldHeightsWeekNine__" />
	<Date name="SpringfieldHeightsWeekTen" date="__SpringfieldHeights_GameConfig:Dates:SpringfieldHeightsWeekTen__" />
	<Date name="WealthyWednesday_EndDate" date="__SpringfieldHeights_GameConfig:Dates:WealthyWednesday_EndTime__" />
</Dates>