<SoundKitPackage>
	<SoundKit name="SpringfieldChoppers_Currency_Collect" channel="ui_channel" key="reward_collect_key">
		<Sound name="sfx_HomerGeddon_Gas_Can_Pickup_01_Act3" />
		<Sound name="sfx_HomerGeddon_Gas_Can_Pickup_02_Act3" />
		<Sound name="sfx_HomerGeddon_Gas_Can_Pickup_03_Act3" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Spiro_tap" channel="dialogue_channel">
		<Sound name="SPIRO_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Spiro_good" channel="dialogue_channel">
		<Sound name="SPIRO_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Spiro_bad" channel="dialogue_channel">
		<Sound name="SPIRO_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Spiro_done" channel="dialogue_channel">
		<Sound name="SPIRO_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="WolfguyJack_tap" channel="dialogue_channel">
		<Sound name="WOLFGUY_JACK_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="WolfguyJack_good" channel="dialogue_channel">
		<Sound name="WOLFGUY_JACK_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="WolfguyJack_bad" channel="dialogue_channel">
		<Sound name="WOLFGUY_JACK_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="WolfguyJack_done" channel="dialogue_channel">
		<Sound name="WOLFGUY_JACK_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Spiros_tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_beer_n_brawl" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="GreasersCafe_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldChoppers_GreasersCafe" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="StolenBicycleGraveyard_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldChoppers_StolenBicycleGraveyard" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="HomersMotorcycle_tap" channel="buildingTap_channel">
		<Sound name="sfx_DareDevil_Bart_Stunt_Bike_Tap" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="BallOfDeath_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldChoppers_BallOfDeath" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
</SoundKitPackage>