<Attributes>
	<PrizeTrack1>
		<Attribute name="Prize1" value="120" />
		<Attribute name="Prize2" value="4120" />
		<Attribute name="Prize3" value="10120" />
		<Attribute name="Prize4" value="16120" />
		<Attribute name="Prize5" value="22120" />
		<Attribute name="Prize6" value="28120" />
		<Attribute name="Prize7" value="40120" />
		<Attribute name="Prize1_Rush" value="20" />
		<Attribute name="Prize2_Rush" value="100" />
		<Attribute name="Prize3_Rush" value="100" />
		<Attribute name="Prize4_Rush" value="100" />
		<Attribute name="Prize5_Rush" value="100" />
		<Attribute name="Prize6_Rush" value="100" />
		<Attribute name="Prize7_Rush" value="100" />
	</PrizeTrack1>
	<PrizeTrack2>
		<Attribute name="Prize1" value="120" />
		<Attribute name="Prize2" value="4420" />
		<Attribute name="Prize3" value="10820" />
		<Attribute name="Prize4" value="17220" />
		<Attribute name="Prize5" value="23620" />
		<Attribute name="Prize6" value="30020" />
		<Attribute name="Prize7" value="42920" />
		<Attribute name="Prize1_Rush" value="20" />
		<Attribute name="Prize2_Rush" value="100" />
		<Attribute name="Prize3_Rush" value="100" />
		<Attribute name="Prize4_Rush" value="100" />
		<Attribute name="Prize5_Rush" value="100" />
		<Attribute name="Prize6_Rush" value="100" />
		<Attribute name="Prize7_Rush" value="100" />
	</PrizeTrack2>
	<PrizeTrack3>
		<Attribute name="Prize1" value="120" />
		<Attribute name="Prize2" value="5320" />
		<Attribute name="Prize3" value="13220" />
		<Attribute name="Prize4" value="21120" />
		<Attribute name="Prize5" value="29020" />
		<Attribute name="Prize6" value="36920" />
		<Attribute name="Prize7" value="52720" />
		<Attribute name="Prize1_Rush" value="20" />
		<Attribute name="Prize2_Rush" value="100" />
		<Attribute name="Prize3_Rush" value="100" />
		<Attribute name="Prize4_Rush" value="100" />
		<Attribute name="Prize5_Rush" value="100" />
		<Attribute name="Prize6_Rush" value="100" />
		<Attribute name="Prize7_Rush" value="100" />
	</PrizeTrack3>
	<Prestige>
		<Attribute name="PT_Prestige" value="3000" />
		<Attribute name="PT_Prestige_Act2" value="3000" />
		<Attribute name="PT_Prestige_Act3" value="3000" />
	</Prestige>
	<CraftItemsCost>
		<Attribute name="DonutRatio" value="0.15" />
		<Attribute name="TerracedHouse1" value="140" />
		<Attribute name="TerracedHouse2" value="140" />
		<Attribute name="TerracedHouse3" value="140" />
		<Attribute name="TerracedHouse4" value="140" />
		<Attribute name="TerracedHouse5" value="140" />
		<Attribute name="TerracedHouse6" value="140" />
		<Attribute name="GrandCanal1" value="200" />
		<Attribute name="GrandCanal2" value="200" />
		<Attribute name="GrandCanal4" value="200" />
		<Attribute name="Gondola" value="230" />
		<Attribute name="DaVinciAircraft" value="230" />
		<Attribute name="CheeseTruck" value="230" />
		<Attribute name="LandTokenCurrency_Act1" value="300" />
		<Attribute name="OldPhoneBooth" value="200" />
		<Attribute name="PoliceCallBox" value="200" />
		<Attribute name="QueensGuard" value="200" />
		<Attribute name="Beefeater" value="200" />
		<Attribute name="DarbyOGuzzlins" value="500" />
		<Attribute name="BritishRoundabout" value="500" />
		<Attribute name="StPaulsCathedral" value="1000" />
		<Attribute name="LandTokenCurrency_Act2" value="300" />
		<Attribute name="FirstBankOfSpringfieldATM" value="300" />
		<Attribute name="IslandCapitolBuilding" value="1350" />
		<Attribute name="ResortHotel" value="800" />
		<Attribute name="FancyOvalFountain" value="500" />
		<Attribute name="FirstPrimeMinisterOfAustraliaStatue" value="450" />
		<Attribute name="RaceCarStatue" value="400" />
		<Attribute name="LandTokenCurrency_Act3" value="300" />
		<Attribute name="GrandCanal3" value="200" />
		<Attribute name="GrandCanal5" value="220" />
	</CraftItemsCost>
	<Jobs>
		<Attribute name="4HStandard_CraftingCurrency" value="2" />
		<Attribute name="8HStandard_CraftingCurrency" value="4" />
		<Attribute name="30MPremium_EventCurrency" value="0" />
		<Attribute name="1HPremium_EventCurrency" value="0" />
		<Attribute name="2HPremium_EventCurrency" value="0" />
		<Attribute name="3HPremium_EventCurrency" value="0" />
		<Attribute name="4HPremium_EventCurrency" value="45" />
		<Attribute name="8HPremium_EventCurrency" value="90" />
		<Attribute name="10HPremium_EventCurrency" value="0" />
		<Attribute name="12HPremium_EventCurrency" value="0" />
		<Attribute name="1HStandard_EventCurrency" value="0" />
		<Attribute name="2HStandard_EventCurrency" value="15" />
		<Attribute name="4HStandard_EventCurrency" value="30" />
		<Attribute name="8HStandard_EventCurrency" value="60" />
		<Attribute name="10HStandard_EventCurrency" value="0" />
		<Attribute name="12HStandard_EventCurrency" value="0" />
		<Attribute name="4HPremium_CraftingCurrency" value="2" />
	</Jobs>
	<DCS>
		<Attribute name="Tappables_Req" value="30" />
		<Attribute name="Tappables_Weight" value="1000" />
		<Attribute name="CurrencySmall_Weight" value="1" />
		<Attribute name="CurrencyLarge_Weight" value="0" />
		<Attribute name="CurrencySmall_Reward" value="300" />
		<Attribute name="CurrencyLarge_Reward" value="0" />
		<Attribute name="FriendTappables_Req" value="3" />
		<Attribute name="FriendTappables_Weight" value="500" />
	</DCS>
	<Tappables>
		<Attribute name="DropChance_PTCurrency" value="1" />
		<Attribute name="DropChance_Craft1" value="1" />
		<Attribute name="Award_PTCurrency1" value="10" />
		<Attribute name="Award_Craft1" value="1" />
		<Attribute name="Award_PTCurrency2" value="10" />
		<Attribute name="Award_Craft2" value="1" />
		<Attribute name="Award_PTCurrency3" value="10" />
		<Attribute name="Award_Craft3" value="1" />
		<Attribute name="Friend_Award_PTCurrency1" value="5" />
		<Attribute name="Friend_Award_Craft1" value="1" />
		<Attribute name="Friend_Award_PTCurrency2" value="5" />
		<Attribute name="Friend_Award_Craft2" value="1" />
		<Attribute name="Friend_Award_PTCurrency3" value="5" />
		<Attribute name="Friend_Award_Craft3" value="1" />
		<Attribute name="SpawnRateAmount" value="1" />
		<Attribute name="SpawnPremiumMax" value="30" />
		<Attribute name="SpawnBankMax" value="0" />
		<Attribute name="SpawnMaxInTown" value="30" />
		<Attribute name="SpawnRateIntervalSeconds" value="600" />
		<Attribute name="DropChance_Social" value="0.05" />
		<Attribute name="Award_Social1" value="1" />
		<Attribute name="Award_Social2" value="1" />
		<Attribute name="Award_Social3" value="1" />
		<Attribute name="Friend_Award_Social1" value="1" />
		<Attribute name="Friend_Award_Social2" value="1" />
		<Attribute name="Friend_Award_Social3" value="1" />
		<Attribute name="Social_PTCurrency_Chance" value="0" />
		<Attribute name="Social_PTCurrency_Amount" value="0" />
		<Attribute name="Social_CraftingCurrency_Chance" value="1" />
		<Attribute name="Social_CraftingCurrency_Amount" value="2" />
	</Tappables>
	<QuestRewards>
		<Attribute name="CurrencySmall_Reward" value="100" />
		<Attribute name="CurrencyLarge_Reward" value="200" />
	</QuestRewards>
	<ArrangementBonus>
		<Attribute name="TerracedHouse1" value="2.10" />
		<Attribute name="TerracedHouse2" value="2.10" />
		<Attribute name="TerracedHouse3" value="2.10" />
		<Attribute name="TerracedHouse4" value="2.10" />
		<Attribute name="TerracedHouse5" value="2.10" />
		<Attribute name="TerracedHouse6" value="2.10" />
		<Attribute name="GrandCanal1" value="3.00" />
		<Attribute name="GrandCanal2" value="3.00" />
		<Attribute name="GrandCanal4" value="3.00" />
		<Attribute name="GrandCanal3" value="3.00" />
		<Attribute name="Gondola" value="3.45" />
		<Attribute name="DaVinciAircraft" value="3.45" />
		<Attribute name="CheeseTruck" value="3.45" />
		<Attribute name="OldPhoneBooth" value="2.00" />
		<Attribute name="PoliceCallBox" value="2.00" />
		<Attribute name="QueensGuard" value="2.00" />
		<Attribute name="Beefeater" value="2.00" />
		<Attribute name="FirstBankOfSpringfieldATM" value="4.50" />
		<Attribute name="FancyOvalFountain" value="7.50" />
		<Attribute name="FirstPrimeMinisterOfAustraliaStatue" value="6.75" />
		<Attribute name="RaceCarStatue" value="6.00" />
		<Attribute name="GrandCanal5" value="3.30" />
	</ArrangementBonus>
	<Heists>
		<Attribute name="CurrencyRewardStandard" value="30" />
		<Attribute name="CurrencyRewardPremium" value="45" />
		<Attribute name="CraftingRewardStandard" value="2" />
		<Attribute name="CraftingRewardPremium" value="3" />
	</Heists>
</Attributes>