<SoundKitPackage>
	<SoundKit name="bld_OceanSuite_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Beach_Suite" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_ElegantGrill_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Elegant_Grill" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_EliteYachtClub_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Elite_Yatch_Club" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_ExclusiveResort_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Exlusive_Resort" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_ExoticPond_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Exotic_Pond" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_LuxuryYatch_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Luxury_Yatch" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_MarketingAgency_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Marketing_Agency" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_PrivateIsland_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Exp_Private_Island" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_MountainLodge_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Heights_Mountain_Lodge" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_OperaHouse_tap" channel="buildingTap_channel">
		<Sound name="Opera_House_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="bld_GoneFission_tap" channel="buildingTap_channel">
		<Sound name="Gone_Fission_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
</SoundKitPackage>