<Jobs>
	<MasterList>
		<DataID id="162000" name="DanceWithHomer" />
		<DataID id="162001" name="Fatov_Exercise" />
		<DataID id="162002" name="Fatov_WatchTV" />
		<DataID id="162003" name="Fatov_NapInTheBrownHouse" />
		<DataID id="162004" name="DrinkExcessively" />
		<DataID id="162005" name="CountPiggybankMoney" />
		<DataID id="162006" name="ObsessAboutPins" />
		<DataID id="162007" name="PolishPinCollection" />
		<DataID id="162008" name="TryToTradeInPearlsforPins" />
		<DataID id="162009" name="PlayTheSaxForPins" />
		<DataID id="162010" name="DoTricksOnTheHalfPipe" />
		<DataID id="162011" name="PetitionForSpringfieldGames" endDate="SpringfieldGames_End" />
		<DataID id="162012" name="PlanTouristScams" endDate="SpringfieldGames_End" />
		<DataID id="162013" name="PlanPoliceAssistance" endDate="SpringfieldGames_End" />
		<DataID id="162014" name="AnnounceTheSpringfieldGames" endDate="SpringfieldGames_End" />
		<DataID id="162015" name="SuggestEvents" />
		<DataID id="162016" name="IntimidateSpringfielders" />
		<DataID id="162017" name="IncludeGoKartRacingForTheKids" />
		<DataID id="162018" name="GetExcitedForTheGames" />
		<DataID id="162019" name="GetExcitedForGoKarts" />
		<DataID id="162020" name="EncourageAdultsToStartTraining" />
		<DataID id="162021" name="ReluctantlyTrainForTheGames" />
		<DataID id="162022" name="TrainForTheGoKartRaces" />
		<DataID id="162023" name="TrainTheKidsInSecret" />
		<DataID id="162024" name="VisitTheSpringfieldPinStand" />
		<DataID id="162025" name="BuyTheSpringyPin" />
		<DataID id="162026" name="BuyJustOneMorePin" />
		<DataID id="162027" name="LightTheGamesCauldron" />
		<DataID id="162028" name="TrainForTheDodecathalon" />
		<DataID id="162029" name="ExplainTheDodecathlonRules" />
		<DataID id="162030" name="CompeteInTheDodecathalon" />
		<DataID id="162031" name="CompeteInGoKartRaces" />
		<DataID id="162033" name="WatchTheGoKartRaces" />
		<DataID id="162034" name="SuggestEvents_Premium" />
		<DataID id="162035" name="GetExcitedForTheGames_Premium" />
		<DataID id="162036" name="WatchTheGoKarts_Premium" />
		<DataID id="162050" name="DanceWithHomer_Dual" />
		<DataID id="162051" name="PlayTheSaxForPins_Pins" />
		<DataID id="162052" name="PlayTheSaxForPins_Ribbons" />
		<DataID id="162100" name="ThinkingAboutDancing" />
		<DataID id="162101" name="HosingDownTheKarts" />
		<DataID id="162102" name="CausingGnarlyWipeOuts" />
		<DataID id="162103" name="EnrichingOzoneLayer" />
	</MasterList>
	<Job id="162000" name="DanceWithHomer" time="1h" rushMultiplier="2.0" animated="true" waitToAnimate="true" waitForLinkedJobToBegin="true">
		<Location name="SpringfieldGamesPodium" fade="false" />
		<Character name="Fatov" good="true">
			<Link job="DanceWithHomer_Dual" character="Homer" />
		</Character>
		<Loop>
			<Animation name="Dance_With_Homer" fastBreak="true" />
		</Loop>
	</Job>
	<Job id="162050" name="DanceWithHomer_Dual" time="1h" waitForLinkedJobToBegin="true">
		<LinkedLocation usedLinked="true" fade="true" fadeInstantly="false" />
		<Character name="Homer" good="true" showInMenu="false" autocomplete="true" redirectTouchTo="Fatov">
			<CustomEndConditions>
				<Requirement type="job done listener" job="DanceWithHomer" character="Fatov" />
			</CustomEndConditions>
		</Character>
	</Job>
	<Job id="162001" name="Fatov_Exercise" time="4h" animated="true">
		<Character name="Fatov" good="true" />
		<Loop>
			<Animation name="Exercise" fastBreak="true" />
		</Loop>
	</Job>
	<Job id="162002" name="Fatov_WatchTV" time="8h">
		<Location name="SimpsonHome" />
		<Character name="Fatov" good="true" />
	</Job>
	<Job id="162003" name="Fatov_NapInTheBrownHouse" time="12h">
		<Location name="BrownHouse" />
		<Character name="Fatov" good="true" />
	</Job>
	<Job id="162004" name="DrinkExcessively" time="24h">
		<Location name="MoesTavern" />
		<Character name="Fatov" good="true" />
	</Job>
	<Job id="162005" name="CountPiggybankMoney" time="1h">
		<Location name="SimpsonHome" />
		<Character name="Lisa" skin="PinCollectorLisa" good="true" />
	</Job>
	<Job id="162006" name="ObsessAboutPins" time="4h">
		<Location name="SpringfieldPinStand" />
		<Character name="Lisa" skin="PinCollectorLisa" good="true" />
	</Job>
	<Job id="162007" name="PolishPinCollection" time="8h">
		<Location name="SimpsonHome" />
		<Character name="Lisa" skin="PinCollectorLisa" good="true" />
	</Job>
	<Job id="162008" name="TryToTradeInPearlsforPins" time="12h">
		<Location name="SpringfieldPinStand" />
		<Character name="Lisa" skin="PinCollectorLisa" good="false" />
	</Job>
	<Job id="162009" name="PlayTheSaxForPins" time="24h" animated="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="variable" variable="SpringfieldGames_Expired" />
				<Requirement type="variable" variable="SpringfieldGames_Complete" />
			</Requirement>
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="variable" variable="SpringfieldGames_Expired" />
				<Requirement type="variable" variable="SpringfieldGames_Complete" />
			</Requirement>
		</Requirements>
		<Character name="Lisa" skin="PinCollectorLisa" good="true" />
		<Loop>
			<Animation name="PinCollector_Play_Sax_For_Pins" />
		</Loop>
	</Job>
	<Job id="162010" name="DoTricksOnTheHalfPipe" time="3h" animated="true">
		<Requirement type="quest started" quest="HalfPipe" />
		<Location name="HalfPipe" fade="false" />
		<Character name="Bart" good="true" premiumJob="true" />
		<MoveGroup>
			<MovePick x="1" y="1" speed="0">
				<Sequence>
					<Animation name="Skateboard_Tricks_Active_1" fastBreak="true" />
					<Random chance="0.5">
						<Animation name="Skateboard_Tricks_Active_2" fastBreak="true" />
						<Animation name="Skateboard_Tricks_Active_3" fastBreak="true" />
					</Random>
				</Sequence>
			</MovePick>
			<MovePick x="-1" y="-1" speed="0">
				<Sequence>
					<Animation name="Skateboard_Tricks_Active_1" fastBreak="true" />
					<Random chance="0.5">
						<Animation name="Skateboard_Tricks_Active_2" fastBreak="true" />
						<Animation name="Skateboard_Tricks_Active_3" fastBreak="true" />
					</Random>
				</Sequence>
			</MovePick>
		</MoveGroup>
	</Job>
	<Job id="162011" name="PetitionForSpringfieldGames" time="6s" temp="true">
		<Requirement type="variable" variable="SpringfieldGames_InroQuestsActive" />
		<Location name="TownHall" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="162012" name="PlanTouristScams" time="6s" temp="true">
		<Requirement type="variable" variable="SpringfieldGames_InroQuestsActive" />
		<Location name="TownHall" />
		<Character name="Snake" good="true" />
	</Job>
	<Job id="162013" name="PlanPoliceAssistance" time="6s" temp="true">
		<Requirement type="variable" variable="SpringfieldGames_InroQuestsActive" />
		<Location name="TownHall" />
		<Character name="Wiggum" good="true" />
	</Job>
	<Job id="162014" name="AnnounceTheSpringfieldGames" time="6s" temp="true">
		<Requirement type="variable" variable="SpringfieldGames_InroQuestsActive" />
		<Location name="TownHall" />
		<Character name="Quimby" good="true" />
	</Job>
	<Job id="162015" name="SuggestEvents" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_1" />
		<Location name="TownHall" />
		<CharacterGroup name="RegularCharacters" good="true"></CharacterGroup>
	</Job>
	<Job id="162016" name="IntimidateSpringfielders" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_1" />
		<Location name="TownHall" />
		<Character name="Homer" good="true" />
	</Job>
	<Job id="162017" name="IncludeGoKartRacingForTheKids" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_2" />
		<Location name="SpringfieldElementary" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="162018" name="GetExcitedForTheGames" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_2" />
		<Location name="SpringfieldElementary" />
		<Character name="Skinner" good="true" />
		<Character name="Homer" good="true" />
		<Character name="Quimby" good="true" />
		<Character name="Moe" good="true" />
	</Job>
	<Job id="162019" name="GetExcitedForGoKarts" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_2" />
		<Location name="SpringfieldElementary" />
		<Character name="Bart" good="true" />
		<Character name="Milhouse" good="true" />
		<Character name="Nelson" good="true" />
		<Character name="Martin" good="true" />
	</Job>
	<Job id="162020" name="EncourageAdultsToStartTraining" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_3" />
		<Location name="SpringfieldElementary" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="162021" name="ReluctantlyTrainForTheGames" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_3" />
		<Location name="SpringfieldElementary" />
		<Character name="Skinner" good="false" />
		<Character name="Homer" good="false" />
		<Character name="Moe" good="false" />
		<Character name="Lenny" good="false" />
		<Character name="Carl" good="false" />
	</Job>
	<Job id="162022" name="TrainForTheGoKartRaces" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="active quest" quest="SpringfieldGames_3" />
				<Requirement type="active quest" quest="SpringfieldGames_4" />
				<Requirement type="active quest" quest="SpringfieldGames_5" />
			</Requirement>
		</Requirements>
		<Location name="SpringfieldElementary" />
		<Character name="Bart" good="true" />
		<Character name="Milhouse" good="true" />
		<Character name="Nelson" good="true" />
		<Character name="Martin" good="true" />
	</Job>
	<Job id="162023" name="TrainTheKidsInSecret" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Premium">
		<Requirement type="conditional" logic="OR">
			<Requirement type="active quest" quest="SpringfieldGames_3" />
			<Requirement type="active quest" quest="SpringfieldGames_4" />
			<Requirement type="active quest" quest="SpringfieldGames_5" />
			<Requirement type="active quest" quest="SpringfieldGames_6" />
		</Requirement>
		<Location name="SpringfieldElementary" />
		<Character name="Lugash" good="true" premiumJob="true" />
	</Job>
	<Job id="162024" name="VisitTheSpringfieldPinStand" time="6s" temp="true">
		<Requirement type="active quest" quest="APricklyObsession_1" />
		<Location name="SpringfieldPinStand" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="162025" name="BuyTheSpringyPin" time="6s" temp="true">
		<Requirement type="active quest" quest="APricklyObsession_2" />
		<Location name="SpringfieldPinStand" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="162026" name="BuyJustOneMorePin" time="6s" temp="true">
		<Requirement type="active quest" quest="APricklyObsession_2B" />
		<Location name="SpringfieldPinStand" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="162027" name="LightTheGamesCauldron" time="3h" temp="true" OnJobStartedScript="SpringfieldGames_Scripts:HomerOnLightJob" OnJobDoneScript="SpringfieldGames_Scripts:LitCauldronSuccessful">
		<Requirement type="active quest" quest="SpringfieldGames_4" />
		<Location name="SpringfieldGamesCauldron" />
		<Character name="Homer" good="true" />
	</Job>
	<Job id="162028" name="TrainForTheDodecathalon" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_4" />
		<Location name="SpringfieldElementary" />
		<Character name="Skinner" good="true" />
		<Character name="Homer" good="true" />
		<Character name="Moe" good="true" />
		<Character name="Lenny" good="true" />
		<Character name="Carl" good="false" />
	</Job>
	<Job id="162029" name="ExplainTheDodecathlonRules" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_5" />
		<Location name="SpringfieldElementary" />
		<Character name="Lisa" good="true" />
	</Job>
	<Job id="162030" name="CompeteInTheDodecathalon" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_5" />
		<Location name="SpringfieldElementary" />
		<Character name="Skinner" good="true" />
		<Character name="Homer" good="true" />
		<Character name="Moe" good="true" />
		<Character name="Lenny" good="true" />
		<Character name="Carl" good="true" />
	</Job>
	<Job id="162031" name="CompeteInGoKartRaces" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_6" />
		<Location>
			<Building name="GoKartTrack_NoBetting" />
			<Building name="GoKartTrack" />
		</Location>
		<Character name="Bart" good="true" />
		<Character name="Milhouse" good="true" />
		<Character name="Nelson" good="true" />
		<Character name="Martin" good="true" />
		<Character name="Skinner" good="true" />
		<Character name="Homer" good="true" />
		<Character name="Moe" good="true" />
		<Character name="Lenny" good="true" />
		<Character name="Carl" good="true" />
	</Job>
	<Job id="162033" name="WatchTheGoKartRaces" time="3h" temp="true" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirement type="active quest" quest="SpringfieldGames_6" />
		<Location>
			<Building name="GoKartTrack_NoBetting" />
			<Building name="GoKartTrack" />
		</Location>
		<Character name="Quimby" good="true" />
	</Job>
	<Job id="162034" name="SuggestEvents_Premium" time="3h" temp="true" textpoolName="JOB_SuggestEvents_name" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Premium">
		<Requirement type="active quest" quest="SpringfieldGames_1" />
		<Location name="TownHall" />
		<CharacterGroup name="PremiumCharacters" premiumJob="true" good="true"></CharacterGroup>
	</Job>
	<Job id="162035" name="GetExcitedForTheGames_Premium" time="3h" temp="true" textpoolName="JOB_GetExcitedForTheGames_name" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Premium">
		<Requirement type="active quest" quest="SpringfieldGames_2" />
		<Location name="SpringfieldElementary" />
		<Character name="Lugash" good="true" />
	</Job>
	<Job id="162036" name="WatchTheGoKarts_Premium" time="3h" temp="true" textpoolName="JOB_WatchTheGoKartRaces_name" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Premium">
		<Requirement type="active quest" quest="SpringfieldGames_6" />
		<Location>
			<Building name="GoKartTrack_NoBetting" />
			<Building name="GoKartTrack" />
		</Location>
		<Character name="Lugash" good="true" />
	</Job>
	<Job id="162051" name="PlayTheSaxForPins_Pins" time="3h" temp="true" animated="true" OnJobDoneScript="SpringfieldGames_PinCollectionScripts:PinCollectorLisa_PlaySaxForPins" rushRulesPackageName="SpringfieldGames_GameConfig:UnrushableJobRules" textpoolName="JOB_PlayTheSaxForPins_name">
		<Requirements>
			<Requirement type="time" end="SpringfieldGames_End" />
			<Requirement type="quest" quest="RewardFatov" not="true" />
		</Requirements>
		<Character name="Lisa" skin="PinCollectorLisa" good="true" />
		<Loop>
			<Animation name="PinCollector_Play_Sax_For_Pins" />
		</Loop>
		<CustomRewardString params="g|SpringfieldGames_Pins,s|1,g|XP,s|35" />
	</Job>
	<Job id="162052" name="PlayTheSaxForPins_Ribbons" time="3h" temp="true" animated="true" textpoolName="JOB_PlayTheSaxForPins_name" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Regular">
		<Requirements>
			<Requirement type="conditional" logic="AND">
				<Requirement type="variable" variable="SpringfieldGames_Expired" not="true" />
				<Requirement type="variable" variable="SpringfieldGames_Complete" not="true" />
			</Requirement>
			<Requirement type="conditional" logic="OR">
				<Requirement type="quest" quest="RewardFatov" />
				<Requirement type="time" start="SpringfieldGames_End" />
			</Requirement>
		</Requirements>
		<Character name="Lisa" skin="PinCollectorLisa" good="true" />
		<Loop>
			<Animation name="PinCollector_Play_Sax_For_Pins" />
		</Loop>
		<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
	</Job>
</Jobs>