<Buildings>
	<MasterList>
		<DataID id="162000" name="HalfPipe" />
		<DataID id="162001" name="GoKartTrack_NoBetting" />
		<DataID id="162002" name="GoKartTrack" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="true" />
		<MultiPlace value="false" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="true" />
		<TaxJobPackage value="SpringfieldGames_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="162000" name="HalfPipe" type="AnimatedDecoration" renderTag="building" xpValue="100">
		<Requirements>
			<Requirement type="level" level="5" hideFromInfo="true" />
		</Requirements>
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<Cost donuts="80" />
		<Falls value="false" />
		<RatingElem decoration="400" />
		<Group name="MiscCash" />
		<OnEvent event="BuildingTouched" onObject="HalfPipe">
			<Script name="HalfPipe_Tapped" package="SpringfieldGames_Scripts" />
		</OnEvent>
		<GridType type="grass|pavement|beach|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Job id="162102" name="CausingGnarlyWipeOuts" time="3h" />
		<ActiveAnimationController name="HalfPipe_Active" />
		<NeutralAnimationController name="Neutral" />
		<BSv2 name="HalfPipe" flippedname="HalfPipeFlipped" />
	</Building>
	<Building id="162001" name="GoKartTrack_NoBetting" type="Building" xpValue="100">
		<Requirements>
			<Requirement type="level" level="5" hideFromInfo="true" />
		</Requirements>
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<Cost money="0" />
		<OnEvent event="BuildingTouched" onObject="GoKartTrack_NoBetting">
			<Script name="GoKartTrack_Tapped" package="SpringfieldGames_Scripts" />
		</OnEvent>
		<Group name="MiscCash" />
		<RatingElem decoration="200" />
		<GridType type="grass|pavement|beach|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<BSv2 name="GoKartTrack" flippedname="GoKartTrackFlipped" />
		<Job id="162101" name="HosingDownTheKarts" time="3h" />
	</Building>
	<Building id="162002" name="GoKartTrack" type="Building" xpValue="0">
		<Requirements>
			<Requirement type="level" level="5" hideFromInfo="true" />
		</Requirements>
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<Cost donuts="60" />
		<OnEvent event="BuildingTouched" onObject="GoKartTrack">
			<Script name="GoKartTrack_Tapped" package="SpringfieldGames_Scripts" />
		</OnEvent>
		<RatingElem decoration="200" />
		<Casino name="GoKartTrack" />
		<GridType type="grass|pavement|beach|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<BSv2 name="GoKartTrack" flippedname="GoKartTrackFlipped" />
	</Building>
</Buildings>