<Attributes>
	<MenuConfig>
		<Attribute name="configRoot">
			<AttributeSet name="titleText">
				<Attribute name="text" value="UI_SpringfieldJobs_TappableReward_Title" localise="true" />
				<Attribute name="font" value="eFont_Special" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="messageText">
				<Attribute name="text" value="UI_SpringfieldJobs_TappableReward_Message" localise="true" />
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="fromWhomText">
				<Attribute name="text" value="UI_SpringfieldJobs_TappableReward_FromWhom" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="resourcesGainedText">
				<Attribute name="text" value="UI_SpringfieldJobs_TappableReward_ResourcesGained" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="noFriendsText">
				<Attribute name="text" value="UI_SpringfieldJobs_SocialSummary_NoFriends" localise="true" />
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="resourceQuantityText">
				<Attribute name="text" value="UI_SpringfieldJobs_TappableReward_Count" />
				<Attribute name="font" value="eFont_Normal" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="playerNameText">
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="okButtonText">
				<Attribute name="text" value="GEN_OK" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
		</Attribute>
		<Attribute name="spendablesToShow">
			<AttributeSet>
				<Attribute name="spendableName" value="SpringfieldJobs_ActivePrizeTrackCurrency" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="spendableName" value="SpringfieldJobs_CraftingCurrency" />
			</AttributeSet>
		</Attribute>
	</MenuConfig>
</Attributes>