<Attributes>
	<StoreShortcut_TripleWide>
		<Attribute>
			<Attribute name="StoreRule" value="XMAS2014ShortCutTriple" />
			<Attribute name="StoreIcon" value="BSE_SpringfieldJobs_ThreePanel" />
		</Attribute>
	</StoreShortcut_TripleWide>
	<StoreShortcut_SingleWide>
		<Attribute>
			<Attribute name="StoreRule" value="XMAS2014ShortCutSingle" />
			<Attribute name="StoreIcon" value="ICO_STOR_Single_SpringfieldJobs_Event" />
		</Attribute>
	</StoreShortcut_SingleWide>
	<General_ArrangementBonusProgressPopup_MenuConfig>
		<Attribute name="Objects">
			<AttributeSet name="TitleText">
				<Attribute name="text" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="text" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="text" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
	</General_ArrangementBonusProgressPopup_MenuConfig>
	<General_ArrangementBonusPreviewPopup_MenuConfig>
		<Attribute name="Objects">
			<AttributeSet name="TitleText">
				<Attribute name="text" value="UI_ArrangementBonus_PreviewPopup_Title" localise="true" />
			</AttributeSet>
			<AttributeSet name="CurrencyIcon">
				<Attribute name="image" value="ICO_CUR_SpringfieldJobs_Act1Currency_LG" />
				<Attribute name="image" value="ICO_CUR_SpringfieldJobs_Act2Currency_LG">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="image" value="ICO_CUR_SpringfieldJobs_Act3Currency_LG">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
	</General_ArrangementBonusPreviewPopup_MenuConfig>
	<ArrangementBonusProgressPopup_ProgressBarConfig_MuseumOfSuperFineArts>
		<Attribute name="ProgressBars">
			<AttributeSet name="CooldownProgressBarFill">
				<Attribute name="customProgressBar" value="true" />
				<Attribute name="reloadWhenComplete" value="true" />
				<Attribute name="progressBarComponent" value="CooldownProgressBarFill" />
				<Attribute name="progressBarTextComponent" value="PrecentageText" />
				<Attribute name="timeTextComponent" value="PrecentageText" />
				<Attribute name="progressPerc" formula="                 #program;                 var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));                 var bonus = round(((Building::getArrangeBonus(object))*100))/100;                 var max = 20;                 return bonus/max;" />
				<Attribute name="progressTextModify" value="{0}%" parameters="textParams">
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;                         var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));                         return (round(((Building::getArrangeBonus(object))*100))/100);" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</ArrangementBonusProgressPopup_ProgressBarConfig_MuseumOfSuperFineArts>
	<ArrangementBonusProgressPopup_ProgressBarConfig_TowerOfSpringfield>
		<Attribute name="ProgressBars">
			<AttributeSet name="CooldownProgressBarFill">
				<Attribute name="customProgressBar" value="true" />
				<Attribute name="reloadWhenComplete" value="true" />
				<Attribute name="progressBarComponent" value="CooldownProgressBarFill" />
				<Attribute name="progressBarTextComponent" value="PrecentageText" />
				<Attribute name="timeTextComponent" value="PrecentageText" />
				<Attribute name="progressPerc" formula="                 #program;                 var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));                var bonus = round(((Building::getArrangeBonus(object))*100))/100;                 var max = 20;                 return bonus/max;" />
				<Attribute name="progressTextModify" value="{0}%" parameters="textParams">
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;                         var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));                         return (round(((Building::getArrangeBonus(object))*100))/100);" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</ArrangementBonusProgressPopup_ProgressBarConfig_TowerOfSpringfield>
	<ArrangementBonusProgressPopup_ProgressBarConfig_MonteBurnsResortCasino>
		<Attribute name="ProgressBars">
			<AttributeSet name="CooldownProgressBarFill">
				<Attribute name="customProgressBar" value="true" />
				<Attribute name="reloadWhenComplete" value="true" />
				<Attribute name="progressBarComponent" value="CooldownProgressBarFill" />
				<Attribute name="progressBarTextComponent" value="PrecentageText" />
				<Attribute name="timeTextComponent" value="PrecentageText" />
				<Attribute name="progressPerc" formula="                 #program;                 var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));                 var bonus = round(((Building::getArrangeBonus(object))*100))/100;                 var max = 20;                 return bonus/max;" />
				<Attribute name="progressTextModify" value="{0}%" parameters="textParams">
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;                         var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));                         return (round(((Building::getArrangeBonus(object))*100))/100);" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</ArrangementBonusProgressPopup_ProgressBarConfig_MonteBurnsResortCasino>
	<ArrangementBonusStatusMenuComponentMenuConfig>
		<Attribute name="ArrangementBonus">
			<AttributeSet name="ArrangementBonus">
				<Attribute name="componentCount" value="1" />
			</AttributeSet>
			<AttributeSet name="CooldownIcon">
				<Attribute name="image" value="ICO_CUR_SpringfieldJobs_Act1Currency_LG" />
				<Attribute name="image" value="ICO_CUR_SpringfieldJobs_Act2Currency_LG">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="image" value="ICO_CUR_SpringfieldJobs_Act3Currency_LG">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="CooldownTitleText">
				<Attribute name="text" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="text" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="text" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
		</Attribute>
	</ArrangementBonusStatusMenuComponentMenuConfig>
	<ArrangementBonusStatusMenuComponentButtonsConfig>
		<Attribute name="Buttons">
			<AttributeSet name="ExitButton">
				<Attribute name="script" value="MiscScripts:GoToInGameWithSound" />
			</AttributeSet>
			<AttributeSet name="BackButton">
				<Attribute name="script" value="MiscScripts:GoToInGameWithSound" />
			</AttributeSet>
		</Attribute>
	</ArrangementBonusStatusMenuComponentButtonsConfig>
	<ArrangementBonusStatusMenuComponentProgressBarConfig>
		<Attribute name="customProgressBar" value="true" />
		<Attribute name="reloadWhenComplete" value="false" />
		<Attribute name="progressBarComponent" value="CooldownProgressBarFill" />
		<Attribute name="progressBarTextComponent" value="PrecentageText" />
		<Attribute name="timeTextComponent" value="PrecentageText" />
	</ArrangementBonusStatusMenuComponentProgressBarConfig>
	<ArrangementBonusStatusMenuComponentProgressBarConfig_MuseumOfSuperFineArts>
		<Attribute name="ProgressBars">
			<AttributeSet name="CooldownProgressBarFill">
				<Include path="SpringfieldJobs_MenuConfig:ArrangementBonusStatusMenuComponentProgressBarConfig" />
				<Attribute name="progressPerc" formula="                 #program;                 var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));                 var bonus = round(((Building::getArrangeBonus(object))*100))/100;                 var max = 20;                 return bonus/max;" />
				<Attribute name="progressTextModify" value="{0}%" parameters="textParams">
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;                         var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));                         return (round(((Building::getArrangeBonus(object))*100))/100);" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</ArrangementBonusStatusMenuComponentProgressBarConfig_MuseumOfSuperFineArts>
	<ArrangementBonusStatusMenuComponentProgressBarConfig_TowerOfSpringfield>
		<Attribute name="ProgressBars">
			<AttributeSet name="CooldownProgressBarFill">
				<Include path="SpringfieldJobs_MenuConfig:ArrangementBonusStatusMenuComponentProgressBarConfig" />
				<Attribute name="progressPerc" formula="                 #program;                 var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));                var bonus = round(((Building::getArrangeBonus(object))*100))/100;                 var max = 20;                 return bonus/max;" />
				<Attribute name="progressTextModify" value="{0}%" parameters="textParams">
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;                         var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));                         return (round(((Building::getArrangeBonus(object))*100))/100);" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</ArrangementBonusStatusMenuComponentProgressBarConfig_TowerOfSpringfield>
	<ArrangementBonusStatusMenuComponentProgressBarConfig_MonteBurnsResortCasino>
		<Attribute name="ProgressBars">
			<AttributeSet name="CooldownProgressBarFill">
				<Include path="SpringfieldJobs_MenuConfig:ArrangementBonusStatusMenuComponentProgressBarConfig" />
				<Attribute name="progressPerc" formula="                 #program;                 var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));                 var bonus = round(((Building::getArrangeBonus(object))*100))/100;                 var max = 20;                 return bonus/max;" />
				<Attribute name="progressTextModify" value="{0}%" parameters="textParams">
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;                         var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));                         return (round(((Building::getArrangeBonus(object))*100))/100);" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</ArrangementBonusStatusMenuComponentProgressBarConfig_MonteBurnsResortCasino>
	<HeistsJobList_Intro>
		<Merge path="Config_JobList:Default" />
		<Attribute name="ExitButtonScript" value="MiscScripts:GoToInGame" />
		<Attribute name="JobsToShow">
			<AttributeSet>
				<Attribute name="jobName" value="PlanHeist_Intro" />
			</AttributeSet>
		</Attribute>
		<Attribute name="JobBuilding" value="BrownHouse" />
		<Attribute name="MenuConfig">
			<AttributeSet name="titleText">
				<Attribute name="text" value="BLD_BrownHouse_name" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_JobTip">
				<Attribute name="text" value="UI_PremiumSlot_tiptext" localise="true" />
				<Attribute name="font" value="eFont_XS" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowL">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowRRect">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
		</Attribute>
	</HeistsJobList_Intro>
	<HeistsJobList_MuseumOfSuperFineArts>
		<Merge path="Config_JobList:Default" />
		<Attribute name="ExitButtonScript" value="MiscScripts:GoToInGame" />
		<Attribute name="JobsToShow">
			<AttributeSet>
				<Attribute name="jobName" value="PlanHeist_MuseumOfSuperFineArts" />
				<Attribute name="UpsellCharacters">
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="WheelsMcGrath" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetWheelsMcGrathNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:CalabresiBundleAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="DanteCalabresiSr" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetCalabresiBundleNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:CalabresiBundleAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:MolloyAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="Molloy" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetMolloyNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:CalabresiBundleAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:MolloyAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:JohnnyTightlipsAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="JohnnyTightlips" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetJohnnyTightlipsNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:CalabresiBundleAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:MolloyAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:JohnnyTightlipsAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:PrimoAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="Primo" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GoToPrimo_PrizeTrack" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="JobBuilding" value="MuseumOfSuperFineArts" />
		<Attribute name="MenuConfig">
			<AttributeSet name="titleText">
				<Attribute name="text" value="BLD_MuseumOfSuperFineArts_name" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_JobTip">
				<Attribute name="text" value="UI_PremiumSlot_tiptext" localise="true" />
				<Attribute name="font" value="eFont_XS" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowL">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowRRect">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
		</Attribute>
	</HeistsJobList_MuseumOfSuperFineArts>
	<HeistsJobList_TowerOfSpringfield>
		<Merge path="Config_JobList:Default" />
		<Attribute name="ExitButtonScript" value="MiscScripts:GoToInGame" />
		<Attribute name="JobsToShow">
			<AttributeSet>
				<Attribute name="jobName" value="PlanHeist_TowerOfSpringfield" />
				<Attribute name="UpsellCharacters">
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="WheelsMcGrath" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetWheelsMcGrathNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WestminsterBundleAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="OscarWilde" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetWestminsterBundleNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WestminsterBundleAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="GuyIncognito" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetGuyIncognitoNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WestminsterBundleAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:MolloyAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="Molloy" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetMolloyNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WestminsterBundleAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:MolloyAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:JohnnyTightlipsAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="JohnnyTightlips" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetJohnnyTightlipsNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WestminsterBundleAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:MolloyAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:JohnnyTightlipsAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:PrimoAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="Primo" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GoToPrimo_PrizeTrack" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="JobBuilding" value="TowerOfSpringfield" />
		<Attribute name="MenuConfig">
			<AttributeSet name="titleText">
				<Attribute name="text" value="BLD_TowerOfSpringfield_name" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_JobTip">
				<Attribute name="text" value="UI_PremiumSlot_tiptext" localise="true" />
				<Attribute name="font" value="eFont_XS" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowL">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowRRect">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
		</Attribute>
	</HeistsJobList_TowerOfSpringfield>
	<HeistsJobList_MonteBurnsResortCasino>
		<Merge path="Config_JobList:Default" />
		<Attribute name="ExitButtonScript" value="MiscScripts:GoToInGame" />
		<Attribute name="JobsToShow">
			<AttributeSet>
				<Attribute name="jobName" value="PlanHeist_MonteBurnsResortCasino" />
				<Attribute name="UpsellCharacters">
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="WheelsMcGrath" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetWheelsMcGrathNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="GuyIncognito" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetGuyIncognitoNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:RaoulAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="Raoul" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetRaoulNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:RaoulAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:JohnnyTightlipsAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="JohnnyTightlips" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GetJohnnyTightlipsNow" />
					</AttributeSet>
					<AttributeSet>
						<Requirements>
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:WheelsMcGrathAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:GuyIncognitoAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:RaoulAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:JohnnyTightlipsAvailableForUpsell" not="true" />
							<Requirement type="reqList" location="SpringfieldJobs_Requirements:PrimoAvailableForUpsell" />
						</Requirements>
						<Attribute name="character" value="Primo" />
						<Attribute name="getNowScript" value="SpringfieldJobs_Scripts:GoToPrimo_PrizeTrack" />
					</AttributeSet>
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="JobBuilding" value="MonteBurnsResortCasino" />
		<Attribute name="MenuConfig">
			<AttributeSet name="titleText">
				<Attribute name="text" value="BLD_MonteBurnsResortCasino_name" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_JobTip">
				<Attribute name="text" value="UI_PremiumSlot_tiptext" localise="true" />
				<Attribute name="font" value="eFont_XS" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowL">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
			<AttributeSet name="premium_GetNowArrowRRect">
				<Attribute name="color" value="D03484FF" />
			</AttributeSet>
		</Attribute>
	</HeistsJobList_MonteBurnsResortCasino>
	<SpringfieldJobs_BuildingFinder>
		<Attribute name="helpButtonScript" value="SpringfieldJobs_Scripts:GuidePanel_BuildingFinder" />
		<Attribute name="TitleText" value="UI_FindBuilding" localise="true" />
		<Attribute name="Building_StorageTitle" value="UI_Storage" localise="true" />
		<Attribute name="GoToButtonText" value="UI_GoTo" localise="true" />
		<Attribute name="GoToButtonTextHL" value="UI_GoTo" localise="true" />
		<Attribute name="storageFullColor" value="FF5555FF" />
		<Attribute name="endTime" value="SpringfieldJobs_End" />
		<Attribute name="BuildingAvailable" value="true" />
		<Attribute name="buildings">
			<AttributeSet>
				<Attribute name="id" value="197012" />
				<Attribute name="menuImage" value="MuseumOfSuperFineArts_menu.rgb" />
				<Attribute name="lockedText" value="UI_Monorail_FindBuilding_NotOwned" localise="true" />
				<Attribute name="inventoryText" value="UI_Monorail_FindBuilding_InStorage" localise="true" />
				<Attribute name="availableText" value="UI_XMAS2016_Info_JobsAvailable" localise="true" />
				<Attribute name="noJobsText" value="UI_NoJobsAvailable" localise="true">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HasMuseumOfSuperFineArtsJobsAvailable" not="true" />
					</Requirements>
				</Attribute>
				<Attribute name="noJobsText" value="UI_Monorail_FindBuilding_NotOwned" localise="true">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));       if(!isNULL(object))       {       return false;       }       return true;" />
					</Requirements>
				</Attribute>
				<Attribute name="jobsAvailable" value="true">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HasMuseumOfSuperFineArtsJobsAvailable" />
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));       if(!isNULL(object))       {       return true;       }       return false;" />
					</Requirements>
				</Attribute>
				<Attribute name="arrangementBonusTitle" value="UI_ArrangementBonusTitle" localise="true">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="arrangementBonusTotal" value="{0}" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));       if(!isNULL(object))       {       var bonus = toString(round(((Building::getArrangeBonus(object))*100))/100);       bonus = bonus+' %';       return bonus;       }       return ''" />
					</AttributeSet>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act1Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActOne" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act2Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act3Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet>
				<Attribute name="id" value="197011" />
				<Attribute name="menuImage" value="BurnsResortCasino_menu.rgb" />
				<Attribute name="lockedText" value="UI_Monorail_FindBuilding_NotOwned" localise="true" />
				<Attribute name="inventoryText" value="UI_Monorail_FindBuilding_InStorage" localise="true" />
				<Attribute name="availableText" value="UI_XMAS2016_Info_JobsAvailable" localise="true" />
				<Attribute name="noJobsText" value="UI_NoJobsAvailable" localise="true">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HasMonteBurnsResortCasinoJobsAvailable" not="true" />
					</Requirements>
				</Attribute>
				<Attribute name="noJobsText" value="UI_Monorail_FindBuilding_NotOwned" localise="true">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));       if(!isNULL(object))       {       return false;       }       return true;" />
					</Requirements>
				</Attribute>
				<Attribute name="jobsAvailable" value="true">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HasMonteBurnsResortCasinoJobsAvailable" />
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));       if(!isNULL(object))       {       return true;       }       return false;" />
					</Requirements>
				</Attribute>
				<Attribute name="arrangementBonusTitle" value="UI_ArrangementBonusTitle" localise="true">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="arrangementBonusTotal" value="{0}" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));       if(!isNULL(object))       {       var bonus = toString(round(((Building::getArrangeBonus(object))*100))/100);       bonus = bonus+' %';       return bonus;       }       return ''" />
					</AttributeSet>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act1Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActOne" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act2Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act3Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet>
				<Attribute name="id" value="197024" />
				<Attribute name="menuImage" value="ICO_BuildingFinder_TowerOfSpringfield.rgb" />
				<Attribute name="lockedText" value="UI_Monorail_FindBuilding_NotOwned" localise="true" />
				<Attribute name="inventoryText" value="UI_Monorail_FindBuilding_InStorage" localise="true" />
				<Attribute name="availableText" value="UI_XMAS2016_Info_JobsAvailable" localise="true" />
				<Attribute name="noJobsText" value="UI_NoJobsAvailable" localise="true">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HasTowerOfSpringfieldJobsAvailable" not="true" />
					</Requirements>
				</Attribute>
				<Attribute name="noJobsText" value="UI_Monorail_FindBuilding_NotOwned" localise="true">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));       if(!isNULL(object))       {       return false;       }       return true;" />
					</Requirements>
				</Attribute>
				<Attribute name="jobsAvailable" value="true">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HasTowerOfSpringfieldJobsAvailable" />
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));       if(!isNULL(object))       {       return true;       }       return false;" />
					</Requirements>
				</Attribute>
				<Attribute name="arrangementBonusTitle" value="UI_ArrangementBonusTitle" localise="true">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="arrangementBonusTotal" value="{0}" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					<AttributeSet name="textParams">
						<Attribute name="0" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));       if(!isNULL(object))       {       var bonus = toString(round(((Building::getArrangeBonus(object))*100))/100);       bonus = bonus+' %';       return bonus;       }       return ''" />
					</AttributeSet>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act1Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActOne" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act2Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
				<Attribute name="bonusCurrencyIcon" value="ICO_CUR_SpringfieldJobs_Act3Currency_SM.rgb">
					<Requirements>
						<Requirement type="formula" formula="#program;       var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));       if(!isNULL(object))       {       return true;       }       return false;" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:ArrangementBonus_Unlocked" />
					</Requirements>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</SpringfieldJobs_BuildingFinder>
	<PromoMenuConfig>
		<Attribute name="Objects">
			<AttributeSet name="PromoYellowText">
				<Attribute name="text" value="UI_JackTheRipperGilPromoInfoText" localise="true" />
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="0x000000FF" />
			</AttributeSet>
			<AttributeSet name="PromoGilText">
				<Attribute name="text" value="UI_JackTheRipperGilPromoBubble" localise="true" />
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="0x000000FF" />
			</AttributeSet>
			<AttributeSet name="PromoBSv3">
				<Attribute name="bsv2" value="Promo_SpringfieldJobs" />
				<Attribute name="animName" value="DynamicPromo" />
			</AttributeSet>
		</Attribute>
	</PromoMenuConfig>
	<CameraOverlay>
		<Attribute name="Objects">
			<AttributeSet name="EffectAnimation">
				<Attribute name="bsv2" value="SpringfieldJobs_SecurityFootageAnim" />
				<Attribute name="animIndex" value="0" />
				<Attribute name="animName" value="ICO_Cam01">
					<Requirements>
						<Requirement type="formula" formula="#program;                             var object = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts_Dummy'));                             if(!isNULL(object))                             {                             return true;                             }                             return false;" />
					</Requirements>
				</Attribute>
				<Attribute name="animName" value="ICO_Cam02">
					<Requirements>
						<Requirement type="formula" formula="#program;                             var object = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield_Dummy'));                             if(!isNULL(object))                             {                             return true;                             }                             return false;" />
					</Requirements>
				</Attribute>
				<Attribute name="animName" value="ICO_Cam03">
					<Requirements>
						<Requirement type="formula" formula="#program;                             var object = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino_Dummy'));                             if(!isNULL(object))                             {                             return true;                             }                             return false;" />
					</Requirements>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</CameraOverlay>
	<CameraOverlayButtonConfig>
		<Attribute name="Buttons">
			<AttributeSet name="BackButton">
				<Attribute name="closeOnPress" value="true" />
			</AttributeSet>
		</Attribute>
	</CameraOverlayButtonConfig>
</Attributes>