<Consumables>
	<MasterList>
		<DataID id="162000" name="GymLockerMysteryBox" />
		<DataID id="162001" name="SpringfieldGames_JockeyAndFurious" />
		<DataID id="162002" name="SpringfieldGames_FuriousD" />
		<DataID id="162010" name="SpringfieldGamesTrainingBundle" />
		<DataID id="162011" name="SpringfieldGamesFlagBundle" />
		<DataID id="162012" name="LisaPinCollector" />
		<DataID id="162013" name="SpringfieldGames_LugashRebate" />
	</MasterList>
	<Consumable id="162000" name="GymLockerMysteryBox" type="Box" icon="ICO_STOR_SpringfieldGames_MysteryLocker" rewardText="UI_BoxReward" useGambleCall="__MysteryBoxUpgrade_GameConfig:Bool:UseGambleCall__" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Bart" unlockedskin="Jockey_Bart" not="true" />
					<Requirement type="item" item="SpringfieldGames_JockeyAndFurious" not="true" />
					<Requirement type="item" item="Jockey_Bart" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Marge" unlockedskin="Tennis_Marge" not="true" />
					<Requirement type="item" item="Tennis_Marge" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Ralph" unlockedskin="Ballet_Ralph" not="true" />
					<Requirement type="item" item="Ballet_Ralph" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="CBGuy" unlockedskin="KungFu_CBGuy" not="true" />
					<Requirement type="item" item="KungFu_CBGuy" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Grampa" unlockedskin="Toreador_Grampa" not="true" />
					<Requirement type="item" item="Toreador_Grampa" not="true" />
				</Requirement>
			</Requirement>
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Bart" unlockedskin="Jockey_Bart" not="true" />
					<Requirement type="item" item="SpringfieldGames_JockeyAndFurious" not="true" />
					<Requirement type="item" item="Jockey_Bart" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Marge" unlockedskin="Tennis_Marge" not="true" />
					<Requirement type="item" item="Tennis_Marge" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Ralph" unlockedskin="Ballet_Ralph" not="true" />
					<Requirement type="item" item="Ballet_Ralph" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="CBGuy" unlockedskin="KungFu_CBGuy" not="true" />
					<Requirement type="item" item="KungFu_CBGuy" not="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="character" name="Grampa" unlockedskin="Toreador_Grampa" not="true" />
					<Requirement type="item" item="Toreador_Grampa" not="true" />
				</Requirement>
			</Requirement>
		</Requirements>
		<InventoryRequirements>
			<Requirement type="level" level="1" hideFromInfo="true" />
		</InventoryRequirements>
		<Sell allowed="false" />
		<Cost donuts="75" />
		<Sublands>
			<Subland value="Springfield" />
		</Sublands>
		<BuildMenuText text="CON_GymLockerMysteryBox_exciting" />
		<RewardList>
			<Requirements>
				<Requirement type="tutorialcompleted" hideFromInfo="true" />
			</Requirements>
			<Reward chance="0.2125">
				<Item type="consumable" name="Toreador_Grampa" useImmediately="true" />
			</Reward>
			<Reward chance="0.4250">
				<Item type="consumable" name="KungFu_CBGuy" useImmediately="true" />
			</Reward>
			<Reward chance="0.6375">
				<Item type="consumable" name="Ballet_Ralph" useImmediately="true" />
			</Reward>
			<Reward chance="0.85">
				<Item type="consumable" name="Tennis_Marge" useImmediately="true" />
			</Reward>
			<Reward chance="1">
				<Requirements>
					<Requirement type="character" name="Bart" unlockedskin="Jockey_Bart" not="true" />
					<Requirement type="item" item="SpringfieldGames_JockeyAndFurious" not="true" />
					<Requirement type="item" item="Jockey_Bart" not="true" />
				</Requirements>
				<Item type="consumable" name="SpringfieldGames_JockeyAndFurious" useImmediately="true" />
			</Reward>
		</RewardList>
	</Consumable>
	<Consumable id="162001" name="SpringfieldGames_JockeyAndFurious" type="Reward" icon="Bart_Jockey_Menu" autoconsume="true" leaveStore="false">
		<Requirements>
			<Requirement type="character" name="Bart" unlockedskin="Jockey_Bart" not="true" />
			<Requirement type="item" item="SpringfieldGames_JockeyAndFurious" not="true" />
			<Requirement type="item" item="Jockey_Bart" not="true" />
			<Requirement type="character" name="FuriousD" not="true" />
		</Requirements>
		<Reward>
			<Item type="consumable" name="Jockey_Bart" useImmediately="true" />
			<Item type="consumable" name="SpringfieldGames_FuriousD" useImmediately="true" />
		</Reward>
		<StorePositioningRule rule="BartAndFuriousDRule" />
	</Consumable>
	<Consumable id="162002" name="SpringfieldGames_FuriousD" type="Reward" icon="FuriousD" autoconsume="true" leaveStore="false">
		<Requirements>
			<Requirement type="character" name="FuriousD" not="true" />
		</Requirements>
		<Reward>
			<Item type="character" name="FuriousD" useImmediately="true" />
		</Reward>
	</Consumable>
	<Consumable id="162010" name="SpringfieldGamesTrainingBundle" type="Reward" icon="ICO_STOR_TrainingBundle" autoconsume="true">
		<Sell allowed="false" />
		<Cost donuts="125" />
		<BuildMenuText text="CON_SpringfieldGamesTrainingBundle_exciting" />
		<Reward>
			<Item type="building" name="BoxingRing" />
			<Item type="building" name="GolfCourse" />
			<Item type="building" name="TBallStand" />
			<Item type="building" name="TennisMachine" />
			<Item type="building" name="Gauntlet01" />
			<Item type="building" name="Gauntlet02" />
			<Item type="building" name="Gauntlet03" />
			<Item type="building" name="Gauntlet04" />
			<Item type="script" name="SpringfieldGames_Scripts:FlagBundlePurchased" />
		</Reward>
	</Consumable>
	<Consumable id="162011" name="SpringfieldGamesFlagBundle" type="Reward" icon="ICO_STOR_FlagBundle" autoconsume="true">
		<Sell allowed="false" />
		<Cost donuts="50" />
		<BuildMenuText text="CON_SpringfieldGamesFlagBundle_exciting" />
		<Reward>
			<Item type="building" name="AustraliaFlag" />
			<Item type="building" name="BrazilFlag" />
			<Item type="building" name="CameroonFlag" />
			<Item type="building" name="CanadaFlag" />
			<Item type="building" name="ChinaFlag" />
			<Item type="building" name="ColombiaFlag" />
			<Item type="building" name="CostaRicaFlag" />
			<Item type="building" name="EcuadorFlag" />
			<Item type="building" name="EnglandFlag" />
			<Item type="building" name="FranceFlag" />
			<Item type="building" name="GermanyFlag" />
			<Item type="building" name="IrelandFlag" />
			<Item type="building" name="ItalyFlag" />
			<Item type="building" name="IvoryCoastFlag" />
			<Item type="building" name="JapanFlag" />
			<Item type="building" name="MexicoFlag" />
			<Item type="building" name="NetherlandsFlag" />
			<Item type="building" name="NewZealandFlag" />
			<Item type="building" name="NigeriaFlag" />
			<Item type="building" name="NorwayFlag" />
			<Item type="building" name="RussiaFlag" />
			<Item type="building" name="ScotlandFlag" />
			<Item type="building" name="SouthKoreaFlag" />
			<Item type="building" name="SpainFlag" />
			<Item type="building" name="SwedenFlag" />
			<Item type="building" name="SwitzerlandFlag" />
			<Item type="building" name="ThailandFlag" />
			<Item type="building" name="UnitedKingdomFlag" />
			<Item type="building" name="UnitedStatesFlag" />
			<Item type="building" name="WalesFlag" />
			<Item type="script" name="SpringfieldGames_Scripts:FlagBundlePurchased" />
		</Reward>
	</Consumable>
	<Consumable id="162012" name="LisaPinCollector" type="CharacterSkin" icon="Lisa_PinCollector_menu" object="Lisa" skin="PinCollectorLisa">
		<Cost donuts="75" />
	</Consumable>
	<Consumable id="162013" name="SpringfieldGames_LugashRebate" type="Reward" icon="ICO_STOR_LugashsGym" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="LugashsGym" />
				<Requirement type="place building" building="LugashsGym" />
				<Requirement type="item" item="LugashsGym" />
			</Requirement>
		</VisibilityRequirements>
		<BuildMenuText text="UI_EoSRebateExciteText_40" />
		<StorePositioningRule rule="SpringfieldGamesLugashsGymRebate" />
		<Cost donuts="175" />
		<Reward>
			<Item type="script" name="SpringfieldGames_Scripts:CON_LugashsGym" />
		</Reward>
	</Consumable>
</Consumables>