<DynamicDataSelectors>
	<Selector name="SpringfieldJobs_PTCurrencyPerFriendAction" type="table" key="FriendActionsCount">
        0,selector SpringfieldJobs_PTCurrency_SocialUpgrade,
        30,0,
    </Selector>
	<Selector name="SpringfieldJobs_PTCurrency_SocialUpgrade" type="table" key="SpringfieldJobs_SocialUpgrade_Purchased">
		<TableEntry key="0" value="__SpringfieldJobs_GameConfig:TappablePrizeReward:FriendAmount__" />
		<TableEntry key="1" value="2 * toDouble(System::getConfigValue('__SpringfieldJobs_GameConfig:TappablePrizeReward:FriendAmount__'))" />
	</Selector>
	<Selector name="SpringfieldJobs_CraftingCurrencyPerFriendAction" type="table" key="FriendActionsCount">
        0,selector SpringfieldJobs_CraftingCurrency_SocialUpgrade,
        30,0,
    </Selector>
	<Selector name="SpringfieldJobs_CraftingCurrency_SocialUpgrade" type="table" key="SpringfieldJobs_SocialUpgrade_Purchased">
		<TableEntry key="0" value="__SpringfieldJobs_GameConfig:TappableCraftReward:FriendAmount__" />
		<TableEntry key="1" value="2 * toDouble(System::getConfigValue('__SpringfieldJobs_GameConfig:TappableCraftReward:FriendAmount__'))" />
	</Selector>
	<Selector name="SpringfieldJobs_SocialCurrencyPerFriendAction" type="table" key="FriendActionsCount">
        0,selector SpringfieldJobs_SocialCurrency_SocialUpgrade,
        30,0,
    </Selector>
	<Selector name="SpringfieldJobs_SocialCurrency_SocialUpgrade" type="table" key="SpringfieldJobs_SocialUpgrade_Purchased">
		<TableEntry key="0" value="__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_Social1__" />
		<TableEntry key="1" value="2 * toDouble(System::getConfigValue('__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_Social1__'))" />
	</Selector>
</DynamicDataSelectors>