<ScriptPackage>
	<SpringfieldHeights_10_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_10_3_dlg_Start_1_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Kirk" text="QST_SpringfieldHeights_10_3_dlg_Start_2_Kirk" revealSpeed="medium" />
		<Action type="dialogue" character="ComicBookGuy" text="QST_SpringfieldHeights_10_3_dlg_Start_3_ComicBookGuy" revealSpeed="medium" />
		<Action type="dialogue" character="Wiggum" text="QST_SpringfieldHeights_10_3_dlg_Start_4_Wiggum" revealSpeed="medium" />
		<Action type="dialogue" character="Lou" text="QST_SpringfieldHeights_10_3_dlg_Start_5_Lou" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_10_3_dlg_Start_6_CookieKwan" revealSpeed="medium" emotion="sad" />
	</SpringfieldHeights_10_Start>
	<SpringfieldHeights_11_Start>
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_11_3_dlg_Start_1_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_11_3_dlg_Start_2_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_11_3_dlg_Start_3_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_11_3_dlg_Start_4_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_11_3_dlg_Start_5_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_11_3_dlg_Start_6_LindseyNaegle" revealSpeed="medium" emotion="happy" />
		<Action type="notification" title="QST_SpringfieldHeights_11_3_dlg_Start_7_SystemMessageTitle" text="QST_SpringfieldHeights_11_3_dlg_Start_8_SystemMessageText" button="UI_OK" icon="MarketingAgency_Menu" revealSpeed="medium" />
	</SpringfieldHeights_11_Start>
	<SpringfieldHeights_11_End>
		<Action type="dialogue" character="ParisTexan" text="QST_SpringfieldHeights_11_3_dlg_End_1_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="TheRichTexan" text="QST_SpringfieldHeights_11_3_dlg_End_2_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_11_3_dlg_End_3_CookieKwan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="TheRichTexan" text="QST_SpringfieldHeights_11_3_dlg_End_4_RichTexan" revealSpeed="medium" />
	</SpringfieldHeights_11_End>
	<SpringfieldHeights_12_Start>
		<Action type="dialogue" character="SeaCaptain" text="QST_SpringfieldHeights_12_3_dlg_Start_1_SeaCaptain" revealSpeed="medium" />
		<Action type="dialogue" character="SeaCaptain" text="QST_SpringfieldHeights_12_3_dlg_Start_2_SeaCaptain" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_12_3_dlg_Start_3_LindseyNaegle" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_12_3_dlg_Start_4_LindseyNaegle" revealSpeed="medium" />
	</SpringfieldHeights_12_Start>
	<SpringfieldHeights_13_Start>
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_13_3_dlg_Start_1_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_13_3_dlg_Start_2_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_13_3_dlg_Start_3_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_13_3_dlg_Start_4_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_13_3_dlg_Start_5_LindseyNaegle" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_13_3_dlg_Start_6_LindseyNaegle" revealSpeed="medium" emotion="annoyed" />
	</SpringfieldHeights_13_Start>
	<SpringfieldHeights_14_Start>
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_14_3_dlg_Start_1_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="Wiggum" text="QST_SpringfieldHeights_14_3_dlg_Start_2_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_14_3_dlg_Start_3_Wiggum" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Wiggum" text="QST_SpringfieldHeights_14_3_dlg_Start_4_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_14_3_dlg_Start_5_Wiggum" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_14_3_dlg_Start_6_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_14_3_dlg_Start_7_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_SpringfieldHeights_14_3_dlg_Start_8_LindseyNaegle" revealSpeed="medium" />
		<Action type="dialogue" character="LindsayNaegle" text="QST_SpringfieldHeights_14_3_dlg_Start_9_CookieKwan" revealSpeed="medium" />
	</SpringfieldHeights_14_Start>
	<SpringfieldHeights_14_End>
		<Action type="dialogue" character="TheRichTexan" text="QST_SpringfieldHeights_14_3_dlg_End_1_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="TheRichTexan" text="QST_SpringfieldHeights_14_3_dlg_End_2_RichTexan" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="ParisTexan" text="QST_SpringfieldHeights_14_3_dlg_End_3_ParisTexan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="ParisTexan" text="QST_SpringfieldHeights_14_3_dlg_End_4_ParisTexan" revealSpeed="medium" />
		<Action type="dialogue" character="ParisTexan" text="QST_SpringfieldHeights_14_3_dlg_End_5_ParisTexan" revealSpeed="medium" />
	</SpringfieldHeights_14_End>
	<LodgeAComplaint_1_Start>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_1_3_dlg_Start_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_1_3_dlg_Start_2_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Milhouse" text="QST_LodgeAComplaint_1_3_dlg_Start_3_Milhouse" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_1_3_dlg_Start_4_MrBurns" revealSpeed="medium" emotion="shouting" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_1_3_dlg_Start_5_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_1_3_dlg_Start_6_MrBurns" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_1_3_dlg_Start_7_Smithers" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_1_3_dlg_Start_8_MrBurns" revealSpeed="medium" emotion="shouting" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_1_3_dlg_Start_9_MrBurns" revealSpeed="medium" />
		<Action type="notification" title="QST_LodgeAComplaint_1_3_dlg_Start_10_SystemTitle" button="UI_OK" text="QST_LodgeAComplaint_1_3_dlg_Start_11_SystemBody" icon="MountainLodge_Menu" />
	</LodgeAComplaint_1_Start>
	<LodgeAComplaint_2_Start>
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_2_3_dlg_Start_1_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_2_3_dlg_Start_2_MrBurns" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_2_3_dlg_Start_3_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_LodgeAComplaint_2_3_dlg_Start_4_Homer" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_2_3_dlg_Start_5_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_LodgeAComplaint_2_3_dlg_Start_6_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_2_3_dlg_Start_7_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_2_3_dlg_Start_8_Smithers" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_2_3_dlg_Start_9_Smithers" revealSpeed="medium" emotion="sad" />
	</LodgeAComplaint_2_Start>
	<LodgeAComplaint_3_Start>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_3_3_dlg_Start_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_3_3_dlg_Start_2_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_3_3_dlg_Start_3_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_3_3_dlg_Start_4_MrBurns" revealSpeed="medium" />
	</LodgeAComplaint_3_Start>
	<LodgeAComplaint_4_Start>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_4_3_dlg_Start_1_MrBurns" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_4_3_dlg_Start_2_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_4_3_dlg_Start_3_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_4_3_dlg_Start_4_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_4_3_dlg_Start_5_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_4_3_dlg_Start_6_MrBurns" revealSpeed="medium" emotion="diabolical" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_4_3_dlg_Start_7_MrBurns" revealSpeed="medium" />
	</LodgeAComplaint_4_Start>
	<LodgeAComplaint_5_Start>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_5_3_dlg_Start_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_5_3_dlg_Start_2_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_5_3_dlg_Start_3_MrBurns" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_5_3_dlg_Start_4_MrBurns" revealSpeed="medium" emotion="diabolical" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_5_3_dlg_Start_5_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_5_3_dlg_Start_6_MrBurns" revealSpeed="medium" />
	</LodgeAComplaint_5_Start>
	<LodgeAComplaint_6_Start>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_6_3_dlg_Start_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_6_3_dlg_Start_2_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_6_3_dlg_Start_3_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_6_3_dlg_Start_4_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_6_3_dlg_Start_5_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_6_3_dlg_Start_6_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_6_3_dlg_Start_7_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_6_3_dlg_Start_8_Smithers" revealSpeed="medium" />
	</LodgeAComplaint_6_Start>
	<LodgeAComplaint_7_Start>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_7_3_dlg_Start_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_7_3_dlg_Start_2_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_7_3_dlg_Start_3_MrBurns" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_7_3_dlg_Start_4_MrBurns" revealSpeed="medium" emotion="diabolical" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_7_3_dlg_Start_5_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_7_3_dlg_Start_6_MrBurns" revealSpeed="medium" />
	</LodgeAComplaint_7_Start>
	<LodgeAComplaint_8_Start>
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_8_3_dlg_Start_1_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_Start_2_MrBurns" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_8_3_dlg_Start_3_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_Start_4_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_8_3_dlg_Start_5_Smithers" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_Start_6_MrBurns" revealSpeed="medium" />
	</LodgeAComplaint_8_Start>
	<LodgeAComplaint_8_End>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_End_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_End_2_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_End_3_MrBurns" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_End_4_MrBurns" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_8_3_dlg_End_5_MrBurns" revealSpeed="medium" />
	</LodgeAComplaint_8_End>
	<LodgeAComplaint_9_Start>
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_9_3_dlg_Start_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_9_3_dlg_Start_2_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_9_3_dlg_Start_3_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_9_3_dlg_Start_4_Smithers" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_9_3_dlg_Start_5_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_LodgeAComplaint_9_3_dlg_Start_6_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Smithers" text="QST_LodgeAComplaint_9_3_dlg_Start_7_Smithers" revealSpeed="medium" />
	</LodgeAComplaint_9_Start>
	<UnfairTrade_Start>
		<Action type="dialogue" character="Number1" text="QST_UnfairTrade_3_dlg_Start_1_Number1" revealSpeed="medium" emotion="ominous" />
		<Action type="dialogue" character="Burns" text="QST_UnfairTrade_3_dlg_Start_2_MrBurns" revealSpeed="medium" emotion="diabolical" />
		<Action type="dialogue" character="Number1" text="QST_UnfairTrade_3_dlg_Start_3_Number1" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_UnfairTrade_3_dlg_Start_4_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Burns" text="QST_UnfairTrade_3_dlg_Start_5_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="Number1" text="QST_UnfairTrade_3_dlg_Start_6_Number1" revealSpeed="medium" emotion="ominous" />
		<Action type="dialogue" character="Burns" text="QST_UnfairTrade_3_dlg_Start_7_MrBurns" revealSpeed="medium" emotion="diabolical" />
	</UnfairTrade_Start>
	<ASmidgeToTheRight_End>
		<Action type="dialogue" character="CookieKwan" text="QST_ASmidgeToTheRight_3_dlg_End_1_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_ASmidgeToTheRight_3_dlg_End_2_CookieKwan" revealSpeed="medium" />
		<Action type="message" text="QST_ASmidgeToTheRight_3_dlg_End_3_SystemMessage" revealSpeed="medium" />
	</ASmidgeToTheRight_End>
	<ThePhantomOpera_Start>
		<Action type="dialogue" character="Marge" text="QST_ThePhantomOpera_3_dlg_Start_1_Marge" revealSpeed="medium" />
		<Action type="dialogue" character="Marge" text="QST_ThePhantomOpera_3_dlg_Start_2_Marge" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_ThePhantomOpera_3_dlg_Start_3_Homer" revealSpeed="medium" emotion="doh" />
		<Action type="dialogue" character="Marge" text="QST_ThePhantomOpera_3_dlg_Start_4_Marge" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_ThePhantomOpera_3_dlg_Start_5_Homer" revealSpeed="medium" />
		<Action type="dialogue" character="Marge" text="QST_ThePhantomOpera_3_dlg_Start_6_Marge" revealSpeed="medium" emotion="annoyed" />
	</ThePhantomOpera_Start>
	<ThePhantomOpera_End>
		<Action type="dialogue" character="Marge" text="QST_ThePhantomOpera_3_dlg_End_1_Marge" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_ThePhantomOpera_3_dlg_End_2_Homer" revealSpeed="medium" />
		<Action type="dialogue" character="Marge" text="QST_ThePhantomOpera_3_dlg_End_3_Marge" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Homer" text="QST_ThePhantomOpera_3_dlg_End_4_Homer" revealSpeed="medium" />
		<Action type="message" text="QST_ThePhantomOpera_3_dlg_End_6_SystemMessage" revealSpeed="medium" />
	</ThePhantomOpera_End>
	<GoneFission_Start>
		<Action type="dialogue" character="MrBurns" text="QST_GoneFission_3_dlg_Start_1_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_GoneFission_3_dlg_Start_2_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="SeaCaptain" text="QST_GoneFission_3_dlg_Start_3_SeaCaptain" revealSpeed="medium" />
		<Action type="dialogue" character="SeaCaptain" text="QST_GoneFission_3_dlg_Start_4_SeaCaptain" revealSpeed="medium" />
		<Action type="dialogue" character="SeaCaptain" text="QST_GoneFission_3_dlg_Start_5_SeaCaptain" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_GoneFission_3_dlg_Start_6_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="SeaCaptain" text="QST_GoneFission_3_dlg_Start_7_SeaCaptain" revealSpeed="medium" />
		<Action type="dialogue" character="SeaCaptain" text="QST_GoneFission_3_dlg_Start_8_SeaCaptain" revealSpeed="medium" />
		<Action type="dialogue" character="MrBurns" text="QST_GoneFission_3_dlg_Start_9_MrBurns" revealSpeed="medium" />
		<Action type="dialogue" character="SeaCaptain" text="QST_GoneFission_3_dlg_Start_10_SeaCaptain" revealSpeed="medium" />
	</GoneFission_Start>
	<OperaHouse_Start>
		<Action type="dialogue" character="Homer" text="QST_OperaHouse_3_dlg_Start_1_Homer" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="Lisa" text="QST_OperaHouse_3_dlg_Start_2_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_OperaHouse_3_dlg_Start_3_Homer" revealSpeed="medium" emotion="dreamy" />
		<Action type="dialogue" character="Lisa" text="QST_OperaHouse_3_dlg_Start_4_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_OperaHouse_3_dlg_Start_5_Homer" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_OperaHouse_3_dlg_Start_6_Homer" revealSpeed="medium" emotion="serious" />
		<Action type="dialogue" character="Homer" text="QST_OperaHouse_3_dlg_Start_7_Homer" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Homer" text="QST_OperaHouse_3_dlg_Start_8_Homer" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Homer" text="QST_OperaHouse_3_dlg_Start_9_Homer" revealSpeed="medium" />
	</OperaHouse_Start>
	<WealthyWednesday_Start>
		<Action type="dialogue" character="CookieKwan" text="QST_WealthyWednesday_3_dlg_Start_1_CookieKwan" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_WealthyWednesday_3_dlg_Start_2_Homer" revealSpeed="medium" emotion="woohoo" />
		<Action type="dialogue" character="CookieKwan" text="QST_WealthyWednesday_3_dlg_Start_3_CookieKwan" revealSpeed="medium" />
		<Action type="dialogue" character="Carl" text="QST_WealthyWednesday_3_dlg_Start_4_Carl" revealSpeed="medium" />
		<Action type="dialogue" character="Lenny" text="QST_WealthyWednesday_3_dlg_Start_5_Lenny" revealSpeed="medium" />
		<Action type="dialogue" character="CookieKwan" text="QST_WealthyWednesday_3_dlg_Start_6_CookieKwan" revealSpeed="medium" emotion="annoyed" />
		<Action type="message" text="QST_WealthyWednesday_3_dlg_Start_7_SystemMessage" revealSpeed="medium" />
		<Action type="reward" Latte="50" />
		<Action type="checkRequirements">
			<Requirement type="quest" quest="SpringfieldHeights09" />
			<True>
				<Action type="dialogue" character="LindsayNaegle" text="QST_WealthyWednesday_3_dlg_Start_8_LindseyNaegle" revealSpeed="medium" />
				<Action type="message" text="QST_WealthyWednesday_3_dlg_Start_10_SystemMessage" revealSpeed="medium" />
			</True>
		</Action>
	</WealthyWednesday_Start>
	<WealthyWednesday_Recommendation>
		<Action type="recommendation" recType="Promoted" name="PoloFieldHouse" />
		<Action type="recommendation" recType="Promoted" name="PlasticSurgeryCenter" />
		<Action type="recommendation" recType="Promoted" name="IncubatorThinkTank" />
		<Action type="recommendation" recType="Promoted" name="ColumnMansion" />
	</WealthyWednesday_Recommendation>
	<TheProclomationOfDecoration_Start>
		<Action type="dialogue" character="Ned" text="QST_TheProclomationOfDecoration_3_dlg_Start_1_Ned" revealSpeed="medium" />
		<Action type="dialogue" character="RodandTodd" text="QST_TheProclomationOfDecoration_3_dlg_Start_2_RoddAndTodd" revealSpeed="medium" emotion="cheering" />
		<Action type="dialogue" character="Ned" text="QST_TheProclomationOfDecoration_3_dlg_Start_3_Ned" revealSpeed="medium" />
	</TheProclomationOfDecoration_Start>
	<TheProclomationOfDecoration_End>
		<Action type="message" text="QST_TheProclomationOfDecoration_3_dlg_End_1_SystemMessage" revealSpeed="medium" />
	</TheProclomationOfDecoration_End>
</ScriptPackage>