<SpecialEvents>
	<SpecialEvent id="105000" name="SpringfieldHeights">
		<PrizeLists state="GameState_BuildingPrizeTrack">
			<PrizeList id="0" type="building" menuConfig="SpringfieldHeights_MenuConfig:RedBlazerMenuConfig">
				<Prize name="BLD_MontessoriSchool_name" listIcon="ICO_Heights_Prize_MontessoriSchool" rewardIcon="ICO_Heights_Prize_MontessoriSchool_LG" showInventoryPopup="true" useImmediately="false" rush_rate="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RushRateItem1__" largeSizeIcon="true" showStorePlace="true" awardSound="246_friendship_level_up.caf">
					<Requirement type="special currency" currency="RealEstateValue" amount="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RequireAmountItem1__" />
					<Reward>
						<Item type="building" name="MontessoriSchool" />
					</Reward>
				</Prize>
				<Prize name="BLD_FlyingCar_name" listIcon="ICO_Heights_Prize_FlyingCar" rewardIcon="ICO_Heights_Prize_FlyingCar_LG" useImmediately="false" showInventoryPopup="true" rush_rate="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RushRateItem2__" largeSizeIcon="true" showStorePlace="true" awardSound="246_friendship_level_up.caf">
					<Requirement type="special currency" currency="RealEstateValue" amount="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RequireAmountItem2__" />
					<Reward>
						<Item type="building" name="FlyingCar" />
					</Reward>
				</Prize>
				<Prize name="BLD_SpringfieldLake_name" listIcon="ICO_Heights_Prize_SpringfieldLake" rewardIcon="ICO_Heights_Prize_SpringfieldLake_LG" useImmediately="false" rush_rate="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RushRateItem3__" largeSizeIcon="true" showInventoryPopup="true" showStorePlace="true" awardSound="246_friendship_level_up.caf">
					<Requirement type="special currency" currency="RealEstateValue" amount="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RequireAmountItem3__" />
					<Reward>
						<Item type="building" name="SpringfieldLake" />
					</Reward>
				</Prize>
				<Prize name="BLD_ZiffMansion_name" listIcon="ICO_Heights_Prize_ZiffMansion" rewardIcon="ICO_Heights_Prize_ZiffMansion_LG" useImmediately="false" showInventoryPopup="true" rush_rate="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RushRateItem4__" largeSizeIcon="true" showStorePlace="true" awardSound="246_friendship_level_up.caf">
					<Requirement type="special currency" currency="RealEstateValue" amount="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RequireAmountItem4__" />
					<Reward>
						<Item type="building" name="ZiffMansion" />
					</Reward>
				</Prize>
				<Prize name="BLD_BillionaireHaven_name" listIcon="ICO_Heights_Prize_BillionaireHaven" rewardIcon="ICO_Heights_Prize_BillionaireHaven_LG" showInventoryPopup="true" useImmediately="false" rush_rate="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RushRateItem5__" largeSizeIcon="true" showStorePlace="true" awardSound="246_friendship_level_up.caf">
					<Requirement type="special currency" currency="RealEstateValue" amount="__SpringfieldHeights_GameConfig:RedBlazerPrizes:RequireAmountItem5__" />
					<Reward>
						<Item type="building" name="BillionaireHaven" />
					</Reward>
				</Prize>
			</PrizeList>
		</PrizeLists>
		<CustomGetMore>
			<GetMoreRule mode="any" getMoreReason="" doNothing="true">
				<SpendableCurrency name="Furniture" />
				<SpendableCurrency name="Latte" />
				<SpendableCurrency name="Pharmaceutical" />
				<SpendableCurrency name="SmartDevice" />
				<SpendableCurrency name="YogaMat" />
				<SpendableCurrency name="Ads" />
				<SpendableCurrency name="HollywoodAward" />
			</GetMoreRule>
		</CustomGetMore>
		<SpecialButtons>
			<Button mode="friendmap" icon="ICO_MHUD_Heights_LeaderBoards.rgb">
				<Requirements>
					<Requirement type="quest started" quest="SpringfieldHeights04" />
					<Requirement type="variable" variable="XMAS2016" not="true" />
				</Requirements>
				<RunScript>
					<Script name="SpecialEventButtonInFriendMapPressed" package="MiscScripts" />
				</RunScript>
			</Button>
		</SpecialButtons>
		<Variable name="RealEstateValueSeen" value="-1" />
		<Variable name="ShopSlotsUnlockedCount" value="0" />
		<Variable name="CoffeeShopSlotsUnlockedCount" value="0" />
		<Variable name="PharmerJohnsPharmaceuticalsSlotsUnlockedCount" value="0" />
		<Variable name="SpringfieldHeightsInstituteOfTechnologySlotsUnlockedCount" value="0" />
		<Variable name="LABodyWorksSlotsUnlockedCount" value="0" />
		<Variable name="HeightsTheaterSlotsUnlockedCount" value="0" />
		<Variable name="MarketingAgencySlotsUnlockedCount" value="0" />
		<Variable name="ShopSlot3" value="0" />
		<Variable name="ShopSlot4" value="0" />
		<Variable name="ShopSlot5" value="0" />
		<Variable name="ShopSlot6" value="0" />
		<Variable name="ShopSlot7" value="0" />
		<Variable name="CoffeeShopSlot2" value="0" />
		<Variable name="CoffeeShopSlot3" value="0" />
		<Variable name="CoffeeShopSlot4" value="0" />
		<Variable name="CoffeeShopSlot5" value="0" />
		<Variable name="CoffeeShopSlot6" value="0" />
		<Variable name="CoffeeShopSlot7" value="0" />
		<Variable name="LABodyWorksSlot2" value="0" />
		<Variable name="LABodyWorksSlot3" value="0" />
		<Variable name="LABodyWorksSlot4" value="0" />
		<Variable name="LABodyWorksSlot5" value="0" />
		<Variable name="LABodyWorksSlot6" value="0" />
		<Variable name="LABodyWorksSlot7" value="0" />
		<Variable name="InstituteSlot2" value="0" />
		<Variable name="InstituteSlot3" value="0" />
		<Variable name="InstituteSlot4" value="0" />
		<Variable name="InstituteSlot5" value="0" />
		<Variable name="InstituteSlot6" value="0" />
		<Variable name="InstituteSlot7" value="0" />
		<Variable name="PharmerJohnsSlot2" value="0" />
		<Variable name="PharmerJohnsSlot3" value="0" />
		<Variable name="PharmerJohnsSlot4" value="0" />
		<Variable name="PharmerJohnsSlot5" value="0" />
		<Variable name="PharmerJohnsSlot6" value="0" />
		<Variable name="PharmerJohnsSlot7" value="0" />
		<Variable name="HeightsTheaterSlot2" value="0" />
		<Variable name="HeightsTheaterSlot3" value="0" />
		<Variable name="HeightsTheaterSlot4" value="0" />
		<Variable name="HeightsTheaterSlot5" value="0" />
		<Variable name="HeightsTheaterSlot6" value="0" />
		<Variable name="HeightsTheaterSlot7" value="0" />
		<Variable name="MarketingAgencySlot2" value="0" />
		<Variable name="MarketingAgencySlot3" value="0" />
		<Variable name="MarketingAgencySlot4" value="0" />
		<Variable name="MarketingAgencySlot5" value="0" />
		<Variable name="MarketingAgencySlot6" value="0" />
		<Variable name="MarketingAgencySlot7" value="0" />
		<Variable name="VisitedLeaderboard" value="0" />
		<Variable name="OneBillionRealEstate" value="0" />
		<OnEvent event="EnterFriendMap" ignoreTypeCheck="true">
			<Script package="SpringfieldHeights_Scripts" name="OnWorldMapLoad" />
		</OnEvent>
		<Buildings override="true">
			<Building name="KrustysMansion">
				<BuildMenuText text="__SpringfieldHeights_GameConfig:BuildMenuText:KrustysMansion__" />
				<CustomMenu useMenuConfig="SpringfieldHeights_MenuConfig:BlankInventoryText" />
			</Building>
			<Building name="MoneyPool">
				<Unique value="false" />
			</Building>
			<Building name="MansionOfSolidGold">
				<BuildMenuText text="__SpringfieldHeights_GameConfig:BuildMenuText:MansionOfSolidGold__" />
				<CustomMenu useMenuConfig="SpringfieldHeights_MenuConfig:BlankInventoryText" />
			</Building>
			<Building name="WaverlyHillsElementarySchool">
				<BuildMenuText text="__SpringfieldHeights_GameConfig:BuildMenuText:WaverlyHills__" />
				<CustomMenu useMenuConfig="SpringfieldHeights_MenuConfig:BlankInventoryText" />
			</Building>
			<Building name="BananaDictatorship">
				<BuildMenuText text="__SpringfieldHeights_GameConfig:BuildMenuText:BananaDictatorship__" />
				<CustomMenu useMenuConfig="SpringfieldHeights_MenuConfig:BlankInventoryText" />
			</Building>
			<Building name="TennisCourt">
				<Requirements>
					<Requirement type="special currency" currency="RealEstateValue" amount="55000000" />
				</Requirements>
				<InventoryRequirements>
					<Requirement type="level" level="1" hideFromInfo="true" />
				</InventoryRequirements>
				<Cost donuts="50" />
			</Building>
		</Buildings>
	</SpecialEvent>
	<SpecialEvent id="105001" name="SpringfieldHeightsRetroReward">
		<Buildings override="true">
			<Building name="MoneyPool">
				<Unique value="false" />
				<ConstructionReward xp="30" RealEstateValue="3500000" />
			</Building>
			<Building name="TennisCourt">
				<Requirements>
					<Requirement type="special currency" currency="RealEstateValue" amount="55000000" />
				</Requirements>
				<InventoryRequirements>
					<Requirement type="level" level="1" hideFromInfo="true" />
				</InventoryRequirements>
				<Cost donuts="50" />
				<ConstructionReward xp="50" RealEstateValue="150000" />
			</Building>
		</Buildings>
	</SpecialEvent>
	<SpecialEvent id="105002" name="SpringfieldHeightsStarted">
		<Buildings override="true">
			<Building name="SchoolBus">
				<BuildMenuText text="UI_HelpsWithHeights_Exciting" />
			</Building>
			<Building name="StusDisco">
				<BuildMenuText text="UI_HelpsWithHeights_Exciting" />
			</Building>
			<Building name="SpringfieldCommunityCenter">
				<BuildMenuText text="UI_HelpsWithHeights_Exciting" />
			</Building>
			<Building name="FrinksLab">
				<BuildMenuText text="UI_HelpsWithHeights_Exciting" />
			</Building>
		</Buildings>
		<Characters override="true">
			<Character name="SqueakyVoiceTeen">
				<BuildMenuText text="UI_HelpsWithHeights_Exciting" />
			</Character>
			<Character name="BumblebeeMan">
				<BuildMenuText text="UI_HelpsWithHeights_Exciting" />
			</Character>
		</Characters>
	</SpecialEvent>
	<SpecialEvent id="105003" name="SpringfieldHeightsTemp">
		<LandInfos>
			<LandInfo id="1" name="Springfield">
				<FocusBuilding value="SpringfieldHeightsTunnel" />
			</LandInfo>
		</LandInfos>
	</SpecialEvent>
</SpecialEvents>