<Attributes>
	<Enable cache="true">
		<Attribute name="FriendDeployedCrook" value="1" />
		<Attribute name="MaxJusticeAgent" value="1" />
		<Attribute name="MaxJusticeAgent24hr" value="1" />
	</Enable>
	<Dates>
		<Attribute name="SpringfieldJobs_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_ActOne" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_ActTwo" value="2018-04-06 14:00" />
		<Attribute name="SpringfieldJobs_ActThree" value="2018-04-23 14:00" />
		<Attribute name="SpringfieldJobs_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_End3Panel" value="2018-03-28 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_LASTCHANCE_Start" value="2018-05-05 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_JacktheRipperPromotion_Start" value="2018-04-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_JacktheRipperPromotion_End" value="2018-04-15 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SvenGollyMTX_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SvenGollyMTX_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SvenGollyPopup_Start" value="2018-03-22 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SvenGollyPopup_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_FirstClassLounge_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_FirstClassLounge_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CalabresiBundle_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CalabresiBundle_End" value="2018-04-05 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CalabresiBundle_Popup" value="2018-03-23 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Colosseum_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Colosseum_End" value="2018-04-05 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_PompeiiRuins_Start" value="2018-03-26 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_PompeiiRuins_End" value="2018-04-01 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_StPaulsBasilica_Start" value="2018-03-29 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_StPaulsBasilica_End" value="2018-04-05 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_WestminsterAbbey_Start" value="2018-04-06 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_WestminsterAbbey_End" value="2018-04-22 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_BuckinghamPalace_Start" value="2018-04-06 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_BuckinghamPalace_End" value="2018-04-22 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_FortuneMegastore_Start" value="2018-04-10 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_FortuneMegastore_End" value="2018-04-17 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_NagAndWeasel_Start" value="2018-04-14 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_NagAndWeasel_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_GiantFerrisWheel_Start" value="2018-04-18 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_GiantFerrisWheel_End" value="2018-04-24 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_RaoulsPenthouse_Start" value="2018-04-23 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_RaoulsPenthouse_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SmoochesOnTheBeach_Start" value="2018-04-23 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SmoochesOnTheBeach_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Swelldorado_Start" value="2018-04-26 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Swelldorado_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Scooter_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Scooter_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_WineBarrels_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_WineBarrels_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_MotorcyclewithSidecar_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_MotorcyclewithSidecar_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SpringfieldMuseum_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_SpringfieldMuseum_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_PlatosRepublicCasino_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_PlatosRepublicCasino_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CesarAndUgolin_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CesarAndUgolin_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ItalianVilla_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ItalianVilla_End" value="2018-03-27 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ItsAWonderfulKnife_Start" value="2018-03-22 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ItsAWonderfulKnife_End" value="2018-03-31 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_FirstBankofSpringfield_Start" value="2018-03-25 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_FirstBankofSpringfield_End" value="2018-03-30 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_PontDuGard_Start" value="2018-03-28 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_PontDuGard_End" value="2018-04-02 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ChateauMaison_Start" value="2018-04-01 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ChateauMaison_End" value="2018-04-06 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_LeKrustyBurger_Start" value="2018-04-03 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_LeKrustyBurger_End" value="2018-04-08 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_LeKrustyBurger_Solo_Start" value="2018-04-03 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_LeKrustyBurger_Solo_End" value="2018-04-08 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Moog_Start" value="2018-04-07 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Moog_End" value="2018-04-10 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_BuckinghamPayLessMotel_Start" value="2018-04-10 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_BuckinghamPayLessMotel_End" value="2018-04-16 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_BigDigiBen_Start" value="2018-04-15 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_BigDigiBen_End" value="2018-04-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_RioDaysInnEro_Start" value="2018-04-23 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_RioDaysInnEro_End" value="2018-05-04 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Fatov_Start" value="2018-05-03 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_Fatov_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ResurrectionOfRigellianChrist_Start" value="2018-03-28 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ResurrectionOfRigellianChrist_End" value="2018-04-04 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_ResurrectionOfRigellianChrist_Popup" value="2018-04-01 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_AsianWondersMysteryBox_Start" value="2018-03-21 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_AsianWondersMysteryBox_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CasinoMysteryBox_Start" value="2018-04-19 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CasinoMysteryBox_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CincoDeMayo_Start" value="2018-05-02 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_CincoDeMayo_End" value="2018-05-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_JackTheRipperGilPromo_Start" value="2018-04-09 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_JackTheRipperGilPromo_End" value="2018-04-15 14:00" />
		<Attribute name="SpringfieldJobs_MERCH_PostEventPets_End" value="2018-05-16 14:00" />
	</Dates>
	<Costs>
		<Attribute name="SpringfieldJobs_Casino_MysteryBox" value="60" />
		<Attribute name="SpringfieldJobs_AsianWonders_MysteryBox" value="50" />
	</Costs>
	<TappablePrizeReward>
		<Attribute name="Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Award_PTCurrency1__" />
		<Attribute name="Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Award_PTCurrency2__">
			<Requirement type="time" start="SpringfieldJobs_ActTwo" />
		</Attribute>
		<Attribute name="Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Award_PTCurrency3__">
			<Requirement type="time" start="SpringfieldJobs_ActThree" />
		</Attribute>
		<Attribute name="FriendAmount" value="__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_PTCurrency1__" />
		<Attribute name="FriendAmount" value="__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_PTCurrency2__">
			<Requirement type="time" start="SpringfieldJobs_ActTwo" />
		</Attribute>
		<Attribute name="FriendAmount" value="__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_PTCurrency3__">
			<Requirement type="time" start="SpringfieldJobs_ActThree" />
		</Attribute>
	</TappablePrizeReward>
	<TappableCraftReward>
		<Attribute name="Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Award_Craft1__" />
		<Attribute name="Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Award_Craft2__">
			<Requirement type="time" start="SpringfieldJobs_ActTwo" />
		</Attribute>
		<Attribute name="Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Award_Craft3__">
			<Requirement type="time" start="SpringfieldJobs_ActThree" />
		</Attribute>
		<Attribute name="FriendAmount" value="__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_Craft1__" />
		<Attribute name="FriendAmount" value="__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_Craft2__">
			<Requirement type="time" start="SpringfieldJobs_ActTwo" />
		</Attribute>
		<Attribute name="FriendAmount" value="__SpringfieldJobs_BalanceConfig:Tappables:Friend_Award_Craft3__">
			<Requirement type="time" start="SpringfieldJobs_ActThree" />
		</Attribute>
	</TappableCraftReward>
	<Tappables>
		<Attribute name="Social_PTCurrency_Chance" value="__SpringfieldJobs_BalanceConfig:Tappables:Social_PTCurrency_Chance__" />
		<Attribute name="Social_PTCurrency_Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Social_PTCurrency_Amount__" />
		<Attribute name="Social_CraftingCurrency_Chance" value="__SpringfieldJobs_BalanceConfig:Tappables:Social_CraftingCurrency_Chance__" />
		<Attribute name="Social_CraftingCurrency_Amount" value="__SpringfieldJobs_BalanceConfig:Tappables:Social_CraftingCurrency_Amount__" />
	</Tappables>
	<Rebates>
		<Attribute name="SpringfieldMuseum" value="50" />
		<Attribute name="PlatosRepublicCasino" value="50" />
		<Attribute name="ItalianVilla" value="50" />
		<Attribute name="ItsAWonderfulKnife" value="50" />
		<Attribute name="BigDigiBen" value="50" />
		<Attribute name="RioDaysInnEro" value="50" />
		<Attribute name="EasterIslandGod" value="50" />
		<Attribute name="BumblebeeMan" value="50" />
	</Rebates>
	<MoneyCosts>
		<Attribute name="Scooter" value="1000" />
		<Attribute name="WineBarrels" value="1500" />
		<Attribute name="MotorcycleWithSidecar" value="2500" />
	</MoneyCosts>
	<PremiumCosts>
		<Attribute name="SocialLicense1" value="90" />
		<Attribute name="SocialLicense2" value="60" />
		<Attribute name="SocialLicense3" value="30" />
		<Attribute name="TheFirstClassLounge" value="150" />
		<Attribute name="CalabresiBundle" value="175" />
		<Attribute name="Colosseum" value="100" />
		<Attribute name="PompeiiRuins" value="50" />
		<Attribute name="StPaulsBasilica" value="150" />
		<Attribute name="WestminsterAbbey" value="175" />
		<Attribute name="BuckinghamPalace" value="60" />
		<Attribute name="FortuneMegastore" value="145" />
		<Attribute name="TheNagAndWeasel" value="135" />
		<Attribute name="GiantFerrisWheel" value="55" />
		<Attribute name="RaoulsPenthouse" value="150" />
		<Attribute name="SmoochesOnTheBeach" value="45" />
		<Attribute name="Swelldorado" value="35" />
		<Attribute name="CesarAndUgolin" value="100" />
		<Attribute name="ChateauMaison" value="75" />
		<Attribute name="Moog" value="50" />
		<Attribute name="Fatov" value="50" />
		<Attribute name="MexicanDuffman" value="100" />
		<Attribute name="MexicanDuffmanBundle" value="150" />
		<Attribute name="Zutroy" value="115" />
		<Attribute name="EasterTreeBundle" value="1" />
	</PremiumCosts>
	<Heists>
		<Attribute name="CurrencyRewardStandard_Intro" value="__SpringfieldJobs_BalanceConfig:Heists:CurrencyRewardStandard__" />
		<Attribute name="CraftingRewardStandard" value="__SpringfieldJobs_BalanceConfig:Heists:CraftingRewardStandard__" />
		<Attribute name="CraftingRewardPremium" value="__SpringfieldJobs_BalanceConfig:Heists:CraftingRewardPremium__" />
		<Attribute name="CurrencyRewardStandard_MuseumOfSuperFineArts" value="#program;         var baseReward = toDouble(System::getConfigValue('__SpringfieldJobs_BalanceConfig:Heists:CurrencyRewardStandard__'));         var bonusReward = 0;         var building = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));         if(!isNULL(building)) { bonusReward = ceil(baseReward * (toDouble(Building::getArrangeBonus(building)) / 100)); }         return baseReward + bonusReward;" />
		<Attribute name="CurrencyRewardPremium_MuseumOfSuperFineArts" value="#program;         var baseReward = toDouble(System::getConfigValue('__SpringfieldJobs_BalanceConfig:Heists:CurrencyRewardPremium__'));         var bonusReward = 0;         var building = Land::getFirstInstanceOfObject(Building::find('MuseumOfSuperFineArts'));         if(!isNULL(building)) { bonusReward = ceil(baseReward * (toDouble(Building::getArrangeBonus(building)) / 100)); }         return baseReward + bonusReward;" />
		<Attribute name="CurrencyRewardStandard_TowerOfSpringfield" value="#program;         var baseReward = toDouble(System::getConfigValue('__SpringfieldJobs_BalanceConfig:Heists:CurrencyRewardStandard__'));         var bonusReward = 0;         var building = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));         if(!isNULL(building)) { bonusReward = ceil(baseReward * (toDouble(Building::getArrangeBonus(building)) / 100)); }         return baseReward + bonusReward;" />
		<Attribute name="CurrencyRewardPremium_TowerOfSpringfield" value="#program;         var baseReward = toDouble(System::getConfigValue('__SpringfieldJobs_BalanceConfig:Heists:CurrencyRewardPremium__'));         var bonusReward = 0;         var building = Land::getFirstInstanceOfObject(Building::find('TowerOfSpringfield'));         if(!isNULL(building)) { bonusReward = ceil(baseReward * (toDouble(Building::getArrangeBonus(building)) / 100)); }         return baseReward + bonusReward;" />
		<Attribute name="CurrencyRewardStandard_MonteBurnsResortCasino" value="#program;         var baseReward = toDouble(System::getConfigValue('__SpringfieldJobs_BalanceConfig:Heists:CurrencyRewardStandard__'));         var bonusReward = 0;         var building = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));         if(!isNULL(building)) { bonusReward = ceil(baseReward * (toDouble(Building::getArrangeBonus(building)) / 100)); }         return baseReward + bonusReward;" />
		<Attribute name="CurrencyRewardPremium_MonteBurnsResortCasino" value="#program;         var baseReward = toDouble(System::getConfigValue('__SpringfieldJobs_BalanceConfig:Heists:CurrencyRewardPremium__'));         var bonusReward = 0;         var building = Land::getFirstInstanceOfObject(Building::find('MonteBurnsResortCasino'));         if(!isNULL(building)) { bonusReward = ceil(baseReward * (toDouble(Building::getArrangeBonus(building)) / 100)); }         return baseReward + bonusReward;" />
	</Heists>
	<AsianWonders_MysteryBoxGeneralConfig>
		<Include path="Config_PrizeBoxes:Default" />
		<Attribute name="backgroundImage" value="ICO_SpringfieldJobs_MysteryBoxOrnate_Background.rgb" />
		<Attribute name="openSound" value="THOH2017_MysteryBox_Open" />
		<Attribute name="ambientSound" value="AtW_PrizeBoxMusic" />
		<Attribute name="rewardPath" value="SpringfieldJobs_GameConfig:AsianWonders_MysteryBoxPrizes" />
		<Attribute name="showRewardTime" value="0.2f" />
		<Attribute name="fadeInSpeed" value="0.5f" />
		<Attribute name="fadeOutSpeed" value="4f" />
		<Attribute name="showGetMoreButton" value="true" />
	</AsianWonders_MysteryBoxGeneralConfig>
	<AsianWonders_MysteryBoxPrizes>
		<PrizeBox>
			<Attribute name="boxImage" value="SpringfieldJobs_MysteryBoxOrnate" />
			<Attribute name="consumable" value="SpringfieldJobs_AsianWonders_MysteryBox" />
			<Attribute name="openAnimation" value="ico_mystery_box_active" />
			<Attribute name="closedAnimation" value="ico_mystery_box_inactive" />
			<Attribute name="selectedAnimation" value="ico_mystery_box_inactive" />
			<Attribute name="infoTextIconAtlas" value="ico_genr_donut_xs" />
			<Attribute name="infoTextAmount" value="__SpringfieldJobs_GameConfig:Costs:SpringfieldJobs_AsianWonders_MysteryBox__" />
			<RewardList>
				<Reward chance="0.1">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:AmericatownKumikoSailorKumikoMysteryBox_Available" />
					</Requirements>
					<Item type="gameObjectBundle" name="KumikoSailorKumikoAndAmericaTownGOB" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_AmericaTownKumiko_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_AmericaTownKumiko_SM" />
				</Reward>
				<Reward chance="0.2">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:AmericatownSailorKumikoMysteryBox_Available" />
					</Requirements>
					<Item type="gameObjectBundle" name="SailorKumikoAndAmericaTownGOB" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_AmericaTownKumiko_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_AmericaTownKumiko_SM" />
				</Reward>
				<Reward chance="0.3">
					<Requirements>
						<Requirement type="building owned" building="HimejiCastle" not="true" />
					</Requirements>
					<Item type="building" name="HimejiCastle" />
				</Reward>
				<Reward chance="0.4">
					<Requirements>
						<Requirement type="building owned" building="RoyalTokyo" not="true" />
					</Requirements>
					<Item type="building" name="RoyalTokyo" />
				</Reward>
				<Reward chance="0.5">
					<Requirements>
						<Requirement type="building owned" building="TheHappySumo" not="true" />
					</Requirements>
					<Item type="building" name="TheHappySumo" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_HappySumoAkira_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_HappySumoAkira_SM" />
				</Reward>
				<Reward chance="0.6">
					<Requirements>
						<Requirement type="characterunlocked" name="MrSparkle" not="true" />
					</Requirements>
					<Item type="character" name="MrSparkle" />
				</Reward>
				<Reward chance="0.7">
					<Requirements>
						<Requirement type="building owned" building="ChineseAcrobaticTheatre" not="true" />
					</Requirements>
					<Item type="building" name="ChineseAcrobaticTheatre" />
				</Reward>
				<Reward chance="0.8">
					<Requirements>
						<Requirement type="building owned" building="ChineseJunk" not="true" />
					</Requirements>
					<Item type="building" name="ChineseJunk" />
				</Reward>
				<Reward chance="0.9">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:DragonBundleGOB_Available" />
					</Requirements>
					<Item type="gameObjectBundle" name="DragonBundleGOB" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_DragonBundle_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_DragonBundle_SM" />
				</Reward>
				<Reward chance="1">
					<Requirements>
						<Requirement type="building owned" building="GreatWallMainTower" not="true" />
					</Requirements>
					<Item type="building" name="GreatWallMainTower" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_GreatWallTower_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_GreatWallTower_SM" />
					/&gt;
                </Reward>
			</RewardList>
		</PrizeBox>
	</AsianWonders_MysteryBoxPrizes>
	<Casino_MysteryBoxGeneralConfig>
		<Include path="Config_PrizeBoxes:Default" />
		<Attribute name="backgroundImage" value="ICO_SpringfieldJobs_MysteryBoxMoes_Background.rgb" />
		<Attribute name="openSound" value="THOH2017_MysteryBox_Open" />
		<Attribute name="ambientSound" value="AtW_PrizeBoxMusic" />
		<Attribute name="rewardPath" value="SpringfieldJobs_GameConfig:Casino_MysteryBoxPrizes" />
		<Attribute name="showRewardTime" value="0.2f" />
		<Attribute name="fadeInSpeed" value="0.5f" />
		<Attribute name="fadeOutSpeed" value="4f" />
		<Attribute name="showGetMoreButton" value="true" />
	</Casino_MysteryBoxGeneralConfig>
	<Casino_MysteryBoxPrizes>
		<PrizeBox>
			<Attribute name="boxImage" value="SpringfieldJobs_MysteryBoxMoes" />
			<Attribute name="consumable" value="SpringfieldJobs_Casino_MysteryBox" />
			<Attribute name="openAnimation" value="ico_mystery_box_active" />
			<Attribute name="closedAnimation" value="ico_mystery_box_inactive" />
			<Attribute name="selectedAnimation" value="ico_mystery_box_inactive" />
			<Attribute name="infoTextIconAtlas" value="ico_genr_donut_xs" />
			<Attribute name="infoTextAmount" value="__SpringfieldJobs_GameConfig:Costs:SpringfieldJobs_Casino_MysteryBox__" />
			<RewardList>
				<Reward chance="0.142857143">
					<Requirements>
						<Requirement type="building owned" building="LaBelleFrottage" not="true" />
					</Requirements>
					<Item type="building" name="LaBelleFrottage" />
				</Reward>
				<Reward chance="0.285714286">
					<Requirements>
						<Requirement type="building owned" building="PeacockLounge" not="true" />
					</Requirements>
					<Item type="building" name="PeacockLounge" />
				</Reward>
				<Reward chance="0.428571429">
					<Requirements>
						<Requirement type="building owned" building="CaesarsPowWowCasino" not="true" />
					</Requirements>
					<Item type="building" name="CaesarsPowWowCasino" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_TribalChief_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_TribalChief_SM" />
				</Reward>
				<Reward chance="0.571428571">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HostessMissSpringfield_Bundle1_Available" />
					</Requirements>
					<Item type="gameObjectBundle" name="HostessMissSpringfieldAndSignGOB" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_HostessMissSpringfieldSign_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_HostessMissSpringfieldSign_SM" />
				</Reward>
				<Reward chance="0.714285714">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:HostessMissSpringfield_Bundle2_Available" />
					</Requirements>
					<Item type="gameObjectBundle" name="HostessMissSpringfieldGOB" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_HostessMissSpringfield_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_HostessMissSpringfield_SM" />
				</Reward>
				<Reward chance="0.857142857">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:GingerAndAmber_Available" />
					</Requirements>
					<Item type="consumable" name="GingerAndAmber" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_VegasWives_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_VegasWives_SM" />
				</Reward>
				<Reward chance="1">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:BartsCasinoAndCasinoBart_Available" />
					</Requirements>
					<Item type="consumable" name="BartsCasinoAndCasinoBart" customRewardIconOnCollectMenu="ICO_PRIZ_SpringfieldJobs_BartsCasino_LG" customRewardIconForPrizebox="ICO_PRIZ_SpringfieldJobs_BartsCasino_SM" />
				</Reward>
			</RewardList>
		</PrizeBox>
	</Casino_MysteryBoxPrizes>
	<InfoText>
		<Attribute name="TerracedHouse1_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:TerracedHouse1__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="TerracedHouse2_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:TerracedHouse2__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="TerracedHouse3_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:TerracedHouse3__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="TerracedHouse4_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:TerracedHouse4__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="TerracedHouse5_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:TerracedHouse5__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="TerracedHouse6_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:TerracedHouse6__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="Gondola_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:Gondola__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="DaVinciAircraft_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:DaVinciAircraft__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="CheeseTruck_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:CheeseTruck__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="GrandCanal1_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:GrandCanal1__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="GrandCanal2_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:GrandCanal2__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="GrandCanal3_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:GrandCanal3__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="GrandCanal4_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:GrandCanal4__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="GrandCanal5_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:GrandCanal5__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="OldPhoneBooth_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:OldPhoneBooth__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="PoliceCallBox_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:PoliceCallBox__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="QueensGuard_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:QueensGuard__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="Beefeater_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:Beefeater__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="FirstBankOfSpringfieldATM_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:FirstBankOfSpringfieldATM__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="FancyOvalFountain_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:FancyOvalFountain__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="FirstPrimeMinisterOfAustraliaStatue_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:FirstPrimeMinisterOfAustraliaStatue__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
		<Attribute name="RaceCarStatue_Info" value="INFO_ArrangementBonus_Desc" parameters="textParams" localise="true">
			<AttributeSet name="textParams">
				<Attribute name="0" value="__SpringfieldJobs_BalanceConfig:ArrangementBonus:RaceCarStatue__" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act1_Title" localise="true" />
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act2_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="1" value="UI_SpringfieldJobs_AB_ProgressPopup_Act3_Title" localise="true">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
	</InfoText>
</Attributes>