<TelemetryFamilies>
	<SpringfieldHeights>
		<SessionEvents>
			<Event id="3318">
				<Parameter0 type="Enumeration" source="SpendableBalance" extra="Furniture" />
				<Parameter1 type="Enumeration" source="SpendableBalance" extra="Latte" />
				<Parameter2 type="Enumeration" source="SpendableBalance" extra="YogaMat" />
			</Event>
			<Event id="3319">
				<Parameter0 type="Enumeration" source="SpendableBalance" extra="SmartDevice" />
				<Parameter1 type="Enumeration" source="SpendableBalance" extra="Pharmaceutical" />
				<Parameter2 type="Enumeration" source="SpendableBalance" extra="HollywoodAward" />
			</Event>
			<Event id="3510">
				<Parameter0 type="Enumeration" source="SpendableBalance" extra="Ads" />
				<Parameter1 type="Enumeration" source="NotUsed" extra="0" />
				<Parameter2 type="Enumeration" source="NotUsed" extra="0" />
			</Event>
			<Event id="3320">
				<Parameter0 type="Enumeration" source="SpendableInflow" extra="Furniture" />
				<Parameter1 type="Enumeration" source="SpendableInflow" extra="Latte" />
				<Parameter2 type="Enumeration" source="SpendableInflow" extra="YogaMat" />
			</Event>
			<Event id="3321">
				<Parameter0 type="Enumeration" source="SpendableInflow" extra="SmartDevice" />
				<Parameter1 type="Enumeration" source="SpendableInflow" extra="Pharmaceutical" />
				<Parameter2 type="Enumeration" source="SpendableInflow" extra="HollywoodAward" />
			</Event>
			<Event id="3511">
				<Parameter0 type="Enumeration" source="SpendableInflow" extra="Ads" />
				<Parameter1 type="Enumeration" source="NotUsed" extra="0" />
				<Parameter2 type="Enumeration" source="NotUsed" extra="0" />
			</Event>
			<Event id="3322">
				<Parameter0 type="Enumeration" source="SpendableBalance" extra="RealEstateValue" />
			</Event>
			<Event id="3323">
				<Parameter0 type="Enumeration" source="SpendableOutflow" extra="Furniture" />
				<Parameter1 type="Enumeration" source="SpendableOutflow" extra="Latte" />
				<Parameter2 type="Enumeration" source="SpendableOutflow" extra="YogaMat" />
			</Event>
			<Event id="3324">
				<Parameter0 type="Enumeration" source="SpendableOutflow" extra="SmartDevice" />
				<Parameter1 type="Enumeration" source="SpendableOutflow" extra="Pharmaceutical" />
				<Parameter2 type="Enumeration" source="SpendableOutflow" extra="HollywoodAward" />
			</Event>
			<Event id="3512">
				<Parameter0 type="Enumeration" source="SpendableOutflow" extra="Ads" />
				<Parameter1 type="Enumeration" source="NotUsed" extra="0" />
				<Parameter2 type="Enumeration" source="NotUsed" extra="0" />
			</Event>
			<Event id="3326">
				<Parameter0 type="Enumeration" source="VariableAsInt" extra="ShopSlotsUnlockedCount" />
				<Parameter1 type="Enumeration" source="VariableAsInt" extra="CoffeeShopSlotsUnlockedCount" />
				<Parameter2 type="Enumeration" source="VariableAsInt" extra="LABodyWorksSlotsUnlockedCount" />
			</Event>
			<Event id="3327">
				<Parameter0 type="Enumeration" source="VariableAsInt" extra="SpringfieldHeightsInstituteOfTechnologySlotsUnlockedCount" />
				<Parameter1 type="Enumeration" source="VariableAsInt" extra="PharmerJohnsPharmaceuticalsSlotsUnlockedCount" />
				<Parameter2 type="Enumeration" source="VariableAsInt" extra="HeightsTheaterSlotsUnlockedCount" />
			</Event>
			<Event id="3513">
				<Parameter0 type="Enumeration" source="VariableAsInt" extra="MarketingAgencySlotsUnlockedCount" />
				<Parameter1 type="Enumeration" source="NotUsed" extra="0" />
				<Parameter2 type="Enumeration" source="NotUsed" extra="0" />
			</Event>
			<Event id="3415">
				<Parameter0 type="Enumeration" source="VariableAsInt" extra="IRS_GRIND_SPENT_TO_LEVEL" />
				<Parameter1 type="Enumeration" source="VariableAsInt" extra="IRS_BUILDING_LEVEL" />
			</Event>
		</SessionEvents>
		<TriggerEffects>
			<TriggerEffect>
				<Filter type="matching" key="TriggerType" string="OnBuildingPlaced" />
				<Filter type="matching" key="FromInventory" formula="0" />
				<Filter type="logic" conditional="or">
					<Filter type="matching" key="OriginalCostSpendable" string="Furniture" />
					<Filter type="matching" key="OriginalCostSpendable" string="Latte" />
					<Filter type="matching" key="OriginalCostSpendable" string="Pharmaceutical" />
					<Filter type="matching" key="OriginalCostSpendable" string="SmartDevice" />
					<Filter type="matching" key="OriginalCostSpendable" string="YogaMat" />
					<Filter type="matching" key="OriginalCostSpendable" string="HollywoodAward" />
					<Filter type="matching" key="OriginalCostSpendable" string="Ads" />
				</Filter>
				<Response type="logEvent">
					<Event id="3325">
						<Parameter0 type="Enumeration" source="FixedString" extra="{Trigger::ObjectName}" />
						<Parameter1 type="Score" source="FormulaAsInt" extra="{Trigger::PremiumCost}" />
						<Parameter2 type="UserLevel" source="UserLevel" />
					</Event>
				</Response>
			</TriggerEffect>
		</TriggerEffects>
	</SpringfieldHeights>
</TelemetryFamilies>