<Heights_Merchandising>
	<FancyGate>
		<Object type="building" id="105503" name="FancyGate" />
	</FancyGate>
	<ModernMansionSolarPanel>
		<Object type="building" id="105621" name="ModernMansionSolarPanel" />
	</ModernMansionSolarPanel>
	<ModernMansionArtStatue>
		<Object type="building" id="105612" name="ModernMansionArtStatue" />
	</ModernMansionArtStatue>
	<Helicopter>
		<Object type="building" id="105506" name="Helicopter" />
	</Helicopter>
	<SolidGoldFence>
		<Object type="building" id="105519" name="SolidGoldFence" />
	</SolidGoldFence>
	<SolidGoldBrickWall>
		<Object type="building" id="105518" name="SolidGoldBrickWall" />
	</SolidGoldBrickWall>
	<LamborgottiFasterossa>
		<Object type="building" id="105511" name="LamborgottiFasterossa" />
	</LamborgottiFasterossa>
	<LuxuryYacht>
		<Object type="building" id="105513" name="LuxuryYacht" />
	</LuxuryYacht>
	<PoloField>
		<Object type="building" id="105516" name="PoloField" />
	</PoloField>
	<TennisCourt>
		<Object type="building" id="108522" name="TennisCourt" />
	</TennisCourt>
	<FancyBush>
		<Object type="building" id="105509" name="FancyBush" />
	</FancyBush>
	<MoneyTree>
		<Object type="building" id="105512" name="MoneyTree" />
	</MoneyTree>
</Heights_Merchandising>