<Characters>
	<MasterList>
		<DataID id="162000" name="SpringfieldGames_FatovTappable" onDeprecated="delete" />
		<DataID id="162001" name="Fatov" />
	</MasterList>
	<Character id="162000" name="SpringfieldGames_FatovTappable" unique="false" invisibleToFriends="true" hasDialogue="false" storable="false" selectInRearrange="false" minSpawnDistance="200" ignoredByCensus="true">
		<WalkSpeed speed="50" />
		<Animations character="Fatov" />
		<PreferredGridType type="grass|road|sidewalk" />
		<TouchPriority value="8" />
		<OnEvent onObject="SpringfieldGames_FatovTappable" event="CharacterTouched" user="local">
			<Script name="SpringfieldGames_PinCollectionScripts:SpringfieldGames_FatovTappable_Tapped" />
		</OnEvent>
		<OnEvent onObject="SpringfieldGames_FatovTappable" event="CharacterGained" user="local">
			<Script name="SpringfieldGames_PinCollectionScripts:SpringfieldGames_FatovTappable_Spawned" />
		</OnEvent>
		<AABB w="3" h="6" />
	</Character>
	<Character id="162001" name="Fatov" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="Fatov" />
		<AnimationRemap>
			<Remap from="victory_pose" to="fatov_tap" />
		</AnimationRemap>
		<Sound event="CharacterSoundTouched" sound="FATOV_SPAWN.caf" />
		<Sound event="CharacterSoundDone" sound="FATOV_SPAWN.caf" />
		<UnlockSound type="iKnowHim" />
		<Set index="4" name="SpringfieldGames" />
		<Group name="HighRoller" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Cost donuts="50" />
	</Character>
</Characters>