<Requirements>
	<StoreCategory_SpringfieldChoppers_Unlocked>
		<Requirement type="quest" quest="MyPad" />
		<Requirement type="time" start="SpringfieldChoppers_Start" end="SpringfieldChoppers_End" />
		<Requirement type="quest started" quest="SpringfieldChoppers_IntroPanel" />
	</StoreCategory_SpringfieldChoppers_Unlocked>
	<MasterQuestActive>
		<Requirement type="conditional" logic="OR">
			<Requirement type="active quest" quest="SpringfieldTurfWars_1" />
			<Requirement type="active quest" quest="SpringfieldTurfWars_2" />
			<Requirement type="active quest" quest="SpringfieldTurfWars_3" />
			<Requirement type="active quest" quest="SpringfieldTurfWars_4" />
			<Requirement type="active quest" quest="SpringfieldTurfWars_5" />
		</Requirement>
	</MasterQuestActive>
	<SpringfieldChoppers_TrayOfDonuts_Visible>
		<Requirement type="reqList" location="SpringfieldChoppers_Requirements:MTXPurchaseOfferVisibility" />
		<Requirement type="time" start="SpringfieldChoppers_Start" end="SpringfieldChoppers_End" />
		<Requirement type="reqList" location="SpringfieldChoppers_Requirements:StoreCategory_SpringfieldChoppers_Unlocked" />
		<Requirement type="variable" variable="SpringfieldChoppers_TrayOfDonuts_Purchased" not="true" />
	</SpringfieldChoppers_TrayOfDonuts_Visible>
	<ShelbyvilleBundle_Visible>
		<Requirement type="building owned" building="ShelbyvilleElementary" not="true" />
		<Requirement type="building owned" building="JoesTavern" not="true" />
		<Requirement type="building owned" building="SpeedEMart" not="true" />
	</ShelbyvilleBundle_Visible>
	<MTXPurchaseOfferVisibility>
		<Requirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="conditional" logic="AND">
					<Requirement type="platform" platform="ios" />
					<Requirement type="config" key="SpringfieldChoppers_GameConfig:EnableMTX:SpringfieldChoppers_iOSMTXOffersEnabled" value="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="platform" platform="android" />
					<Requirement type="config" key="SpringfieldChoppers_GameConfig:EnableMTX:SpringfieldChoppers_AndroidMTXOffersEnabled" value="true" />
				</Requirement>
			</Requirement>
		</Requirements>
	</MTXPurchaseOfferVisibility>
</Requirements>