<SpecialEvents>
	<MasterList>
		<DataID id="242000" name="SpringfieldChoppers_Event" />
		<DataID id="242001" name="SpringfieldChoppers_EventEnd" onDeprecated="delete" endDate="SpringfieldChoppers_End" />
	</MasterList>
	<SpecialEvent id="242000" name="SpringfieldChoppers_Event">
		<Variable name="SpringfieldChoppers_PreExpiryDisplayed24" value="false" />
		<Variable name="SpringfieldChoppers_PreExpiryDisplayed72" value="false" />
		<Variable name="SpringfieldChoppers_ExpiryDisplayed" value="false" />
		<Variable name="SpringfieldChoppers_IntroSeen" value="false" />
		<Variable name="SpringfieldChoppers_TrayOfDonuts_Purchased" value="false" />
		<onExit destroyHUD="true" />
		<SpecialButtons>
			<Button mode="game" icon="ICO_MHUD_SpringfieldChoppers_Event">
				<Requirements>
					<Requirement type="land" land="Springfield" />
					<Requirement type="variable" variable="SpringfieldChoppers_IntroSeen" />
					<Requirement type="variable" variable="SpringfieldChoppers_Complete" not="true" />
					<Requirement type="time" end="SpringfieldChoppers_End" />
				</Requirements>
				<RunScript>
					<Script name="OpenMasterQuest" package="SpringfieldChoppers_Scripts" />
				</RunScript>
			</Button>
		</SpecialButtons>
		<EventCurrencyJobLists>
			<JobList name="SpringfieldChoppers_JL_1">
				<Title value="QST_SpringfieldTurfWars_1_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldChoppers_GameConfig:ResourceQuantities:SpringfieldChoppers_ResourceList1__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldChoppers_Currency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldChoppers_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="SiphonGasFromVehicles" character="WolfguyJack" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext" isPremium="true">
						<Job name="SiphonGasFromVehicles" character="WilburNurple" />
						<CustomGetNowScript package="SpringfieldChoppers_Scripts" name="SpringfieldChoppers_MTX_DisplayPromo" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Bart" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Homer" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Marge" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Wiggum" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Grampa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Meathook" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Ramrod" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldChoppers_JL_2">
				<Title value="QST_SpringfieldTurfWars_2_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldChoppers_GameConfig:ResourceQuantities:SpringfieldChoppers_ResourceList2__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldChoppers_Currency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldChoppers_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="SiphonGasFromVehicles" character="WolfguyJack" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext" isPremium="true">
						<Job name="SiphonGasFromVehicles" character="WilburNurple" />
						<CustomGetNowScript package="SpringfieldChoppers_Scripts" name="SpringfieldChoppers_MTX_DisplayPromo" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Bart" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Homer" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Marge" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Wiggum" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Grampa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Meathook" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Ramrod" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldChoppers_JL_3">
				<Title value="QST_SpringfieldTurfWars_3_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldChoppers_GameConfig:ResourceQuantities:SpringfieldChoppers_ResourceList3__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldChoppers_Currency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldChoppers_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="SiphonGasFromVehicles" character="WolfguyJack" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext" isPremium="true">
						<Job name="SiphonGasFromVehicles" character="WilburNurple" />
						<CustomGetNowScript package="SpringfieldChoppers_Scripts" name="SpringfieldChoppers_MTX_DisplayPromo" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Bart" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Homer" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Marge" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Wiggum" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Grampa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Meathook" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Ramrod" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldChoppers_JL_4">
				<Title value="QST_SpringfieldTurfWars_4_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldChoppers_GameConfig:ResourceQuantities:SpringfieldChoppers_ResourceList4__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldChoppers_Currency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldChoppers_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="SiphonGasFromVehicles" character="WolfguyJack" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext" isPremium="true">
						<Job name="SiphonGasFromVehicles" character="WilburNurple" />
						<CustomGetNowScript package="SpringfieldChoppers_Scripts" name="SpringfieldChoppers_MTX_DisplayPromo" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Bart" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Homer" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Marge" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Wiggum" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Grampa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Meathook" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Ramrod" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldChoppers_JL_5">
				<Title value="QST_SpringfieldTurfWars_5_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldChoppers_GameConfig:ResourceQuantities:SpringfieldChoppers_ResourceList5__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldChoppers_Currency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldChoppers_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="SiphonGasFromVehicles" character="WolfguyJack" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext" isPremium="true">
						<Job name="SiphonGasFromVehicles" character="WilburNurple" />
						<CustomGetNowScript package="SpringfieldChoppers_Scripts" name="SpringfieldChoppers_MTX_DisplayPromo" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Bart" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Homer" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Marge" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Wiggum" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Grampa" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Meathook" />
					</Slot>
					<Slot>
						<Job name="BorrowGasCansFromPeoplesGarages" character="Ramrod" />
					</Slot>
				</ResourceGenerator>
			</JobList>
		</EventCurrencyJobLists>
		<Buildings override="true">
			<Building id="242001" name="GreasersCafe">
				<BuildMenuText text="__SpringfieldChoppers_GameConfig:EarnsCurrency:GasCans__" />
			</Building>
		</Buildings>
		<Jobs override="true">
			<Job name="BorrowGasCansFromPeoplesGarages" id="242015">
				<Reward xp="__SpringfieldChoppers_GameConfig:CurrencyRewards:4HStandard_XP__" SpringfieldChoppers_Currency="__SpringfieldChoppers_GameConfig:CurrencyRewards:RegularJobReward__" />
			</Job>
			<Job name="SiphonGasFromVehicles" id="242016">
				<Reward xp="__SpringfieldChoppers_GameConfig:CurrencyRewards:4HPremium_XP__" SpringfieldChoppers_Currency="__SpringfieldChoppers_GameConfig:CurrencyRewards:PremiumJobReward__" />
			</Job>
		</Jobs>
	</SpecialEvent>
	<SpecialEvent id="242001" name="SpringfieldChoppers_EventEnd">
		<Variable name="SpringfieldChoppers_Store" value="false" />
	</SpecialEvent>
</SpecialEvents>