<SoundKitPackage>
	<SoundKit name="SpringfieldEnlightened_Act1PrizeTrackCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<Sound name="sfx_County_Fair_Ribbon_Pickup_01" />
		<Sound name="sfx_County_Fair_Ribbon_Pickup_02" />
		<Sound name="sfx_County_Fair_Ribbon_Pickup_03" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="SpringfieldEnlightened_Act2PrizeTrackCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<Sound name="sfx_Toaster_Currency_Fossil_Stones_pickup_01" />
		<Sound name="sfx_Toaster_Currency_Fossil_Stones_pickup_02" />
		<Sound name="sfx_Toaster_Currency_Fossil_Stones_pickup_03" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="SpringfieldEnlightened_Act3PrizeTrackCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<Sound name="sfx_SpringfieldEnlightened_KoiFish_Pickup_01" />
		<Sound name="sfx_SpringfieldEnlightened_KoiFish_Pickup_02" />
		<Sound name="sfx_SpringfieldEnlightened_KoiFish_Pickup_03" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="SpringfieldEnlightened_Act4PrizeTrackCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<Sound name="sfx_XMAS16_Brooch_pickup_01" />
		<Sound name="sfx_XMAS16_Brooch_pickup_02" />
		<Sound name="sfx_XMAS16_Brooch_pickup_03" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Siddmartha_tap" channel="dialogue_channel">
		<Sound name="SIDDMARTHA_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Siddmartha_good" channel="dialogue_channel">
		<Sound name="SIDDMARTHA_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Siddmartha_bad" channel="dialogue_channel">
		<Sound name="SIDDMARTHA_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="Siddmartha_done" channel="dialogue_channel">
		<Sound name="SIDDMARTHA_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="MeditatingBear_tap" channel="dialogue_channel">
		<Sound name="sfx_SpringfieldEnlightened_MeditatingBear" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="QueenGautama_tap" channel="dialogue_channel">
		<Sound name="QUEEN_GUATAMA_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="QueenGautama_good" channel="dialogue_channel">
		<Sound name="QUEEN_GUATAMA_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="QueenGautama_bad" channel="dialogue_channel">
		<Sound name="QUEEN_GUATAMA_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="QueenGautama_done" channel="dialogue_channel">
		<Sound name="QUEEN_GUATAMA_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="AdvisorFrink_tap" channel="dialogue_channel">
		<Sound name="ADVISOR_FRINK_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="AdvisorFrink_good" channel="dialogue_channel">
		<Sound name="ADVISOR_FRINK_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="AdvisorFrink_bad" channel="dialogue_channel">
		<Sound name="ADVISOR_FRINK_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="AdvisorFrink_done" channel="dialogue_channel">
		<Sound name="ADVISOR_FRINK_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="KingGautama_tap" channel="dialogue_channel">
		<Sound name="KING_GUATAMA_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="KingGautama_good" channel="dialogue_channel">
		<Sound name="KING_GUATAMA_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="KingGautama_bad" channel="dialogue_channel">
		<Sound name="KING_GUATAMA_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="KingGautama_done" channel="dialogue_channel">
		<Sound name="KING_GUATAMA_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="PrinceGautama_tap" channel="dialogue_channel">
		<Sound name="PRINCE_GUATAMA_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="PrinceGautama_good" channel="dialogue_channel">
		<Sound name="PRINCE_GUATAMA_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="PrinceGautama_bad" channel="dialogue_channel">
		<Sound name="PRINCE_GUATAMA_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="PrinceGautama_done" channel="dialogue_channel">
		<Sound name="PRINCE_GUATAMA_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheDalaiLama_tap" channel="dialogue_channel">
		<Sound name="THE_DALAI_LAMA_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheDalaiLama_bad" channel="dialogue_channel">
		<Sound name="THE_DALAI_LAMA_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheDalaiLama_done" channel="dialogue_channel">
		<Sound name="THE_DALAI_LAMA_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheMaster_tap" channel="dialogue_channel">
		<Sound name="THE_MASTER_TAP" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheMaster_good" channel="dialogue_channel">
		<Sound name="THE_MASTER_JOBGOOD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheMaster_bad" channel="dialogue_channel">
		<Sound name="THE_MASTER_JOBBAD" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheMaster_done" channel="dialogue_channel">
		<Sound name="THE_MASTER_JOBDONE" />
		<Volume value="1.0" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="KathmanduU_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_KathmanduU" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="MadameAndMasseur_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_MadameAndMasseur" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="SpringfieldEleZenTary_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_SpringfieldEleZenTary" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="RoyalTower_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_RoyalTower" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TowerOfScience_tap" channel="buildingTap_channel">
		<Sound name="sfx_THOH_HellScientists_Ambience" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="GautamaPalace_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_GautamaPalace" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="AncientMultiplayerGame_tap" channel="buildingTap_channel">
		<Sound name="sfx_Springfield_Jobs_Colosseum" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="JogyesaTemple_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_JogyesaTemple" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="TheTajMahal_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_TajMahal" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="GoldenBuddha_tap" channel="buildingTap_channel">
		<Sound name="sfx_SimpsonsWrestling_Tofu_Bell" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="FooTempleDog_tap" channel="buildingTap_channel">
		<Sound name="sfx_SciFi_Giant_Robot_02" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="BodhiTree_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_BodhiTree" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="CrazyPrincessViewingArea_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_CrazyPrincessViewingArea" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="SensoryDeprivationTank_tap" channel="buildingTap_channel">
		<Sound name="sfx_WildWest_HotSprings" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="PartyElephant_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_PartyElephant" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="WetSariContest_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_WetSariContest" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="SiddmarthasPonies_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_SiddmarthasPonies" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="SaltMandala_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_SaltMandala" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
	<SoundKit name="EnlightenmentFountain_tap" channel="buildingTap_channel">
		<Sound name="sfx_SpringfieldEnlightened_EnlightenmentFountain" />
		<Volume value="0.8" />
		<PlayStyle type="PlayOnce" />
	</SoundKit>
</SoundKitPackage>