<Buildings>
	<MasterList>
		<DataID id="139000" name="MarketingAgency" />
		<DataID id="139001" name="PrivateIsland" />
		<DataID id="139002" name="ExclusiveResort" />
		<DataID id="139004" name="MountainLodge" />
		<DataID id="139005" name="HeightsOperaHouse" />
		<DataID id="139100" name="DeluxeCondo_Complete" />
		<DataID id="139101" name="ValetParking_Complete" />
		<DataID id="139102" name="BusinessCenter_Complete" />
		<DataID id="139103" name="PrivateIsland2" />
		<DataID id="139104" name="PrivateIsland3" />
		<DataID id="139105" name="PrivateIsland4" />
		<DataID id="139106" name="PrivateIsland_Complete" />
		<DataID id="139107" name="PrivateIsland_Top" />
		<DataID id="139108" name="PrivateIsland2_Top" />
		<DataID id="139109" name="PrivateIsland3_Top" />
		<DataID id="139110" name="PrivateIsland4_Top" />
		<DataID id="139111" name="PrivateIsland_Complete_Top" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="true" />
		<MultiPlace value="false" />
		<LoadBuilding value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="false" />
		<TaxJobPackage value="SpringfieldHeights2_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="139000" name="MarketingAgency" type="Building" xpValue="0" customReminderIcon="ICO_SheightsExpac_ads_LG" animated="true">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="false" />
		<Unique value="true" />
		<BuildTime time="0" />
		<RatingElem shopping="10" />
		<SoundKit event="BuildingTouched" name="bld_MarketingAgency_Tap" />
		<GridType type="beach|grass|dirtpavement|pavement|boardwalk|pier|pieredge" />
		<BSv2 name="MarketingAgency" flippedname="MarketingAgencyFlipped" />
		<TouchIcon value="Indicator_Heights_CallToActionAds.rgb" removeOnTouch="true" touchBuildingOnTouch="true">
			<Requirement type="reqList" location="SpringfieldHeights_GameConfig:MarketingAgencyIdleReqList" />
		</TouchIcon>
		<OnEvent event="BuildingTouched" gamestate="GameState_InGame" user="local">
			<Script name="CollectDroppedResources" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<GenericRequirement name="idleButtonBuilding">
			<Requirement type="conditional" logic="OR">
				<Requirement type="JobState" building="MarketingAgency" state="WaitingOnAwards" />
				<Requirement type="reqList" location="SpringfieldHeights_GameConfig:MarketingAgencyIdleReqList" />
			</Requirement>
		</GenericRequirement>
		<ResourceGenerator resourceCapSelector="selector AdsResourceCap" slotsUnlockedVariable="MarketingAgencySlotsUnlockedCount" resourceName="Ads" resourceCapIcon="ICO_SheightsExpac_ads_SM.rgb" auxiliarySpendable="RealEstateValue" topupConfig="HeightsRatio" menuConfig="SpringfieldHeights_MenuConfig:ResourceGeneratorConfig" useHelpScript="SpringfieldHeights_Scripts:SpringfieldHeightsShowGuidePanel_ResourceBuilding">
			<Slot tipText="UI_PremiumSlot_tiptext">
				<Job name="CraftDisclaimers" character="BlueHairedLawyer" />
			</Slot>
			<Slot unlockIcon="Sidebar_LindsayNaegle.rgb" unlockTitle="JOB_RunFocusGroup_name">
				<Job name="RunFocusGroup" character="LindseyNaegle" />
			</Slot>
			<Slot unlockIcon="Sidebar_Skinner.rgb" unlockTitle="JOB_TakeBlindTasteTest_name">
				<UnlockRequirements>
					<Requirement type="special currency" currency="RealEstateValue" amount="49000000" />
				</UnlockRequirements>
				<UnlockVariable name="MarketingAgencySlot2" />
				<UnlockScript package="SpringfieldHeights2_Scripts" name="IncrementMarketingAgencySlotsUnlockedCount" />
				<UnlockCost Furniture="40" YogaMat="20" />
				<Job name="TakeBlindTasteTest" character="Skinner" />
			</Slot>
			<Slot unlockIcon="Sidebar_Martin.rgb" unlockTitle="JOB_ImproveOnlineAdClickThroughs_name">
				<UnlockRequirements>
					<Requirements>
						<Requirement type="special currency" currency="RealEstateValue" amount="52000000" />
						<Requirement type="variable" variable="MarketingAgencySlot2" value="1" text="UI_MarketingAgencySlot3_requirement" />
					</Requirements>
				</UnlockRequirements>
				<UnlockVariable name="MarketingAgencySlot3" />
				<UnlockScript package="SpringfieldHeights2_Scripts" name="IncrementMarketingAgencySlotsUnlockedCount" />
				<UnlockCost Furniture="60" YogaMat="30" />
				<Job name="ImproveOnlineAdClickThroughs" character="Martin" />
			</Slot>
			<Slot unlockIcon="Sidebar_Carl.rgb" unlockTitle="JOB_StarInABeachAd_name">
				<UnlockRequirements>
					<Requirements>
						<Requirement type="special currency" currency="RealEstateValue" amount="62000000" />
						<Requirement type="variable" variable="MarketingAgencySlot3" value="1" text="UI_MarketingAgencySlot4_requirement" />
					</Requirements>
				</UnlockRequirements>
				<UnlockVariable name="MarketingAgencySlot4" />
				<UnlockScript package="SpringfieldHeights2_Scripts" name="IncrementMarketingAgencySlotsUnlockedCount" />
				<UnlockCost Furniture="80" YogaMat="40" />
				<Job name="StarInABeachAd" character="Carl" />
			</Slot>
			<Slot unlockIcon="Sidebar_Lenny.rgb" unlockTitle="JOB_BeExtraInABeachAd_name">
				<UnlockRequirements>
					<Requirements>
						<Requirement type="special currency" currency="RealEstateValue" amount="67000000" />
						<Requirement type="variable" variable="MarketingAgencySlot4" value="1" text="UI_MarketingAgencySlot5_requirement" />
					</Requirements>
				</UnlockRequirements>
				<UnlockVariable name="MarketingAgencySlot5" />
				<UnlockScript package="SpringfieldHeights2_Scripts" name="IncrementMarketingAgencySlotsUnlockedCount" />
				<UnlockCost Furniture="100" YogaMat="50" />
				<Job name="BeExtraInABeachAd" character="Lenny" />
			</Slot>
			<Slot unlockIcon="Sidebar_DeweyLargo.rgb" unlockTitle="JOB_ComposeCommercialJingles_name" tipText="UI_PremiumSlot_tiptext">
				<UnlockRequirements>
					<Requirements>
						<Requirement type="level" level="40" />
					</Requirements>
				</UnlockRequirements>
				<VisibilityRequirements>
					<Requirement type="quest" quest="SpringfieldHeights_10" />
					<Requirement type="conditional" logic="OR">
						<Requirement type="character" name="DeweyLargo" allowProxies="false" />
						<Requirement type="item" item="DeweyLargo" />
						<Requirement type="characterunlocked" name="DeweyLargo" not="true" />
					</Requirement>
				</VisibilityRequirements>
				<Job name="ComposeCommercialJingles" character="DeweyLargo" />
			</Slot>
			<Slot unlockIcon="Sidebar_CookieKwan.rgb" unlockTitle="JOB_PostWestSideRealtyAd_name">
				<UnlockRequirements>
					<Requirements>
						<Requirement type="special currency" currency="RealEstateValue" amount="90000000" />
						<Requirement type="variable" variable="MarketingAgencySlot5" value="1" text="UI_MarketingAgencySlot6_requirement" />
						<Requirement type="characterunlocked" name="CookieKwan" text="CHA_CookieKwan_name" />
					</Requirements>
				</UnlockRequirements>
				<VisibilityRequirements>
					<Requirement type="quest" quest="SpringfieldHeights_10" />
					<Requirement type="conditional" logic="OR">
						<Requirement type="character" name="CookieKwan" allowProxies="false" />
						<Requirement type="item" item="CookieKwan" />
						<Requirement type="characterunlocked" name="CookieKwan" not="true" />
					</Requirement>
				</VisibilityRequirements>
				<UnlockScript package="SpringfieldHeights2_Scripts" name="IncrementMarketingAgencySlotsUnlockedCount" />
				<UnlockVariable name="MarketingAgencySlot6" />
				<UnlockCost Furniture="140" SmartDevice="60" />
				<Job name="PostWestSideRealtyAd" character="CookieKwan" />
			</Slot>
			<Slot unlockIcon="Sidebar_Dolph.rgb" unlockTitle="JOB_StarInAnAntiBullyingCampaign_name">
				<UnlockRequirements>
					<Requirements>
						<Requirement type="special currency" currency="RealEstateValue" amount="90000000" />
						<Requirement type="variable" variable="MarketingAgencySlot5" value="1" text="UI_MarketingAgencySlot6_requirement" />
						<Requirement type="characterunlocked" name="Dolph" text="CHA_Dolph_name" />
					</Requirements>
				</UnlockRequirements>
				<VisibilityRequirements>
					<Requirement type="quest" quest="SpringfieldHeights_10" />
					<Requirement type="conditional" logic="OR">
						<Requirement type="character" name="Dolph" allowProxies="false" />
						<Requirement type="item" item="Dolph" />
						<Requirement type="characterunlocked" name="Dolph" not="true" />
					</Requirement>
				</VisibilityRequirements>
				<UnlockScript package="SpringfieldHeights2_Scripts" name="IncrementMarketingAgencySlotsUnlockedCount" />
				<UnlockVariable name="MarketingAgencySlot7" />
				<UnlockCost Furniture="140" SmartDevice="60" />
				<Job name="StarInAnAntiBullyingCampaign" character="Dolph" />
			</Slot>
		</ResourceGenerator>
	</Building>
	<Building id="139002" name="ExclusiveResort" type="Building" animated="true">
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="20000000" />
			<Requirement type="quest started" quest="SpringfieldHeights_10" />
		</Requirements>
		<Limit value="10" />
		<Cost Ads="10" />
		<ConstructionReward xp="40" RealEstateValue="720000" />
		<RatingElem shopping="10" />
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="8h" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<SoundKit event="BuildingTouched" name="bld_ExclusiveResort_Tap" />
		<AmbientSound soundKit="Fountain_Med" />
		<BuildFromInventory value="true" />
		<BSv2 name="exclusiveresort" flippedname="exclusiveresortflipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach|boardwalk|boardwalkedge|pier|pieredge" overrideFlatFootprint="false" />
		<OnEvent onObject="ExclusiveResort" event="BuildingTouched" gamestate="GameState_InGame" user="local">
			<Script name="ShowUpgradableBuildingUI" package="SpringfieldHeights_Scripts" />
		</OnEvent>
		<OnEvent onObject="ExclusiveResort" event="BuildingTouched" gamestate="GameState_QuestProgress" user="local">
			<Script name="ShowUpgradableBuildingUI" package="SpringfieldHeights_Scripts" />
		</OnEvent>
		<AllowLevelUp value="true" levelVariable="Object::SHLevel" useLevelUpMenuConfig="SpringfieldHeights2_BuildingUpgradeConfig:UpgradableBuildingModularLevelUpMenu" />
		<TouchIcon value="Indicator_Super15_UpgradeHQ.rgb" removeOnTouch="false">
			<Requirements>
				<Requirement type="players land" />
				<Requirement type="formula" formula="Object::SHLevel&lt;4" />
				<Requirement type="special currency" currency="Ads" amount="__SpringfieldHeights_GameConfig:ExclusiveResortLevelUpCosts:AdsCost__" />
				<Requirement type="special currency" currency="YogaMat" amount="__SpringfieldHeights_GameConfig:ExclusiveResortLevelUpCosts:YogaMatCost__" />
				<Requirement type="special currency" currency="Pharmaceutical" amount="__SpringfieldHeights_GameConfig:ExclusiveResortLevelUpCosts:PharmaceuticalCost__" />
			</Requirements>
		</TouchIcon>
		<OnEvent event="BuildingTouched" onObject="ExclusiveResort" user="local">
			<Script name="TouchExclusiveResort" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
	</Building>
	<Building id="139004" name="MountainLodge" type="Building">
		<Requirements>
			<Requirement type="quest started" quest="LodgeAComplaint_8" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="quest started" quest="LodgeAComplaint_7" />
		</VisibilityRequirements>
		<ConstructionReward xp="100" RealEstateValue="2500000" />
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<RatingElem decoration="10" />
		<BuildTime time="6s" />
		<GridType type="grass|dirtpavement" />
		<Group name="Home" />
		<Group name="HomeVisitable" />
		<BSv2 name="MountainLodge" />
		<SoundKit event="BuildingTouched" name="bld_MountainLodge_Tap" />
		<Job id="139300" name="EnsuringEverythingIsMadeOfWood" time="12h" />
	</Building>
	<Building id="139005" name="HeightsOperaHouse" type="Building">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="SpringfieldHeights_11" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="150" RealEstateValue="2500000" />
		<Unique value="true" />
		<BuildTime time="6s" />
		<RatingElem shopping="10" />
		<Sell allowed="false" storeoverride="true" />
		<Cost donuts="100" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge" />
		<BSv2 name="OperaHouse" flippedname="OperaHouseFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge" overrideFlatFootprint="false" />
		<Job id="139301" name="PreCrashingChandeliers" time="2h" premiumJob="true" />
		<SoundKit event="BuildingTouched" name="bld_OperaHouse_Tap" />
	</Building>
	<Building id="139100" name="DeluxeCondo_Complete" type="Building" animated="true" xpValue="0">
		<BuildFromInventory value="true" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<SoundKit event="BuildingTouched" name="DeluxeCondo_Tap" />
		<Group name="DeluxeCondoGroup" />
		<Group name="WalkTheDogLocations" />
		<Group name="ClassUpAPartyLocations" />
		<RatingElem housing="10" />
		<Bonus money="0.01" exp="0.01" />
		<BSv2 name="FancyCondo05" />
	</Building>
	<Building id="139101" name="ValetParking_Complete" type="Building" animated="true" xpValue="0">
		<GridType type="grass|dirtpavement|pavement|beach" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<SoundKit event="BuildingTouched" name="DeluxeCondo_Tap" />
		<Group name="WalkTheDogLocations" />
		<Group name="ClassUpAPartyLocations" />
		<RatingElem housing="10" />
		<Bonus money="0.03" exp="0.03" />
		<BSv2 name="FancyParkade05" flippedname="FancyParkade05Flipped" />
	</Building>
	<Building id="139102" name="BusinessCenter_Complete" type="Building" animated="true" xpValue="0">
		<GridType type="grass|dirtpavement|pavement|beach" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<SoundKit event="BuildingTouched" name="DeluxeCondo_Tap" />
		<Group name="WalkTheDogLocations" />
		<Group name="ClassUpAPartyLocations" />
		<RatingElem housing="10" />
		<Bonus money="0.02" exp="0.02" />
		<BSv2 name="FancyBusiness05" />
	</Building>
	<Building id="139001" name="PrivateIsland" type="Building" animated="true" flatBuilding="true">
		<Limit value="3" linkedBuildingCountsAgainstLimit="PrivateIsland2|PrivateIsland3|PrivateIsland4|PrivateIsland_Complete" />
		<Cost Ads="40" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="7500000" />
			<Requirement type="quest started" quest="SpringfieldHeights_14" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<ConstructionReward xp="50" RealEstateValue="720000" />
		<RatingElem decoration="10" />
		<GridType type="ocean" />
		<SoundKit event="BuildingTouched" name="bld_PrivateIsland_Tap" />
		<AmbientSound soundKit="build_Unoriginal_Logride_amb_loop" />
		<Falls value="true" />
		<OnEvent onObject="PrivateIsland" event="BuildingTouched" gamestate="GameState_InGame" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<OnEvent onObject="PrivateIsland" event="BuildingTouched" gamestate="GameState_QuestProgress" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<AllowLevelUp value="true" levelVariable="Object::SHLevel" useLevelUpMenuConfig="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIslandLevelUpMenu" />
		<TouchIcon value="Indicator_Super15_UpgradeHQ.rgb" removeOnTouch="false">
			<Requirements>
				<Requirement type="players land" />
				<Requirement type="formula" formula="Object::SHLevel&lt;4" />
				<Requirement type="special currency" currency="Pharmaceutical" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:PharmaceuticalCost__" />
				<Requirement type="special currency" currency="Ads" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:AdsCost__" />
				<Requirement type="special currency" currency="HollywoodAward" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:HollywoodAwardCost__" />
			</Requirements>
		</TouchIcon>
		<BSv2 name="PrivateIsland01" neutralAnim="privateislandbase" overrideFootprintFile="waterbuildstates" overrideFootprintTiles="ocean" disableGroundNormal="true" disableWhenFalling="true" />
		<SubFootprints>
			<Footprint name="PrivateIsland_Top" />
		</SubFootprints>
	</Building>
	<Building id="139103" name="PrivateIsland2" type="Building" animated="true" xpValue="0" flatBuilding="true">
		<InventoryRequirements>
			<Requirement type="level" level="1" hideFromInfo="true" />
		</InventoryRequirements>
		<GridType type="ocean" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<RatingElem decoration="10" />
		<Bonus money="0.01" exp="0.01" />
		<SoundKit event="BuildingTouched" name="bld_PrivateIsland_Tap" />
		<OnEvent onObject="PrivateIsland2" event="BuildingTouched" gamestate="GameState_InGame" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<OnEvent onObject="PrivateIsland2" event="BuildingTouched" gamestate="GameState_QuestProgress" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<AllowLevelUp value="true" levelVariable="Object::SHLevel" useLevelUpMenuConfig="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland2LevelUpMenu" />
		<TouchIcon value="Indicator_Super15_UpgradeHQ.rgb" removeOnTouch="false">
			<Requirements>
				<Requirement type="players land" />
				<Requirement type="formula" formula="Object::SHLevel&lt;4" />
				<Requirement type="special currency" currency="Pharmaceutical" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:PharmaceuticalCost__" />
				<Requirement type="special currency" currency="Ads" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:AdsCost__" />
				<Requirement type="special currency" currency="HollywoodAward" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:HollywoodAwardCost__" />
			</Requirements>
		</TouchIcon>
		<BSv2 name="PrivateIsland02" neutralAnim="privateislandbase" />
		<SubFootprints>
			<Footprint name="PrivateIsland2_Top" />
		</SubFootprints>
	</Building>
	<Building id="139104" name="PrivateIsland3" type="Building" animated="true" xpValue="0" flatBuilding="true">
		<InventoryRequirements>
			<Requirement type="level" level="1" hideFromInfo="true" />
		</InventoryRequirements>
		<GridType type="ocean" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<RatingElem decoration="10" />
		<Bonus money="0.01" exp="0.01" />
		<SoundKit event="BuildingTouched" name="bld_PrivateIsland_Tap" />
		<OnEvent onObject="PrivateIsland3" event="BuildingTouched" gamestate="GameState_InGame" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<OnEvent onObject="PrivateIsland3" event="BuildingTouched" gamestate="GameState_QuestProgress" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<AllowLevelUp value="true" levelVariable="Object::SHLevel" useLevelUpMenuConfig="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland3LevelUpMenu" />
		<TouchIcon value="Indicator_Super15_UpgradeHQ.rgb" removeOnTouch="false">
			<Requirements>
				<Requirement type="players land" />
				<Requirement type="formula" formula="Object::SHLevel&lt;4" />
				<Requirement type="special currency" currency="Pharmaceutical" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:PharmaceuticalCost__" />
				<Requirement type="special currency" currency="Ads" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:AdsCost__" />
				<Requirement type="special currency" currency="HollywoodAward" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:HollywoodAwardCost__" />
			</Requirements>
		</TouchIcon>
		<BSv2 name="PrivateIsland03" neutralAnim="privateislandbase" />
		<SubFootprints>
			<Footprint name="PrivateIsland3_Top" />
		</SubFootprints>
	</Building>
	<Building id="139105" name="PrivateIsland4" type="Building" animated="true" xpValue="0" flatBuilding="true">
		<InventoryRequirements>
			<Requirement type="level" level="1" hideFromInfo="true" />
		</InventoryRequirements>
		<GridType type="ocean" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<RatingElem decoration="10" />
		<Bonus money="0.01" exp="0.01" />
		<SoundKit event="BuildingTouched" name="bld_PrivateIsland_Tap" />
		<OnEvent onObject="PrivateIsland4" event="BuildingTouched" gamestate="GameState_InGame" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<OnEvent onObject="PrivateIsland4" event="BuildingTouched" gamestate="GameState_QuestProgress" user="local">
			<Script name="ShowPrivateIslandUpgradableBuildingUI" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<AllowLevelUp value="true" levelVariable="Object::SHLevel" useLevelUpMenuConfig="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland4LevelUpMenu" />
		<TouchIcon value="Indicator_Super15_UpgradeHQ.rgb" removeOnTouch="false">
			<Requirements>
				<Requirement type="players land" />
				<Requirement type="formula" formula="Object::SHLevel&lt;4" />
				<Requirement type="special currency" currency="Pharmaceutical" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:PharmaceuticalCost__" />
				<Requirement type="special currency" currency="Ads" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:AdsCost__" />
				<Requirement type="special currency" currency="HollywoodAward" amount="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:HollywoodAwardCost__" />
			</Requirements>
		</TouchIcon>
		<BSv2 name="PrivateIsland04" neutralAnim="privateislandbase" />
		<SubFootprints>
			<Footprint name="PrivateIsland4_Top" />
		</SubFootprints>
	</Building>
	<Building id="139106" name="PrivateIsland_Complete" type="Building" animated="true" xpValue="0" flatBuilding="true">
		<InventoryRequirements>
			<Requirement type="level" level="1" hideFromInfo="true" />
		</InventoryRequirements>
		<GridType type="ocean" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<RatingElem decoration="10" />
		<Bonus money="0.01" exp="0.01" />
		<SoundKit event="BuildingTouched" name="bld_PrivateIsland_Tap" />
		<BSv2 name="PrivateIsland05" neutralAnim="privateislandbase" />
		<SubFootprints>
			<Footprint name="PrivateIsland_Complete_Top" />
		</SubFootprints>
	</Building>
	<Building id="139107" name="PrivateIsland_Top" type="Building" animated="true" xpValue="0">
		<BuildTime time="1" />
		<Proxy value="true" />
		<BSv2 name="PrivateIsland01" />
	</Building>
	<Building id="139108" name="PrivateIsland2_Top" type="Building" animated="true" xpValue="0">
		<BuildTime time="1" />
		<Proxy value="true" />
		<BSv2 name="PrivateIsland02" />
	</Building>
	<Building id="139109" name="PrivateIsland3_Top" type="Building" animated="true" xpValue="0">
		<BuildTime time="1" />
		<Proxy value="true" />
		<BSv2 name="PrivateIsland03" />
	</Building>
	<Building id="139110" name="PrivateIsland4_Top" type="Building" animated="true" xpValue="0">
		<BuildTime time="1" />
		<Proxy value="true" />
		<BSv2 name="PrivateIsland04" />
	</Building>
	<Building id="139111" name="PrivateIsland_Complete_Top" type="Building" animated="true" xpValue="0">
		<BuildTime time="1" />
		<Proxy value="true" />
		<BSv2 name="PrivateIsland05" />
	</Building>
</Buildings>