<Buildings>
	<MasterList>
		<DataID id="162500" name="SpringfieldPinStand" />
		<DataID id="162501" name="SpringfieldGamesPodium" />
		<DataID id="162502" name="SpringfieldGamesCauldron" />
		<DataID id="162503" name="CristoSpringfield" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="false" />
		<MultiPlace value="false" />
		<LoadBuilding value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="false" />
		<TaxJobPackage value="SpringfieldGames_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="162500" name="SpringfieldPinStand" type="Decoration" xpValue="10">
		<Requirements>
			<Requirement type="level" level="5" hideFromInfo="true" />
		</Requirements>
		<ScriptTrigger title="UI_SpringfieldGames_PinCollectionCollectAll_Title" description="UI_SpringfieldGames_PinCollectionCollectAll_Text" buttonLabel="UI_View" buttonColor="b73affff" allowedInFriendLand="false">
			<Script onButtonPressed="SpringfieldGames_PinCollectionScripts:ShowPinCollectionMenu" />
		</ScriptTrigger>
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="beach|grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Cost money="25000" />
		<RatingElem decoration="100" />
		<BSv2 name="PinStand" />
	</Building>
	<Building id="162501" name="SpringfieldGamesPodium" type="Decoration" xpValue="10">
		<Requirements>
			<Requirement type="level" level="5" />
		</Requirements>
		<Cost donuts="50" />
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="100" />
		<GridType type="grass|pavement|beach|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<BSv2 name="SportsPodium" flippedname="SportsPodiumFlipped" />
	</Building>
	<Building id="162502" name="SpringfieldGamesCauldron" type="AnimatedDecoration" xpValue="100">
		<Requirements>
			<Requirement type="level" level="5" />
		</Requirements>
		<Cost donuts="50" />
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="100" />
		<GridType type="grass|pavement|beach|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<OnEvent event="BuildingTouched" onObject="SpringfieldGamesCauldron">
			<Script name="SpringfieldGamesCauldron_Tapped" package="SpringfieldGames_Scripts" />
		</OnEvent>
		<ActiveAnimationController name="SpringfieldGamesCauldron_Active" />
		<BSv2 name="SportsCauldron">
			<NeutralOverride animation="ActiveNoInOrOut">
				<Requirement type="formula" formula="System::evaluate('Building::SpringfieldGamesCauldron::Object::State')" />
			</NeutralOverride>
		</BSv2>
	</Building>
	<Building id="162503" name="CristoSpringfield" type="Decoration" xpValue="75">
		<Requirements>
			<Requirement type="level" level="5" hideFromInfo="true" />
		</Requirements>
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<Cost donuts="75" />
		<RatingElem decoration="200" />
		<GridType type="grass|pavement|beach|boardwalk|boardwalkedge|pier|pieredge|dirtpavement" />
		<Group name="MiscCash" />
		<Bonus money="0.025" exp="0.025" />
		<Job id="162100" name="ThinkingAboutDancing" time="3h" />
		<BSv2 name="ChristRedeemer" />
	</Building>
</Buildings>