<SpecialEvents>
	<MasterList>
		<DataID id="157000" name="Promo_SpringCleaning_Event" status="deprecated" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157001" name="SpringCleaning_PostEvent" onDeprecated="delete" endDate="Promo_SpringCleaning_Kill" />
	</MasterList>
	<SpecialEvent id="157000" name="Promo_SpringCleaning_Event">
		<Variable name="Promo_SpringCleaning_PromoSeen" value="false" />
		<Variable name="Promo_SpringCleaning_PromoActive" value="true" />
		<Variable name="Promo_SpringCleaning_GilPromo" value="true" />
		<Variable name="PROMO_STARTED" value="true" />
		<Variable name="Promo_SpringCleaning_StoreCategory" value="false" />
		<Variable name="Promo_SpringCleaning_PurchasedSeen1" value="false" />
		<Variable name="Promo_SpringCleaning_PurchasedSeen2" value="false" />
		<Variable name="Promo_SpringCleaning_PurchasedSeen3" value="false" />
		<Variable name="Promo_SpringCleaning_CanceledSeen" value="false" />
		<Variable name="Promo_SpringCleaning_SummonGil" value="false" />
		<Variable name="Promo_SpringCleaning_PromoIgnored" value="false" />
		<Variable name="Promo_SpringCleaning_CheckCanceled" value="true" />
		<Promo eventName="Promo_SpringCleaning_Event" questID="157010" type="consumable" object="SpringCleaning_OpenStore" file="Promo_SpringCleaning2016" yes="UI_Promo_GetEmNow" hideDonut="true" visualEndDate="Promo_SpringCleaning_End" />
		<Jobs>
			<Job id="157001" name="RallyASpringfieldCleaningCrew" time="6s">
				<Requirement type="active quest" quest="SpringfieldCleaning_1" />
			</Job>
			<Job id="157002" name="EndureMargesNagging" time="6s">
				<VisibilityRequirements>
					<Requirement type="conditional" logic="OR">
						<Requirement type="active quest" quest="SpringfieldCleaning_1" />
						<Requirement type="active quest" quest="SpringfieldCleaning_1_NoMarge" />
					</Requirement>
				</VisibilityRequirements>
			</Job>
		</Jobs>
	</SpecialEvent>
	<SpecialEvent id="157001" name="SpringCleaning_PostEvent">
		<Variable name="SpringCleaning_QuestsAvailable" value="true" />
		<Variable name="SpringCleaning_Part1Complete" value="false" />
		<Jobs>
			<Job id="157003" name="CleanHouse" time="6h" temp="true">
				<VisibilityRequirements>
					<Requirement type="conditional" logic="OR">
						<Requirement type="active quest" quest="SpringfieldCleaning_2" />
						<Requirement type="active quest" quest="SpringfieldCleaning_3" />
					</Requirement>
				</VisibilityRequirements>
			</Job>
		</Jobs>
	</SpecialEvent>
</SpecialEvents>