<Characters>
	<CharacterDefaults>
		<TouchPriority value="3" />
	</CharacterDefaults>
	<Character id="105000" name="CookieKwan" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="CookieKwan" />
		<UnlockSound type="herFace" />
		<Set index="6" name="MoreBusinessOwners" />
		<Group name="RegularCharacters" />
		<Group name="RegularFemale" />
		<Group name="Republican" />
		<Group name="Adult" />
		<SpeechBubbleOffset x="40" y="-90" />
	</Character>
	<Character id="105001" name="ParisTexan" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="ParisTexan" />
		<UnlockSound type="heyYou" />
		<Group name="RegularCharacters" />
		<Group name="RegularFemale" />
		<Group name="RichPeople" />
		<Group name="Celebrity" />
		<Group name="Adult" />
		<Set index="5" name="BListCelebrities" />
		<SpeechBubbleOffset x="40" y="-90" />
	</Character>
</Characters>