<Consumables>
	<MasterList>
		<DataID id="245900" name="SpringfieldEnlightened_BannedByTheBuddhaMysteryBox" />
		<DataID id="245901" name="BannedByTheBuddhaMysteryBoxTokenForDozenDonuts" />
		<DataID id="245902" name="BannedByTheBuddhaMysteryBoxTokenPurchase" />
		<DataID id="245903" name="BannedByTheBuddhaMysteryBoxFiveTokensPurchase" />
		<DataID id="245904" name="ApplyCasinoVIPSkin02" />
		<DataID id="245905" name="ApplyCasinoVIPSkin03" />
		<DataID id="245906" name="ApplyCasinoVIPSkin04" />
		<DataID id="245907" name="CasinoVIPSkinBundle" />
	</MasterList>
	<ConsumableDefaults>
		<Subland value="Springfield" />
	</ConsumableDefaults>
	<Consumable id="245900" name="SpringfieldEnlightened_BannedByTheBuddhaMysteryBox" preview="true" type="PrizeBox" icon="ICO_STOR_Single_SpringfieldEnlightened_MysteryBox" attributes="SpringfieldEnlightened_GameConfig:BannedByTheBuddhaMysteryBox_MysteryBoxGeneralConfig" textpoolDesc="CON_RetailBox_desc">
		<VisibilityRequirements>
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:BannedByTheBuddhaMysteryBox_Available" />
		</VisibilityRequirements>
		<Sell allowed="false" />
		<Cost BannedByTheBuddhaMysteryBoxToken="1" />
		<Sublands>
			<Subland value="Springfield" />
		</Sublands>
		<BuildMenuText text="CON_RetailBox_desc" />
	</Consumable>
	<Consumable id="245901" name="BannedByTheBuddhaMysteryBoxTokenForDozenDonuts" type="Script" autoconsume="true" icon="DonutBunch_00" textpoolName="CON_WinterWonderLandTokenForDozenDonuts_name" textpoolDesc="CON_BlackHistoryMonthTokenForDozenDonuts_desc">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="time" start="SpringfieldEnlightened_End" />
				<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:BannedByTheBuddhaMysteryBox_Available" not="true" />
			</Requirement>
		</VisibilityRequirements>
		<Cost BannedByTheBuddhaMysteryBoxToken="1" />
		<Script name="SpringfieldEnlightened_Scripts:BannedByTheBuddhaMysteryBoxTokenForDozenDonuts" />
	</Consumable>
	<Consumable id="245902" name="BannedByTheBuddhaMysteryBoxTokenPurchase" type="Script" icon="ICO_STOR_MysteryBoxToken" textpoolName="UI_MysteryBoxToken" textpoolDesc="UI_SpringfieldEnlightened_MysteryBoxTokenSingular">
		<Sell allowed="false" />
		<Cost donuts="60" />
		<BuildMenuText text="UI_SpringfieldEnlightened_MysteryBoxTokenSingular" />
		<Script name="SpringfieldEnlightened_Scripts:RewardOneSpringfieldEnlightenedToken_Store" />
	</Consumable>
	<Consumable id="245903" name="BannedByTheBuddhaMysteryBoxFiveTokensPurchase" type="Script" icon="ICO_STOR_MysteryBoxToken" textpoolName="UI_MysteryBoxTokensFive" textpoolDesc="UI_SpringfieldEnlightened_MysteryBoxTokenPlural">
		<Sell allowed="false" />
		<Cost donuts="240" />
		<BuildMenuText text="UI_SpringfieldEnlightened_MysteryBoxTokenPlural" />
		<Script name="SpringfieldEnlightened_Scripts:RewardFiveSpringfieldEnlightenedTokens_Store" />
	</Consumable>
	<Consumable id="245904" name="ApplyCasinoVIPSkin02" type="BuildingSkin" icon="VIPSign02_Menu" object="CasinoVIP" skin="CasinoVIP_02" autoconsume="true"></Consumable>
	<Consumable id="245905" name="ApplyCasinoVIPSkin03" type="BuildingSkin" icon="VIPSign03_Menu" object="CasinoVIP" skin="CasinoVIP_03" autoconsume="true"></Consumable>
	<Consumable id="245906" name="ApplyCasinoVIPSkin04" type="BuildingSkin" icon="VIPSign04_Menu" object="CasinoVIP" skin="CasinoVIP_04" autoconsume="true"></Consumable>
	<Consumable id="245907" name="CasinoVIPSkinBundle" type="Reward" icon="VIPSign04_Menu" autoconsume="true" leaveStore="true">
		<VisibilityRequirements>
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:CasinoVIPSkinBundle_Available" />
		</VisibilityRequirements>
		<Reward>
			<Item type="script" name="SpringfieldEnlightened_Scripts:RewardPlayersClubTowerFacades" useImmediately="true" />
		</Reward>
		<Sell allowed="false" />
	</Consumable>
</Consumables>