<Skins>
	<Skin id="105000" name="DeluxeCondo02" building="DeluxeCondo" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105001" name="DeluxeCondo03" building="DeluxeCondo" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105002" name="DeluxeCondo04" building="DeluxeCondo" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105003" name="DeluxeCondo05" building="DeluxeCondo" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105004" name="BusinessCenter02" building="BusinessCenter" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105005" name="BusinessCenter03" building="BusinessCenter" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105006" name="BusinessCenter04" building="BusinessCenter" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105007" name="BusinessCenter05" building="BusinessCenter" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105008" name="ValetParking02" building="ValetParking" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105009" name="ValetParking03" building="ValetParking" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105010" name="ValetParking04" building="ValetParking" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105011" name="ValetParking05" building="ValetParking" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105012" name="DeluxeCondo_First02" building="DeluxeCondo_First" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105013" name="DeluxeCondo_First03" building="DeluxeCondo_First" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105014" name="DeluxeCondo_First04" building="DeluxeCondo_First" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105015" name="DeluxeCondo_First05" building="DeluxeCondo_First" userSelectable="false" skinGroup="Cannon" />
	<Skin id="105100" name="DeluxeCondo_Complete01" building="DeluxeCondo_Complete" userSelectable="true" needsUnlock="false" skinGroup="DeluxeCondoComplete" />
	<Skin id="105101" name="DeluxeCondo_Complete02" building="DeluxeCondo_Complete" userSelectable="true" needsUnlock="false" skinGroup="DeluxeCondoComplete" />
	<Skin id="105102" name="DeluxeCondo_Complete03" building="DeluxeCondo_Complete" userSelectable="true" needsUnlock="false" skinGroup="DeluxeCondoComplete" />
	<Skin id="105103" name="DeluxeCondo_Complete04" building="DeluxeCondo_Complete" userSelectable="true" needsUnlock="false" skinGroup="DeluxeCondoComplete" />
	<Skin id="105105" name="ValetParking_Complete01" building="ValetParking_Complete" userSelectable="true" needsUnlock="false" skinGroup="ValetParkingComplete" />
	<Skin id="105106" name="ValetParking_Complete02" building="ValetParking_Complete" userSelectable="true" needsUnlock="false" skinGroup="ValetParkingComplete" />
	<Skin id="105107" name="ValetParking_Complete03" building="ValetParking_Complete" userSelectable="true" needsUnlock="false" skinGroup="ValetParkingComplete" />
	<Skin id="105108" name="ValetParking_Complete04" building="ValetParking_Complete" userSelectable="true" needsUnlock="false" skinGroup="ValetParkingComplete" />
	<Skin id="105110" name="BusinessCenter_Complete01" building="BusinessCenter_Complete" userSelectable="true" needsUnlock="false" skinGroup="BusinessCenterComplete" />
	<Skin id="105111" name="BusinessCenter_Complete02" building="BusinessCenter_Complete" userSelectable="true" needsUnlock="false" skinGroup="BusinessCenterComplete" />
	<Skin id="105112" name="BusinessCenter_Complete03" building="BusinessCenter_Complete" userSelectable="true" needsUnlock="false" skinGroup="BusinessCenterComplete" />
	<Skin id="105113" name="BusinessCenter_Complete04" building="BusinessCenter_Complete" userSelectable="true" needsUnlock="false" skinGroup="BusinessCenterComplete" />
	<Skin id="105115" name="PrivateIsland_Complete01" building="PrivateIsland_Complete" userSelectable="true" needsUnlock="false" skinGroup="PrivateIslandComplete">
		<SubFootprints>
			<Footprint name="PrivateIsland01" />
		</SubFootprints>
	</Skin>
	<Skin id="105116" name="PrivateIsland_Complete02" building="PrivateIsland_Complete" userSelectable="true" needsUnlock="false" skinGroup="PrivateIslandComplete">
		<SubFootprints>
			<Footprint name="PrivateIsland02" />
		</SubFootprints>
	</Skin>
	<Skin id="105117" name="PrivateIsland_Complete03" building="PrivateIsland_Complete" userSelectable="true" needsUnlock="false" skinGroup="PrivateIslandComplete">
		<SubFootprints>
			<Footprint name="PrivateIsland03" />
		</SubFootprints>
	</Skin>
	<Skin id="105118" name="PrivateIsland_Complete04" building="PrivateIsland_Complete" userSelectable="true" needsUnlock="false" skinGroup="PrivateIslandComplete">
		<SubFootprints>
			<Footprint name="PrivateIsland04" />
		</SubFootprints>
	</Skin>
	<Skin id="105900" name="FlandersHome_Festive_01" building="FlandersHome" skinGroup="FlandersHome_Festive_01">
		<SkinDisplayRequirements>
			<Requirement type="building" building="FlandersHome" skinOwned="FlandersHome_Festive_02" not="true" />
			<Requirement type="building" building="FlandersHome" skinOwned="FlandersHome_Festive_03" not="true" />
		</SkinDisplayRequirements>
	</Skin>
</Skins>