<Attributes>
	<Dates>
		<Attribute name="SpringfieldHeightsWeekOne" value="2015-07-21 8:00" />
		<Attribute name="SpringfieldHeightsWeekTwo" value="2015-07-28 8:00" />
		<Attribute name="SpringfieldHeightsWeekThree" value="2015-08-04 8:00" />
		<Attribute name="SpringfieldHeightsWeekFour" value="2015-08-11 8:00" />
		<Attribute name="SpringfieldHeightsWeekNine" value="2015-09-15 8:00" />
		<Attribute name="SpringfieldHeightsWeekTen" value="2015-09-22 8:00" />
		<Attribute name="WealthyWednesday_EndTime" value="2014-12-04 8:00" />
	</Dates>
	<BuildMenuText>
		<Attribute name="KrustysMansion" value="UI_RealEstateRewardStoreMenu" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" formatMe="true" abbreviatedNumber="1750000" />
			</AttributeSet>
		</Attribute>
		<Attribute name="MansionOfSolidGold" value="UI_RealEstateRewardStoreMenu" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" formatMe="true" abbreviatedNumber="4000000" />
			</AttributeSet>
		</Attribute>
		<Attribute name="WaverlyHills" value="UI_RealEstateRewardStoreMenu" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" formatMe="true" abbreviatedNumber="1750000" />
			</AttributeSet>
		</Attribute>
		<Attribute name="BananaDictatorship" value="UI_RealEstateRewardStoreMenu" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" formatMe="true" abbreviatedNumber="840000" />
			</AttributeSet>
		</Attribute>
	</BuildMenuText>
	<DeluxeCondoCosts>
		<Attribute name="FurnitureCost" value="ifElse(lessThan(System::evaluate('Building::DeluxeCondo::TotalCount'), 1), 2, 15)" />
	</DeluxeCondoCosts>
	<RedBlazerPrizes>
		<Attribute name="RequireAmountItem1" value="1000000" />
		<Attribute name="RushRateItem1" value="6" />
		<Attribute name="RequireAmountItem2" value="25000000" />
		<Attribute name="RushRateItem2" value="14" />
		<Attribute name="RequireAmountItem3" value="200000000" />
		<Attribute name="RushRateItem3" value="7" />
		<Attribute name="RequireAmountItem4" value="500000000" />
		<Attribute name="RushRateItem4" value="22" />
		<Attribute name="RequireAmountItem5" value="1000000000" />
		<Attribute name="RushRateItem5" value="6" />
	</RedBlazerPrizes>
	<LandBlocks cache="true">
		<Attribute name="CannotBuyBackground" value="BSE_GENR_LANDPURCHASE_GREY" />
		<Attribute name="CanBuyBackground" value="BSE_GENR_LANDPURCHASE" />
		<Attribute name="LandTokenBackground" value="BSE_GENR_LandTokenPurchase" />
	</LandBlocks>
	<LandBlockCosts cache="true">
		<Attribute name="Furniture1" value="10" />
		<Attribute name="Furniture2" value="50" />
		<Attribute name="Furniture3" value="100" />
		<Attribute name="Furniture4" value="3" />
		<Attribute name="Furniture5" value="150" />
		<Attribute name="Furniture6" value="200" />
		<Attribute name="Furniture7" value="75" />
		<Attribute name="Latte1" value="6" />
		<Attribute name="Latte2" value="15" />
		<Attribute name="Latte3" value="20" />
		<Attribute name="Latte4" value="50" />
		<Attribute name="Latte5" value="100" />
		<Attribute name="Latte6" value="100" />
		<Attribute name="Latte7" value="150" />
		<Attribute name="Latte8" value="75" />
		<Attribute name="YogaMat1" value="15" />
		<Attribute name="YogaMat2" value="20" />
		<Attribute name="YogaMat3" value="30" />
		<Attribute name="YogaMat4" value="45" />
		<Attribute name="YogaMat5" value="50" />
		<Attribute name="YogaMat6" value="65" />
		<Attribute name="YogaMat7" value="100" />
		<Attribute name="YogaMat8" value="75" />
		<Attribute name="YogaMat9" value="100" />
		<Attribute name="SmartDevice1" value="6" />
		<Attribute name="SmartDevice2" value="15" />
		<Attribute name="SmartDevice3" value="20" />
		<Attribute name="SmartDevice4" value="25" />
		<Attribute name="SmartDevice5" value="30" />
		<Attribute name="SmartDevice6" value="45" />
		<Attribute name="SmartDevice7" value="50" />
		<Attribute name="SmartDevice8" value="75" />
		<Attribute name="SmartDevice9" value="100" />
		<Attribute name="Pharmaceutical1" value="15" />
		<Attribute name="Pharmaceutical2" value="20" />
		<Attribute name="Pharmaceutical3" value="30" />
		<Attribute name="Pharmaceutical4" value="45" />
		<Attribute name="Pharmaceutical5" value="65" />
		<Attribute name="Pharmaceutical6" value="75" />
		<Attribute name="Pharmaceutical7" value="100" />
		<Attribute name="HollywoodAward1" value="15" />
		<Attribute name="HollywoodAward2" value="20" />
		<Attribute name="HollywoodAward3" value="25" />
		<Attribute name="HollywoodAward4" value="30" />
		<Attribute name="HollywoodAward5" value="50" />
		<Attribute name="HollywoodAward6" value="100" />
		<Attribute name="Ads1" value="15" />
		<Attribute name="Ads2" value="20" />
		<Attribute name="Ads3" value="30" />
		<Attribute name="Ads4" value="35" />
		<Attribute name="Ads5" value="40" />
		<Attribute name="Ads6" value="45" />
		<Attribute name="Ads7" value="60" />
		<Attribute name="Ads8" value="65" />
		<Attribute name="Ads9" value="70" />
		<Attribute name="Ads10" value="80" />
		<Attribute name="Ads11" value="100" />
	</LandBlockCosts>
	<DeluxeCondoLevelUpCosts>
		<Attribute name="FurnitureCost" value="ifElse(Object::SHLevel==0, 10, ifElse(Object::SHLevel==1, 40, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="LatteCost" value="ifElse(Object::SHLevel==0, 1, ifElse(Object::SHLevel==1, 25, ifElse(Object::SHLevel==2, 75, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="YogaMatCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 25, 1))))" />
		<Attribute name="SmartDeviceCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 25, ifElse(Object::SHLevel==3, 60, 1))))" />
		<Attribute name="PharmaceuticalCost" value="0" />
		<Attribute name="HollywoodAwardCost" value="0" />
		<Attribute name="AdsCost" value="0" />
	</DeluxeCondoLevelUpCosts>
	<DeluxeCondo_FirstLevelUpCosts>
		<Attribute name="FurnitureCost" value="ifElse(Object::SHLevel==0, 10, ifElse(Object::SHLevel==1, 40, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="LatteCost" value="ifElse(Object::SHLevel==0, 1, ifElse(Object::SHLevel==1, 25, ifElse(Object::SHLevel==2, 75, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="YogaMatCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 25, 1))))" />
		<Attribute name="SmartDeviceCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 25, ifElse(Object::SHLevel==3, 60, 1))))" />
		<Attribute name="PharmaceuticalCost" value="0" />
		<Attribute name="HollywoodAwardCost" value="0" />
		<Attribute name="AdsCost" value="0" />
	</DeluxeCondo_FirstLevelUpCosts>
	<BusinessCenterLevelUpCosts>
		<Attribute name="FurnitureCost" value="0" />
		<Attribute name="LatteCost" value="ifElse(Object::SHLevel==0, 25, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="YogaMatCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 25, ifElse(Object::SHLevel==2, 25, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="SmartDeviceCost" value="ifElse(Object::SHLevel==0, 20, ifElse(Object::SHLevel==1, 50, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="PharmaceuticalCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 50, ifElse(Object::SHLevel==3, 125, 1))))" />
		<Attribute name="HollywoodAwardCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 50, 1))))" />
		<Attribute name="AdsCost" value="0" />
	</BusinessCenterLevelUpCosts>
	<ValetParkingLevelUpCosts>
		<Attribute name="FurnitureCost" value="0" />
		<Attribute name="LatteCost" value="ifElse(Object::SHLevel==0, 20, ifElse(Object::SHLevel==1, 30, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="YogaMatCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 80, ifElse(Object::SHLevel==3, 80, 1))))" />
		<Attribute name="SmartDeviceCost" value="ifElse(Object::SHLevel==0, 20, ifElse(Object::SHLevel==1, 30, ifElse(Object::SHLevel==2, 30, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="PharmaceuticalCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 40, 1))))" />
		<Attribute name="HollywoodAwardCost" value="0" />
		<Attribute name="AdsCost" value="0" />
	</ValetParkingLevelUpCosts>
	<PrivateIslandLevelUpCosts>
		<Attribute name="FurnitureCost" value="0" />
		<Attribute name="LatteCost" value="0" />
		<Attribute name="YogaMatCost" value="0" />
		<Attribute name="SmartDeviceCost" value="0" />
		<Attribute name="PharmaceuticalCost" value="ifElse(Object::SHLevel==0, 20, ifElse(Object::SHLevel==1, 35, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="HollywoodAwardCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 10, ifElse(Object::SHLevel==3, 25, 1))))" />
		<Attribute name="AdsCost" value="ifElse(Object::SHLevel==0, 30, ifElse(Object::SHLevel==1, 65, ifElse(Object::SHLevel==2, 90, ifElse(Object::SHLevel==3, 125, 1))))" />
	</PrivateIslandLevelUpCosts>
	<DeluxeCondoReward>
		<Attribute name="Level0" value="500000" />
		<Attribute name="Level1" value="1100000" />
		<Attribute name="Level2" value="3100000" />
		<Attribute name="Level3" value="7100000" />
		<Attribute name="Level0Icon" value="ICO_Heights_Prize_FancyCondo02_LG" />
		<Attribute name="Level1Icon" value="ICO_Heights_Prize_FancyCondo03_LG" />
		<Attribute name="Level2Icon" value="ICO_Heights_Prize_FancyCondo04_LG" />
		<Attribute name="Level3Icon" value="ICO_Heights_Prize_FancyCondo05_LG" />
	</DeluxeCondoReward>
	<DeluxeCondo_FirstReward>
		<Attribute name="Level0" value="500000" />
		<Attribute name="Level1" value="1100000" />
		<Attribute name="Level2" value="3100000" />
		<Attribute name="Level3" value="7100000" />
		<Attribute name="Level0Icon" value="ICO_Heights_Prize_FancyCondo02_LG" />
		<Attribute name="Level1Icon" value="ICO_Heights_Prize_FancyCondo03_LG" />
		<Attribute name="Level2Icon" value="ICO_Heights_Prize_FancyCondo04_LG" />
		<Attribute name="Level3Icon" value="ICO_Heights_Prize_FancyCondo05_LG" />
	</DeluxeCondo_FirstReward>
	<BusinessCenterReward>
		<Attribute name="Level0" value="1250000" />
		<Attribute name="Level1" value="2750000" />
		<Attribute name="Level2" value="7750000" />
		<Attribute name="Level3" value="17750000" />
		<Attribute name="Level0Icon" value="ICO_Heights_Prize_FancyBusiness02_LG" />
		<Attribute name="Level1Icon" value="ICO_Heights_Prize_FancyBusiness03_LG" />
		<Attribute name="Level2Icon" value="ICO_Heights_Prize_FancyBusiness04_LG" />
		<Attribute name="Level3Icon" value="ICO_Heights_Prize_FancyBusiness05_LG" />
	</BusinessCenterReward>
	<ValetParkingReward>
		<Attribute name="Level0" value="1000000" />
		<Attribute name="Level1" value="2200000" />
		<Attribute name="Level2" value="6200000" />
		<Attribute name="Level3" value="14200000" />
		<Attribute name="Level0Icon" value="ICO_Heights_Prize_FancyParkade02_LG" />
		<Attribute name="Level1Icon" value="ICO_Heights_Prize_FancyParkade03_LG" />
		<Attribute name="Level2Icon" value="ICO_Heights_Prize_FancyParkade04_LG" />
		<Attribute name="Level3Icon" value="ICO_Heights_Prize_FancyParkade05_LG" />
	</ValetParkingReward>
	<PrivateIslandReward>
		<Attribute name="Level0" value="1000000" />
		<Attribute name="Level1" value="2000000" />
		<Attribute name="Level2" value="5000000" />
		<Attribute name="Level3" value="10000000" />
		<Attribute name="Level0Icon" value="ICO_SheightsExpac_Prize_PrivateIsland02_LG" />
		<Attribute name="Level1Icon" value="ICO_SheightsExpac_Prize_PrivateIsland03_LG" />
		<Attribute name="Level2Icon" value="ICO_SheightsExpac_Prize_PrivateIsland04_LG" />
		<Attribute name="Level3Icon" value="ICO_SheightsExpac_Prize_PrivateIsland05_LG" />
	</PrivateIslandReward>
	<ClassicMansionLevelUpCosts>
		<Attribute name="FurnitureCost" value="0" />
		<Attribute name="LatteCost" value="ifElse(Object::SHLevel==0, 25, ifElse(Object::SHLevel==1, 50, ifElse(Object::SHLevel==2, 75, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="YogaMatCost" value="0" />
		<Attribute name="SmartDeviceCost" value="ifElse(Object::SHLevel==0, 15, ifElse(Object::SHLevel==1, 25, ifElse(Object::SHLevel==2, 50, ifElse(Object::SHLevel==3, 75, 1))))" />
		<Attribute name="PharmaceuticalCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 75, 1))))" />
		<Attribute name="HollywoodAwardCost" value="0" />
		<Attribute name="AdsCost" value="0" />
	</ClassicMansionLevelUpCosts>
	<ClassicMansionReward>
		<Attribute name="Level0" value="750000" />
		<Attribute name="Level1" value="1640000" />
		<Attribute name="Level2" value="4630000" />
		<Attribute name="Level3" value="10600000" />
		<Attribute name="Level4" value="0" />
		<Attribute name="Level0Reward1" value="ClassicMansionSideBalcony" />
		<Attribute name="Level0Reward2" value="ClassicMansionEntrance" />
		<Attribute name="Level1Reward1" value="ClassicMansionSideBuilding" />
		<Attribute name="Level1Reward2" value="ClassicMansionSmallBalcony" />
		<Attribute name="Level2Reward1" value="ClassicMansionFrontBalcony" />
		<Attribute name="Level2Reward2" value="ClassicMansionHotTub" />
		<Attribute name="Level3Reward1" value="ClassicMansionMiddleBuilding" />
		<Attribute name="Level3Reward2" value="ClassicMansionGarage" />
		<Attribute name="Level0Reward1Icon" value="ICO_Heights_Prize_MansionClassicSideBalconySE_LG" />
		<Attribute name="Level0Reward2Icon" value="ICO_Heights_Prize_MansionClassicEntrance_LG" />
		<Attribute name="Level1Reward1Icon" value="ICO_Heights_Prize_MansionClassicSideBuilding_LG" />
		<Attribute name="Level1Reward2Icon" value="ICO_Heights_Prize_MansionClassicSmallBalconySE_LG" />
		<Attribute name="Level2Reward1Icon" value="ICO_Heights_Prize_MansionClassicFrontBalconySE_LG" />
		<Attribute name="Level2Reward2Icon" value="ICO_Heights_Prize_MansionClassicHotTub_LG" />
		<Attribute name="Level3Reward1Icon" value="ICO_Heights_Prize_MansionClassicMidBuilding_LG" />
		<Attribute name="Level3Reward2Icon" value="ICO_Heights_Prize_MansionClassicGarage_LG" />
	</ClassicMansionReward>
	<ModernMansionLevelUpCosts>
		<Attribute name="FurnitureCost" value="0" />
		<Attribute name="LatteCost" value="ifElse(Object::SHLevel==0, 50, ifElse(Object::SHLevel==1, 25, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="YogaMatCost" value="ifElse(Object::SHLevel==0, 20, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="SmartDeviceCost" value="0" />
		<Attribute name="PharmaceuticalCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 30, ifElse(Object::SHLevel==2, 30, ifElse(Object::SHLevel==3, 30, 1))))" />
		<Attribute name="HollywoodAwardCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 15, ifElse(Object::SHLevel==3, 20, 1))))" />
		<Attribute name="AdsCost" value="0" />
	</ModernMansionLevelUpCosts>
	<ModernMansionReward>
		<Attribute name="Level0" value="1500000" />
		<Attribute name="Level1" value="3290000" />
		<Attribute name="Level2" value="9260000" />
		<Attribute name="Level3" value="21190000" />
		<Attribute name="Level4" value="0" />
		<Attribute name="Level0Reward1" value="ModernMansionGarage" />
		<Attribute name="Level0Reward2" value="ModernMansionLowerBalcony" />
		<Attribute name="Level1Reward1" value="ModernMansionSideBuilding01" />
		<Attribute name="Level1Reward2" value="ModernMansionUpperBalcony" />
		<Attribute name="Level2Reward1" value="ModernMansionSideBuilding02" />
		<Attribute name="Level2Reward2" value="ModernMansionFountain" />
		<Attribute name="Level3Reward1" value="ModernMansionMiddleBuilding" />
		<Attribute name="Level3Reward2" value="ModernMansionPool" />
		<Attribute name="Level0Reward1Icon" value="ICO_Heights_Prize_MansionModernGarage_LG" />
		<Attribute name="Level0Reward2Icon" value="ICO_Heights_Prize_MansionModernLowerBalconySE_LG" />
		<Attribute name="Level1Reward1Icon" value="ICO_Heights_Prize_MansionModernSideBuilding_LG" />
		<Attribute name="Level1Reward2Icon" value="ICO_Heights_Prize_MansionModernUpperBalconySE_LG" />
		<Attribute name="Level2Reward1Icon" value="ICO_Heights_Prize_MansionModernSideBuilding2_LG" />
		<Attribute name="Level2Reward2Icon" value="ICO_Heights_Prize_MansionModernFountain_LG" />
		<Attribute name="Level3Reward1Icon" value="ICO_Heights_Prize_MansionModernMiddleBuilding_LG" />
		<Attribute name="Level3Reward2Icon" value="ICO_Heights_Prize_MansionModernPool_LG" />
	</ModernMansionReward>
	<QuestRewardTipText>
		<Attribute name="Heights04" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="5" />
				<Attribute name="1" value="UI_Furniture_Name" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="Heights05" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="10" />
				<Attribute name="1" value="UI_Latte_plural" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="Heights06" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="8" />
				<Attribute name="1" value="UI_SmartDevice_plural" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="TheMoreTheMerrier" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="10" />
				<Attribute name="1" value="UI_Furniture_Name" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="InLandProperty" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="10" />
				<Attribute name="1" value="UI_Furniture_Name" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="WaterfrontProperty" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="10" />
				<Attribute name="1" value="UI_Furniture_Name" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="GetSmart" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="1" />
				<Attribute name="1" value="UI_SmartDevice_single" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="GetFit" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="5" />
				<Attribute name="1" value="UI_YogaMat_plural" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="LegalDrugTrade" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="5" />
				<Attribute name="1" value="UI_Pharmaceutical_plural" localise="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="LostInHollywood" value="UI_HudTipText_QuestReward" localise="true" parameters="messageParams">
			<AttributeSet name="messageParams">
				<Attribute name="0" value="5" />
				<Attribute name="1" value="UI_HollywoodAward_plural" localise="true" />
			</AttributeSet>
		</Attribute>
	</QuestRewardTipText>
	<ShopIdleReqList>
		<Requirement type="conditional" logic="AND">
			<Requirement type="players land" />
			<Requirement type="variable" variable="ShopSlotsUnlockedCount" count="2" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::Furniture'), System::evaluate('Selector::FurnitureResourceCap'))" />
			<Requirement type="formula" formula="System::evaluate('Job::BuyImportedWaterPipe::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::TestBeanBagChairs::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::LookForHandyMen::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::SneakBiblesIntoDrawers::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::PickupBibleDonations::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::StealaMeatballs::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::SearchForOctupletSizedCrib::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::BuyAPersonSizedTrunk::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::View50ShadesOfPinkPaint::Waiting')" not="true" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="IdleCharacter" character="Otto" />
				<Requirement type="IdleCharacter" character="Homer" />
				<Requirement type="IdleCharacter" character="Krabappel" />
				<Requirement type="IdleCharacter" character="Manjula" />
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Ned" />
					<Requirement type="variable" variable="ShopSlot3" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Lovejoy" />
					<Requirement type="variable" variable="ShopSlot4" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Luigi" />
					<Requirement type="variable" variable="ShopSlot5" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="FatTony" />
					<Requirement type="variable" variable="ShopSlot6" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="PrincessPenelope" />
					<Requirement type="variable" variable="ShopSlot7" />
				</Requirement>
			</Requirement>
		</Requirement>
	</ShopIdleReqList>
	<CoffeeShopIdleReqList>
		<Requirement type="conditional" logic="AND">
			<Requirement type="players land" />
			<Requirement type="variable" variable="CoffeeShopSlotsUnlockedCount" count="1" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::Latte'), System::evaluate('Selector::LatteResourceCap'))" />
			<Requirement type="formula" formula="System::evaluate('Job::CleanEspressoMachines::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::BingeWatchTVOnFreeWifi::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::BuyGoldFleckedLatteMacchiato::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::RecitePoetryForAnnoyedPatrons::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::TryToOrderPlainBlackCoffee::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::ReviewLatestWorkInObituaries::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::GetAngryOverMisspelledName::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::OrderASeaSaltedLatte::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::LamentMeetingWithSkinner::Waiting')" not="true" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="IdleCharacter" character="SqueakyVoiceTeen" />
				<Requirement type="IdleCharacter" character="CBGuy" />
				<Requirement type="IdleCharacter" character="DrederickTatum" />
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Burns" />
					<Requirement type="variable" variable="CoffeeShopSlot2" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Lisa" />
					<Requirement type="variable" variable="CoffeeShopSlot3" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Grampa" />
					<Requirement type="variable" variable="CoffeeShopSlot4" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Louie" />
					<Requirement type="variable" variable="CoffeeShopSlot5" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="SeaCaptain" />
					<Requirement type="variable" variable="CoffeeShopSlot6" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="SuperintendentChalmers" />
					<Requirement type="variable" variable="CoffeeShopSlot7" />
				</Requirement>
			</Requirement>
		</Requirement>
	</CoffeeShopIdleReqList>
	<LABodyWorksIdleReqList>
		<Requirement type="conditional" logic="AND">
			<Requirement type="players land" />
			<Requirement type="variable" variable="LABodyWorksSlotsUnlockedCount" count="1" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::YogaMat'), System::evaluate('Selector::YogaMatResourceCap'))" />
			<Requirement type="formula" formula="System::evaluate('Job::TeachSweatin70sWorkout::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::WatchYogaClass::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::DropTadpolesInThePool::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::WorkoutHisSwingArm::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::RecruitSomeMuscle::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::StealDirtyTowelsForHome::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::MakinTheDuffBuff::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::RespondToACallAboutCreepers::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::AttemptToPerformYoga::Waiting')" not="true" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="IdleCharacter" character="DiscoStu" />
				<Requirement type="IdleCharacter" character="Moe" />
				<Requirement type="IdleCharacter" character="Duffman" />
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Bart" />
					<Requirement type="variable" variable="LABodyWorksSlot2" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Legs" />
					<Requirement type="variable" variable="LABodyWorksSlot3" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Snake" />
					<Requirement type="variable" variable="LABodyWorksSlot4" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Nelson" />
					<Requirement type="variable" variable="LABodyWorksSlot5" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Lou" />
					<Requirement type="variable" variable="LABodyWorksSlot6" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="MissHoover" />
					<Requirement type="variable" variable="LABodyWorksSlot7" />
				</Requirement>
			</Requirement>
		</Requirement>
	</LABodyWorksIdleReqList>
	<SHITIdleReqList>
		<Requirement type="conditional" logic="AND">
			<Requirement type="players land" />
			<Requirement type="variable" variable="SpringfieldHeightsInstituteOfTechnologySlotsUnlockedCount" count="1" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::SmartDevice'), System::evaluate('Selector::SmartDeviceResourceCap'))" />
			<Requirement type="formula" formula="System::evaluate('Job::WorkOnFrinkiac8::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::WorkOnANewThesis::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::ConsumerTestProducts::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::CertifyVotingMachines::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::BeSubjectOfAStudy::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::EraseGroundbreakingEquations::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::ApplyForCyberEyeImplants::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::TestGraphingCalculatorWatch::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::TryToSellOldPatents::Waiting')" not="true" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="IdleCharacter" character="Frink" />
				<Requirement type="IdleCharacter" character="Apu" />
				<Requirement type="IdleCharacter" character="HansMoleman" />
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Milhouse" />
					<Requirement type="variable" variable="InstituteSlot2" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Quimby" />
					<Requirement type="variable" variable="InstituteSlot3" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Ralph" />
					<Requirement type="variable" variable="InstituteSlot4" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Willy" />
					<Requirement type="variable" variable="InstituteSlot5" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Database" />
					<Requirement type="variable" variable="InstituteSlot6" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="ArtieZiff" />
					<Requirement type="variable" variable="InstituteSlot7" />
				</Requirement>
			</Requirement>
		</Requirement>
	</SHITIdleReqList>
	<PharmerJohnsPharmaceuticalsIdleReqList>
		<Requirement type="conditional" logic="AND">
			<Requirement type="players land" />
			<Requirement type="variable" variable="PharmerJohnsPharmaceuticalsSlotsUnlockedCount" count="1" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::Pharmaceutical'), System::evaluate('Selector::PharmaceuticalResourceCap'))" />
			<Requirement type="formula" formula="System::evaluate('Job::TestTrialMedication::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::TestNewSleepAid::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::AcquireAmphetamines::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::PickupBurnsPillCocktail::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::InquireAboutPillCosts::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::FilmEndorsementCommercials::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::TestHangOverCure::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::BuySmokableNicotinePatches::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::InquireAboutEdibleNicotineGum::Waiting')" not="true" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="IdleCharacter" character="Jasper" />
				<Requirement type="IdleCharacter" character="Wiggum" />
				<Requirement type="IdleCharacter" character="Barney" />
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Cletus" />
					<Requirement type="variable" variable="PharmerJohnsSlot2" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Smithers" />
					<Requirement type="variable" variable="PharmerJohnsSlot3" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Marge" />
					<Requirement type="variable" variable="PharmerJohnsSlot4" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="DrHibbert" />
					<Requirement type="variable" variable="PharmerJohnsSlot5" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Selma" />
					<Requirement type="variable" variable="PharmerJohnsSlot6" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Patty" />
					<Requirement type="variable" variable="PharmerJohnsSlot7" />
				</Requirement>
			</Requirement>
		</Requirement>
	</PharmerJohnsPharmaceuticalsIdleReqList>
	<HeightsTheaterIdleReqList>
		<Requirement type="conditional" logic="AND">
			<Requirement type="players land" />
			<Requirement type="variable" variable="HeightsTheaterSlotsUnlockedCount" count="1" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::HollywoodAward'), System::evaluate('Selector::HollywoodAwardResourceCap'))" />
			<Requirement type="formula" formula="System::evaluate('Job::AcceptAwardForChannelOcho::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::ReportShowResults::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::LoseComedyAwardToAnimal::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::RidiculeOutfitsOnRedCarpet::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::SetupPyrotechnics::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::BegForWork::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::LoseSidekickAwardToAFelon::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::GraciouslyAcceptSidekickAward::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::WinAnotherAnimationAward::Waiting')" not="true" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="IdleCharacter" character="BumblebeeMan" />
				<Requirement type="IdleCharacter" character="KentBrockman" />
				<Requirement type="IdleCharacter" character="SideshowMel" />
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Krusty" />
					<Requirement type="variable" variable="HeightsTheaterSlot2" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Agnes" />
					<Requirement type="variable" variable="HeightsTheaterSlot3" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Herman" />
					<Requirement type="variable" variable="HeightsTheaterSlot4" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Wolfcastle" />
					<Requirement type="variable" variable="HeightsTheaterSlot5" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="BobTerwilliger" />
					<Requirement type="variable" variable="HeightsTheaterSlot6" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="RogerMyersJr" />
					<Requirement type="variable" variable="HeightsTheaterSlot7" />
				</Requirement>
			</Requirement>
		</Requirement>
	</HeightsTheaterIdleReqList>
	<MarketingAgencyIdleReqList>
		<Requirement type="conditional" logic="AND">
			<Requirement type="players land" />
			<Requirement type="variable" variable="MarketingAgencySlotsUnlockedCount" count="1" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::Ads'), System::evaluate('Selector::AdsResourceCap'))" />
			<Requirement type="formula" formula="System::evaluate('Job::CraftDisclaimers::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::RunFocusGroup::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::TakeBlindTasteTest::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::ImproveOnlineAdClickThroughs::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::StarInABeachAd::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::BeExtraInABeachAd::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::ComposeCommercialJingles::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::PostWestSideRealtyAd::Waiting')" not="true" />
			<Requirement type="formula" formula="System::evaluate('Job::StarInAnAntiBullyingCampaign::Waiting')" not="true" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="IdleCharacter" character="BlueHairedLawyer" />
				<Requirement type="IdleCharacter" character="LindseyNaegle" />
				<Requirement type="IdleCharacter" character="DeweyLargo" />
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Skinner" />
					<Requirement type="variable" variable="MarketingAgencySlot2" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Martin" />
					<Requirement type="variable" variable="MarketingAgencySlot3" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Carl" />
					<Requirement type="variable" variable="MarketingAgencySlot4" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Lenny" />
					<Requirement type="variable" variable="MarketingAgencySlot5" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="CookieKwan" />
					<Requirement type="variable" variable="MarketingAgencySlot6" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="IdleCharacter" character="Dolph" />
					<Requirement type="variable" variable="MarketingAgencySlot7" />
				</Requirement>
			</Requirement>
		</Requirement>
	</MarketingAgencyIdleReqList>
	<ExclusiveResortLevelUpCosts>
		<Attribute name="AdsCost" value="ifElse(Object::SHLevel==0, 15, ifElse(Object::SHLevel==1, 25, ifElse(Object::SHLevel==2, 30, ifElse(Object::SHLevel==3, 70, 1))))" />
		<Attribute name="YogaMatCost" value="ifElse(Object::SHLevel==0, 20, ifElse(Object::SHLevel==1, 50, ifElse(Object::SHLevel==2, 0, ifElse(Object::SHLevel==3, 0, 1))))" />
		<Attribute name="PharmaceuticalCost" value="ifElse(Object::SHLevel==0, 0, ifElse(Object::SHLevel==1, 0, ifElse(Object::SHLevel==2, 20, ifElse(Object::SHLevel==3, 50, 1))))" />
		<Attribute name="FurnitureCost" value="0" />
		<Attribute name="LatteCost" value="0" />
		<Attribute name="SmartDeviceCost" value="0" />
		<Attribute name="HollywoodAwardCost" value="0" />
	</ExclusiveResortLevelUpCosts>
	<ExclusiveResortReward>
		<Attribute name="Level0" value="90000" />
		<Attribute name="Level1" value="300000" />
		<Attribute name="Level2" value="390000" />
		<Attribute name="Level3" value="645000" />
		<Attribute name="Level4" value="0" />
		<Attribute name="Level0Reward1" value="ExclusiveResortModule2" />
		<Attribute name="Level0Reward2" value="ExclusiveResortModule8" />
		<Attribute name="Level1Reward1" value="ExclusiveResortModule6" />
		<Attribute name="Level1Reward2" value="ExclusiveResortModule5" />
		<Attribute name="Level2Reward1" value="ExclusiveResortModule4" />
		<Attribute name="Level2Reward2" value="ExclusiveResortModule7" />
		<Attribute name="Level3Reward1" value="ExclusiveResortModule1" />
		<Attribute name="Level3Reward2" value="ExclusiveResortModule3" />
		<Attribute name="Level0Reward1Icon" value="ico_sheightsexpac_prize_exclusiveresortwingsw_lg" />
		<Attribute name="Level0Reward2Icon" value="ico_sheightsexpac_prize_exclusiveresortentrance_lg" />
		<Attribute name="Level1Reward1Icon" value="ico_sheightsexpac_prize_exclusiveresortannex_lg" />
		<Attribute name="Level1Reward2Icon" value="ico_sheightsexpac_prize_exclusiveresortbalconysw_lg" />
		<Attribute name="Level2Reward1Icon" value="ico_sheightsexpac_prize_exclusiveresortgardens_lg" />
		<Attribute name="Level2Reward2Icon" value="ico_sheightsexpac_prize_exclusiveresortstairway_lg" />
		<Attribute name="Level3Reward1Icon" value="ico_sheightsexpac_prize_exclusiveresorttower_lg" />
		<Attribute name="Level3Reward2Icon" value="ico_sheightsexpac_prize_exclusiveresortelevatorsw_lg" />
	</ExclusiveResortReward>
</Attributes>