<Buildings>
	<MasterList>
		<DataID id="157000" name="MoesHouse" />
		<DataID id="157001" name="SpringfieldGreenhouse" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="true" />
		<MultiPlace value="false" />
		<LoadBuilding value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="true" />
		<TaxJobPackage value="SpringCleaning_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="157000" name="MoesHouse" type="Building" xpValue="30">
		<Requirements>
			<Requirement type="level" level="5" />
		</Requirements>
		<RatingElem housing="10" />
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<Cost donuts="110" />
		<GridType type="grass|pavement" />
		<BSv2 name="MoesHouse" />
		<Job id="157005" name="SellingBrownGold" time="4h" premiumJob="true" />
		<SoundKit event="BuildingTouched" name="MoesHouse" />
	</Building>
	<Building id="157001" name="SpringfieldGreenhouse" type="Building" xpValue="100">
		<Requirements>
			<Requirement type="level" level="35" />
		</Requirements>
		<InventoryRequirements>
			<Requirement type="tutorialcompleted" hideFromInfo="true" />
		</InventoryRequirements>
		<RatingElem environment="400" />
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<Cost donuts="80" />
		<GridType type="grass" />
		<BSv2 name="SpringfieldGreenhouse" />
		<Job id="157006" name="NotThrowingStones" time="12h" premiumJob="true" />
		<Group name="Greeneries" />
	</Building>
</Buildings>