<ScriptPackage>
	<GoToMarketingAgency>
		<Action type="checkRequirements">
			<Requirement type="land" land="Springfield" />
			<True>
				<Action type="checkRequirements">
					<Requirement type="land block" land="Springfield" count="1" min="true" block="7,-5" />
					<True>
						<Action type="checkRequirements">
							<Requirements>
								<Requirement type="item" item="MarketingAgency" checkInventoryOnly="true" />
							</Requirements>
							<True>
								<Action type="focusOnMenuItem" itemName="MarketingAgency" inventory="true" menuCategory="SpringfieldHeights" />
							</True>
							<False>
								<Action type="pantoobject" building="MarketingAgency" fakeTouch="true" fakeTouchAvoidsIndicators="true" time="0" />
							</False>
						</Action>
					</True>
					<False>
						<Action type="runScript" package="SpringfieldHeights2_QuestScripts" script="GoToUnpurchasedMarketingAgency" />
					</False>
				</Action>
			</True>
			<False>
				<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
			</False>
		</Action>
	</GoToMarketingAgency>
	<SpawnStations_MarketingAgency parallel="true">
		<Action type="createobject">
			<Object name="Shrub02" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="119" yPos="-75" orientation="SE" />
			<Object name="Shrub02" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="124" yPos="-20" orientation="SE" />
			<Object name="Shrub02" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="127" yPos="-67" orientation="SE" />
			<Object name="Shrub04" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="135" yPos="-102" orientation="SW" />
			<Object name="Snapdragon" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="119" yPos="-76" orientation="SW" />
			<Object name="Snapdragon" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="123" yPos="-108" orientation="SE" />
			<Object name="Snapdragon" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="123" yPos="-21" orientation="SW" />
			<Object name="Snapdragon" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="126" yPos="-59" orientation="SE" />
			<Object name="Snapdragon" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="127" yPos="-58" orientation="SE" />
			<Object name="Snapdragon" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="136" yPos="-94" orientation="SW" />
			<Object name="Snapdragon" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="137" yPos="-49" orientation="SW" />
			<Object name="Flowers01" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="119" yPos="-74" orientation="SE" />
			<Object name="Flowers01" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="126" yPos="-67" orientation="SE" />
			<Object name="Flowers01" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="126" yPos="-58" orientation="SE" />
			<Object name="Flowers01" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="130" yPos="-108" orientation="SE" />
			<Object name="Flowers01" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="135" yPos="-101" orientation="SE" />
			<Object name="Flowers01" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="143" yPos="-68" orientation="SE" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="122" yPos="-43" orientation="SE" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="123" yPos="-94" orientation="SW" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="126" yPos="-34" orientation="SW" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="127" yPos="-20" orientation="SE" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="133" yPos="-28" orientation="SE" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="134" yPos="-84" orientation="SW" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="138" yPos="-77" orientation="SE" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="139" yPos="-76" orientation="SW" />
			<Object name="Flowers03" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="141" yPos="-31" orientation="SW" />
			<Object name="PlumTree" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="136" yPos="-100" orientation="SE" />
			<Object name="PlumTree" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="140" yPos="-32" orientation="SE" />
			<Object name="MarketingAgency" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="120" yPos="-68" orientation="SE" />
		</Action>
	</SpawnStations_MarketingAgency>
	<MarketingAgencyUnlock>
		<Action type="gotoState" state="GameState_InGame" />
		<Action type="createobject" name="LindseyNaegle" count="1" save="true" showUnlock="true" panCamera="true" building="MarketingAgency" />
		<Action type="setVariable" intVariable="MarketingAgencySlotsUnlockedCount" intValue="MarketingAgencySlotsUnlockedCount + 1" />
	</MarketingAgencyUnlock>
	<MarketingAgencyUnlock_Fixed ignoreHUD="true">
		<Action type="checkRequirements">
			<Requirements>
				<Requirement type="formula" formula="System::evaluate('Building::MarketingAgency::TotalCount')==0" />
			</Requirements>
			<True>
				<Action type="gotoState" state="GameState_InGame" />
				<Action type="createobject">
					<Object name="MarketingAgency" count="1" save="true" panCamera="false" defineSpawnPosition="true" xPos="120" yPos="-68" orientation="SE" />
				</Action>
			</True>
		</Action>
		<Action type="checkRequirements">
			<Requirements>
				<Requirement type="formula" formula="System::evaluate('Building::MarketingAgency::TotalCount')==1" />
				<Requirement type="formula" formula="System::evaluate('Character::LindseyNaegle::TotalCount')==0" />
				<Requirement type="quest" quest="SpringfieldHeights_10" />
			</Requirements>
			<True>
				<Action type="gotoState" state="GameState_InGame" />
				<Action type="createobject" name="LindseyNaegle" count="1" save="true" showUnlock="true" panCamera="true" building="MarketingAgency" />
			</True>
		</Action>
	</MarketingAgencyUnlock_Fixed>
	<IncrementMarketingAgencySlotsUnlockedCount>
		<Action type="setVariable" intVariable="MarketingAgencySlotsUnlockedCount" intValue="MarketingAgencySlotsUnlockedCount + 1" />
	</IncrementMarketingAgencySlotsUnlockedCount>
	<HudTip_CharacterJobUnlock_MarketingAgency>
		<Action type="hudTip" text="UI_HudTipText_CharacterSlot_MarketingAgency" time="3s" queue="true" waitForHUD="true" />
	</HudTip_CharacterJobUnlock_MarketingAgency>
	<CollectDroppedResources>
		<Action type="collectIndicator" />
	</CollectDroppedResources>
	<TouchExclusiveResort parallel="true">
		<Action type="pantoobject" building="ExclusiveResort" useObjectRef="true" fakeTouch="true" fakeTouchAvoidsIndicators="true" />
	</TouchExclusiveResort>
	<GoToExclusiveResort>
		<Action type="if">
			<If>
				<Requirement type="land" land="Springfield" />
				<Then>
					<Action type="if">
						<If>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::ExclusiveResort::LandCount'),0)" />
							<Then>
								<Action type="pantoobject" building="ExclusiveResort" fakeTouch="true" fakeTouchAvoidsIndicators="true" />
							</Then>
						</If>
						<ElseIf>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::ExclusiveResort::InventoryCount'),0)" />
							<Then>
								<Action type="focusOnMenuItem" itemName="ExclusiveResort" inventory="true" />
							</Then>
						</ElseIf>
					</Action>
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
				</Then>
			</Else>
		</Action>
	</GoToExclusiveResort>
	<GoToPrivateIslandInStore>
		<Action type="focusOnMenuItem" itemName="PrivateIsland" menuCategory="SpringfieldHeights" />
	</GoToPrivateIslandInStore>
	<GoToPrivateIsland>
		<Action type="if">
			<If>
				<Requirement type="land" land="Springfield" />
				<Then>
					<Action type="if">
						<If>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland::LandCount'),0)" />
							<Then>
								<Action type="pantoobject" building="PrivateIsland" fakeTouch="true" fakeTouchAvoidsIndicators="true" />
							</Then>
						</If>
						<ElseIf>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland::InventoryCount'),0)" />
							<Then>
								<Action type="focusOnMenuItem" itemName="PrivateIsland" inventory="true" />
							</Then>
						</ElseIf>
					</Action>
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
				</Then>
			</Else>
		</Action>
	</GoToPrivateIsland>
	<GoToPrivateIsland2>
		<Action type="if">
			<If>
				<Requirement type="land" land="Springfield" />
				<Then>
					<Action type="if">
						<If>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland2::LandCount'),0)" />
							<Then>
								<Action type="pantoobject" building="PrivateIsland2" fakeTouch="true" fakeTouchAvoidsIndicators="true" />
							</Then>
						</If>
						<ElseIf>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland2::InventoryCount'),0)" />
							<Then>
								<Action type="focusOnMenuItem" itemName="PrivateIsland" inventory="true" />
							</Then>
						</ElseIf>
					</Action>
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
				</Then>
			</Else>
		</Action>
	</GoToPrivateIsland2>
	<GoToPrivateIsland3>
		<Action type="if">
			<If>
				<Requirement type="land" land="Springfield" />
				<Then>
					<Action type="if">
						<If>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland3::LandCount'),0)" />
							<Then>
								<Action type="pantoobject" building="PrivateIsland3" fakeTouch="true" fakeTouchAvoidsIndicators="true" />
							</Then>
						</If>
						<ElseIf>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland3::InventoryCount'),0)" />
							<Then>
								<Action type="focusOnMenuItem" itemName="PrivateIsland3" inventory="true" />
							</Then>
						</ElseIf>
					</Action>
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
				</Then>
			</Else>
		</Action>
	</GoToPrivateIsland3>
	<GoToPrivateIsland4>
		<Action type="if">
			<If>
				<Requirement type="land" land="Springfield" />
				<Then>
					<Action type="if">
						<If>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland4::LandCount'),0)" />
							<Then>
								<Action type="pantoobject" building="PrivateIsland4" fakeTouch="true" fakeTouchAvoidsIndicators="true" />
							</Then>
						</If>
						<ElseIf>
							<Requirement type="formula" formula="greaterThan(System::evaluate('Building::PrivateIsland4::InventoryCount'),0)" />
							<Then>
								<Action type="focusOnMenuItem" itemName="PrivateIsland4" inventory="true" />
							</Then>
						</ElseIf>
					</Action>
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="pantoobject" building="KrustylandShuttleToSpringfield" fakeTouch="true" />
				</Then>
			</Else>
		</Action>
	</GoToPrivateIsland4>
	<CheckIfDeluxeCondoComplete>
		<Action type="checkRequirements">
			<Requirement type="formula" formula="System::evaluate('Building::Instance::[LAST_TOUCH_BUILDING_UID]::Object::SHLevel')==4" />
			<True>
				<Action type="gotoState" state="GameState_InGame" />
				<Action type="replaceobject" to="DeluxeCondo_Complete" ignoreObject="false" postReplaceScript="SpringfieldHeights2_Scripts:TouchNewCompleteBuilding" />
			</True>
			<False>
				<Action type="pantoobject" useObjectRef="true" />
				<Action type="gotoState" state="GameState_BuildingUpgradeTrack">
					<Extras>
						<Attribute name="fontConfigPath" value="SpringfieldHeights_MenuConfig:BuildingUpgradeTrackFontAndColourConfig" />
					</Extras>
				</Action>
			</False>
		</Action>
	</CheckIfDeluxeCondoComplete>
	<CheckIfValetParkingComplete>
		<Action type="checkRequirements">
			<Requirement type="formula" formula="System::evaluate('Building::Instance::[LAST_TOUCH_BUILDING_UID]::Object::SHLevel')==4" />
			<True>
				<Action type="gotoState" state="GameState_InGame" />
				<Action type="replaceobject" to="ValetParking_Complete" ignoreObject="false" postReplaceScript="SpringfieldHeights2_Scripts:TouchNewCompleteBuilding" />
			</True>
			<False>
				<Action type="pantoobject" useObjectRef="true" />
				<Action type="gotoState" state="GameState_BuildingUpgradeTrack">
					<Extras>
						<Attribute name="fontConfigPath" value="SpringfieldHeights_MenuConfig:BuildingUpgradeTrackFontAndColourConfig" />
					</Extras>
				</Action>
			</False>
		</Action>
	</CheckIfValetParkingComplete>
	<CheckIfBusinessCenterComplete>
		<Action type="checkRequirements">
			<Requirement type="formula" formula="System::evaluate('Building::Instance::[LAST_TOUCH_BUILDING_UID]::Object::SHLevel')==4" />
			<True>
				<Action type="gotoState" state="GameState_InGame" />
				<Action type="replaceobject" to="BusinessCenter_Complete" ignoreObject="false" postReplaceScript="SpringfieldHeights2_Scripts:TouchNewCompleteBuilding" />
			</True>
			<False>
				<Action type="pantoobject" useObjectRef="true" />
				<Action type="gotoState" state="GameState_BuildingUpgradeTrack">
					<Extras>
						<Attribute name="fontConfigPath" value="SpringfieldHeights_MenuConfig:BuildingUpgradeTrackFontAndColourConfig" />
					</Extras>
				</Action>
			</False>
		</Action>
	</CheckIfBusinessCenterComplete>
	<OnPrivateIslandUpgraded>
		<Action type="gotoState" state="GameState_InGame" />
		<Action type="setVariable" intVariable="PrivateIsland_Level_Temp" intValue="Object::SHLevel" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="setVariable" intVariable="PrivateIsland_UpgradeRushCost_Temp" intValue="Object::UpgradeRushCost" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="replaceobject" to="PrivateIsland2" ignoreObject="false" postReplaceScript="SpringfieldHeights2_Scripts:OnPrivateIslandUpgradedPostReplace" />
	</OnPrivateIslandUpgraded>
	<OnPrivateIsland2Upgraded>
		<Action type="gotoState" state="GameState_InGame" />
		<Action type="setVariable" intVariable="PrivateIsland_Level_Temp" intValue="Object::SHLevel" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="setVariable" intVariable="PrivateIsland_UpgradeRushCost_Temp" intValue="Object::UpgradeRushCost" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="replaceobject" to="PrivateIsland3" ignoreObject="false" postReplaceScript="SpringfieldHeights2_Scripts:OnPrivateIslandUpgradedPostReplace" />
	</OnPrivateIsland2Upgraded>
	<OnPrivateIsland3Upgraded>
		<Action type="gotoState" state="GameState_InGame" />
		<Action type="setVariable" intVariable="PrivateIsland_Level_Temp" intValue="Object::SHLevel" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="setVariable" intVariable="PrivateIsland_UpgradeRushCost_Temp" intValue="Object::UpgradeRushCost" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="replaceobject" to="PrivateIsland4" ignoreObject="false" postReplaceScript="SpringfieldHeights2_Scripts:OnPrivateIslandUpgradedPostReplace" />
	</OnPrivateIsland3Upgraded>
	<OnPrivateIsland4Upgraded>
		<Action type="gotoState" state="GameState_InGame" />
		<Action type="setVariable" intVariable="PrivateIsland_Level_Temp" intValue="Object::SHLevel" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="setVariable" intVariable="PrivateIsland_UpgradeRushCost_Temp" intValue="Object::UpgradeRushCost" addTempIfNotExisting="true" ignoreObject="false" />
		<Action type="replaceobject" to="PrivateIsland_Complete" ignoreObject="false" postReplaceScript="SpringfieldHeights2_Scripts:OnPrivateIslandUpgradedPostReplace" />
	</OnPrivateIsland4Upgraded>
	<OnPrivateIslandUpgradedPostReplace>
		<Action type="setObjectVariable" variable="SHLevel" value="PrivateIsland_Level_Temp" asExpression="true" variableMode="setRetain" />
		<Action type="setObjectVariable" variable="UpgradeRushCost" value="PrivateIsland_UpgradeRushCost_Temp" asExpression="true" variableMode="setRetain" />
		<Action type="runScript" script="FinishPrivateIslandUpgrade" package="SpringfieldHeights2_Scripts" waitUntilComplete="false" />
	</OnPrivateIslandUpgradedPostReplace>
	<FinishPrivateIslandUpgrade>
		<Action type="setObjectVariable" variableMode="setRetain" variable="dummy" value="1" disableEvents="true" />
		<Action type="actionSequence" script="SpringfieldHeights2_Scripts:FinishPrivateIslandUpgradeReal" parseOnDemand="true" />
	</FinishPrivateIslandUpgrade>
	<FinishPrivateIslandUpgradeReal>
		<Action type="anim-building-oneshot" postdraw="true" nowait="true" requiresInGame="true">
			<OneShot name="regular" file="GenericBuildingUpgrade" animation="GenericBuildingUpgrade" x="0" y="0" />
		</Action>
		<Action type="reward" formatMe="true" save="true" RealEstateValue="__SpringfieldHeights_GameConfig:PrivateIslandReward:Level{Object::SHLevel}__" suppress_sound="true" pauseForScript="true" />
		<Action type="setObjectVariable" variable="SHLevel" value="Object::SHLevel+1" asExpression="true" />
		<Action type="runScript" package="SpringfieldHeights_UpgradeScripts" script="UnityBuildingUpgradedTelemetry" />
		<Action type="loseResources" formatMe="true" Furniture="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:FurnitureCost__" Latte="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:LatteCost__" Pharmaceutical="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:PharmaceuticalCost__" SmartDevice="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:SmartDeviceCost__" YogaMat="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:YogaMatCost__" HollywoodAward="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:HollywoodAwardCost__" Ads="__SpringfieldHeights_GameConfig:PrivateIslandLevelUpCosts:AdsCost__" />
		<Action type="loseResources" formatMe="true" donuts="{Object::UpgradeRushCost}" />
		<Action type="delay" time="2" />
		<Action type="prizeListRewardMessage">
			<Attribute name="config">
				<AttributeSet name="darkenScreen">
					<Attribute name="active" value="true" />
				</AttributeSet>
				<AttributeSet name="earned">
					<Attribute name="active" value="true" />
				</AttributeSet>
				<AttributeSet name="centering">
					<Attribute name="active" value="true" />
				</AttributeSet>
				<AttributeSet name="message">
					<Attribute name="text" value="UI_BuildingUpgradePanel_title" localise="true" parameters="levelTextData">
						<AttributeSet name="levelTextData">
							<Attribute name="0" stringFormula="{Object::LocalisedName}" />
							<Attribute name="1" formula="Object::SHLevel+2" />
						</AttributeSet>
					</Attribute>
					<Attribute name="font" value="eFont_MediumBold" />
					<Attribute name="color" value="FFD51AFF" />
				</AttributeSet>
				<AttributeSet name="iconUpgradeInfo">
					<Attribute name="text" value="UI_BuildingUpgradePanel_body" localise="true" />
					<Attribute name="font" value="eFont_Medium" />
					<Attribute name="color" value="FFFFFFFF" />
				</AttributeSet>
				<AttributeSet name="iconUpgradeMessage">
					<Attribute name="text" formatMe="true" abbreviatedNumber="__SpringfieldHeights_GameConfig:PrivateIslandReward:Level{Object::SHLevel}__" />
					<Attribute name="font" value="eFont_Medium" />
					<Attribute name="color" value="FFFFFFFF" />
				</AttributeSet>
				<AttributeSet name="okButtonText">
					<Attribute name="text" value="UI_OK" localise="true" />
					<Attribute name="font" value="eFont_Medium" />
					<Attribute name="color" value="FFFFFFFF" />
				</AttributeSet>
				<AttributeSet name="okButtonTextHL">
					<Attribute name="text" value="UI_OK" localise="true" />
					<Attribute name="font" value="eFont_Medium" />
					<Attribute name="color" value="000000FF" />
				</AttributeSet>
				<AttributeSet name="realEstateValueIcon">
					<Attribute name="image" value="ICO_Heights_RealEstate_md" />
				</AttributeSet>
				<AttributeSet name="rewardGraphic">
					<Attribute name="image" formatMe="true" value="__SpringfieldHeights_GameConfig:PrivateIslandReward:Level{Object::SHLevel}Icon__" />
				</AttributeSet>
			</Attribute>
		</Action>
		<Action type="checkRequirements" ignoreObject="false" formatMe="deep">
			<Requirements>
				<Requirement type="formula" formula="Object::SHLevel==4" />
			</Requirements>
			<True>
				<Action type="hudTip" text="UI_PrivateIslandCompleteMessage" time="5s" queue="true" waitForHUD="true" />
			</True>
		</Action>
	</FinishPrivateIslandUpgradeReal>
	<ShowPrivateIslandUpgradableBuildingUI>
		<Action type="pantoobject" useObjectRef="true" />
		<Action type="gotoState" state="GameState_BuildingUpgradeTrack">
			<Extras>
				<Attribute name="fontConfigPath" value="SpringfieldHeights_MenuConfig:PrivateIslandUpgradeTrackFontAndColourConfig" />
			</Extras>
		</Action>
	</ShowPrivateIslandUpgradableBuildingUI>
	<SpringfieldHeightsShowGuidePanel_PrivateIsland>
		<Action type="sound" sound="01_general_button.caf" />
		<Action type="gotoState" state="State_HubGuidePanel" extras="SpringfieldHeights_ThreePanelGuideConfig:GuidePanelConfig">
			<Extras>
				<Attribute name="Center" value="true" />
				<Attribute name="ExitButtonScript" value="SpringfieldHeights2_Scripts:OpenPrivateIslandUIWithoutTouching" />
			</Extras>
		</Action>
	</SpringfieldHeightsShowGuidePanel_PrivateIsland>
	<OpenPrivateIslandUIWithoutTouching>
		<Action type="gotoState" state="GameState_BuildingUpgradeTrack">
			<Extras>
				<Attribute name="fontConfigPath" value="SpringfieldHeights_MenuConfig:PrivateIslandUpgradeTrackFontAndColourConfig" />
			</Extras>
		</Action>
	</OpenPrivateIslandUIWithoutTouching>
	<TouchNewCompleteBuilding parallel="true">
		<Action type="pantoobject" useObjectRef="true" fakeTouch="true" fakeTouchAvoidsIndicators="true" />
	</TouchNewCompleteBuilding>
	<GoneFission_Tapped parallel="true">
		<Action type="anim-play" building="GoneFission" animation="ActiveBottomNoLoop">
			<Sub-Building animation="ActiveTopNoLoop" />
		</Action>
	</GoneFission_Tapped>
	<OceanSuite_Tapped parallel="true">
		<Action type="anim-play" building="OceanSuite" animation="Tap_Base">
			<Sub-Building animation="Tap_Top" />
		</Action>
	</OceanSuite_Tapped>
	<RecommendHeightsExpansion>
		<Action type="recommendation" recType="Promoted" description="UI_REC_Expansion_Heights" name="EnterSpringfieldHeightsCategory" />
	</RecommendHeightsExpansion>
	<ClearHeightsExpansionRecommendation>
		<Action type="clearRecommendations" category="Expansion" name="EnterSpringfieldHeightsCategory" />
	</ClearHeightsExpansionRecommendation>
	<ApplyFlandersHomeDecorated>
		<Action type="SilentlyUnlockSkin" skin="FlandersHome_Festive_01" />
		<Action type="runScriptOnAll" building="FlandersHome" package="SpringfieldHeights2_Scripts" script="ApplySkin_FlandersHome_Festive_01" />
	</ApplyFlandersHomeDecorated>
	<ApplySkin_FlandersHome_Festive_01>
		<Action type="setBuildingSkin" skinName="FlandersHome_Festive_01" />
		<Action type="delay" time="0.5" />
	</ApplySkin_FlandersHome_Festive_01>
</ScriptPackage>