<Characters>
	<MasterList>
		<DataID id="242000" name="Spiro" />
		<DataID id="242001" name="WolfguyJack" />
		<DataID id="242002" name="WilburNurple" />
	</MasterList>
	<Character id="242000" name="Spiro" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="Spiro" />
		<UnlockSound type="hisName" />
		<Set index="0" name="SpringfieldChoppers" />
		<Cost donuts="80" />
		<Group name="Adult" />
		<Group name="RegularCharacters" />
		<Group name="RegularMale" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="Spiro_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="Spiro_good" />
		<SoundKit event="CharacterSoundBadJob" name="Spiro_bad" />
		<SoundKit event="CharacterSoundDone" name="Spiro_done" />
	</Character>
	<Character id="242001" name="WolfguyJack" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="WolfguyJack" />
		<UnlockSound type="insert" />
		<Set index="1" name="SpringfieldChoppers" />
		<Cost donuts="__SpringfieldChoppers_GameConfig:PremiumCosts:WolfguyJack__" />
		<Group name="Adult" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="WolfguyJack_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="WolfguyJack_good" />
		<SoundKit event="CharacterSoundBadJob" name="WolfguyJack_bad" />
		<SoundKit event="CharacterSoundDone" name="WolfguyJack_done" />
	</Character>
	<Character id="242002" name="WilburNurple" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="WilburNurple" />
		<UnlockSound type="thatGuy" />
		<Set index="2" name="SpringfieldChoppers" />
		<Cost donuts="80" />
		<Group name="Adult" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<SpeechBubbleOffset x="40" y="-90" />
	</Character>
</Characters>