<Characters> <!---->
	<MasterList>
		<DataID id="197000" name="AristotleAmadopolis" />
		<DataID id="197001" name="ArthurFortune" />
		<DataID id="197002" name="Primo" />
		<DataID id="197003" name="DanteCalabresiJr" />
		<DataID id="197004" name="DanteCalabresiSr" />
		<DataID id="197005" name="FernandoVidal" />
		<DataID id="197006" name="FitTony" />
		<DataID id="197007" name="GeoffreyChaucer" />
		<DataID id="197008" name="GuyIncognito" />
		<DataID id="197009" name="JackTheRipper" />
		<DataID id="197010" name="MexicanDuffman" />
		<DataID id="197011" name="NanaSophieMussolini" />
		<DataID id="197012" name="Nigel" />
		<DataID id="197013" name="OscarWilde" />
		<DataID id="197014" name="Pope" />
		<DataID id="197015" name="Raoul" />
		<DataID id="197016" name="SvenGolly" />
		<DataID id="197017" name="WheelsMcGrath" />
		<DataID id="197018" name="JusticeAgentPet" />
		<DataID id="197019" name="CrookPet" />
		<DataID id="197100" name="JusticeAgent" />
		<DataID id="197101" name="Crook" />
	</MasterList>
	<Character id="197000" name="AristotleAmadopolis" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="AristotleAmadopolis" />
		<Cost donuts="60" />
		<Set index="9" name="MoreBusinessOwners" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Entrepreneur" />
		<Group name="Adult" />
		<Group name="RichPeople" />
		<Group name="Golfers" />
	</Character>
	<Character id="197001" name="ArthurFortune" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="ArthurFortune" />
		<Set index="10" name="MoreBusinessOwners" />
		<UnlockSound type="heyYou" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Entrepreneur" />
		<Group name="Adult" />
		<Group name="RichPeople" />
		<SoundKit event="CharacterSoundTouched" name="ArthurFortune_Tap" />
		<SoundKit event="CharacterSoundBadJob" name="ArthurFortune_JobBad" />
		<SoundKit event="CharacterSoundGoodJob" name="ArthurFortune_JobGood" />
		<SoundKit event="CharacterSoundDone" name="ArthurFortune_JobDone" />
	</Character>
	<Character id="197002" name="Primo" unlockXP="25" customReminderIcon="Reminder_BigAlberto" customSidebarIcon="Sidebar_BigAlberto" customMenuIcon="BigAlberto_menu" customSetIcon="CharacterSets_BigAlberto" customUnlockIcon="Unlock_BigAlberto" avatar="BigAlberto">
		<WalkSpeed speed="50" />
		<Animations character="BigAlberto" />
		<Cost donuts="60" />
		<Set index="2" name="CalabresiMafia" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="RegularCharacters" />
		<Group name="RegularMale" />
		<Group name="Criminal" />
		<Group name="Adult" />
	</Character>
	<Character id="197003" name="DanteCalabresiJr" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="DanteCalabresiJr" />
		<Set index="1" name="CalabresiMafia" />
		<UnlockSound type="hisName" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Criminal" />
		<Group name="Adult" />
		<Group name="HighRoller" />
		<Group name="RichPeople" />
	</Character>
	<Character id="197004" name="DanteCalabresiSr" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="DanteCalabresiSr" />
		<Set index="0" name="CalabresiMafia" />
		<UnlockSound type="heyYou" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Criminal" />
		<Group name="Adult" />
		<Group name="RichPeople" />
		<Group name="Senior" />
	</Character>
	<Character id="197005" name="FernandoVidal" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="FernandoVidal" />
		<Set index="6" name="Villains" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="RegularCharacters" />
		<Group name="RegularMale" />
		<Group name="Criminal" />
		<Group name="Adult" />
		<Group name="Villains" />
		<Group name="HighRoller" />
		<Group name="RichPeople" />
		<SoundKit event="CharacterSoundTouched" name="FernandoVidal_Tap" />
		<SoundKit event="CharacterSoundBadJob" name="FernandoVidal_JobBad" />
		<SoundKit event="CharacterSoundGoodJob" name="FernandoVidal_JobGood" />
		<SoundKit event="CharacterSoundDone" name="FernandoVidal_JobDone" />
	</Character>
	<Character id="197006" name="FitTony" unlockXP="25">
		<Cost donuts="100" />
		<WalkSpeed speed="50" />
		<Animations character="FitTony" />
		<Set index="7" name="WiseGuys" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="RegularCharacters" />
		<Group name="RegularMale" />
		<Group name="Adult" />
		<Group name="WiseGuys" />
		<Group name="Criminal" />
	</Character>
	<Character id="197007" name="GeoffreyChaucer" unlockXP="25" defaultPremiumReward="true" blendMode="additive">
		<RenderPass blendMode="normal" alpha="0.65" />
		<WalkSpeed speed="50" />
		<Animations character="GeoffreyChaucer" />
		<Set index="0" name="MoreForeigners" />
		<UnlockSound type="heyYou" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Adult" />
		<Group name="CivilServant" />
	</Character>
	<Character id="197008" name="GuyIncognito" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="GuyIncognito" />
		<Set index="1" name="MoreForeigners" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Adult" />
		<Group name="Barflies" />
		<Group name="Kook" />
		<UnlockSound type="welcomeToMyWorld" />
		<SoundKit event="CharacterSoundTouched" name="GuyIncognito_Tap" />
		<SoundKit event="CharacterSoundBadJob" name="GuyIncognito_JobBad" />
		<SoundKit event="CharacterSoundGoodJob" name="GuyIncognito_JobGood" />
		<SoundKit event="CharacterSoundDone" name="GuyIncognito_JobDone" />
	</Character>
	<Character id="197009" name="JackTheRipper" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="JackTheRipper" />
		<Set index="7" name="Villains" />
		<UnlockSound type="heyYou" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Criminal" />
		<Group name="Adult" />
		<Group name="Villains" />
		<Group name="Celebrity" />
	</Character>
	<Character id="197010" name="MexicanDuffman" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="MexicanDuffman" />
		<Set index="9" name="CListCelebrities" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Celebrity" />
		<Group name="Adult" />
		<Cost donuts="__SpringfieldJobs_GameConfig:PremiumCosts:MexicanDuffman__" />
		<SoundKit event="CharacterSoundTouched" name="MexicanDuffman_Tap" />
	</Character>
	<Character id="197011" name="NanaSophieMussolini" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="NanaSophieMussolini" />
		<Set index="3" name="VanHoutens" />
		<UnlockSound type="heyYou" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumFemale" />
		<Group name="Adult" />
		<Group name="Kook" />
		<Group name="Moms" />
		<Group name="Parents" />
		<Group name="Senior" />
		<Cost donuts="75" />
	</Character>
	<Character id="197012" name="Nigel" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="Nigel" />
		<Set index="2" name="MoreForeigners" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="RegularCharacters" />
		<Group name="RegularMale" />
		<Group name="Adult" />
		<Group name="Entrepreneur" />
		<Group name="HighRoller" />
		<Group name="RichPeople" />
		<Group name="Senior" />
	</Character>
	<Character id="197013" name="OscarWilde" unlockXP="25" defaultPremiumReward="true" blendMode="additive">
		<RenderPass blendMode="normal" alpha="0.65" />
		<WalkSpeed speed="50" />
		<Animations character="OscarWilde" />
		<Set index="3" name="MoreForeigners" />
		<UnlockSound type="heyYou" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Adult" />
		<SoundKit event="CharacterSoundTouched" name="OscarWilde_Tap" />
		<SoundKit event="CharacterSoundBadJob" name="OscarWilde_JobBad" />
		<SoundKit event="CharacterSoundGoodJob" name="OscarWilde_JobGood" />
		<SoundKit event="CharacterSoundDone" name="OscarWilde_JobDone" />
	</Character>
	<Character id="197014" name="Pope" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="Pope" />
		<Set index="4" name="MoreForeigners" />
		<UnlockSound type="lookRidiculous" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Celebrity" />
		<Group name="Adult" />
		<Group name="Saint" />
		<Group name="RichPeople" />
		<Group name="Churchgoers" />
		<Group name="Senior" />
	</Character>
	<Character id="197015" name="Raoul" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="Raoul" />
		<Set index="5" name="MoreForeigners" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Adult" />
		<Group name="Senior" />
		<SoundKit event="CharacterSoundTouched" name="Raoul_Tap" />
		<SoundKit event="CharacterSoundBadJob" name="Raoul_JobBad" />
		<SoundKit event="CharacterSoundGoodJob" name="Raoul_JobGood" />
		<SoundKit event="CharacterSoundDone" name="Raoul_JobDone" />
	</Character>
	<Character id="197016" name="SvenGolly" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="SvenGolly" />
		<Set index="8" name="Villains" />
		<UnlockSound type="thatGuy" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Adult" />
		<Group name="Criminal" />
		<Group name="Villains" />
		<SoundKit event="CharacterSoundTouched" name="SvenGolly_Tap" />
		<SoundKit event="CharacterSoundBadJob" name="SvenGolly_JobBad" />
		<SoundKit event="CharacterSoundGoodJob" name="SvenGolly_JobGood" />
		<SoundKit event="CharacterSoundDone" name="SvenGolly_JobDone" />
	</Character>
	<Character id="197017" name="WheelsMcGrath" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="WheelsMcGrath" />
		<Set index="9" name="MoreOddballs" />
		<UnlockSound type="hisName" />
		<SpeechBubbleOffset x="40" y="-90" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="Adult" />
		<Group name="Criminal" />
		<Group name="Senior" />
		<SoundKit event="CharacterSoundTouched" name="WheelsMcGrath_Tap" />
		<SoundKit event="CharacterSoundBadJob" name="WheelsMcGrath_JobBad" />
		<SoundKit event="CharacterSoundGoodJob" name="WheelsMcGrath_JobGood" />
		<SoundKit event="CharacterSoundDone" name="WheelsMcGrath_JobDone" />
	</Character>
	<Character id="197018" name="JusticeAgentPet" avatar="JusticeAgent" unlockXP="25" ignoredByCensus="true" textpoolName="CHA_JusticeAgent_name">
		<Animations character="JusticeAgent" />
		<AnimationRemap Idle="JusticeAgent_Idle" Idle_blink="JusticeAgent_Idle_Blink" Front_Walk="JusticeAgent_Front_Walk" Back_Walk="JusticeAgent_Back_Walk" />
		<UnlockSound type="insert" />
		<Set index="0" name="ForeignCopsRobbers" />
		<OnEvent onObject="JusticeAgentPet" event="CharacterTouched">
			<Script name="JusticeAgent_Tapped" package="SpringfieldJobs_Scripts" />
		</OnEvent>
		<Cost donuts="25" />
	</Character>
	<Character id="197019" name="CrookPet" avatar="CriminalBurglar" unlockXP="25" ignoredByCensus="true" textpoolName="CHA_Crook_name">
		<Animations character="CriminalBurglar" />
		<AnimationRemap Idle="CriminalBurglar_Idle" Idle_blink="CriminalBurglar_Idle_Blink" Front_Walk="CriminalBurglar_Front_Walk" Back_Walk="CriminalBurglar_Back_Walk" />
		<UnlockSound type="insert" />
		<Set index="1" name="ForeignCopsRobbers" />
		<OnEvent onObject="CrookPet" event="CharacterTouched">
			<Script name="Crook_Tapped" package="SpringfieldJobs_Scripts" />
		</OnEvent>
		<Cost donuts="25" />
	</Character>
	<Character id="197100" name="JusticeAgent" unique="false" randomSkin="true" invisibleToFriends="true" storable="false" selectInRearrange="false" minSpawnDistance="300" ignoredByCensus="true">
		<Animations character="JusticeAgent" />
		<AnimationRemap Idle="JusticeAgent_Idle" Idle_blink="JusticeAgent_Idle_Blink" Front_Walk="JusticeAgent_Front_Walk" Back_Walk="JusticeAgent_Back_Walk" Tap="JusticeAgent_Squish" />
		<PreferredGridType type="grass|dirtpavement|pavement|dirtroad|dirtedge|road|sidewalk|cobblestone|cobblestoneedge" />
		<TouchPriority value="100" />
		<AABB w="3" h="3" y="1" />
		<WalkSpeed speed="50" />
		<SoundKit event="CharacterSoundTouched" name="JusticeAgent_Tap" />
		<OnEvent event="CharacterTouched" onObject="JusticeAgent" user="local">
			<Script name="PetTapped" package="springfieldjobs_characters" />
		</OnEvent>
	</Character>
	<PetTapped parallel="true" cache="true">
		<Action type="playanimation" character="JusticeAgent" animation="Squish" />
		<Action type="fade" character="JusticeAgent" fade="outmax" />
		<Action type="deletecharacter" character="JusticeAgent" />
	</PetTapped>
	<Character id="197101" name="Crook" unique="false" randomSkin="false" invisibleToFriends="false" hasDialogue="false" storable="false" selectInRearrange="false" ignoredByCensus="true" avatar="CriminalBurglar">
		<Animations character="CriminalBurglar" />
		<PreferredGridType type="grass|dirtpavement|pavement|dirtroad|dirtedge|road|sidewalk|cobblestone|cobblestoneedge" />
		<TouchPriority value="100" />
		<WalkSpeed speed="50" />
		<OnEvent event="CharacterTouched" onObject="Crook" user="local">
			<Script name="PetTapped1" package="springfieldjobs_characters" />
		</OnEvent>
		<SoundKit event="CharacterSoundTouched" name="Crook_Tap" />
	</Character>
	<PetTapped1 parallel="true" cache="true">
		<Action type="playanimation" character="Crook" animation="Squish" />
		<Action type="fade" character="Crook" fade="outmax" />
		<Action type="deletecharacter" character="Crook" />
	</PetTapped1>
</Characters>