<Attributes>
	<ExclusiveResort00_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:ExclusiveResort00_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights_Scripts:SpringfieldHeightsShowGuidePanel_UpgradableBuilding" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="0" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</ExclusiveResort00_QuestConfig>
	<ExclusiveResort01_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:ExclusiveResort01_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights_Scripts:SpringfieldHeightsShowGuidePanel_UpgradableBuilding" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="1" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</ExclusiveResort01_QuestConfig>
	<ExclusiveResort02_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:ExclusiveResort02_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights_Scripts:SpringfieldHeightsShowGuidePanel_UpgradableBuilding" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="2" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="3" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</ExclusiveResort02_QuestConfig>
	<ExclusiveResort03_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:ExclusiveResort03_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights_Scripts:SpringfieldHeightsShowGuidePanel_UpgradableBuilding" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="3" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="3" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeFinalPrizeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="4" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</ExclusiveResort03_QuestConfig>
	<ExclusiveResort04_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:ExclusiveResort04_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights_Scripts:SpringfieldHeightsShowGuidePanel_UpgradableBuilding" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="3" />
		<Attribute name="messageText" value="UI_ExclusiveResortCompleteMessage" localise="true" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="3" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="componentType" value="largeFinalPrizeArrow" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="4" />
			</AttributeSet>
		</Attribute>
	</ExclusiveResort04_QuestConfig>
	<PrivateIsland00_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland00_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights2_Scripts:SpringfieldHeightsShowGuidePanel_PrivateIsland" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="0" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</PrivateIsland00_QuestConfig>
	<PrivateIsland01_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland01_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights2_Scripts:SpringfieldHeightsShowGuidePanel_PrivateIsland" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="1" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</PrivateIsland01_QuestConfig>
	<PrivateIsland02_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland02_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights2_Scripts:SpringfieldHeightsShowGuidePanel_PrivateIsland" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="2" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="3" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</PrivateIsland02_QuestConfig>
	<PrivateIsland03_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland03_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights2_Scripts:SpringfieldHeightsShowGuidePanel_PrivateIsland" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="3" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="3" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091F6FF" />
				<Attribute name="componentType" value="largeFinalPrizeArrow" />
				<Attribute name="backgroundLeftBarColor" value="014A7CFF" />
				<Attribute name="lockImage" value="" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="4" />
				<Attribute name="showValue" value="true" />
			</AttributeSet>
		</Attribute>
	</PrivateIsland03_QuestConfig>
	<PrivateIsland04_QuestConfig>
		<Attribute name="visualPrizeGroupPath" value="SpringfieldHeights2_BuildingUpgradeConfig:PrivateIsland03_PrizeGroup" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights2_Scripts:SpringfieldHeightsShowGuidePanel_PrivateIsland" />
		<Attribute name="topRightButtonMainImage" value="ICO_THOH_Help_SM.rgb" />
		<Attribute name="topRightButtonBackgroundImage" value="BSE_THOH_HelpCircle.rgb" />
		<Attribute name="showLinkedCircles" value="true" />
		<Attribute name="useReducedArrows" value="true" />
		<Attribute name="resource1" value="donuts" />
		<Attribute name="prizeIndexToScrollTo" value="3" />
		<Attribute name="messageText" value="UI_PrivateIslandCompleteMessage" localise="true" />
		<Attribute name="overridePrizes">
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="0" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="1" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="2" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="itemBaseColor" value="014a7c9B" />
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="3" />
			</AttributeSet>
			<AttributeSet>
				<Attribute name="outlineColor" value="0091f6FF" />
				<Attribute name="componentType" value="largeFinalPrizeArrow" />
				<Attribute name="lockImage" value="ICO_GENR_ScrollCheck.rgb" />
				<Attribute name="prizeAlpha" value="1.0" />
				<Attribute name="index" value="4" />
			</AttributeSet>
		</Attribute>
	</PrivateIsland04_QuestConfig>
</Attributes>