<Buildings>
	<BuildingDefaults>
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building name="Shop" animated="true">
		<BSv2 name="FurnitureShop" flippedname="FurnitureShopFlipped" />
	</Building>
	<Building name="CoffeeShop" animated="true">
		<BSv2 name="CoffeeShop" flippedname="CoffeeShopFlipped" />
	</Building>
	<Building name="LABodyWorks" animated="true">
		<BSv2 name="LABodyWorks" flippedname="LABodyWorksFlipped" />
	</Building>
	<Building name="SpringfieldHeightsInstituteOfTechnology" animated="true">
		<BSv2 name="InstituteOfTech" flippedname="InstituteOfTechFlipped" />
	</Building>
	<Building name="PharmerJohnsPharmaceuticals" animated="true">
		<BSv2 name="PharmErJohns" flippedname="PharmErJohnsFlipped" />
	</Building>
	<Building name="HeightsTheater" animated="true">
		<BSv2 name="HeightsTheater" flippedname="HeightsTheaterFlipped" />
	</Building>
	<Building name="DeluxeCondo" animated="true">
		<BSv2 name="FancyCondo01" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="DeluxeCondo_First" animated="true">
		<BSv2 name="FancyCondo01" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="BusinessCenter" animated="true">
		<BSv2 name="FancyBusiness01" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="ClassicMansion" animated="true">
		<BSv2 name="MansionClassicMainBuilding01" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="ModernMansion" animated="true">
		<BSv2 name="MansionModernBigBuilding" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="ValetParking" animated="true">
		<BSv2 name="FancyParkade01" flippedname="FancyParkade01Flipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="RedBlazerRealty">
		<BSv2 name="ModernRedBlazerRealty" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="HealthSpa">
		<BSv2 name="HealthSpa" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="PlasticSurgeryCenter">
		<BSv2 name="PlasticSurgeryCenter" flippedname="PlasticSurgeryCenterFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="ColumnMansion">
		<BSv2 name="ColumnMansion" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="MontessoriSchool">
		<BSv2 name="MontessoriSchool" flippedname="MontessoriSchoolFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="ZiffMansion">
		<BSv2 name="ZiffMansion" footprint="Anim_BuildStates_18x12" />
	</Building>
	<Building name="BurnsSlantDrillingCo">
		<BSv2 name="BurnsSlantDrillingCo" flippedname="BurnsSlantDrillingCoFlipped" />
	</Building>
	<Building name="IncubatorThinkTank">
		<BSv2 name="IncubatorThinkTank" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="beach" overrideFlatFootprint="false" />
	</Building>
	<Building name="PoloFieldHouse">
		<BSv2 name="PoloClub" flippedname="PoloClubFlipped" />
	</Building>
	<Building name="Mountain01">
		<BSv2 name="Mountains_Standard" />
	</Building>
	<Building name="Mountain02">
		<BSv2 name="LowerMountainTunnelBlocked" />
	</Building>
	<Building name="Mountain03">
		<BSv2 name="LowerMountainBeach" />
	</Building>
	<Building name="Mountain04" animated="true">
		<BSv2 name="LowerMountainBeachShoreline" />
	</Building>
	<Building name="SpringfieldHeightsTunnel">
		<BSv2 name="LowerMountainTunnel" neutralAnim="neutral" />
	</Building>
	<Building name="SpringfieldHeightsTunnel2">
		<BSv2 name="LowerMountainTunnel" neutralAnim="neutral" />
	</Building>
	<Building name="SpringfieldHeightsTunnel_Front">
		<BSv2 name="LowerMountainTunnel" neutralAnim="front" />
	</Building>
	<Building name="SpringfieldHeightsTunnel_Back">
		<BSv2 name="LowerMountainTunnel" neutralAnim="back" />
	</Building>
</Buildings>