<Attributes>
	<Notifications>
		<Notification name="FriendDeployedCrook" type="friendEvent" blueprint="FriendDeployedCrook">
			<TriggeringRequirements>
				<Requirement type="variable" variable="SpringfieldJobs" />
			</TriggeringRequirements>
			<UpdateEvents>
				<Event event="AddFriendTimedCharacter" />
			</UpdateEvents>
		</Notification>
		<Notification name="MaxJusticeAgent" type="spawnAtCapacity" character="JusticeAgent" blueprint="MaxJusticeAgent" idForManager="1">
			<EvaluationRequirements>
				<Requirement type="players land" />
				<Requirement type="land" land="Springfield" />
				<Requirement type="reqList" location="SpringfieldJobs_Requirements:Tappables_Unlocked" />
			</EvaluationRequirements>
			<TriggeringRequirements>
				<Requirement type="config" key="SpringfieldJobs_GameConfig:Enable:MaxJusticeAgent" value="1" />
			</TriggeringRequirements>
			<UpdateEvents>
				<Event event="CharactersGained" />
				<Event event="CharacterGained" />
				<Event event="CharacterLost" />
			</UpdateEvents>
		</Notification>
		<Notification name="MaxJusticeAgent24hr" type="spawnAtCapacity" character="JusticeAgent" scheduleOffset="24h" blueprint="MaxJusticeAgent24hr" idForManager="2">
			<EvaluationRequirements>
				<Requirement type="players land" />
				<Requirement type="land" land="Springfield" />
				<Requirement type="reqList" location="SpringfieldJobs_Requirements:Tappables_Unlocked" />
			</EvaluationRequirements>
			<TriggeringRequirements>
				<Requirement type="config" key="SpringfieldJobs_GameConfig:Enable:MaxJusticeAgent24hr" value="1" />
			</TriggeringRequirements>
			<UpdateEvents>
				<Event event="CharactersGained" />
				<Event event="CharacterGained" />
				<Event event="CharacterLost" />
			</UpdateEvents>
		</Notification>
	</Notifications>
	<Blueprints>
		<Blueprint name="FriendDeployedCrook" textKey="PUSH_SpringfieldJobs_FriendDeployedCrook" androidSound="homer_push_notification_08" iosSound="HOMER_PUSH_NOTIFICATION-08.caf" synergyTemplate="thesimpsonstappedout_push_SpringfieldJobs_social" priority="high" />
		<Blueprint name="MaxJusticeAgent" textKey="PUSH_SpringfieldJobs_MaxTappables" androidSound="homer_push_notification_08" iosSound="HOMER_PUSH_NOTIFICATION-08.caf" />
		<Blueprint name="MaxJusticeAgent24hr" textKey="PUSH_SpringfieldJobs_MaxTappables_24hr" androidSound="homer_push_notification_08" iosSound="HOMER_PUSH_NOTIFICATION-08.caf" />
	</Blueprints>
</Attributes>