<Dates>
	<Date name="SpringfieldChoppers_Start" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_Start__" />
	<Date name="SpringfieldChoppers_Start_1hrbefore" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_Start_1hrbefore__" />
	<Date name="SpringfieldChoppers_End" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_End__" />
	<Date name="SpringfieldChoppers_GreasersCafe_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_GreasersCafe_Start__" />
	<Date name="SpringfieldChoppers_GreasersCafe_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_GreasersCafe_End__" />
	<Date name="SpringfieldChoppers_CircleOfDeath_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CircleOfDeath_Start__" />
	<Date name="SpringfieldChoppers_CircleOfDeath_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CircleOfDeath_End__" />
	<Date name="SpringfieldChoppers_PoppaWheelies_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_PoppaWheelies_Start__" />
	<Date name="SpringfieldChoppers_PoppaWheelies_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_PoppaWheelies_End__" />
	<Date name="SpringfieldChoppers_BullyBoss_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BullyBoss_Start__" />
	<Date name="SpringfieldChoppers_BullyBoss_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BullyBoss_End__" />
	<Date name="SpringfieldChoppers_CrowdOfBullies_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CrowdOfBullies_Start__" />
	<Date name="SpringfieldChoppers_CrowdOfBullies_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CrowdOfBullies_End__" />
	<Date name="SpringfieldChoppers_BullyBus_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BullyBus_Start__" />
	<Date name="SpringfieldChoppers_BullyBus_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BullyBus_End__" />
	<Date name="SpringfieldChoppers_UnrulyCrowd_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_UnrulyCrowd_Start__" />
	<Date name="SpringfieldChoppers_UnrulyCrowd_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_UnrulyCrowd_End__" />
	<Date name="SpringfieldChoppers_RuffiansBundle_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_RuffiansBundle_Start__" />
	<Date name="SpringfieldChoppers_RuffiansBundle_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_RuffiansBundle_End__" />
	<Date name="SpringfieldChoppers_HoochCity_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_HoochCity_Start__" />
	<Date name="SpringfieldChoppers_HoochCity_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_HoochCity_End__" />
	<Date name="SpringfieldChoppers_TruckStopDiner_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_TruckStopDiner_Start__" />
	<Date name="SpringfieldChoppers_TruckStopDiner_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_TruckStopDiner_End__" />
	<Date name="SpringfieldChoppers_StonersPotPalace_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_StonersPotPalace_Start__" />
	<Date name="SpringfieldChoppers_StonersPotPalace_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_StonersPotPalace_End__" />
	<Date name="SpringfieldChoppers_MadameChaos_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_MadameChaos_Start__" />
	<Date name="SpringfieldChoppers_MadameChaos_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_MadameChaos_End__" />
	<Date name="SpringfieldChoppers_RitaLaFleur_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_RitaLaFleur_Start__" />
	<Date name="SpringfieldChoppers_RitaLaFleur_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_RitaLaFleur_End__" />
	<Date name="SpringfieldChoppers_CreggDemon_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CreggDemon_Start__" />
	<Date name="SpringfieldChoppers_CreggDemon_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CreggDemon_End__" />
	<Date name="SpringfieldChoppers_CoconutBabaloo_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CoconutBabaloo_Start__" />
	<Date name="SpringfieldChoppers_CoconutBabaloo_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CoconutBabaloo_End__" />
	<Date name="SpringfieldChoppers_ShelbyvilleBundle_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_ShelbyvilleBundle_Start__" />
	<Date name="SpringfieldChoppers_ShelbyvilleBundle_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_ShelbyvilleBundle_End__" />
	<Date name="SpringfieldChoppers_JoesTavern_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JoesTavern_Start__" />
	<Date name="SpringfieldChoppers_JoesTavern_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JoesTavern_End__" />
	<Date name="SpringfieldChoppers_CBGB_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CBGB_Start__" />
	<Date name="SpringfieldChoppers_CBGB_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_CBGB_End__" />
	<Date name="SpringfieldChoppers_Barra_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_Barra_Start__" />
	<Date name="SpringfieldChoppers_Barra_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_Barra_End__" />
	<Date name="SpringfieldChoppers_BeerNBrawl_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BeerNBrawl_Start__" />
	<Date name="SpringfieldChoppers_BeerNBrawl_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BeerNBrawl_End__" />
	<Date name="SpringfieldChoppers_MotorcycleWithSidecar_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_MotorcycleWithSidecar_Start__" />
	<Date name="SpringfieldChoppers_MotorcycleWithSidecar_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_MotorcycleWithSidecar_End__" />
	<Date name="SpringfieldChoppers_ScrapYard_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_ScrapYard_Start__" />
	<Date name="SpringfieldChoppers_ScrapYard_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_ScrapYard_End__" />
	<Date name="SpringfieldChoppers_JunkBase_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JunkBase_Start__" />
	<Date name="SpringfieldChoppers_JunkBase_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JunkBase_End__" />
	<Date name="SpringfieldChoppers_RuffianFort_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_RuffianFort_Start__" />
	<Date name="SpringfieldChoppers_RuffianFort_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_RuffianFort_End__" />
	<Date name="SpringfieldChoppers_Slaghold_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_Slaghold_Start__" />
	<Date name="SpringfieldChoppers_Slaghold_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_Slaghold_End__" />
	<Date name="SpringfieldChoppers_TruckShack_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_TruckShack_Start__" />
	<Date name="SpringfieldChoppers_TruckShack_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_TruckShack_End__" />
	<Date name="SpringfieldChoppers_OutlandsMaggieOutlandsSimpsonHouse_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsMaggieOutlandsSimpsonHouse_Start__" />
	<Date name="SpringfieldChoppers_OutlandsMaggieOutlandsSimpsonHouse_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsMaggieOutlandsSimpsonHouse_End__" />
	<Date name="SpringfieldChoppers_OutlandsFactory_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsFactory_Start__" />
	<Date name="SpringfieldChoppers_OutlandsFactory_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsFactory_End__" />
	<Date name="SpringfieldChoppers_GrubShack_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_GrubShack_Start__" />
	<Date name="SpringfieldChoppers_GrubShack_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_GrubShack_End__" />
	<Date name="SpringfieldChoppers_Refrigeratorium_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_Refrigeratorium_Start__" />
	<Date name="SpringfieldChoppers_Refrigeratorium_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_Refrigeratorium_End__" />
	<Date name="SpringfieldChoppers_JuvenileCorrectionFacility_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JuvenileCorrectionFacility_Start__" />
	<Date name="SpringfieldChoppers_JuvenileCorrectionFacility_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JuvenileCorrectionFacility_End__" />
	<Date name="SpringfieldChoppers_OutlandSign_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandSign_Start__" />
	<Date name="SpringfieldChoppers_OutlandSign_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandSign_End__" />
	<Date name="SpringfieldChoppers_PitaAndPeta_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_PitaAndPeta_Start__" />
	<Date name="SpringfieldChoppers_PitaAndPeta_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_PitaAndPeta_End__" />
	<Date name="SpringfieldChoppers_BagpipeBus_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BagpipeBus_Start__" />
	<Date name="SpringfieldChoppers_BagpipeBus_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BagpipeBus_End__" />
	<Date name="SpringfieldChoppers_JunkFortBundle_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JunkFortBundle_Start__" />
	<Date name="SpringfieldChoppers_JunkFortBundle_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JunkFortBundle_End__" />
	<Date name="SpringfieldChoppers_OutlandsGate_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsGate_Start__" />
	<Date name="SpringfieldChoppers_OutlandsGate_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsGate_End__" />
	<Date name="SpringfieldChoppers_OutlandsWaterTower_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsWaterTower_Start__" />
	<Date name="SpringfieldChoppers_OutlandsWaterTower_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_OutlandsWaterTower_End__" />
	<Date name="SpringfieldChoppers_JetEngineBike_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JetEngineBike_Start__" />
	<Date name="SpringfieldChoppers_JetEngineBike_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_JetEngineBike_End__" />
	<Date name="SpringfieldChoppers_BackwaterBrewery_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BackwaterBrewery_Start__" />
	<Date name="SpringfieldChoppers_BackwaterBrewery_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_BackwaterBrewery_End__" />
	<Date name="SpringfieldChoppers_MoesCavern_IN" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_MoesCavern_Start__" />
	<Date name="SpringfieldChoppers_MoesCavern_OUT" date="__SpringfieldChoppers_GameConfig:Dates:SpringfieldChoppers_MERCH_MoesCavern_End__" />
</Dates>