<Attributes>
	<PinCollectionMenuConfig>
		<Attribute name="Objects">
			<AttributeSet name="TitleText">
				<Attribute name="text" value="UI_SpringfieldGames_PinCollection_Title" localise="true" />
			</AttributeSet>
			<AttributeSet name="GetItNowText">
				<Attribute name="text" value="UI_SpringfieldGames_PinCollection_InfoText1" localise="true">
					<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="AllPinsCollectedText">
				<Attribute name="text" value="UI_SpringfieldGames_PinCollection_InfoText2" localise="true">
					<Requirement type="formula" formula="PinsCollected == 6" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="DonutAmountNumber">
				<Attribute name="text" formula="System::evaluate('Spendable::donuts')" />
			</AttributeSet>
			<AttributeSet name="CurrencyAmountNumber">
				<Attribute name="text" formula="System::evaluate('Spendable::SpringfieldGames_BottleCaps')" />
			</AttributeSet>
			<AttributeSet name="GetMoreText">
				<Attribute name="text" value="GEN_GetMore" localise="true" />
				<Attribute name="font" value="eFont_Small" />
			</AttributeSet>
			<AttributeSet name="GetMoreButtonHighlight">
				<Attribute name="text" value="GEN_GetMore" localise="true" />
				<Attribute name="font" value="eFont_Small" />
			</AttributeSet>
			<AttributeSet name="CraftingBarText">
				<Attribute name="text" value="" />
				<Attribute name="text" value="UI_SpringfieldGames_PinCollection_CraftText1" localise="true">
					<Requirements>
						<Requirement type="formula" formula="PinsHighlighted == 0" />
						<Requirement type="formula" formula="PinsCollected==6" not="true" />
					</Requirements>
				</Attribute>
				<Attribute name="visible" value="true">
					<Requirement type="conditional" logic="OR">
						<Requirement type="formula" formula="PinsCollected==6" />
						<Requirement type="formula" formula="PinsHighlighted==0" />
					</Requirement>
				</Attribute>
				<Attribute name="visible" value="false">
					<Requirements>
						<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="CraftItNowText">
				<Attribute name="visible" value="false">
					<Requirement type="conditional" logic="OR">
						<Requirement type="formula" formula="PinsCollected==6" />
						<Requirement type="formula" formula="PinsHighlighted==0" />
					</Requirement>
				</Attribute>
				<Attribute name="visible" value="true">
					<Requirements>
						<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
					</Requirements>
				</Attribute>
				<Attribute name="text" value="" />
				<Attribute name="text" value="UI_SpringfieldGames_PinCollection_CraftText2" localise="true">
					<Requirements>
						<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
						<Requirement type="formula" formula="PinsCollected==6" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="CraftArrowL">
				<Attribute name="color" value="0x13711EFF" />
			</AttributeSet>
			<AttributeSet name="CraftArrowRRect">
				<Attribute name="color" value="0x13711EFF" />
			</AttributeSet>
			<AttributeSet name="CraftDonutAmountText">
				<Attribute name="text" formula="PinCraftCost_BottleCaps" />
			</AttributeSet>
			<AttributeSet name="CancelCraftTextHighlight">
				<Attribute name="text" formula="PinCraftCost_BottleCaps" />
				<Attribute name="color" value="0x000000FF" />
			</AttributeSet>
			<AttributeSet name="CraftDonut">
				<Attribute name="image" value="ICO_CUR_SpringfieldGames_BottleCap_BUT" />
			</AttributeSet>
			<AttributeSet name="RushDonutAmountText">
				<Attribute name="text" formula="TotalPinRushCost" />
			</AttributeSet>
			<AttributeSet name="RushDonutAmountTextHighlight">
				<Attribute name="text" formula="TotalPinRushCost" />
			</AttributeSet>
			<AttributeSet name="TopBannerGraphic">
				<Attribute name="image" value="ICO_SpringfieldGames_TopBannerGraphic" />
			</AttributeSet>
			<AttributeSet name="BottomGraphic">
				<Attribute name="image" value="ICO_SpringfieldGames_BottomGraphic" />
			</AttributeSet>
			<AttributeSet name="CurrencyIcon">
				<Attribute name="image" value="ICO_CUR_SpringfieldGames_BottleCap_MD" />
			</AttributeSet>
			<AttributeSet name="DonutIcon">
				<Attribute name="image" value="ICO_GENR_DONUT_XS:*" />
			</AttributeSet>
			<AttributeSet name="Pin1GraphicBase">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin1Graphic">
					<Requirement type="formula" formula="Pin1Collected" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin1_SelectedLockedGraphic">
					<Requirement type="formula" formula="PinsHighlighted == 1" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin1_LockedGraphic">
					<Requirements>
						<Requirement type="formula" formula="Pin1Collected" not="true" />
						<Requirement type="formula" formula="PinsHighlighted == 1" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin1GraphicHL">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin1_LockedGraphic">
					<Requirement type="formula" formula="Pin1Collected" not="true" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin1Graphic">
					<Requirement type="formula" formula="Pin1Collected" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin2GraphicBase">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin2Graphic">
					<Requirement type="formula" formula="Pin2Collected" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin2_SelectedLockedGraphic">
					<Requirement type="formula" formula="PinsHighlighted == 2" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin2_LockedGraphic">
					<Requirements>
						<Requirement type="formula" formula="Pin2Collected" not="true" />
						<Requirement type="formula" formula="PinsHighlighted == 2" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin2GraphicHL">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin2_LockedGraphic">
					<Requirement type="formula" formula="Pin2Collected" not="true" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin2Graphic">
					<Requirement type="formula" formula="Pin2Collected" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin3GraphicBase">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin3Graphic">
					<Requirement type="formula" formula="Pin3Collected" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin3_SelectedLockedGraphic">
					<Requirement type="formula" formula="PinsHighlighted == 3" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin3_LockedGraphic">
					<Requirements>
						<Requirement type="formula" formula="Pin3Collected" not="true" />
						<Requirement type="formula" formula="PinsHighlighted == 3" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin3GraphicHL">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin3_LockedGraphic">
					<Requirement type="formula" formula="Pin3Collected" not="true" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin3Graphic">
					<Requirement type="formula" formula="Pin3Collected" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin4GraphicBase">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin4Graphic">
					<Requirement type="formula" formula="Pin4Collected" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin4_SelectedLockedGraphic">
					<Requirement type="formula" formula="PinsHighlighted == 4" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin4_LockedGraphic">
					<Requirements>
						<Requirement type="formula" formula="Pin4Collected" not="true" />
						<Requirement type="formula" formula="PinsHighlighted == 4" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin4GraphicHL">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin4_LockedGraphic">
					<Requirement type="formula" formula="Pin4Collected" not="true" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin4Graphic">
					<Requirement type="formula" formula="Pin4Collected" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin5GraphicBase">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin5Graphic">
					<Requirement type="formula" formula="Pin5Collected" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin5_SelectedLockedGraphic">
					<Requirement type="formula" formula="PinsHighlighted == 5" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin5_LockedGraphic">
					<Requirements>
						<Requirement type="formula" formula="Pin5Collected" not="true" />
						<Requirement type="formula" formula="PinsHighlighted == 5" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin5GraphicHL">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin5_LockedGraphic">
					<Requirement type="formula" formula="Pin5Collected" not="true" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin5Graphic">
					<Requirement type="formula" formula="Pin5Collected" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin6GraphicBase">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin6Graphic">
					<Requirement type="formula" formula="Pin6Collected" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin6_SelectedLockedGraphic">
					<Requirement type="formula" formula="PinsHighlighted == 6" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin6_LockedGraphic">
					<Requirements>
						<Requirement type="formula" formula="Pin6Collected" not="true" />
						<Requirement type="formula" formula="PinsHighlighted == 6" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="Pin6GraphicHL">
				<Attribute name="image" value="ICO_SpringfieldGames_Pin6_LockedGraphic">
					<Requirement type="formula" formula="Pin6Collected" not="true" />
				</Attribute>
				<Attribute name="image" value="ICO_SpringfieldGames_Pin6Graphic">
					<Requirement type="formula" formula="Pin6Collected" />
				</Attribute>
			</AttributeSet>
			<AttributeSet name="HelpBase">
				<Attribute name="image" value="BSE_THOH_HelpCircle" />
			</AttributeSet>
			<AttributeSet name="HelpIcon">
				<Attribute name="image" value="ICO_THOH_Help_SM" />
			</AttributeSet>
			<AttributeSet name="CurrencyBarGroup">
				<Requirement type="formula" formula="PinsCollected==6" />
				<Attribute name="visible" value="false" />
			</AttributeSet>
			<AttributeSet name="ItemRushButtonGroup">
				<Requirement type="formula" formula="PinsCollected==6" />
				<Attribute name="visible" value="false" />
			</AttributeSet>
			<AttributeSet name="ShortMenuBaseBottomGroup">
				<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
				<Attribute name="visible" value="false" />
			</AttributeSet>
			<AttributeSet name="LongMenuBaseBottomGroup">
				<Requirement type="formula" formula="PinsCollected==6" />
				<Attribute name="visible" value="false" />
			</AttributeSet>
			<AttributeSet name="ItemCraftButtonGroup">
				<Attribute name="visible" value="false">
					<Requirements>
						<Requirement type="conditional" logic="OR">
							<Requirement type="formula" formula="PinsCollected==6" />
							<Requirement type="formula" formula="PinsHighlighted==0" />
						</Requirement>
					</Requirements>
				</Attribute>
				<Attribute name="active" value="false">
					<Requirements>
						<Requirement type="conditional" logic="OR">
							<Requirement type="formula" formula="PinsCollected==6" />
							<Requirement type="formula" formula="PinsHighlighted==0" />
						</Requirement>
					</Requirements>
				</Attribute>
				<Attribute name="visible" value="true">
					<Requirements>
						<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
					</Requirements>
				</Attribute>
				<Attribute name="active" value="true">
					<Requirements>
						<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="HelpButton">
				<Requirement type="formula" formula="PinsCollected == 6" />
				<Attribute name="visible" value="false" />
				<Attribute name="active" value="false" />
			</AttributeSet>
		</Attribute>
	</PinCollectionMenuConfig>
	<PinCollectionButtonConfig>
		<Attribute name="Buttons">
			<AttributeSet name="ExitButton">
				<Attribute name="closeOnPress" value="true" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:EventLevelDismiss" />
			</AttributeSet>
			<AttributeSet name="BackButton">
				<Attribute name="closeOnPress" value="true" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:EventLevelDismiss" />
			</AttributeSet>
			<AttributeSet name="ItemsCraftButton">
				<Attribute name="closeOnPress" value="false" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:PinCraft" />
			</AttributeSet>
			<AttributeSet name="ItemsRushButton">
				<Attribute name="closeOnPress" value="true" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:DonutConfirmation" />
			</AttributeSet>
			<AttributeSet name="HelpButton">
				<Attribute name="closeOnPress" value="true" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:PinMenu_HelpButton" />
			</AttributeSet>
			<AttributeSet name="GetMoreButton">
				<Attribute name="closeOnPress" value="true" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:EnterCategory_MTX" />
			</AttributeSet>
			<AttributeSet name="PinButton1">
				<Attribute name="closeOnPress" value="false" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin1Tapped">
					<Requirements>
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						<Requirement type="formula" formula="Pin1Collected" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="PinButton2">
				<Attribute name="closeOnPress" value="false" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin2Tapped">
					<Requirements>
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						<Requirement type="formula" formula="Pin2Collected" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="PinButton3">
				<Attribute name="closeOnPress" value="false" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin3Tapped">
					<Requirements>
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						<Requirement type="formula" formula="Pin3Collected" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="PinButton4">
				<Attribute name="closeOnPress" value="false" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin4Tapped">
					<Requirements>
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						<Requirement type="formula" formula="Pin4Collected" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="PinButton5">
				<Attribute name="closeOnPress" value="false" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin5Tapped">
					<Requirements>
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						<Requirement type="formula" formula="Pin5Collected" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
			<AttributeSet name="PinButton6">
				<Attribute name="closeOnPress" value="false" />
				<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin6Tapped">
					<Requirements>
						<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						<Requirement type="formula" formula="Pin6Collected" not="true" />
					</Requirements>
				</Attribute>
			</AttributeSet>
		</Attribute>
	</PinCollectionButtonConfig>
	<ResourceGeneratorConfig>
		<Attribute name="fullColor" value="575757FF" />
		<Attribute name="showCostOnButton" value="true" />
		<Attribute name="highlightQuests" value="true" />
		<Attribute name="closeMenuWhenJobDone" value="false" />
		<Attribute name="sortOrder">
			<AttributeSet name="PremiumGetNow">
				<Attribute name="order" value="0" />
			</AttributeSet>
			<AttributeSet name="Available">
				<Attribute name="order" value="1" />
			</AttributeSet>
			<AttributeSet name="Busy">
				<Attribute name="order" value="2" />
			</AttributeSet>
			<AttributeSet name="OtherJob">
				<Attribute name="order" value="3" />
			</AttributeSet>
			<AttributeSet name="Inventory">
				<Attribute name="order" value="4" />
			</AttributeSet>
			<AttributeSet name="RegularGetNow">
				<Attribute name="order" value="5" />
			</AttributeSet>
			<AttributeSet name="Locked">
				<Attribute name="order" value="6" />
			</AttributeSet>
			<AttributeSet name="UnlockReqsNotMet">
				<Attribute name="order" value="7" />
			</AttributeSet>
		</Attribute>
	</ResourceGeneratorConfig>
	<ExpirationFormattedText>
		<Attribute name="PrizeTrackOverReload" value="UI_MiniEvent_ForceReload_Text" localise="true" parameters="textParams">
			<AttributeSet name="textParams">
				<Attribute name="0" value="UI_SpringfieldGames_Title" localise="true" />
			</AttributeSet>
		</Attribute>
	</ExpirationFormattedText>
	<RewardWithPlaceStore>
		<Attribute name="ItemCraftedOKText" value="GEN_OK" localise="true" />
		<Attribute name="ItemCraftedStoreText" value="GEN_SendToInventory" localise="true" />
		<Attribute name="ItemCraftedPlaceText" value="UI_Place" localise="true" />
		<Attribute name="ItemCraftedBuyMessageText" value="UI_THOH2014_CraftPopUp" localise="true" />
		<Attribute name="ItemCraftedDoneMessageText" value="UI_Crafting_Storage" localise="true" />
		<Attribute name="ItemCraftedNonplaceableDoneMessageText" value="UI_Crafting_Nonplaceable_Crafted" localise="true" />
		<Attribute name="ItemCraftedBuyTitleText" value="UI_GetItNow" localise="true" />
		<Attribute name="ItemCraftedDoneTitleText" value="UI_PrizeTrack_UnlockedTitle" localise="true" />
		<Attribute name="ItemCraftedStoreButtonColor" value="0x13711EFF" />
		<Attribute name="ItemCraftedBuyButtonCurrencyIconFromAtlas" value="ICO_GENR_DONUT_MD" />
		<Attribute name="ItemCraftedShowDonuts" value="true" />
	</RewardWithPlaceStore>
</Attributes>