<Consumables>
	<MasterList>
		<DataID id="242000" name="RitaAndFallenDivaApartments" />
	</MasterList>
	<ConsumableDefaults>
		<Subland value="Springfield" />
	</ConsumableDefaults>
	<Consumable id="242000" name="RitaAndFallenDivaApartments" type="Reward" customTitle="BLD_FallenDivaApartments_name">
		<VisibilityRequirements>
			<Requirement type="building owned" building="FallenDivaApartments" not="true" />
			<Requirement type="characterunlocked" name="RitaLaFleur" not="true" />
		</VisibilityRequirements>
		<Cost donuts="130" />
		<Reward>
			<Item type="building" name="FallenDivaApartments" useImmediately="true" />
			<Item type="character" name="RitaLaFleur" useImmediately="true" />
		</Reward>
		<StorePositioningRule rule="FallenDivaApartmentsRule" />
	</Consumable>
</Consumables>