<ScriptPackage>
	<SpringfieldCleaning_1_Start>
		<Action type="dialogue" character="Homer" text="QST_SpringfieldCleaning_1_3_dlg_Start_1_Homer" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldCleaning_1_3_dlg_Start_2_Homer" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldCleaning_1_3_dlg_Start_3_Lisa" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Marge" text="QST_SpringfieldCleaning_1_3_dlg_Start_4_Marge" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldCleaning_1_3_dlg_Start_5_Homer" revealSpeed="medium" emotion="scared" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldCleaning_1_3_dlg_Start_6_Homer" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldCleaning_1_3_dlg_Start_7_Homer" revealSpeed="medium" emotion="sad" />
	</SpringfieldCleaning_1_Start>
	<SpringfieldCleaning_1_End ignoreHUD="true">
		<Action type="setVariable" boolVariable="SpringCleaning_Part1Complete" boolValue="true" />
	</SpringfieldCleaning_1_End>
	<SpringfieldCleaning_2_Start>
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldCleaning_2_3_dlg_Start_1_Quimby" revealSpeed="medium" />
		<Action type="dialogue" character="Marge" text="QST_SpringfieldCleaning_2_3_dlg_Start_2_Marge" revealSpeed="medium" />
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldCleaning_2_3_dlg_Start_3_Quimby" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="FatTony" text="QST_SpringfieldCleaning_2_3_dlg_Start_4_FatTony" revealSpeed="medium" />
	</SpringfieldCleaning_2_Start>
	<SpringfieldCleaning_3_Start>
		<Action type="dialogue" character="Marge" text="QST_SpringfieldCleaning_3_3_dlg_Start_1_Marge" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldCleaning_3_3_dlg_Start_2_Homer" revealSpeed="medium" />
		<Action type="dialogue" character="Marge" text="QST_SpringfieldCleaning_3_3_dlg_Start_3_Marge" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldCleaning_3_3_dlg_Start_4_Lisa" revealSpeed="medium" emotion="nagging" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldCleaning_3_3_dlg_Start_5_Lisa" revealSpeed="medium" emotion="nagging" />
		<Action type="dialogue" character="Marge" text="QST_SpringfieldCleaning_3_3_dlg_Start_6_Marge" revealSpeed="medium" emotion="dreamy" />
		<Action type="dialogue" character="Marge" text="QST_SpringfieldCleaning_3_3_dlg_Start_7_Marge" revealSpeed="medium" emotion="happy" />
	</SpringfieldCleaning_3_Start>
	<SpringfieldCleaning_3_End>
		<Action type="checkRequirements">
			<Requirements>
				<Requirement type="formula" formula="percent(50)" />
			</Requirements>
			<True>
				<Action type="rewardWithPlaceStore" attributes="Casino_MenuConfig:RewardWithPlaceStore">
					<Item type="building" name="SpecialAppleTree" />
				</Action>
			</True>
			<False>
				<Action type="rewardWithPlaceStore" attributes="Casino_MenuConfig:RewardWithPlaceStore">
					<Item type="building" name="SpecialOrangeTree" />
				</Action>
			</False>
		</Action>
	</SpringfieldCleaning_3_End>
	<MoesHousePlaced>
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_Start_1_Moe" revealSpeed="medium" emotion="shocked" />
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_Start_2_Moe" revealSpeed="medium" emotion="sneaky" />
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_Start_3_Moe" revealSpeed="medium" />
	</MoesHousePlaced>
	<BlackMoeld_Start>
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_Start_4_Moe" revealSpeed="medium" />
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_Start_5_Moe" revealSpeed="medium" emotion="worried" />
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_Start_6_Moe" revealSpeed="medium" emotion="angry" />
	</BlackMoeld_Start>
	<BlackMoeld_End>
		<Action type="dialogue" character="Explosion" text="QST_BlackMoeld_3_dlg_End_1_Explosion" revealSpeed="medium" />
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_End_2_Moe" revealSpeed="medium" emotion="sewage" />
		<Action type="dialogue" character="TheRichTexan" text="QST_BlackMoeld_3_dlg_End_3_RichTexan" revealSpeed="medium" />
		<Action type="dialogue" character="Moe" text="QST_BlackMoeld_3_dlg_End_4_Moe" revealSpeed="medium" emotion="sewage" />
		<Action type="dialogue" character="Otto" text="QST_BlackMoeld_3_dlg_End_5_Otto" revealSpeed="medium" />
	</BlackMoeld_End>
	<StreetCleanerDialogue_Start>
		<Action type="dialogue" character="Gil" text="QST_StreetCleanerDialogue_3_dlg_Start_1_Gil" revealSpeed="medium" emotion="happy" />
	</StreetCleanerDialogue_Start>
	<StreetCleaner_Tapped parallel="true">
		<Action type="anim-play" animation="Tap" />
	</StreetCleaner_Tapped>
	<GreenhousePurchased_Start>
		<Action type="dialogue" character="Lisa" text="QST_GreenhousePurchased_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="BluehairedLawyer" text="QST_GreenhousePurchased_3_dlg_Start_2_BluehairedLawyer" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_GreenhousePurchased_3_dlg_Start_3_Homer" revealSpeed="medium" emotion="scared" />
		<Action type="dialogue" character="BluehairedLawyer" text="QST_GreenhousePurchased_3_dlg_Start_4_BluehariedLawyer" revealSpeed="medium" />
	</GreenhousePurchased_Start>
	<GreenhouseAsylum_1_Start>
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_1_3_dlg_Start_1_Sanjay" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_1_3_dlg_Start_2_Sanjay" revealSpeed="medium" emotion="shocked" />
		<Action type="dialogue" character="Apu" text="QST_GreenhouseAsylum_1_3_dlg_Start_3_Apu" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_1_3_dlg_Start_4_Sanjay" revealSpeed="medium" />
	</GreenhouseAsylum_1_Start>
	<GreenhouseAsylum_1_End>
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_1_3_dlg_End_1_Sanjay" revealSpeed="medium" />
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_1_3_dlg_End_2_Sanjay" revealSpeed="medium" />
		<Action type="dialogue" character="Otto" text="QST_GreenhouseAsylum_1_3_dlg_End_3_Otto" revealSpeed="medium" />
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_1_3_dlg_End_4_Sanjay" revealSpeed="medium" emotion="sad" />
	</GreenhouseAsylum_1_End>
	<GreenhouseAsylum_2_Start>
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_2_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_2_3_dlg_Start_2_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_2_3_dlg_Start_3_Lisa" revealSpeed="medium" emotion="smug" />
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_2_3_dlg_Start_4_Lisa" revealSpeed="medium" emotion="dreamy" />
	</GreenhouseAsylum_2_Start>
	<GreenhouseAsylum_2_All_Obj_Started>
		<Action type="dialogue" character="Marge" text="QST_GreenhouseAsylum_2_3_dlg_All_Obj_Started_1_Marge" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Marge" text="QST_GreenhouseAsylum_2_3_dlg_All_Obj_Started_2_Marge" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_2_3_dlg_All_Obj_Started_3_Sanjay" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Marge" text="QST_GreenhouseAsylum_2_3_dlg_All_Obj_Started_4_Marge" revealSpeed="medium" emotion="scared" />
	</GreenhouseAsylum_2_All_Obj_Started>
	<GreenhouseAsylum_3_Start>
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_3_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="shouting" />
		<Action type="dialogue" character="Sanjay" text="QST_GreenhouseAsylum_3_3_dlg_Start_2_Sanjay" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_3_3_dlg_Start_3_Lisa" revealSpeed="medium" emotion="shouting" />
		<Action type="dialogue" character="Otto" text="QST_GreenhouseAsylum_3_3_dlg_Start_4_Otto" revealSpeed="medium" />
		<Action type="dialogue" character="Otto" text="QST_GreenhouseAsylum_3_3_dlg_Start_5_Otto" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_3_3_dlg_Start_6_Lisa" revealSpeed="medium" emotion="annoyed" />
	</GreenhouseAsylum_3_Start>
	<GreenhouseAsylum_3_End>
		<Action type="dialogue" character="BluehairedLawyer" text="QST_GreenhouseAsylum_3_3_dlg_End_1_BluehairedLawyer" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_3_3_dlg_End_2_Lisa" revealSpeed="medium" emotion="shouting" />
		<Action type="dialogue" character="BluehairedLawyer" text="QST_GreenhouseAsylum_3_3_dlg_End_3_BluehairedLawyer" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_GreenhouseAsylum_3_3_dlg_End_4_Lisa" revealSpeed="medium" emotion="embarrassed" />
		<Action type="rewardWithPlaceStore" attributes="Casino_MenuConfig:RewardWithPlaceStore">
			<Item type="building" name="SantasLittleHelperTopiary" />
		</Action>
	</GreenhouseAsylum_3_End>
</ScriptPackage>