<Buildings>
	<MasterList>
		<DataID id="245000" name="KathmanduU" />
		<DataID id="245001" name="MadameAndMasseur" />
		<DataID id="245002" name="SpringfieldEleZenTary" />
		<DataID id="245003" name="RoyalTower" />
		<DataID id="245004" name="TowerOfScience" />
		<DataID id="245005" name="GautamaPalace" />
		<DataID id="245006" name="AncientMultiplayerGame" />
		<DataID id="245007" name="JogyesaTemple" />
		<DataID id="245008" name="TheTajMahal" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="true" />
		<MultiPlace value="false" />
		<LoadBuilding value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="true" />
		<TaxJobPackage value="SpringfieldEnlightened_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="245000" name="KathmanduU" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245500" name="IncomeTax_KathmanduU" time="4h" />
		<RatingElem service="10" />
		<BSv2 name="KathmanduU" flippedname="KathmanduUFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Cost donuts="100" />
		<SoundKit event="BuildingTouched" name="KathmanduU_tap" />
	</Building>
	<Building id="245001" name="MadameAndMasseur" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245501" name="IncomeTax_MadameAndMasseur" time="4h" />
		<RatingElem housing="10" />
		<BSv2 name="MadameMasseur" flippedname="MadameMasseurFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Shop" />
		<Cost donuts="70" />
		<SoundKit event="BuildingTouched" name="MadameAndMasseur_tap" />
	</Building>
	<Building id="245002" name="SpringfieldEleZenTary" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass" />
		<Job id="245502" name="IncomeTax_SpringfieldEleZenTary" time="6h" />
		<RatingElem housing="10" />
		<BSv2 name="Elezentary" flippedname="ElezentaryFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Cost donuts="90" />
		<SoundKit event="BuildingTouched" name="SpringfieldEleZenTary_tap" />
	</Building>
	<Building id="245003" name="RoyalTower" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="4h" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245503" name="IncomeTax_RoyalTower" time="4h" />
		<RatingElem housing="10" />
		<BSv2 name="RoyalTower" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Home" />
		<Cost donuts="65" />
		<SoundKit event="BuildingTouched" name="RoyalTower_tap" />
	</Building>
	<Building id="245004" name="TowerOfScience" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245504" name="IncomeTax_TowerOfScience" time="8h" premiumJob="true" />
		<RatingElem crime="20" />
		<BSv2 name="TowerOfScience" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Character name="AdvisorFrink" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:TowerOfScience__" />
		<SoundKit event="BuildingTouched" name="TowerOfScience_tap" />
		<StorePositioningRule rule="TowerOfScienceRule" />
	</Building>
	<Building id="245005" name="GautamaPalace" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245505" name="IncomeTax_GautamaPalace" time="4h" premiumJob="true" />
		<RatingElem housing="20" />
		<BSv2 name="GautamaPalace" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Home" />
		<Character name="KingGautama" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:GautamaPalace__" />
		<SoundKit event="BuildingTouched" name="GautamaPalace_tap" />
		<StorePositioningRule rule="GautamaPalaceRule" />
	</Building>
	<Building id="245006" name="AncientMultiplayerGame" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245506" name="IncomeTax_AncientMultiplayerGame" time="12h" premiumJob="true" />
		<RatingElem shopping="20" />
		<BSv2 name="AncientMultiplayerGame_Overlay03" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Character name="PrinceGautama" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:AncientMultiplayerGame__" />
		<SoundKit event="BuildingTouched" name="AncientMultiplayerGame_tap" />
		<ActiveAnimationController name="AncientMultiplayerGameController" />
		<EffectOverlays>
			<EffectOverlay bsv3="AncientMultiplayerGame_Overlay02" anim="PlayAncientMultiplayerGame" randomStartFrame="false" rooted="true" allowInNormal="true" allowInWrecked="true" formulaRequirement="System::evaluate('Building::AncientMultiplayerGame::Object::PlayTheAncientMultiplayerGameActive')" />
			<EffectOverlay bsv3="AncientMultiplayerGame_Overlay01" anim="Outerwall" randomStartFrame="false" rooted="true" allowInNormal="true" allowInWrecked="true" />
		</EffectOverlays>
	</Building>
	<Building id="245007" name="JogyesaTemple" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245507" name="IncomeTax_JogyesaTemple" time="8h" premiumJob="true" />
		<RatingElem community="20" />
		<BSv2 name="JogyesaTemple" flippedname="JogyesaTempleFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Character name="TheDalaiLama" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:JogyesaTemple__" />
		<SoundKit event="BuildingTouched" name="JogyesaTemple_tap" />
		<ActiveAnimationController name="JogyesaTempleController" />
		<StorePositioningRule rule="JogyesaTempleRule" />
	</Building>
	<Building id="245008" name="TheTajMahal" type="Building" xpValue="200">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="245508" name="IncomeTax_TheTajMahal" time="12h" premiumJob="true" />
		<RatingElem crime="20" />
		<BSv2 name="TajMahal" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="MiscCash" />
		<Character name="TheMaster" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:TheTajMahal__" />
		<SoundKit event="BuildingTouched" name="TheTajMahal_tap" />
	</Building>
</Buildings>