<Consumables>
	<MasterList>
		<DataID id="157000" name="Promo_Wave1_MrSparkle" />
		<DataID id="157001" name="Promo_Wave1_SpecialDumpster" />
		<DataID id="157002" name="Promo_Wave1_SimpsonsLaserTag" />
		<DataID id="157003" name="Promo_Wave1_MoesHouse" />
		<DataID id="157004" name="Promo_Wave2_FlowerPlanter" />
		<DataID id="157005" name="Promo_Wave2_NightmarePile" />
		<DataID id="157006" name="Promo_Wave2_MuseumOfSwordfish" />
		<DataID id="157007" name="Promo_Wave2_StreetCleaner" />
		<DataID id="157008" name="Promo_Wave3_WaverlyHillsElementarySchool" />
		<DataID id="157009" name="Promo_Wave3_SpecialPlayTree" />
		<DataID id="157010" name="Promo_Wave3_TheShinningMaze" />
		<DataID id="157011" name="SpringCleaning_OpenStore" onDeprecated="delete" endDate="Promo_SpringCleaning_End" />
		<DataID id="157012" name="Promo_NatureBundle" />
	</MasterList>
	<Consumable id="157000" name="Promo_Wave1_MrSparkle" type="Reward" icon="MrSparkleBillboard_Menu" autoconsume="true">
		<BuildMenuText text="UI_EoSRebateExciteText_10" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="30" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave1_MrSparkle" />
		</Reward>
	</Consumable>
	<Consumable id="157001" name="Promo_Wave1_SpecialDumpster" type="Reward" icon="SpecialDumpster_Menu" autoconsume="true">
		<BuildMenuText text="UI_EoSRebateExciteText_3" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="10" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave1_SpecialDumpster" />
		</Reward>
	</Consumable>
	<Consumable id="157002" name="Promo_Wave1_SimpsonsLaserTag" type="Reward" icon="LaserTag_Menu" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="SimpsonsLaserTag" />
				<Requirement type="place building" building="SimpsonsLaserTag" />
				<Requirement type="item" item="SimpsonsLaserTag" />
			</Requirement>
		</VisibilityRequirements>
		<BuildMenuText text="UI_EoSRebateExciteText_35" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="90" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave1_SimpsonsLaserTag" />
		</Reward>
	</Consumable>
	<Consumable id="157003" name="Promo_Wave1_MoesHouse" type="Reward" icon="MoesHouse_Menu" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="MoesHouse" />
				<Requirement type="place building" building="MoesHouse" />
				<Requirement type="item" item="MoesHouse" />
			</Requirement>
		</VisibilityRequirements>
		<BuildMenuText text="UI_EoSRebateExciteText_40" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="110" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave1_MoesHouse" />
		</Reward>
	</Consumable>
	<Consumable id="157004" name="Promo_Wave2_FlowerPlanter" type="Reward" icon="SpecialTopiary_Menu" autoconsume="true">
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_2" text=" " hideFromInfo="true" />
		</Requirements>
		<BuildMenuText text="UI_EoSRebateExciteText_3" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="10" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave2_FlowerPlanter" />
		</Reward>
	</Consumable>
	<Consumable id="157005" name="Promo_Wave2_NightmarePile" type="Reward" icon="NightmarePile_Menu" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="NightmarePile" />
				<Requirement type="place building" building="NightmarePile" />
				<Requirement type="item" item="NightmarePile" />
			</Requirement>
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_2" text=" " hideFromInfo="true" />
		</Requirements>
		<BuildMenuText text="UI_EoSRebateExciteText_35" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="100" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave2_NightmarePile" />
		</Reward>
	</Consumable>
	<Consumable id="157006" name="Promo_Wave2_MuseumOfSwordfish" type="Reward" icon="MuseumOfSwordfish_Menu" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="MuseumOfSwordfish" />
				<Requirement type="place building" building="MuseumOfSwordfish" />
				<Requirement type="item" item="MuseumOfSwordfish" />
			</Requirement>
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_2" text=" " hideFromInfo="true" />
		</Requirements>
		<BuildMenuText text="UI_EoSRebateExciteText_25" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="70" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave2_MuseumOfSwordfish" />
		</Reward>
	</Consumable>
	<Consumable id="157007" name="Promo_Wave2_StreetCleaner" type="Reward" icon="StreetCleaner_Menu" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="character" name="StreetCleaner" not="true" />
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_2" text=" " hideFromInfo="true" />
		</Requirements>
		<BuildMenuText text="UI_EoSRebateExciteText_35" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="90" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave2_StreetCleaner" />
		</Reward>
	</Consumable>
	<Consumable id="157008" name="Promo_Wave3_WaverlyHillsElementarySchool" type="Reward" icon="WaverlyHillsElementarySchool_Menu" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="WaverlyHillsElementarySchool" />
				<Requirement type="place building" building="WaverlyHillsElementarySchool" />
				<Requirement type="item" item="WaverlyHillsElementarySchool" />
			</Requirement>
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_3" text=" " hideFromInfo="true" />
		</Requirements>
		<BuildMenuText text="UI_EoSRebateExciteText_40" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="115" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave3_WaverlyHillsElementarySchool" />
		</Reward>
	</Consumable>
	<Consumable id="157009" name="Promo_Wave3_SpecialPlayTree" type="Reward" icon="SpecialPlayTree_Menu" autoconsume="true">
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_3" text=" " hideFromInfo="true" />
		</Requirements>
		<BuildMenuText text="UI_EoSRebateExciteText_8" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="20" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave3_SpecialPlayTree" />
		</Reward>
	</Consumable>
	<Consumable id="157010" name="Promo_Wave3_TheShinningMaze" type="Reward" icon="ShinningMaze_Menu" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="TheShinningMaze" />
				<Requirement type="place building" building="TheShinningMaze" />
				<Requirement type="item" item="TheShinningMaze" />
			</Requirement>
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="time" start="Promo_SpringCleaning_Wave_3" text=" " hideFromInfo="true" />
		</Requirements>
		<BuildMenuText text="UI_EoSRebateExciteText_15" />
		<StorePositioningRule rule="BlackFridayRebateRule" />
		<Cost donuts="55" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_Wave3_TheShinningMaze" />
		</Reward>
	</Consumable>
	<Consumable id="157011" name="SpringCleaning_OpenStore" type="Script" autoconsume="true">
		<Script package="SpringCleaning_Scripts_Promo" name="EnterCategory" />
	</Consumable>
	<Consumable id="157012" name="Promo_NatureBundle" type="Reward" icon="Menu_NatureBundle" autoconsume="true">
		<VisibilityRequirements>
			<Requirement type="conditional" logic="OR" not="true">
				<Requirement type="building" building="SpringfieldGreenhouse" />
				<Requirement type="place building" building="SpringfieldGreenhouse" />
				<Requirement type="item" item="SpringfieldGreenhouse" />
			</Requirement>
		</VisibilityRequirements>
		<BuildMenuText text="UI_NatureBundle_spotlight" />
		<Cost donuts="100" />
		<Reward>
			<Item type="script" name="SpringCleaning_Scripts_Promo:Promo_NatureBundle" />
		</Reward>
	</Consumable>
</Consumables>