<Attributes>
	<BuildingUpgradeTrackFontAndColourConfig>
		<Attribute name="value" formatMe="true" abbreviatedNumber="__SpringfieldHeights_GameConfig:{Object::Name}Reward:Level{Object::SHLevel}__" />
		<Attribute name="valueIcon" value="ICO_Heights_RealEstate_SM.rgb" />
		<Attribute name="fonts">
			<AttributeSet name="objects">
				<Attribute name="questTitle" value="eFont_NormalBold" />
				<Attribute name="tip" value="eFont_XS" />
				<Attribute name="rushAllTip" value="eFont_Normal" />
				<Attribute name="rushAllCost" value="eFont_NormalBold" />
				<Attribute name="collect" value="eFont_Normal" />
				<Attribute name="prizeHeading" value="eFont_SmallBold" />
				<Attribute name="prizeTitle" value="eFont_XSBold" />
				<Attribute name="prizeSubtitle" value="eFont_XSBold" />
				<Attribute name="currencyCount" value="eFont_SmallBold" />
				<Attribute name="prizeHeading" value="eFont_NormalBold" />
				<Attribute name="prizeTitle" value="eFont_XSBold" />
				<Attribute name="getMore" value="eFont_XS" />
			</AttributeSet>
			<AttributeSet name="questArrow">
				<Attribute name="value" value="eFont_NormalBold" />
				<Attribute name="plus" value="eFont_NormalBold" />
			</AttributeSet>
			<AttributeSet name="upgrade">
				<Attribute name="default" value="eFont_XS" />
				<Attribute name="doIt" value="eFont_NormalBold" />
				<Attribute name="doItHL" value="eFont_NormalBold" />
				<Attribute name="status" value="eFont_XS" />
				<Attribute name="statusPlus" value="eFont_NormalBold" />
				<Attribute name="progress" value="eFont_XS" />
				<Attribute name="time" value="eFont_XS" />
				<Attribute name="text" value="eFont_XS" />
				<Attribute name="reward" value="eFont_XS" />
				<Attribute name="jobTitle" value="eFont_XS" />
				<Attribute name="rush" value="eFont_NormalBold" />
				<Attribute name="rushHL" value="eFont_NormalBold" />
			</AttributeSet>
			<AttributeSet name="currency">
				<Attribute name="currency" value="eFont_NormalBold" />
			</AttributeSet>
		</Attribute>
	</BuildingUpgradeTrackFontAndColourConfig>
	<UpgradeConfirmationMenuConfig>
		<Attribute name="fonts">
			<AttributeSet name="objects">
				<Attribute name="UpgradeConfirmatirmSpendText" value="eFont_Normal" />
				<Attribute name="UpgradeConfirmatirmToUpgradeText" value="eFont_Normal" />
				<Attribute name="UpgradeConfirmatirmPlusText" value="eFont_NormalBold" />
				<Attribute name="UpgradeConfirmatirmResource1QtyText" value="eFont_Normal" />
				<Attribute name="UpgradeConfirmatirmResource2QtyText" value="eFont_Normal" />
			</AttributeSet>
		</Attribute>
	</UpgradeConfirmationMenuConfig>
	<RedBlazerMenuConfig>
		<Attribute name="rewardTipText" value="UI_RedBlazerPrizeTrack_RewardTip" />
		<Attribute name="rightButtonScriptPath" value="SpringfieldHeights_Scripts:SpringfieldHeightsShowGuidePanel_RedBlazer" />
		<Attribute name="titleText" value="BLD_RedBlazerRealty_name" localise="true" />
		<Attribute name="prizeCompleteText" value="UI_PrizeTrack_PrizeComplete" localise="true" />
		<Attribute name="everyTitleText" value="UI_PrizeTrack_EveryTitle" localise="true" />
		<Attribute name="getItNowText" value="UI_PrizeTrack_GetItNow" localise="true" />
		<Attribute name="countdownText" value="UI_PrizeTrack_Countdown" localise="true" />
		<Attribute name="activeAfterExpiredText" value="UI_PrizeTrack_ActiveAfterExpired" localise="true" />
		<Attribute name="completedPrizeTrackTimeText" value="UI_PrizeTrack_CompletedPrizeTrackTimeText" localise="true" />
		<Attribute name="completedLastPrizeTrackTimeText" value="UI_PrizeTrack_CompletedLastPrizeTrackTime" localise="true" />
		<Attribute name="progressTimeText" value="UI_PrizeTrack_ProgressTime" localise="true" />
		<Attribute name="lockedInfoText" value="UI_PrizeTrack_LockedInfo" localise="true" />
		<Attribute name="unlockedNonbuildingText" value="UI_PrizeTrack_UnlockedNonBuilding" localise="true" />
		<Attribute name="unlockedBuildingInInventoryText" value="UI_PrizeTrack_UnlockedBuildingInInventory" localise="true" />
		<Attribute name="unlockedBuildingInLandText" value="UI_PrizeTrack_UnlockedBuildingInLandText" localise="true" />
		<Attribute name="lockedTitleText" value="UI_PrizeTrack_LockedTitleText" localise="true" />
		<Attribute name="finalPrizeTitleText" value="BLD_BillionaireHaven_name" localise="true" />
		<Attribute name="finalPrizeTipText" value="UI_PrizeTrack_FinalPrizeTip" localise="true" />
		<Attribute name="prizeInfoText" value="UI_RedBlazerPrizeTrack_PrizeInfo" localise="true" />
		<Attribute name="completeText" value="UI_RedBlazerPrizeTrack_Complete" localise="true" />
		<Attribute name="TitleTextFont" value="eFont_Special" />
		<Attribute name="TooltipTimeTextFont" value="eFont_Small" />
		<Attribute name="PrizeCompleteTextFont" value="eFont_Small" />
		<Attribute name="EveryTitleTextFont" value="eFont_Small" />
		<Attribute name="TimeTextFont" value="eFont_XS" />
		<Attribute name="EarnsTitleTextFont" value="eFont_XS" />
		<Attribute name="InfoMenuMoneyTextFont" value="eFont_XSBold" />
		<Attribute name="InfoMenuXPTextFont" value="eFont_XSBold" />
		<Attribute name="InfoTitleTextFont" value="eFont_SmallBold" />
		<Attribute name="GetItNowTextFont" value="eFont_SmallBold" />
		<Attribute name="BuildingStatusDonutAmountTextFont" value="eFont_NormalBold" />
		<Attribute name="CancelRushTextFont" value="eFont_NormalBold" />
		<Attribute name="ProgressTextFont" value="eFont_XS" />
		<Attribute name="ProgessTimeTextFont" value="eFont_SmallBold" />
		<Attribute name="LockedInfoTextFont" value="eFont_Small" />
		<Attribute name="LockedTitleTextFont" value="eFont_NormalBold" />
		<Attribute name="finalPrizeTitleTextFont" value="eFont_SmallBold" />
		<Attribute name="finalPrizeTipTextFont" value="eFont_XS" />
		<Attribute name="prizeInfoTextFont" value="eFont_XS" />
		<Attribute name="completeTextFont" value="eFont_Normal" />
		<Attribute name="valueProgress01TextFont" value="eFont_SmallBold" />
		<Attribute name="FinalPrizeTitleTextFont" value="eFont_NormalBold" />
		<Attribute name="PrizeTitleTextFont" value="eFont_Small" />
		<Attribute name="FinalPrizeNumberFont" value="eFont_NormalBold" />
		<Attribute name="PrizeNumberFont" value="eFont_Small" />
		<Attribute name="FinalPrizeTipTextColor" value="FFFFFFFF" />
		<Attribute name="FinalPrizeTitleTextColor" value="FFFFFFFF" />
		<Attribute name="TooltipTimeTextColor" value="FFFFFFFF" />
		<Attribute name="TooltipTimeNumbersTextColor" value="f6ae00FF" />
		<Attribute name="PrizeNumberColor" value="FFFFFFFF" />
		<Attribute name="PrizeGraphicColor" value="FFFFFFFF" />
		<Attribute name="PrizeBaseEarnedColor" value="014a7c9B" />
		<Attribute name="PrizeBaseUnearnedColor" value="FFFFFF33" />
		<Attribute name="PrizeBaseOutlineEarnedColor" value="0b558aFF" />
		<Attribute name="PrizeBaseOutlineCurrentColor" value="0091f6FF" />
		<Attribute name="PrizeBaseOutlineLockedColor" value="6b666dFF" />
		<Attribute name="PrizeTitleTextColor" value="FFFFFFFF" />
		<Attribute name="ProgFillColor" value="30303099" />
		<Attribute name="hideLockIconForNormalPrize" value="false" />
		<Attribute name="hideLockIconForCurrentPrize" value="true" />
		<Attribute name="hideLockIconForFuturePrize" value="false" />
		<Attribute name="messageText" value="UI_RedBlazerPrizeTrack_PrizePanelMessage" />
	</RedBlazerMenuConfig>
	<ResourceGeneratorConfig>
		<Attribute name="sortOrder">
			<AttributeSet name="PremiumGetNow">
				<Attribute name="order" value="0" />
			</AttributeSet>
			<AttributeSet name="Available">
				<Attribute name="order" value="1" />
			</AttributeSet>
			<AttributeSet name="Busy">
				<Attribute name="order" value="2" />
			</AttributeSet>
			<AttributeSet name="OtherJob">
				<Attribute name="order" value="3" />
			</AttributeSet>
			<AttributeSet name="Inventory">
				<Attribute name="order" value="4" />
			</AttributeSet>
			<AttributeSet name="RegularGetNow">
				<Attribute name="order" value="5" />
			</AttributeSet>
			<AttributeSet name="Locked">
				<Attribute name="order" value="6" />
			</AttributeSet>
			<AttributeSet name="UnlockReqsNotMet">
				<Attribute name="order" value="7" />
			</AttributeSet>
		</Attribute>
	</ResourceGeneratorConfig>
	<BlankInventoryText>
		<Attribute name="menus">
			<AttributeSet name="inventory">
				<Attribute name="customMenuText" value="" />
			</AttributeSet>
		</Attribute>
	</BlankInventoryText>
	<PrivateIslandUpgradeTrackFontAndColourConfig>
		<Attribute name="value" formatMe="true" abbreviatedNumber="__SpringfieldHeights_GameConfig:PrivateIslandReward:Level{Object::SHLevel}__" />
		<Attribute name="valueIcon" value="ICO_Heights_RealEstate_SM.rgb" />
		<Attribute name="fonts">
			<AttributeSet name="objects">
				<Attribute name="questTitle" value="eFont_NormalBold" />
				<Attribute name="tip" value="eFont_XS" />
				<Attribute name="rushAllTip" value="eFont_Normal" />
				<Attribute name="rushAllCost" value="eFont_NormalBold" />
				<Attribute name="collect" value="eFont_Normal" />
				<Attribute name="prizeHeading" value="eFont_SmallBold" />
				<Attribute name="prizeTitle" value="eFont_XSBold" />
				<Attribute name="prizeSubtitle" value="eFont_XSBold" />
				<Attribute name="currencyCount" value="eFont_SmallBold" />
				<Attribute name="prizeHeading" value="eFont_NormalBold" />
				<Attribute name="prizeTitle" value="eFont_XSBold" />
				<Attribute name="getMore" value="eFont_XS" />
			</AttributeSet>
			<AttributeSet name="questArrow">
				<Attribute name="value" value="eFont_NormalBold" />
				<Attribute name="plus" value="eFont_NormalBold" />
			</AttributeSet>
			<AttributeSet name="upgrade">
				<Attribute name="default" value="eFont_XS" />
				<Attribute name="doIt" value="eFont_NormalBold" />
				<Attribute name="doItHL" value="eFont_NormalBold" />
				<Attribute name="status" value="eFont_XS" />
				<Attribute name="statusPlus" value="eFont_NormalBold" />
				<Attribute name="progress" value="eFont_XS" />
				<Attribute name="time" value="eFont_XS" />
				<Attribute name="text" value="eFont_XS" />
				<Attribute name="reward" value="eFont_XS" />
				<Attribute name="jobTitle" value="eFont_XS" />
				<Attribute name="rush" value="eFont_NormalBold" />
				<Attribute name="rushHL" value="eFont_NormalBold" />
			</AttributeSet>
			<AttributeSet name="currency">
				<Attribute name="currency" value="eFont_NormalBold" />
			</AttributeSet>
		</Attribute>
	</PrivateIslandUpgradeTrackFontAndColourConfig>
</Attributes>