<SoundKitPackage>
	<SoundKit name="SpringfieldJobs_Act1PrizeTrackCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Pickups_Act1_PicturesPaintings_01" />
		<Sound name="sfx_Springfield_Jobs_Pickups_Act1_PicturesPaintings_02" />
		<Sound name="sfx_Springfield_Jobs_Pickups_Act1_PicturesPaintings_03" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_Act2PrizeTrackCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_SuperHeroes2_FiniteStone_Pickup_01" />
		<Sound name="sfx_SuperHeroes2_FiniteStone_Pickup_02" />
		<Sound name="sfx_SuperHeroes2_FiniteStone_Pickup_03" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_Act3PrizeTrackCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_BurnsCasino_Collect_Chips" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_CraftingCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Pickups_Crafting_01" />
		<Sound name="sfx_Springfield_Jobs_Pickups_Crafting_02" />
		<Sound name="sfx_Springfield_Jobs_Pickups_Crafting_03" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_SocialCurrency_Collect" channel="ui_channel" key="reward_collect_key">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_County_Fair_Ribbon_Pickup_01" />
		<Sound name="sfx_County_Fair_Ribbon_Pickup_02" />
		<Sound name="sfx_County_Fair_Ribbon_Pickup_03" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_Music" channel="music_channel">
		<Sound name="Music_Intro_Springfield_Jobs_04_Bartman_Begins_Edit" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_Act1_Heist_SceneStart" channel="ui_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="Springfield_Job_Cinematic_01_AudioPass2" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_Act2_Heist_SceneStart" channel="ui_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="Springfield_Job_Cinematic_02_AudioPass2" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_Act3_Heist_SceneStart" channel="ui_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="Springfield_Job_Cinematic_03_AudioPass2" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SpringfieldJobs_Heist_MenuOpened" channel="ui_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Heist_Menu" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="ArthurFortune_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="ARTHUR_FORTUNE_TAP1" />
		<Sound name="ARTHUR_FORTUNE_TAP2" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="ArthurFortune_JobGood" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="ARTHUR_FORTUNE_JOBGOOD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="ArthurFortune_JobBad" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="ARTHUR_FORTUNE_JOBBAD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="ArthurFortune_JobDone" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="ARTHUR_FORTUNE_JOBDONE" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="FernandoVidal_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="FERNANDO_VIDAL_TAP1" />
		<Sound name="FERNANDO_VIDAL_TAP2" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="FernandoVidal_JobGood" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="FERNANDO_VIDAL_JOBGOOD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="FernandoVidal_JobBad" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="FERNANDO_VIDAL_JOBBAD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="FernandoVidal_JobDone" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="FERNANDO_VIDAL_JOBDONE" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="GuyIncognito_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="GUY_INCOGNITO_TAP1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="GuyIncognito_JobGood" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="GUY_INCOGNITO_JOBGOOD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="GuyIncognito_JobBad" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="GUY_INCOGNITO_JOBBAD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="GuyIncognito_JobDone" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="GUY_INCOGNITO_JOBDONE" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="MexicanDuffman_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="MEXICAN_DUFFMAN_TAP1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="OscarWilde_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="OSCAR_WILDE_TAP1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="OscarWilde_JobGood" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="OSCAR_WILDE_JOBGOOD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="OscarWilde_JobBad" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="OSCAR_WILDE_JOBBAD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="OscarWilde_JobDone" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="OSCAR_WILDE_JOBDONE" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="Raoul_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="RAOUL_TAP1" />
		<Sound name="RAOUL_TAP2" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="Raoul_JobGood" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="RAOUL_JOBGOOD" />
		<Sound name="RAOUL_JOBGOOD.1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="Raoul_JobBad" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="RAOUL_JOBBAD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="Raoul_JobDone" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="RAOUL_JOBDONE" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="SvenGolly_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="SVEN_GOLLY_TAP1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="SvenGolly_JobGood" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="SVEN_GOLLY_JOBGOOD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="SvenGolly_JobBad" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="SVEN_GOLLY_JOBBAD" />
		<Sound name="SVEN_GOLLY_JOBBAD.1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="SvenGolly_JobDone" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="SVEN_GOLLY_JOBDONE" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="WheelsMcgrath_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="WHEELS_MCGRATH_TAP1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="WheelsMcgrath_JobGood" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="WHEELS_MCGRATH_JOBGOOD" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="WheelsMcgrath_JobBad" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="WHEELS_MCGRATH_JOBBAD" />
		<Sound name="WHEELS_MCGRATH_JOBBAD.1" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="WheelsMcgrath_JobDone" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="WHEELS_MCGRATH_JOBDONE" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="JusticeAgent_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Agent_tappable_squish_01" />
		<Sound name="sfx_Springfield_Jobs_Agent_tappable_squish_02" />
		<Sound name="sfx_Springfield_Jobs_Agent_tappable_squish_03" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="Crook_Tap" channel="dialogue_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Crook_tappable_squish_01" />
		<Sound name="sfx_Springfield_Jobs_Crook_tappable_squish_02" />
		<Sound name="sfx_Springfield_Jobs_Crook_tappable_squish_03" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="LeaningTower_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Leaning_Tower" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="MuseumOfSuperFineArts_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Museum_Super_Fine_Arts" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="OldCathedral_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Old_Cathedral" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="TowerOfSpringfield_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Tower_Of_Springfield" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="MoHoHouse_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_MoHo_House" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="IslandCapitolBuilding_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Island_Capitol_Bld" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="ResortHotel_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Resort_Hotel" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="DollarCasino_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_BurnsCasino_Pull_Lever" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="DarbyOGuzzlins_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_DarbyOGuzzlins" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="InternationalCourtOfJustice_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_International_Court_Of_Justice" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="MonteBurnsResortCasino_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_BurnCasino_Burns_Casino_Tap" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="TheBoiledPotato_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Boiled_Potato" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="FernandoVidalsVilla_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Fernando_Vidals_Villa" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="ScotlandYard_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Scotland_Yard" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="MasterHypnotistTent_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Master_Hypnotist_Tent" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="PlundererPetes_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Plunderer_Petes" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="BuckinghamPalace_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_BurnsCasino_Britania" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="Colosseum_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Colosseum" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="SmoochesOnTheBeach_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Smooches_on_The_Beach" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="Swelldorado_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Swelldorado" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="FortuneMegastore_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_BurnsCasino_Player_Tap" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="TheNagAndWeasel_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_NagAndWeassel" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="StPaulsBasilica_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_StPauls_Basiclia" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="RaoulsPenthouse_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_EA_TSTO_Ziff_Mansion_Tap" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="TheFirstClassLounge_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_First_Class_Lounge" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="WestminsterAbbey_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Gothic_Abbey" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="CheeseTruck_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Cheese_Truck" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="GrandCanal_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Grand_Canal_Piece_01" />
		<Sound name="sfx_Springfield_Jobs_Grand_Canal_Piece_02" />
		<Sound name="sfx_Springfield_Jobs_Grand_Canal_Piece_03" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="TerracedHouse_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Terraced_Homes_01" />
		<Sound name="sfx_Springfield_Jobs_Terraced_Homes_02" />
		<Sound name="sfx_Springfield_Jobs_Terraced_Homes_03" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="OldPhoneBooth_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Phone_Booth" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="PoliceCallBox_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Police_Call_Box" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="LifeSizePrinceAlbertInACan_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Life_Size_Prince_Albert" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="QueensCarriage_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Queens_Carriage" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="FirstBankOfSpringfieldATM_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_First_Bank_Springfield_ATM" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="GiantFerrisWheel_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Ferris_Wheel" />
		<Volume value="0.8" />
	</SoundKit>
	<SoundKit name="PompeiiRuins_Tap" channel="buildingTap_channel">
		<PlayStyle type="PlayOnce" />
		<Sound name="sfx_Springfield_Jobs_Pompei_Ruins" />
		<Volume value="0.8" />
	</SoundKit>
</SoundKitPackage>