<Buildings>
	<MasterList>
		<DataID id="245500" name="GoldenBuddha" />
		<DataID id="245501" name="FooTempleDog" />
		<DataID id="245502" name="BodhiTree" />
		<DataID id="245503" name="CrazyPrincessViewingArea" />
		<DataID id="245504" name="SensoryDeprivationTank" />
		<DataID id="245505" name="PartyElephant" />
		<DataID id="245506" name="WetSariContest" />
		<DataID id="245507" name="SiddmarthasPonies" />
		<DataID id="245508" name="SaltMandala" />
		<DataID id="245509" name="EnlightenmentFountain" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="false" />
		<Unique value="false" />
		<Falls value="false" />
		<MultiPlace value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="true" />
		<TaxJobPackage value="SpringfieldEnlightened_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="245500" name="GoldenBuddha" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem service="5" />
		<BSv2 name="GoldenBuddha" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="35" />
		<SoundKit event="BuildingTouched" name="GoldenBuddha_tap" />
	</Building>
	<Building id="245501" name="FooTempleDog" type="Decoration" xpValue="0">
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem decoration="100" />
		<BSv2 name="FooTempleDog" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="10" />
		<SoundKit event="BuildingTouched" name="FooTempleDog_tap" />
	</Building>
	<Building id="245502" name="BodhiTree" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem environment="100" />
		<BSv2 name="BodhiTree" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="25" />
		<SoundKit event="BuildingTouched" name="BodhiTree_tap" />
	</Building>
	<Building id="245503" name="CrazyPrincessViewingArea" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem shopping="5" />
		<BSv2 name="PrincessViewingArea" flippedname="PrincessViewingAreaFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="5" />
		<SoundKit event="BuildingTouched" name="CrazyPrincessViewingArea_tap" />
		<OnEvent event="BuildingTouched" building="CrazyPrincessViewingArea">
			<Script name="Three_Way_Toggle_Tapped" package="MiscScripts" />
		</OnEvent>
		<NeutralAnimationController name="Generic_Three_Way_Toggle" />
	</Building>
	<Building id="245504" name="SensoryDeprivationTank" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem housing="10" />
		<BSv2 name="DeprivationTank" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="10" />
		<SoundKit event="BuildingTouched" name="SensoryDeprivationTank_tap" />
		<OnEvent event="BuildingTouched" building="SensoryDeprivationTank">
			<Script name="DecorationTapped_WithActiveInOut" package="MiscScripts" />
		</OnEvent>
		<NeutralAnimationController name="GenericInOut_Toggle" />
	</Building>
	<Building id="245505" name="PartyElephant" type="Decoration" xpValue="0">
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem restaurant="5" />
		<BSv2 name="PartyElephant" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="20" />
		<SoundKit event="BuildingTouched" name="PartyElephant_tap" />
		<OnEvent event="BuildingTouched" building="PartyElephant">
			<Script name="DecorationTapped_SingleActive" package="MiscScripts" />
		</OnEvent>
	</Building>
	<Building id="245506" name="WetSariContest" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem decoration="100" />
		<BSv2 name="WetSariContest" flippedname="WetSariContestFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="15" />
		<SoundKit event="BuildingTouched" name="WetSariContest_tap" />
		<OnEvent event="BuildingTouched" building="WetSariContest">
			<Script name="DecorationTapped_SingleActive_Wait" package="MiscScripts" />
		</OnEvent>
	</Building>
	<Building id="245507" name="SiddmarthasPonies" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem decoration="100" />
		<BSv2 name="SiddmarthasPonies" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="15" />
		<SoundKit event="BuildingTouched" name="SiddmarthasPonies_tap" />
		<OnEvent event="BuildingTouched" building="SiddmarthasPonies">
			<Script name="Three_Way_Toggle_Tapped" package="MiscScripts" />
		</OnEvent>
		<NeutralAnimationController name="Generic_Three_Way_Toggle" />
	</Building>
	<Building id="245508" name="SaltMandala" type="Decoration" xpValue="0">
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<RatingElem service="5" />
		<BSv2 name="SaltMandala" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Cost donuts="10" />
		<SoundKit event="BuildingTouched" name="SaltMandala_tap" />
		<OnEvent event="BuildingTouched" building="SaltMandala">
			<Script name="Three_Way_Toggle_Tapped" package="MiscScripts" />
		</OnEvent>
		<NeutralAnimationController name="Generic_Three_Way_Toggle" />
	</Building>
	<Building id="245509" name="EnlightenmentFountain" type="Decoration" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="ocean|river" />
		<RatingElem service="5" />
		<BSv2 name="EnlightenmentFountain" />
		<Cost donuts="100" />
		<SoundKit event="BuildingTouched" name="EnlightenmentFountain_tap" />
	</Building>
</Buildings>