<ScriptPackage>
	<GamesOfTheirOwn_1_Start>
		<Action type="dialogue" character="Lisa" text="QST_GamesOfTheirOwn_1_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_GamesOfTheirOwn_1_3_dlg_Start_2_Homer" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Homer" text="QST_GamesOfTheirOwn_1_3_dlg_Start_3_Homer" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Lisa" text="QST_GamesOfTheirOwn_1_3_dlg_Start_4_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_GamesOfTheirOwn_1_3_dlg_Start_5_Homer" revealSpeed="medium" emotion="sarcastic" />
	</GamesOfTheirOwn_1_Start>
	<GamesOfTheirOwn_1_End>
		<Action type="dialogue" character="Quimby" text="QST_GamesOfTheirOwn_1_3_dlg_End_1_Quimby" revealSpeed="medium" emotion="proud" />
		<Action type="dialogue" character="Homer" text="QST_GamesOfTheirOwn_1_3_dlg_End_2_Homer" revealSpeed="medium" emotion="proud" />
	</GamesOfTheirOwn_1_End>
	<GamesOfTheirOwn_2_Start>
		<Action type="dialogue" character="Quimby" text="QST_GamesOfTheirOwn_2_3_dlg_Start_1_Quimby" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="FatTony" text="QST_GamesOfTheirOwn_2_3_dlg_Start_2_FatTony" revealSpeed="medium" />
		<Action type="dialogue" character="Snake" text="QST_GamesOfTheirOwn_2_3_dlg_Start_3_Snake" revealSpeed="medium" />
		<Action type="dialogue" character="Wiggum" text="QST_GamesOfTheirOwn_2_3_dlg_Start_4_Wiggum" revealSpeed="medium" emotion="eyeswide" />
		<Action type="dialogue" character="Quimby" text="QST_GamesOfTheirOwn_2_3_dlg_Start_5_Quimby" revealSpeed="medium" emotion="happy" />
	</GamesOfTheirOwn_2_Start>
	<GamesOfTheirOwn_2_End>
		<Action type="dialogue" character="Quimby" text="QST_GamesOfTheirOwn_2_3_dlg_End_1_Quimby" revealSpeed="medium" emotion="proud" />
		<Action type="dialogue" character="Quimby" text="QST_GamesOfTheirOwn_2_3_dlg_End_2_Quimby" revealSpeed="medium" emotion="proud" />
		<Action type="dialogue" character="Lisa" text="QST_GamesOfTheirOwn_2_3_dlg_End_3_Lisa" revealSpeed="medium" emotion="shocked" />
		<Action type="dialogue" character="Bart" text="QST_GamesOfTheirOwn_2_3_dlg_End_4_Bart" revealSpeed="medium" emotion="sneaky" />
		<Action type="dialogue" character="Homer" text="QST_GamesOfTheirOwn_2_3_dlg_End_5_Homer" revealSpeed="medium" />
		<Action type="setVariable" boolVariable="SpringfieldGames_Part1Done" boolValue="true" />
	</GamesOfTheirOwn_2_End>
	<SpringfieldGames_1_Start>
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_1_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="alarmed" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_1_3_dlg_Start_2_Homer" revealSpeed="medium" emotion="serious" />
		<Action type="dialogue" character="Skinner" text="QST_SpringfieldGames_1_3_dlg_Start_3_Skinner" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_1_3_dlg_Start_4_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_1_3_dlg_Start_5_Lisa" revealSpeed="medium" emotion="confused" />
		<Action type="runScript" script="SpringfieldGames_Scripts:SpringfieldGames_Recommend" />
	</SpringfieldGames_1_Start>
	<SpringfieldGames_1_End>
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_1_3_dlg_End_1_Lisa" revealSpeed="medium" emotion="curious" />
		<Action type="dialogue" character="Bart" text="QST_SpringfieldGames_1_3_dlg_End_2_Bart" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_1_3_dlg_End_3_Homer" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_1_3_dlg_End_4_Lisa" revealSpeed="medium" emotion="nagging" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_1_3_dlg_End_5_Homer" revealSpeed="medium" emotion="serious" />
		<Action type="runScript" script="SpringfieldGames_Scripts:CheckIfEnd" />
		<Action type="runScript" script="SpringfieldGames_Scripts:LogTelemetry">
			<FormatToken key="task" value="01" />
			<FormatToken key="RegularRibbons" value="_[SG_RegularRibbons]_" />
			<FormatToken key="PremiumRibbons" value="_[SG_PremiumRibbons]_" />
			<FormatToken key="TappableRibbons" value="_[SG_TappablesRibbons]_" />
			<FormatToken key="JobRibbons" value="_[SG_JobRibbons]_" />
			<FormatToken key="BuildingRibbons" value="_[SG_BuildingRibbons]_" />
			<FormatToken key="TotalRibbons" value="_[SG_TotalRibbons]_" />
		</Action>
		<Action type="rewardWithPlaceStore" attributes="SpringfieldGames_MenuConfig:RewardWithPlaceStore">
			<Item type="building" name="SpringfieldGamesCauldron" />
		</Action>
	</SpringfieldGames_1_End>
	<MysteryLockerPromo_Start>
		<Action type="dialogue" character="Skinner" text="QST_MysteryLockerPromo_3_dlg_Start_1_Skinner" revealSpeed="medium" />
		<Action type="dialogue" character="Willie" text="QST_MysteryLockerPromo_3_dlg_Start_2_Willie" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Skinner" text="QST_MysteryLockerPromo_3_dlg_Start_3_Skinner" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Willie" text="QST_MysteryLockerPromo_3_dlg_Start_4_Willie" revealSpeed="medium" />
		<Action type="notification" title="CON_GymLockerMysteryBox_name" button="UI_OK" text="QST_MysteryLockerPromo_3_dlg_Start_5_SystemPrompt" icon="ICO_STOR_SpringfieldGames_MysteryLocker" />
		<Action type="focusOnMenuItem" itemName="GymLockerMysteryBox" menuCategory="SpringfieldGames" />
	</MysteryLockerPromo_Start>
	<SpringfieldGames_2_Start>
		<Action type="loseResources" SpringfieldGames_ParticipationRibbons="SpringfieldGames_ParticipationRibbons" />
		<Action type="dialogue" character="Bart" text="QST_SpringfieldGames_2_3_dlg_Start_1_Bart" revealSpeed="medium" />
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldGames_2_3_dlg_Start_2_Quimby" revealSpeed="medium" emotion="stern" />
		<Action type="dialogue" character="Milhouse" text="QST_SpringfieldGames_2_3_dlg_Start_3_Milhouse" revealSpeed="medium" />
		<Action type="dialogue" character="Bart" text="QST_SpringfieldGames_2_3_dlg_Start_4_Bart" revealSpeed="medium" />
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldGames_2_3_dlg_Start_5_Quimby" revealSpeed="medium" emotion="happy" />
	</SpringfieldGames_2_Start>
	<SpringfieldGames_2_End>
		<Action type="dialogue" character="Lugash" text="QST_SpringfieldGames_2_3_dlg_End_1_Lugash" revealSpeed="medium" />
		<Action type="dialogue" character="Bart" text="QST_SpringfieldGames_2_3_dlg_End_2_Bart" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="Lugash" text="QST_SpringfieldGames_2_3_dlg_End_3_Lugash" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Lugash" text="QST_SpringfieldGames_2_3_dlg_End_4_Lugash" revealSpeed="medium" emotion="happy" />
		<Action type="runScript" script="SpringfieldGames_Scripts:CheckIfEnd" />
		<Action type="runScript" script="SpringfieldGames_Scripts:LogTelemetry">
			<FormatToken key="task" value="02" />
			<FormatToken key="RegularRibbons" value="_[SG_RegularRibbons]_" />
			<FormatToken key="PremiumRibbons" value="_[SG_PremiumRibbons]_" />
			<FormatToken key="TappableRibbons" value="_[SG_TappablesRibbons]_" />
			<FormatToken key="JobRibbons" value="_[SG_JobRibbons]_" />
			<FormatToken key="BuildingRibbons" value="_[SG_BuildingRibbons]_" />
			<FormatToken key="TotalRibbons" value="_[SG_TotalRibbons]_" />
		</Action>
		<Action type="rewardWithPlaceStore" attributes="SpringfieldGames_MenuConfig:RewardWithPlaceStore">
			<Item type="building" name="SpringfieldGamesPodium" />
		</Action>
	</SpringfieldGames_2_End>
	<UpsellLugash_Start>
		<Action type="notification" title="BLD_LugashsGym_name" button="UI_OK" text="QST_SpringfieldGames_2_3_dlg_End_5_SystemMessage" icon="ICO_STOR_LugashsGym" />
		<Action type="focusOnMenuItem" itemName="SpringfieldGames_LugashRebate" menuCategory="SpringfieldGames" />
	</UpsellLugash_Start>
	<SpringfieldGames_3_Start>
		<Action type="loseResources" SpringfieldGames_ParticipationRibbons="SpringfieldGames_ParticipationRibbons" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_3_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="eyeroll" />
		<Action type="dialogue" character="Willie" text="QST_SpringfieldGames_3_3_dlg_Start_2_Willie" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Otto" text="QST_SpringfieldGames_3_3_dlg_Start_3_Otto" revealSpeed="medium" />
		<Action type="dialogue" character="Skinner" text="QST_SpringfieldGames_3_3_dlg_Start_4_Skinner" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Lugash" text="QST_SpringfieldGames_3_3_dlg_Start_5_Lugash" revealSpeed="medium" emotion="angry" />
	</SpringfieldGames_3_Start>
	<SpringfieldGames_3_End>
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_3_3_dlg_End_1_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_3_3_dlg_End_2_Homer" revealSpeed="medium" emotion="sarcastic" />
		<Action type="runScript" script="SpringfieldGames_Scripts:CheckIfEnd" />
		<Action type="runScript" script="SpringfieldGames_Scripts:LogTelemetry">
			<FormatToken key="task" value="03" />
			<FormatToken key="RegularRibbons" value="_[SG_RegularRibbons]_" />
			<FormatToken key="PremiumRibbons" value="_[SG_PremiumRibbons]_" />
			<FormatToken key="TappableRibbons" value="_[SG_TappablesRibbons]_" />
			<FormatToken key="JobRibbons" value="_[SG_JobRibbons]_" />
			<FormatToken key="BuildingRibbons" value="_[SG_BuildingRibbons]_" />
			<FormatToken key="TotalRibbons" value="_[SG_TotalRibbons]_" />
		</Action>
		<Action type="rewardWithPlaceStore" attributes="SpringfieldGames_MenuConfig:RewardWithPlaceStore">
			<Item type="building" name="SpringfieldPinStand" />
		</Action>
	</SpringfieldGames_3_End>
	<APricklyObsession_1_Start>
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_1_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="surprised" />
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_1_3_dlg_Start_2_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Bart" text="QST_APricklyObsession_1_3_dlg_Start_3_Bart" revealSpeed="medium" emotion="scared" />
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_1_3_dlg_Start_4_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_1_3_dlg_Start_5_Lisa" revealSpeed="medium" emotion="dreamy" />
	</APricklyObsession_1_Start>
	<APricklyObsession_2_Start>
		<Action type="dialogue" character="Homer" text="QST_APricklyObsession_2_3_dlg_Start_1_Homer" revealSpeed="medium" emotion="proud" />
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_2_3_dlg_Start_2_Lisa" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_2_3_dlg_Start_3_Lisa" revealSpeed="medium" />
	</APricklyObsession_2_Start>
	<APricklyObsession_2B_Start>
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_2_3_dlg_Start_4_Lisa" revealSpeed="medium" emotion="dreamy" />
		<Action type="dialogue" character="Lisa" text="QST_APricklyObsession_2_3_dlg_Start_5_Lisa" revealSpeed="medium" emotion="embarrassed" />
	</APricklyObsession_2B_Start>
	<APricklyObsession_2B_End>
		<Action type="reward">
			<Item type="consumable" name="LisaPinCollector" useImmediately="true" />
		</Action>
	</APricklyObsession_2B_End>
	<APricklyObsession_3_Start>
		<Action type="dialogue" character="PinCollectorLisa" text="QST_APricklyObsession_3_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Marge" text="QST_APricklyObsession_3_3_dlg_Start_2_Marge" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Marge" text="QST_APricklyObsession_3_3_dlg_Start_3_Marge" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="PinCollectorLisa" text="QST_APricklyObsession_3_3_dlg_Start_4_Lisa" revealSpeed="medium" emotion="embarrased" />
	</APricklyObsession_3_Start>
	<APricklyObsession_3_End>
		<Action type="dialogue" character="Marge" text="QST_APricklyObsession_3_3_dlg_End_1_Marge" revealSpeed="medium" emotion="serious" />
		<Action type="dialogue" character="Homer" text="QST_APricklyObsession_3_3_dlg_End_2_Homer" revealSpeed="medium" emotion="serious" />
		<Action type="dialogue" character="PinCollectorLisa" text="QST_APricklyObsession_3_3_dlg_End_3_Lisa" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Marge" text="QST_APricklyObsession_3_3_dlg_End_4_Marge" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_APricklyObsession_3_3_dlg_End_5_Homer" revealSpeed="medium" emotion="serious" />
		<Action type="message" text="QST_APricklyObsession_3_3_dlg_End_6_SystemMessage" revealSpeed="medium" />
	</APricklyObsession_3_End>
	<SpringfieldGames_4_Start>
		<Action type="loseResources" SpringfieldGames_ParticipationRibbons="SpringfieldGames_ParticipationRibbons" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_4_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_4_3_dlg_Start_2_Homer" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Bart" text="QST_SpringfieldGames_4_3_dlg_Start_3_Bart" revealSpeed="medium" emotion="laughing" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_4_3_dlg_Start_4_Homer" revealSpeed="medium" emotion="proud" />
	</SpringfieldGames_4_Start>
	<SpringfieldGames_4_End>
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_4_3_dlg_End_1_Homer" revealSpeed="medium" emotion="sleepy" />
		<Action type="dialogue" character="Bart" text="QST_SpringfieldGames_4_3_dlg_End_2_Bart" revealSpeed="medium" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_4_3_dlg_End_3_Homer" revealSpeed="medium" emotion="sleepy" />
		<Action type="dialogue" character="Homer" text="QST_SpringfieldGames_4_3_dlg_End_4_Homer" revealSpeed="medium" emotion="scared" />
		<Action type="runScript" script="SpringfieldGames_Scripts:CheckIfEnd" />
		<Action type="runScript" script="SpringfieldGames_Scripts:LogTelemetry">
			<FormatToken key="task" value="04" />
			<FormatToken key="RegularRibbons" value="_[SG_RegularRibbons]_" />
			<FormatToken key="PremiumRibbons" value="_[SG_PremiumRibbons]_" />
			<FormatToken key="TappableRibbons" value="_[SG_TappablesRibbons]_" />
			<FormatToken key="JobRibbons" value="_[SG_JobRibbons]_" />
			<FormatToken key="BuildingRibbons" value="_[SG_BuildingRibbons]_" />
			<FormatToken key="TotalRibbons" value="_[SG_TotalRibbons]_" />
		</Action>
		<Action type="pantoobject" building="SpringfieldGamesCauldron" />
	</SpringfieldGames_4_End>
	<SpringfieldGames_5_Start>
		<Action type="loseResources" SpringfieldGames_ParticipationRibbons="SpringfieldGames_ParticipationRibbons" />
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldGames_5_3_dlg_Start_1_Quimby" revealSpeed="medium" emotion="proud" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_5_3_dlg_Start_2_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_5_3_dlg_Start_3_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_5_3_dlg_Start_4_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_5_3_dlg_Start_5_Lisa" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_5_3_dlg_Start_6_Lisa" revealSpeed="medium" emotion="deadpan" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_5_3_dlg_Start_7_Lisa" revealSpeed="medium" emotion="deadpan" />
		<Action type="dialogue" character="Moe" text="QST_SpringfieldGames_5_3_dlg_Start_8_Moe" revealSpeed="medium" emotion="worried" />
	</SpringfieldGames_5_Start>
	<SpringfieldGames_5_End>
		<Action type="dialogue" character="Lenny" text="QST_SpringfieldGames_5_3_dlg_End_1_Lenny" revealSpeed="medium" emotion="anguished" />
		<Action type="dialogue" character="Skinner" text="QST_SpringfieldGames_5_3_dlg_End_2_Skinner" revealSpeed="medium" emotion="annoyed" />
		<Action type="dialogue" character="Barney" text="QST_SpringfieldGames_5_3_dlg_End_3_Barney" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_5_3_dlg_End_4_Lisa" revealSpeed="medium" emotion="annoyed" />
		<Action type="runScript" script="SpringfieldGames_Scripts:CheckIfEnd" />
		<Action type="runScript" script="SpringfieldGames_Scripts:LogTelemetry">
			<FormatToken key="task" value="05" />
			<FormatToken key="RegularRibbons" value="_[SG_RegularRibbons]_" />
			<FormatToken key="PremiumRibbons" value="_[SG_PremiumRibbons]_" />
			<FormatToken key="TappableRibbons" value="_[SG_TappablesRibbons]_" />
			<FormatToken key="JobRibbons" value="_[SG_JobRibbons]_" />
			<FormatToken key="BuildingRibbons" value="_[SG_BuildingRibbons]_" />
			<FormatToken key="TotalRibbons" value="_[SG_TotalRibbons]_" />
		</Action>
		<Action type="rewardWithPlaceStore" attributes="SpringfieldGames_MenuConfig:RewardWithPlaceStore">
			<Item type="building" name="GoKartTrack_NoBetting" />
		</Action>
	</SpringfieldGames_5_End>
	<SpringfieldGames_6_Start>
		<Action type="loseResources" SpringfieldGames_ParticipationRibbons="SpringfieldGames_ParticipationRibbons" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_6_3_dlg_Start_1_Lisa" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="Bart" text="QST_SpringfieldGames_6_3_dlg_Start_2_Bart" revealSpeed="medium" />
		<Action type="dialogue" character="Lisa" text="QST_SpringfieldGames_6_3_dlg_Start_3_Lisa" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Lugash" text="QST_SpringfieldGames_6_3_dlg_Start_4_Lugash" revealSpeed="medium" />
		<Action type="dialogue" character="Lugash" text="QST_SpringfieldGames_6_3_dlg_Start_5_Lugash" revealSpeed="medium" emotion="annoyed" />
	</SpringfieldGames_6_Start>
	<SpringfieldGames_6_End>
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldGames_6_3_dlg_End_1_Quimby" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldGames_6_3_dlg_End_2_Quimby" revealSpeed="medium" />
		<Action type="dialogue" character="Lugash" text="QST_SpringfieldGames_6_3_dlg_End_3_Lugash" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldGames_6_3_dlg_End_4_Quimby" revealSpeed="medium" />
		<Action type="dialogue" character="Quimby" text="QST_SpringfieldGames_6_3_dlg_End_5_Quimby" revealSpeed="medium" emotion="embarrassed" />
		<Action type="setVariable" boolVariable="SpringfieldGames_Complete" boolValue="true" />
		<Action type="runScript" script="SpringfieldGames_Scripts:LogTelemetry">
			<FormatToken key="task" value="06" />
			<FormatToken key="RegularRibbons" value="_[SG_RegularRibbons]_" />
			<FormatToken key="PremiumRibbons" value="_[SG_PremiumRibbons]_" />
			<FormatToken key="TappableRibbons" value="_[SG_TappablesRibbons]_" />
			<FormatToken key="JobRibbons" value="_[SG_JobRibbons]_" />
			<FormatToken key="BuildingRibbons" value="_[SG_BuildingRibbons]_" />
			<FormatToken key="TotalRibbons" value="_[SG_TotalRibbons]_" />
		</Action>
		<Action type="actionSequence" script="SpringfieldGames_Scripts:ReplaceGoKartsWithBetting" />
	</SpringfieldGames_6_End>
	<GoKartRacing_Start>
		<Action type="dialogue" character="FatTony" text="QST_GoKartRacing_3_dlg_Start_1_FatTony" revealSpeed="medium" />
		<Action type="dialogue" character="FatTony" text="QST_GoKartRacing_3_dlg_Start_2_FatTony" revealSpeed="medium" />
		<Action type="dialogue" character="Martin" text="QST_GoKartRacing_3_dlg_Start_3_Martin" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="FatTony" text="QST_GoKartRacing_3_dlg_Start_4_FatTony" revealSpeed="medium" emotion="angry" />
		<Action type="dialogue" character="Martin" text="QST_GoKartRacing_3_dlg_Start_5_Martin" revealSpeed="medium" emotion="surprised" />
	</GoKartRacing_Start>
	<GoKartRacing_End>
		<Action type="dialogue" character="FatTony" text="QST_GoKartRacing_3_dlg_End_1_FatTony" revealSpeed="medium" />
		<Action type="dialogue" character="Martin" text="QST_GoKartRacing_3_dlg_End_2_Martin" revealSpeed="medium" emotion="sad" />
		<Action type="dialogue" character="FatTony" text="QST_GoKartRacing_3_dlg_End_3_FatTony" revealSpeed="medium" />
	</GoKartRacing_End>
	<HalfPipe_Start>
		<Action type="dialogue" character="Otto" text="QST_HalfPipe_3_dlg_Start_1_Otto" revealSpeed="medium" />
		<Action type="dialogue" character="Bart" text="QST_HalfPipe_3_dlg_Start_2_Bart" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="Otto" text="QST_HalfPipe_3_dlg_Start_3_Otto" revealSpeed="medium" />
		<Action type="dialogue" character="Otto" text="QST_HalfPipe_3_dlg_Start_4_Otto" revealSpeed="medium" emotion="sad" />
	</HalfPipe_Start>
	<HalfPipe_End>
		<Action type="dialogue" character="Otto" text="QST_HalfPipe_3_dlg_End_1_Otto" revealSpeed="medium" />
		<Action type="dialogue" character="Bart" text="QST_HalfPipe_3_dlg_End_2_Bart" revealSpeed="medium" />
		<Action type="dialogue" character="Otto" text="QST_HalfPipe_3_dlg_End_3_Otto" revealSpeed="medium" emotion="sad" />
	</HalfPipe_End>
	<CristoOfSpringfield_Start>
		<Action type="dialogue" character="Lisa" text="QST_CristoOfSpringfield_3_dlg_End_1_Lisa" revealSpeed="medium" emotion="confused" />
		<Action type="dialogue" character="Lovejoy" text="QST_CristoOfSpringfield_3_dlg_End_2_RevLovejoy" revealSpeed="medium" />
		<Action type="dialogue" character="Lovejoy" text="QST_CristoOfSpringfield_3_dlg_End_3_RevLovejoy" revealSpeed="medium" />
		<Action type="dialogue" character="Lovejoy" text="QST_CristoOfSpringfield_3_dlg_End_4_RevLovejoy" revealSpeed="medium" emotion="happy" />
		<Action type="dialogue" character="Homer" text="QST_CristoOfSpringfield_3_dlg_End_5_Homer" revealSpeed="medium" emotion="angry" />
		<Action type="notification" title="BLD_CristoSpringfield_name" button="UI_OK" text="QST_CristoOfSpringfield_3_dlg_End_6_SystemMessage" icon="ChristRedeemer_Menu" />
		<Action type="focusOnMenuItem" itemName="CristoSpringfield" menuCategory="SpringfieldGames" />
	</CristoOfSpringfield_Start>
	<PinStandPlaced_Start>
		<Action type="notification" title="UI_PinCollectorOutfitNotification_Title" button="UI_OK" text="UI_PinCollectorOutfitNotification_Text" icon="Lisa_PinCollector_Menu" />
		<Action type="runScript" script="SpringfieldGames_Scripts:FatovFirstSpawn" />
	</PinStandPlaced_Start>
</ScriptPackage>