<ScriptPackage>
	<ATasteOfLittleItaly_1_Start>
		<Action type="dialogue" character="KentBrockman" text="QST_ATasteOfLittleItaly_1_3_dlg_Start_1_KentBrockman" revealSpeed="medium" />
		<Action type="dialogue" character="KentBrockman" text="QST_ATasteOfLittleItaly_1_3_dlg_Start_2_KentBrockman" revealSpeed="medium" />
		<Action type="dialogue" character="ArniePye" text="QST_ATasteOfLittleItaly_1_3_dlg_Start_3_ArniePye" revealSpeed="medium" />
		<Action type="dialogue" character="ArniePye" text="QST_ATasteOfLittleItaly_1_3_dlg_Start_4_ArniePye" revealSpeed="medium" />
		<Action type="dialogue" character="KentBrockman" text="QST_ATasteOfLittleItaly_1_3_dlg_Start_5_KentBrockman" revealSpeed="medium" />
	</ATasteOfLittleItaly_1_Start>
	<ATasteOfLittleItaly_1_End>
		<Action type="dialogue" character="ArniePye" text="QST_ATasteOfLittleItaly_1_3_dlg_All_Obj_Started_1_ArniePye" revealSpeed="medium" />
		<Action type="dialogue" character="KentBrockman" text="QST_ATasteOfLittleItaly_1_3_dlg_All_Obj_Started_2_KentBrockman" revealSpeed="medium" />
		<Action type="dialogue" character="KentBrockman" text="QST_ATasteOfLittleItaly_1_3_dlg_All_Obj_Started_3_KentBrockman" revealSpeed="medium" />
		<Action type="dialogue" character="KentBrockman" text="QST_ATasteOfLittleItaly_1_3_dlg_All_Obj_Started_4_KentBrockman" revealSpeed="medium" />
		<Action type="message" text="QST_ATasteOfLittleItaly_1_3_dlg_All_Obj_Started_5_SystemMessage" revealSpeed="medium" />
	</ATasteOfLittleItaly_1_End>
</ScriptPackage>