<ScriptPackage>
	<EnterCategory_MTX>
		<Action type="focusOnMenuItem" menuCategory="Currency" />
	</EnterCategory_MTX>
	<PinMenu_HelpButton>
		<Action type="genericMessage">
			<Attribute name="config">
				<AttributeSet name="message">
					<Attribute name="text" value="UI_SpringfieldGames_PinCollection_HelpText" localise="true" />
					<Attribute name="font" value="eFont_Normal" />
					<Attribute name="color" value="FFFFFFFF" />
				</AttributeSet>
				<AttributeSet name="left">
					<Attribute name="image" value="ICO_CUR_SpringfieldGames_BottleCap_LG" />
				</AttributeSet>
				<AttributeSet name="button_OK">
					<Attribute name="button_text">
						<AttributeSet name="text">
							<Attribute name="text" value="UI_OK" localise="true" />
						</AttributeSet>
					</Attribute>
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:ShowPinCollectionMenu" />
				</AttributeSet>
			</Attribute>
		</Action>
	</PinMenu_HelpButton>
	<ShowPinCollectionMenu>
		<Action type="updateVariable" variable="PinsHighlighted" value="0" />
		<Action type="updateVariable" variable="TotalPinRushCost" value="__SpringfieldGames_GameConfig:PinCost:{PinNumber}PinCollected__" formatMe="root">
			<FormatToken key="PinNumber" value="_[PinsCollected]_" />
		</Action>
		<Action type="showMenu" menu="PinCollectionMenu" scriptResProvider="PinCollectionMenu.mns" menuConfig="SpringfieldGames_MenuConfig:PinCollectionMenuConfig" buttonsConfig="SpringfieldGames_MenuConfig:PinCollectionButtonConfig" />
	</ShowPinCollectionMenu>
	<UpdatePinCollectionMenu>
		<Action type="updateVariable" variable="TotalPinRushCost" value="__SpringfieldGames_GameConfig:PinCost:{PinNumber}PinCollected__" formatMe="root">
			<FormatToken key="PinNumber" value="_[PinsCollected]_" />
		</Action>
		<Action type="updateMenuItem" menu="eMenu_ShowMenuActionMenu" parseOnDemand="true">
			<Attribute name="config">
				<AttributeSet name="DonutAmountNumber">
					<Attribute name="text" formula="System::evaluate('Spendable::donuts')" />
				</AttributeSet>
				<AttributeSet name="CurrencyAmountNumber">
					<Attribute name="text" formula="System::evaluate('Spendable::SpringfieldGames_BottleCaps')" />
				</AttributeSet>
				<AttributeSet name="Pin1GraphicBase">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin1Graphic">
						<Requirement type="formula" formula="Pin1Collected" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin1_SelectedLockedGraphic">
						<Requirement type="formula" formula="PinsHighlighted == 1" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin1_LockedGraphic">
						<Requirements>
							<Requirement type="formula" formula="Pin1Collected" not="true" />
							<Requirement type="formula" formula="PinsHighlighted == 1" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin1GraphicHL">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin1_LockedGraphic">
						<Requirement type="formula" formula="Pin1Collected" not="true" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin1Graphic">
						<Requirement type="formula" formula="Pin1Collected" />
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin2GraphicBase">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin2Graphic">
						<Requirement type="formula" formula="Pin2Collected" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin2_SelectedLockedGraphic">
						<Requirement type="formula" formula="PinsHighlighted == 2" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin2_LockedGraphic">
						<Requirements>
							<Requirement type="formula" formula="Pin2Collected" not="true" />
							<Requirement type="formula" formula="PinsHighlighted == 2" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin2GraphicHL">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin2_LockedGraphic">
						<Requirement type="formula" formula="Pin1Collected" not="true" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin2Graphic">
						<Requirement type="formula" formula="Pin2Collected" />
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin3GraphicBase">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin3Graphic">
						<Requirement type="formula" formula="Pin3Collected" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin3_SelectedLockedGraphic">
						<Requirement type="formula" formula="PinsHighlighted == 3" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin3_LockedGraphic">
						<Requirements>
							<Requirement type="formula" formula="Pin3Collected" not="true" />
							<Requirement type="formula" formula="PinsHighlighted == 3" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin3GraphicHL">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin3_LockedGraphic">
						<Requirement type="formula" formula="Pin3Collected" not="true" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin3Graphic">
						<Requirement type="formula" formula="Pin3Collected" />
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin4GraphicBase">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin4Graphic">
						<Requirement type="formula" formula="Pin4Collected" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin4_SelectedLockedGraphic">
						<Requirement type="formula" formula="PinsHighlighted == 4" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin4_LockedGraphic">
						<Requirements>
							<Requirement type="formula" formula="Pin4Collected" not="true" />
							<Requirement type="formula" formula="PinsHighlighted == 4" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin4GraphicHL">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin4_LockedGraphic">
						<Requirement type="formula" formula="Pin4Collected" not="true" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin4Graphic">
						<Requirement type="formula" formula="Pin4Collected" />
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin5GraphicBase">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin5Graphic">
						<Requirement type="formula" formula="Pin5Collected" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin5_SelectedLockedGraphic">
						<Requirement type="formula" formula="PinsHighlighted == 5" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin5_LockedGraphic">
						<Requirements>
							<Requirement type="formula" formula="Pin5Collected" not="true" />
							<Requirement type="formula" formula="PinsHighlighted == 5" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin5GraphicHL">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin5_LockedGraphic">
						<Requirement type="formula" formula="Pin5Collected" not="true" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin5Graphic">
						<Requirement type="formula" formula="Pin5Collected" />
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin6GraphicBase">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin6Graphic">
						<Requirement type="formula" formula="Pin6Collected" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin6_SelectedLockedGraphic">
						<Requirement type="formula" formula="PinsHighlighted == 6" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin6_LockedGraphic">
						<Requirements>
							<Requirement type="formula" formula="Pin6Collected" not="true" />
							<Requirement type="formula" formula="PinsHighlighted == 6" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="Pin6GraphicHL">
					<Attribute name="image" value="ICO_SpringfieldGames_Pin6_LockedGraphic">
						<Requirement type="formula" formula="Pin6Collected" not="true" />
					</Attribute>
					<Attribute name="image" value="ICO_SpringfieldGames_Pin6Graphic">
						<Requirement type="formula" formula="Pin6Collected" />
					</Attribute>
				</AttributeSet>
				<AttributeSet name="PinButton1">
					<Attribute name="closeOnPress" value="false" />
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin1Tapped">
						<Requirements>
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
							<Requirement type="formula" formula="Pin1Collected" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="PinButton2">
					<Attribute name="closeOnPress" value="false" />
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin2Tapped">
						<Requirements>
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
							<Requirement type="formula" formula="Pin2Collected" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="PinButton3">
					<Attribute name="closeOnPress" value="false" />
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin3Tapped">
						<Requirements>
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
							<Requirement type="formula" formula="Pin3Collected" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="PinButton4">
					<Attribute name="closeOnPress" value="false" />
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin4Tapped">
						<Requirements>
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
							<Requirement type="formula" formula="Pin4Collected" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="PinButton5">
					<Attribute name="closeOnPress" value="false" />
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin5Tapped">
						<Requirements>
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
							<Requirement type="formula" formula="Pin5Collected" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="PinButton6">
					<Attribute name="closeOnPress" value="false" />
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:Pin6Tapped">
						<Requirements>
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
							<Requirement type="formula" formula="Pin6Collected" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="HelpButton">
					<Requirement type="formula" formula="PinsCollected == 6" />
					<Attribute name="visible" value="false" />
					<Attribute name="active" value="false" />
				</AttributeSet>
				<AttributeSet name="CraftingBarText">
					<Attribute name="text" value="" />
					<Attribute name="text" value="UI_SpringfieldGames_PinCollection_CraftText1" localise="true">
						<Requirements>
							<Requirement type="formula" formula="PinsHighlighted == 0" />
							<Requirement type="formula" formula="PinsCollected==6" not="true" />
						</Requirements>
					</Attribute>
					<Attribute name="visible" value="false" />
					<Attribute name="visible" value="true">
						<Requirement type="conditional" logic="AND">
							<Requirement type="formula" formula="PinsCollected!=6" />
							<Requirement type="formula" formula="PinsHighlighted==0" />
						</Requirement>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="CraftItNowText">
					<Attribute name="visible" value="false">
						<Requirement type="conditional" logic="OR">
							<Requirement type="formula" formula="PinsCollected==6" />
							<Requirement type="formula" formula="PinsHighlighted==0" />
						</Requirement>
					</Attribute>
					<Attribute name="visible" value="true">
						<Requirements>
							<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						</Requirements>
					</Attribute>
					<Attribute name="text" value="" />
					<Attribute name="text" value="UI_SpringfieldGames_PinCollection_CraftText2" localise="true">
						<Requirements>
							<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
							<Requirement type="formula" formula="PinsCollected==6" not="true" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="ItemCraftButtonGroup">
					<Attribute name="visible" value="false">
						<Requirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="formula" formula="PinsCollected==6" />
								<Requirement type="formula" formula="PinsHighlighted==0" />
							</Requirement>
						</Requirements>
					</Attribute>
					<Attribute name="active" value="false">
						<Requirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="formula" formula="PinsCollected==6" />
								<Requirement type="formula" formula="PinsHighlighted==0" />
							</Requirement>
						</Requirements>
					</Attribute>
					<Attribute name="visible" value="true">
						<Requirements>
							<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						</Requirements>
					</Attribute>
					<Attribute name="active" value="true">
						<Requirements>
							<Requirement type="formula" formula="greaterThan(PinsHighlighted, 0)" />
							<Requirement type="formula" formula="lessThanEQ(PinsCollected, 5)" />
						</Requirements>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="CraftArrowL">
					<Attribute name="color" value="0x13711EFF" />
				</AttributeSet>
				<AttributeSet name="CraftArrowRRect">
					<Attribute name="color" value="0x13711EFF" />
				</AttributeSet>
				<AttributeSet name="CraftDonutAmountText">
					<Attribute name="text" formula="PinCraftCost_BottleCaps" />
				</AttributeSet>
				<AttributeSet name="CraftArrowLHighlight"></AttributeSet>
				<AttributeSet name="CraftArrowRRectHighlight"></AttributeSet>
				<AttributeSet name="CancelCraftTextHighlight">
					<Attribute name="text" formula="PinCraftCost_BottleCaps" />
					<Attribute name="color" value="0x000000FF" />
				</AttributeSet>
				<AttributeSet name="AllPinsCollectedText">
					<Attribute name="text" value="UI_SpringfieldGames_PinCollection_InfoText2" localise="true">
						<Requirement type="formula" formula="PinsCollected == 6" />
					</Attribute>
				</AttributeSet>
				<AttributeSet name="GetItNowText">
					<Requirement type="formula" formula="PinsCollected==6" />
					<Attribute name="visible" value="false" />
					<Attribute name="active" value="false" />
				</AttributeSet>
				<AttributeSet name="RushDonutAmountText">
					<Attribute name="text" formula="TotalPinRushCost" />
				</AttributeSet>
				<AttributeSet name="RushDonutAmountTextHighlight">
					<Attribute name="text" formula="TotalPinRushCost" />
				</AttributeSet>
				<AttributeSet name="CurrencyBarGroup">
					<Requirement type="formula" formula="PinsCollected==6" />
					<Attribute name="visible" value="false" />
					<Attribute name="active" value="false" />
				</AttributeSet>
				<AttributeSet name="ItemRushButtonGroup">
					<Requirement type="formula" formula="PinsCollected==6" />
					<Attribute name="visible" value="false" />
					<Attribute name="active" value="false" />
				</AttributeSet>
				<AttributeSet name="ShortMenuBaseBottomGroup">
					<Requirement type="formula" formula="PinsCollected==6" />
					<Attribute name="visible" value="true" />
					<Attribute name="active" value="true" />
				</AttributeSet>
				<AttributeSet name="LongMenuBaseBottomGroup">
					<Requirement type="formula" formula="PinsCollected==6" />
					<Attribute name="visible" value="false" />
					<Attribute name="active" value="false" />
				</AttributeSet>
			</Attribute>
		</Action>
	</UpdatePinCollectionMenu>
	<Pin1Tapped parallel="true" runQueueState="RunInAnyState">
		<Action type="sound" sound="UIButton" ignoreObject="true" />
		<Action type="if">
			<If expression="PinsHighlighted == 1">
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="0" />
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="1" />
				</Then>
			</Else>
		</Action>
		<Action type="updateVariable" variable="PinCraftCost_BottleCaps" value="__SpringfieldGames_GameConfig:PinCraftingCost:Pin1__" />
		<Action type="updateVariable" variable="CraftTopUpCost_Donuts" value="((PinCraftCost_BottleCaps - System::evaluate('Spendable::SpringfieldGames_BottleCaps')) * DonutPerBottleCap)" />
		<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:UpdatePinCollectionMenu" />
	</Pin1Tapped>
	<Pin2Tapped parallel="true" runQueueState="RunInAnyState">
		<Action type="sound" sound="UIButton" ignoreObject="true" />
		<Action type="if">
			<If expression="PinsHighlighted == 2">
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="0" />
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="2" />
				</Then>
			</Else>
		</Action>
		<Action type="updateVariable" variable="PinCraftCost_BottleCaps" value="__SpringfieldGames_GameConfig:PinCraftingCost:Pin2__" />
		<Action type="updateVariable" variable="CraftTopUpCost_Donuts" value="((PinCraftCost_BottleCaps - System::evaluate('Spendable::SpringfieldGames_BottleCaps')) * DonutPerBottleCap)" />
		<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:UpdatePinCollectionMenu" />
	</Pin2Tapped>
	<Pin3Tapped parallel="true" runQueueState="RunInAnyState">
		<Action type="sound" sound="UIButton" ignoreObject="true" />
		<Action type="if">
			<If expression="PinsHighlighted == 3">
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="0" />
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="3" />
				</Then>
			</Else>
		</Action>
		<Action type="updateVariable" variable="PinCraftCost_BottleCaps" value="__SpringfieldGames_GameConfig:PinCraftingCost:Pin3__" />
		<Action type="updateVariable" variable="CraftTopUpCost_Donuts" value="((PinCraftCost_BottleCaps - System::evaluate('Spendable::SpringfieldGames_BottleCaps')) * DonutPerBottleCap)" />
		<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:UpdatePinCollectionMenu" />
	</Pin3Tapped>
	<Pin4Tapped parallel="true" runQueueState="RunInAnyState">
		<Action type="sound" sound="UIButton" ignoreObject="true" />
		<Action type="if">
			<If expression="PinsHighlighted == 4">
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="0" />
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="4" />
				</Then>
			</Else>
		</Action>
		<Action type="updateVariable" variable="PinCraftCost_BottleCaps" value="__SpringfieldGames_GameConfig:PinCraftingCost:Pin4__" />
		<Action type="updateVariable" variable="CraftTopUpCost_Donuts" value="((PinCraftCost_BottleCaps - System::evaluate('Spendable::SpringfieldGames_BottleCaps')) * DonutPerBottleCap)" />
		<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:UpdatePinCollectionMenu" />
	</Pin4Tapped>
	<Pin5Tapped parallel="true" runQueueState="RunInAnyState">
		<Action type="sound" sound="UIButton" ignoreObject="true" />
		<Action type="if">
			<If expression="PinsHighlighted == 5">
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="0" />
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="5" />
				</Then>
			</Else>
		</Action>
		<Action type="updateVariable" variable="PinCraftCost_BottleCaps" value="__SpringfieldGames_GameConfig:PinCraftingCost:Pin5__" />
		<Action type="updateVariable" variable="CraftTopUpCost_Donuts" value="((PinCraftCost_BottleCaps - System::evaluate('Spendable::SpringfieldGames_BottleCaps')) * DonutPerBottleCap)" />
		<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:UpdatePinCollectionMenu" />
	</Pin5Tapped>
	<Pin6Tapped parallel="true" runQueueState="RunInAnyState">
		<Action type="sound" sound="UIButton" ignoreObject="true" />
		<Action type="if">
			<If expression="PinsHighlighted == 6">
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="0" />
				</Then>
			</If>
			<Else>
				<Then>
					<Action type="updateVariable" variable="PinsHighlighted" value="6" />
				</Then>
			</Else>
		</Action>
		<Action type="updateVariable" variable="PinCraftCost_BottleCaps" value="__SpringfieldGames_GameConfig:PinCraftingCost:Pin6__" />
		<Action type="updateVariable" variable="CraftTopUpCost_Donuts" value="((PinCraftCost_BottleCaps - System::evaluate('Spendable::SpringfieldGames_BottleCaps')) * DonutPerBottleCap)" />
		<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:UpdatePinCollectionMenu" />
	</Pin6Tapped>
	<EventLevelDismiss>
		<Action type="sound" sound="UIButton" ignoreObject="true" />
		<Action type="returnToInGameState" />
	</EventLevelDismiss>
	<RemovedDeletedFatovs parallel="true" runQueueState="RunInAnyState">
		<Action type="checkExpression" expression="Object::Delete">
			<ExpressionCase value="1">
				<Action type="deletecharacter" />
			</ExpressionCase>
		</Action>
	</RemovedDeletedFatovs>
	<PinAwarding>
		<Action type="logevent" formatMe="true" param1Type="Enumeration" param1="{Source}" param2Type="Enumeration" param2="PinName{PinNumber}" param3Type="Score" param3="_[TimeDiff]_" eventId="3670" />
		<Action type="if" formatMe="deep">
			<If>
				<Requirement type="variable" variable="Pin{PinNumber}Collected" />
				<Then preload="false">
					<Action type="if" formatMe="deep">
						<If expression="{Tappable}==1">
							<Then>
								<Action type="updateVariable" variable="SG_TappablesRibbons" value="SG_TappablesRibbons + ConfigValue('__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__')" />
								<Action type="updateVariable" variable="SG_TotalRibbons" value="SG_TotalRibbons + ConfigValue('__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__')" />
								<Action type="reward" SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:Tappables__" suppress_sound="true" save="true" />
								<Action type="reward" SpringfieldGames_BottleCaps="__SpringfieldGames_GameConfig:CurrencyRewards:BottleCapReward__" suppress_sound="true" save="true" />
								<Action type="notification" title="UI_SpringfieldGames_PinCollected_Title" button="UI_OK" text="UI_SpringfieldGames_PinCollected_Old" icon="ICO_SpringfieldGames_Pin{PinNumber}Graphic" />
							</Then>
						</If>
						<Else>
							<Then>
								<Action type="updateVariable" variable="SG_JobRibbons" value="SG_JobRibbons + ConfigValue('__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__')" />
								<Action type="updateVariable" variable="SG_TotalRibbons" value="SG_TotalRibbons + ConfigValue('__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__')" />
								<Action type="reward" SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:Tappables__" suppress_sound="true" save="true" />
								<Action type="reward" SpringfieldGames_BottleCaps="__SpringfieldGames_GameConfig:CurrencyRewards:BottleCapReward__" suppress_sound="true" save="true" />
								<Action type="notification" title="UI_SpringfieldGames_PinCollected_Title" button="UI_OK" text="UI_SpringfieldGames_PinCollected_Old" icon="ICO_SpringfieldGames_Pin{PinNumber}Graphic" />
							</Then>
						</Else>
					</Action>
				</Then>
			</If>
			<Else>
				<Then preload="false">
					<Action type="setVariable" boolVariable="Pin{PinNumber}Collected" boolValue="true" />
					<Action type="setVariable" intVariable="PinsCollected" intValue="PinsCollected+1" />
					<Action type="if" formatMe="deep">
						<If expression="{Tappable}==1">
							<Then>
								<Action type="updateVariable" variable="SG_TappablesRibbons" value="SG_TappablesRibbons + ConfigValue('__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__')" />
								<Action type="updateVariable" variable="SG_TotalRibbons" value="SG_TotalRibbons + ConfigValue('__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__')" />
								<Action type="reward" SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:Tappables__" suppress_sound="true" save="true" />
							</Then>
						</If>
					</Action>
					<Action type="setVariable" boolVariable="Temp_NewPinReceived" boolValue="true" addTempIfNotExisting="true" />
					<Action type="notification" title="UI_SpringfieldGames_PinCollected_Title" button="UI_OK" text="UI_SpringfieldGames_PinCollected_New" icon="ICO_SpringfieldGames_Pin{PinNumber}Graphic" />
				</Then>
			</Else>
		</Action>
	</PinAwarding>
	<PinCollectorLisa_PlaySaxForPins>
		<Action type="setVariable" intVariable="PlaySaxForPins_Complete" intValue="1" />
		<Action type="checkRequirements" ignoreObject="false">
			<Requirements>
				<Requirement type="quest" quest="RewardFatov" />
			</Requirements>
			<True>
				<Action type="notification" title="UI_SpringfieldGames_PinCollected_Title" button="UI_OK" text="UI_SpringfieldGames_PinCollected_CollectionFinished" icon="ICO_CUR_SpringfieldGames_Ribbon_LG" />
			</True>
			<False>
				<Action type="setVariable" intVariable="TimeDiff" intValue="0" />
				<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:PinAwarding">
					<FormatToken key="PinNumber" value="_[rand(6)+1]_" />
					<FormatToken key="Source" value="Lisa" />
					<FormatToken key="Tappable" value="0" />
				</Action>
				<Action type="checkRequirements" ignoreObject="false">
					<Requirements>
						<Requirement type="quest" quest="RewardFatov" not="true" />
						<Requirement type="formula" formula="Temp_NewPinReceived==1" />
					</Requirements>
					<True>
						<Action type="setVariable" boolVariable="Temp_NewPinReceived" boolValue="false" addTempIfNotExisting="true" />
						<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:ShowPinCollectionMenu" />
					</True>
				</Action>
			</False>
		</Action>
	</PinCollectorLisa_PlaySaxForPins>
	<SpringfieldGames_FatovTappable_Tapped>
		<Action type="sound" sound="FatovSpawn" />
		<Action type="checkRequirements" ignoreObject="false">
			<Requirements>
				<Requirement type="formula" formula="Object::Delete==0" />
			</Requirements>
			<True>
				<Action type="setObjectFlag" flags="delete" />
				<Action type="setObjectVariable" variable="Delete" value="1" allowOrphan="false" />
				<Action type="playCharacterAnimation" animation="Tap" />
				<Action type="fade" fade="outmax" />
				<Action type="updateVariable" disableEvents="true" variable="TimeDiff" value="serverTime(0)-Fatov_SpawnTime" />
				<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:PinAwarding">
					<FormatToken key="PinNumber" value="_[rand(6)+1]_" />
					<FormatToken key="Source" value="Fatov" />
					<FormatToken key="Tappable" value="1" />
				</Action>
				<Action type="checkRequirements" ignoreObject="false">
					<Requirements>
						<Requirement type="quest" quest="RewardFatov" not="true" />
						<Requirement type="formula" formula="Temp_NewPinReceived==1" />
					</Requirements>
					<True>
						<Action type="setVariable" boolVariable="Temp_NewPinReceived" boolValue="false" addTempIfNotExisting="true" />
						<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:ShowPinCollectionMenu" ignoreObject="true" />
					</True>
				</Action>
				<Action type="setVariable" intVariable="Fatov_Collected" intValue="1" />
				<Action type="setVariable" boolVariable="Fatov_Active" boolValue="false" />
				<Action type="deletecharacter" character="SpringfieldGames_FatovTappable" />
			</True>
		</Action>
	</SpringfieldGames_FatovTappable_Tapped>
	<SpringfieldGames_FatovTappable_Spawned parallel="true" otherScriptsCanRunOnObject="true">
		<Action type="sound" sound="FatovSpawn" />
		<Action type="playCharacterAnimation" animation="Tap" />
		<Action type="setVariable" boolVariable="Fatov_Active" boolValue="true" />
		<Action type="setVariable" intVariable="Fatov_SpawnTime" intValue="serverTime(0)" />
		<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:FatovHasSpawned" />
	</SpringfieldGames_FatovTappable_Spawned>
	<FatovHasSpawned>
		<Action type="notification" title="UI_SpringfieldGames_PinCollectionPrompt_Title" button="UI_OK" text="UI_SpringfieldGames_PinCollectionPrompt_Info" icon="Fatov_Menu" />
		<Action type="checkRequirements" ignoreObject="false">
			<Requirements>
				<Requirement type="variable" variable="Fatov_FirstSpawn" />
			</Requirements>
			<True>
				<Action type="updateVariable" variable="Fatov_FirstSpawn" value="false" />
				<Action type="notification" title="CHA_Fatov_name" button="UI_OK" text="QST_SpringfieldGames_3_3_dlg_End_3_SystemMessage" icon="Fatov_Menu" />
			</True>
		</Action>
	</FatovHasSpawned>
	<RemoveFatov parallel="true" runQueueState="RunInAnyState">
		<Action type="setVariable" boolVariable="Fatov_Active" boolValue="false" />
		<Action type="deletecharacter" />
	</RemoveFatov>
	<AwardFatov>
		<Action type="deletecharacter" character="SpringfieldGames_FatovTappable" />
		<Action type="setVariable" boolVariable="Fatov_Active" boolValue="false" />
		<Action type="setVariable" intVariable="PlaySaxForPins_Complete" intValue="1" />
		<Action type="setVariable" intVariable="Fatov_Collected" intValue="1" />
		<Action type="createobject" name="Fatov" count="1" save="true" showUnlock="true" panCamera="true" />
	</AwardFatov>
	<PinCraft parallel="true" runQueueState="RunInAnyState">
		<Action type="spendResources">
			<Cost SpringfieldGames_BottleCaps="PinCraftCost_BottleCaps" />
			<Success name="SpringfieldGames_PinCollectionScripts:PinCraftSuccessful" />
			<Failure name="SpringfieldGames_PinCollectionScripts:PinCraftFailed" />
		</Action>
	</PinCraft>
	<PinCraftSuccessful>
		<Action type="setVariable" formatMe="root" boolVariable="Pin{PinUnlock}Collected" boolValue="true">
			<FormatToken key="PinUnlock" value="_[PinsHighlighted]_" />
		</Action>
		<Action type="updateVariable" variable="PinsCollected" value="PinsCollected+1" />
		<Action type="updateVariable" variable="PinsHighlighted" value="0" />
		<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:PinCraftSuccessful_RefreshMenu" />
	</PinCraftSuccessful>
	<PinCraftSuccessful_RefreshMenu parallel="true" runQueueState="RunInAnyState">
		<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:UpdatePinCollectionMenu" />
	</PinCraftSuccessful_RefreshMenu>
	<PinCraftTopUpSuccessful>
		<Action type="setVariable" formatMe="root" boolVariable="Pin{PinUnlock}Collected" boolValue="true">
			<FormatToken key="PinUnlock" value="_[PinsHighlighted]_" />
		</Action>
		<Action type="updateVariable" variable="PinsCollected" value="PinsCollected+1" />
		<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:ShowPinCollectionMenu" />
	</PinCraftTopUpSuccessful>
	<PinCraftFailed>
		<Action type="showMenu" clearShownMenu="true" />
		<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:PinCraftFailed_Prompt" />
	</PinCraftFailed>
	<PinCraftFailed_Prompt>
		<Action type="genericConfirmation">
			<Attribute name="config">
				<AttributeSet name="onOK">
					<Attribute name="variable" value="craftpin_spendDonuts" />
					<Attribute name="variableValue" value="1" />
				</AttributeSet>
				<AttributeSet name="onCancel">
					<Attribute name="variable" value="craftpin_spendDonuts" />
					<Attribute name="variableValue" value="0" />
				</AttributeSet>
				<AttributeSet name="onExit">
					<Attribute name="variable" value="craftpin_spendDonuts" />
					<Attribute name="variableValue" value="0" />
				</AttributeSet>
				<AttributeSet name="onBackButton">
					<Attribute name="mapTo" value="onExit" />
				</AttributeSet>
				<AttributeSet name="title">
					<Attribute name="text" value="UI_SpringfieldGames_PinCollection_InsufficientBottleCaps_Title" localise="true" />
					<Attribute name="font" value="eFont_LargeBold" />
					<Attribute name="color" value="FFFFFFFF" />
				</AttributeSet>
				<AttributeSet name="message">
					<Attribute name="text" value="UI_SpringfieldGames_PinCollection_InsufficientBottleCaps_Info" localise="true" />\
                    <Attribute name="font" value="eFont_Small" /><Attribute name="color" value="FFFFFFFF" /></AttributeSet>
				<AttributeSet name="button_Cancel">
					<Attribute name="button_text">
						<AttributeSet name="text">
							<Attribute name="text" value="GEN_Cancel" localise="true" />
							<Attribute name="font" value="eFont_NormalBold" />
						</AttributeSet>
					</Attribute>
					<Attribute name="button_back">
						<AttributeSet name="button">
							<Attribute name="color" value="A61F0CFF" />
						</AttributeSet>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="button_OK">
					<Attribute name="button_text">
						<AttributeSet name="text">
							<Attribute name="text" value="_[CraftTopUpCost_Donuts]_" />
							<Attribute name="font" value="eFont_NormalBold" />
						</AttributeSet>
					</Attribute>
					<Attribute name="button_back">
						<AttributeSet name="button">
							<Attribute name="color" value="D03484FF" />
						</AttributeSet>
					</Attribute>
					<Attribute name="button_icon">
						<AttributeSet name="button_icon_left_Branch">
							<Attribute name="active" value="true" />
						</AttributeSet>
						<AttributeSet name="button_icon_left">
							<Attribute name="image" value="ICO_GENR_DONUT_MD:*" />
						</AttributeSet>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="exitButton">
					<Attribute name="active" value="true" />
				</AttributeSet>
				<AttributeSet name="showTwoButtons">
					<Attribute name="active" value="true" />
				</AttributeSet>
			</Attribute>
		</Action>
		<Action type="checkExpression" expression="craftpin_spendDonuts">
			<ExpressionCase value="1">
				<Action type="spendResources">
					<Cost donuts="CraftTopUpCost_Donuts" SpringfieldGames_BottleCaps="System::evaluate('Spendable::SpringfieldGames_BottleCaps')" />
					<Success name="SpringfieldGames_PinCollectionScripts:PinCraftTopUpSuccessful" />
					<Failure name="SpringfieldGames_PinCollectionScripts:TopUpFailed" />
				</Action>
			</ExpressionCase>
		</Action>
	</PinCraftFailed_Prompt>
	<TopUpFailed>
		<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:PinCraft_TopUpFailed_Prompt" />
	</TopUpFailed>
	<PinCraft_TopUpFailed_Prompt>
		<Action type="userConfirmation" title="UI_SpringfieldGames_PinCollection_InsufficientBottleCaps_Title" text="RES_InsufficientPremium" text_yes="GEN_GetMore" text_no="GEN_Cancel" var="confirm_openmtx" leftButtonColor="0xD03484FF" rightButtonColor="0xA61F0CFF" useBackButtonAsCancel="true" />
		<Action type="checkExpression" expression="confirm_openmtx">
			<ExpressionCase value="1">
				<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:EnterCategory_MTX" />
			</ExpressionCase>
		</Action>
	</PinCraft_TopUpFailed_Prompt>
	<DonutConfirmation>
		<Action type="genericConfirmation">
			<Attribute name="config">
				<AttributeSet name="onOK">
					<Attribute name="passObjects" value="true" />
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:PinBuyOut" />
				</AttributeSet>
				<AttributeSet name="onCancel">
					<Attribute name="script" value="SpringfieldGames_PinCollectionScripts:ShowPinCollectionMenu" />
				</AttributeSet>
				<AttributeSet name="onBackButton">
					<Attribute name="mapTo" value="onCancel" />
				</AttributeSet>
				<AttributeSet name="title">
					<Attribute name="text" value="UI_OptionsSpendWarning" localise="true" />
					<Attribute name="color" value="FFD51AFF" />
				</AttributeSet>
				<AttributeSet name="message">
					<Attribute name="text" value="UI_ConfirmDonutSpend" localise="true" parameters="textParams">
						<AttributeSet name="textParams">
							<Attribute name="0" value="_[TotalPinRushCost]_" />
						</AttributeSet>
					</Attribute>
					<Attribute name="font" value="eFont_Normal" />
					<Attribute name="color" value="FFFFFFFF" />
				</AttributeSet>
				<AttributeSet name="button_Cancel">
					<Attribute name="button_text">
						<AttributeSet name="text">
							<Attribute name="text" value="GEN_Cancel" localise="true" />
						</AttributeSet>
					</Attribute>
					<Attribute name="button_back">
						<AttributeSet name="button">
							<Attribute name="color" value="BB0310FF" />
						</AttributeSet>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="button_OK">
					<Attribute name="button_text">
						<AttributeSet name="text">
							<Attribute name="text" value="GEN_Purchase" localise="true" />
						</AttributeSet>
					</Attribute>
					<Attribute name="button_back">
						<AttributeSet name="button">
							<Attribute name="color" value="0xD03484FF" />
						</AttributeSet>
					</Attribute>
				</AttributeSet>
				<AttributeSet name="exitButton">
					<Attribute name="active" value="false" />
				</AttributeSet>
				<AttributeSet name="showTwoButtons">
					<Attribute name="active" value="true" />
				</AttributeSet>
			</Attribute>
		</Action>
	</DonutConfirmation>
	<PinBuyOut>
		<Action type="spendResources">
			<Cost donuts="TotalPinRushCost" />
			<Success name="SpringfieldGames_PinCollectionScripts:PinBuyOutSuccessful" />
			<Failure name="SpringfieldGames_PinCollectionScripts:PinBuyOutFailed" />
		</Action>
	</PinBuyOut>
	<PinBuyOutSuccessful>
		<Action type="setVariable" intVariable="PinsCollected" intValue="6" />
		<Action type="setVariable" boolVariable="Pin1Collected" boolValue="true" />
		<Action type="setVariable" boolVariable="Pin2Collected" boolValue="true" />
		<Action type="setVariable" boolVariable="Pin3Collected" boolValue="true" />
		<Action type="setVariable" boolVariable="Pin4Collected" boolValue="true" />
		<Action type="setVariable" boolVariable="Pin5Collected" boolValue="true" />
		<Action type="setVariable" boolVariable="Pin6Collected" boolValue="true" />
		<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:ShowPinCollectionMenu" />
	</PinBuyOutSuccessful>
	<PinBuyOutFailed>
		<Action type="runScript" script="SpringfieldGames_PinCollectionScripts:PinBuyOutFailed_Prompt" />
	</PinBuyOutFailed>
	<PinBuyOutFailed_Prompt>
		<Action type="userConfirmation" title="UI_SpringfieldGames_PinCollection_InfoText1" text="RES_InsufficientPremium" text_yes="GEN_GetMore" text_no="GEN_Cancel" var="confirm_openmtx" leftButtonColor="0xD03484FF" rightButtonColor="0xA61F0CFF" useBackButtonAsCancel="true" />
		<Action type="checkExpression" expression="confirm_openmtx">
			<ExpressionCase value="1">
				<Action type="actionSequence" script="SpringfieldGames_PinCollectionScripts:EnterCategory_MTX" />
			</ExpressionCase>
		</Action>
	</PinBuyOutFailed_Prompt>
</ScriptPackage>