<Attributes>
	<Dates>
		<Attribute name="SpringfieldEnlightened_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_Early" value="2021-06-09 14:01" />
		<Attribute name="SpringfieldEnlightened_Act1Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_Act2Start" value="2021-06-18 15:01" />
		<Attribute name="SpringfieldEnlightened_Act3Start" value="2021-06-27 15:01" />
		<Attribute name="SpringfieldEnlightened_Act4Start" value="2021-07-06 15:01" />
		<Attribute name="SpringfieldEnlightened_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_TowerOfScience_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_TowerOfScience_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_GautamaPalace_Start" value="2021-06-18 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_GautamaPalace_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_AncientMultiplayerGame_Start" value="2021-06-27 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_AncientMultiplayerGame_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_JogyesaTemple_Start" value="2021-07-06 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_JogyesaTemple_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_TheTajMahal_Start" value="2021-06-18 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_TheTajMahal_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_BannedByTheBuddhaMysteryBox_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_BannedByTheBuddhaMysteryBox_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ShintoShrine_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ShintoShrine_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_Pagoda_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_Pagoda_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ShivaStatue_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ShivaStatue_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_Shiva_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_Shiva_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_GautamaBuddha_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_GautamaBuddha_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ThePeakInn_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ThePeakInn_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ScreamapillarPond_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ScreamapillarPond_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_GiantScreamapillar_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_GiantScreamapillar_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_BobsBigBuddha_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_BobsBigBuddha_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_HimejiCastle_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_HimejiCastle_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_Hokora_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_Hokora_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_JapaneseLanternSmall_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_JapaneseLanternSmall_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_JapaneseCherryTree_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_JapaneseCherryTree_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_JapaneseMapleTree_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_JapaneseMapleTree_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_MountFuji_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_MountFuji_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_Torii_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_Torii_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ChineseAcrobaticTheatre_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ChineseAcrobaticTheatre_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ThreeEyedSushi_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ThreeEyedSushi_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ChineseJunk_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ChineseJunk_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_DragonBundle_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_DragonBundle_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_GreatWallBundle_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_GreatWallBundle_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_TheHappySumo_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_TheHappySumo_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_ChineseRestaurant_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_ChineseRestaurant_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_TofuBell_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_TofuBell_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_GoldenCalfIdol_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_GoldenCalfIdol_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_DrBonebreak_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_DrBonebreak_End" value="2021-07-14 15:00" />
		<Attribute name="SpringfieldEnlightened_MERCH_KwikEMartCentralOffice_Start" value="2021-06-09 15:01" />
		<Attribute name="SpringfieldEnlightened_MERCH_KwikEMartCentralOffice_End" value="2021-07-14 15:00" />
	</Dates>
	<ExpirationFormattedText>
		<Attribute name="FormattedExpiration24" value="UI_SpringfieldEnlightened_24HourExpiry_text" localise="true" parameters="textParams">
			<AttributeSet name="textParams">
				<Attribute name="0" formula="floor(days(System::evaluate('Date::SpringfieldEnlightened_End') - serverTime(0)))" />
				<Attribute name="1" formula="mod(floor(hours(System::evaluate('Date::SpringfieldEnlightened_End') - serverTime(0))), 24)" />
				<Attribute name="2" formula="mod(floor(minutes(System::evaluate('Date::SpringfieldEnlightened_End') - serverTime(0))), 60)" />
			</AttributeSet>
		</Attribute>
	</ExpirationFormattedText>
	<PremiumCosts cache="true">
		<Attribute name="TowerOfScience" value="150" />
		<Attribute name="GautamaPalace" value="150" />
		<Attribute name="AncientMultiplayerGame" value="150" />
		<Attribute name="JogyesaTemple" value="150" />
		<Attribute name="TheTajMahal" value="200" />
		<Attribute name="AdvisorFrink" value="150" />
		<Attribute name="KingGautama" value="150" />
		<Attribute name="PrinceGautama" value="150" />
		<Attribute name="TheDalaiLama" value="150" />
		<Attribute name="TheMaster" value="200" />
		<Attribute name="BannedByTheBuddhaMysteryBox" value="1" />
	</PremiumCosts>
	<ResourceQuantities>
		<Attribute name="SpringfieldEnlightened_Questline1_ResourceList1" value="150" />
		<Attribute name="SpringfieldEnlightened_Questline1_ResourceList2" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline1_ResourceList3" value="100" />
		<Attribute name="SpringfieldEnlightened_Questline1_ResourceList4" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline1_ResourceList5" value="200" />
		<Attribute name="SpringfieldEnlightened_Questline2_ResourceList1" value="200" />
		<Attribute name="SpringfieldEnlightened_Questline2_ResourceList2" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline2_ResourceList3" value="140" />
		<Attribute name="SpringfieldEnlightened_Questline2_ResourceList4" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline2_ResourceList5" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline3_ResourceList1" value="100" />
		<Attribute name="SpringfieldEnlightened_Questline3_ResourceList2" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline3_ResourceList3" value="150" />
		<Attribute name="SpringfieldEnlightened_Questline3_ResourceList4" value="100" />
		<Attribute name="SpringfieldEnlightened_Questline3_ResourceList5" value="150" />
		<Attribute name="SpringfieldEnlightened_Questline4_ResourceList1" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline4_ResourceList2" value="125" />
		<Attribute name="SpringfieldEnlightened_Questline4_ResourceList3" value="100" />
		<Attribute name="SpringfieldEnlightened_Questline4_ResourceList4" value="100" />
		<Attribute name="SpringfieldEnlightened_Questline4_ResourceList5" value="200" />
	</ResourceQuantities>
	<CurrencyRewards>
		<Attribute name="RegularJobReward" value="5" />
		<Attribute name="PremiumJobReward" value="8" />
		<Attribute name="PremiumReturningJobReward" value="7" />
		<Attribute name="RegularTaxJobs" value="10" />
		<Attribute name="PremiumTaxJobs" value="20" />
		<Attribute name="4HStandard_XP" value="45" />
		<Attribute name="4HPremium_XP" value="70" />
	</CurrencyRewards>
	<EarnsCurrency>
		<Attribute name="EventCurrency" value="UI_EarnsEventCurrency" localise="true" />
	</EarnsCurrency>
	<EnableMTX>
		<Attribute name="SpringfieldEnlightened_iOSMTXOffersEnabled" value="true" />
		<Attribute name="SpringfieldEnlightened_AndroidMTXOffersEnabled" value="true" />
	</EnableMTX>
	<TheTajMahal_PromoMenuConfig>
		<Attribute name="Objects">
			<AttributeSet name="PromoYellowText">
				<Attribute name="text" value="UI_SpringfieldEnlightened_GilPromoYellowTextBubble" localise="true" />
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="0x000000FF" />
			</AttributeSet>
			<AttributeSet name="PromoGilText">
				<Attribute name="text" value="UI_SpringfieldEnlightened_GilPromoWhiteTextBubble" localise="true" />
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="0x000000FF" />
			</AttributeSet>
			<AttributeSet name="PromoBSv3">
				<Attribute name="bsv2" value="Promo_SpringfieldEnlightened" />
				<Attribute name="animName" value="DynamicPromo" />
			</AttributeSet>
		</Attribute>
	</TheTajMahal_PromoMenuConfig>
	<BannedByTheBuddhaMysteryBox_MysteryBoxGeneralConfig>
		<Include path="Config_PrizeBoxes:Default" />
		<Attribute name="backgroundImage" value="ICO_SpringfieldEnlightened_MysteryBox_Background.rgb" />
		<Attribute name="openSound" value="THOH2017_MysteryBox_Open" />
		<Attribute name="ambientSound" value="AtW_PrizeBoxMusic" />
		<Attribute name="rewardPath" value="SpringfieldEnlightened_GameConfig:BannedByTheBuddhaMysteryBox_MysteryBoxPrizes" />
		<Attribute name="showRewardTime" value="0.2f" />
		<Attribute name="fadeInSpeed" value="0.5f" />
		<Attribute name="fadeOutSpeed" value="4f" />
		<Attribute name="showGetMoreButton" value="false" />
		<Attribute name="insufficientFundsScript" value="MiscScripts:InsufficientTokens" />
		<Attribute name="showCurrencyIcon" value="true" />
		<Attribute name="exitToState" value="GameState_Store" />
	</BannedByTheBuddhaMysteryBox_MysteryBoxGeneralConfig>
	<BannedByTheBuddhaMysteryBox_MysteryBoxPrizes>
		<PrizeBox>
			<Attribute name="boxImage" value="SpringfieldEnlightened_MysteryBox" />
			<Attribute name="consumable" value="SpringfieldEnlightened_BannedByTheBuddhaMysteryBox" />
			<Attribute name="openAnimation" value="ico_mystery_box_active" />
			<Attribute name="closedAnimation" value="ico_mystery_box_inactive" />
			<Attribute name="selectedAnimation" value="ico_mystery_box_inactive" />
			<Attribute name="infoTextIconAtlas" value="_[Currency::getIconSmall('BannedByTheBuddhaMysteryBoxToken')]_" />
			<Attribute name="infoTextAmount" value="__SpringfieldEnlightened_GameConfig:PremiumCosts:BannedByTheBuddhaMysteryBox__" />
			<RewardList>
				<Reward chance="0.017241379">
					<Requirements>
						<Requirement type="building owned" building="MovementarianCompound" not="true" />
					</Requirements>
					<Item type="building" name="MovementarianCompound" />
				</Reward>
				<Reward chance="0.034482759">
					<Requirements>
						<Requirement type="building owned" building="PreppersCompound" not="true" />
					</Requirements>
					<Item type="building" name="PreppersCompound" />
				</Reward>
				<Reward chance="0.051724138">
					<Requirements>
						<Requirement type="building owned" building="SpringfieldHuntingSupplies" not="true" />
					</Requirements>
					<Item type="building" name="SpringfieldHuntingSupplies" />
				</Reward>
				<Reward chance="0.068965517">
					<Requirements>
						<Requirement type="building owned" building="AfricanTreeResort" not="true" />
					</Requirements>
					<Item type="building" name="AfricanTreeResort" />
				</Reward>
				<Reward chance="0.086206897">
					<Requirements>
						<Requirement type="building owned" building="PigglysSuperSmorg" not="true" />
					</Requirements>
					<Item type="building" name="PigglysSuperSmorg" />
				</Reward>
				<Reward chance="0.103448276">
					<Requirements>
						<Requirement type="building owned" building="SlaughterhouseRestaurant" not="true" />
					</Requirements>
					<Item type="building" name="SlaughterhouseRestaurant" />
				</Reward>
				<Reward chance="0.120689655">
					<Requirements>
						<Requirement type="building owned" building="SlaughterhouseExpress" not="true" />
					</Requirements>
					<Item type="building" name="SlaughterhouseExpress" />
				</Reward>
				<Reward chance="0.137931034">
					<Requirements>
						<Requirement type="building owned" building="DeucesCabooseChiliDogs" not="true" />
					</Requirements>
					<Item type="building" name="DeucesCabooseChiliDogs" />
				</Reward>
				<Reward chance="0.155172414">
					<Requirements>
						<Requirement type="building owned" building="SwankyFish" not="true" />
					</Requirements>
					<Item type="building" name="SwankyFish" />
				</Reward>
				<Reward chance="0.172413793">
					<Requirements>
						<Requirement type="building owned" building="TreeSteakhouse" not="true" />
					</Requirements>
					<Item type="building" name="TreeSteakhouse" />
				</Reward>
				<Reward chance="0.189655172">
					<Requirements>
						<Requirement type="building owned" building="LeKrustyBurger" not="true" />
					</Requirements>
					<Item type="building" name="LeKrustyBurger" />
				</Reward>
				<Reward chance="0.206896552">
					<Requirements>
						<Requirement type="building owned" building="DeadLobster" not="true" />
					</Requirements>
					<Item type="building" name="DeadLobster" />
				</Reward>
				<Reward chance="0.224137931">
					<Requirements>
						<Requirement type="building owned" building="DerKrazyKraut" not="true" />
					</Requirements>
					<Item type="building" name="DerKrazyKraut" />
				</Reward>
				<Reward chance="0.24137931">
					<Requirements>
						<Requirement type="building owned" building="TheHungryHun" not="true" />
					</Requirements>
					<Item type="building" name="TheHungryHun" />
				</Reward>
				<Reward chance="0.25862069">
					<Requirements>
						<Requirement type="building owned" building="StonecutterTable" not="true" />
					</Requirements>
					<Item type="building" name="StonecutterTable" />
				</Reward>
				<Reward chance="0.275862069">
					<Requirements>
						<Requirement type="building owned" building="ImprovisedSnare" not="true" />
					</Requirements>
					<Item type="building" name="ImprovisedSnare" />
				</Reward>
				<Reward chance="0.293103448">
					<Requirements>
						<Requirement type="building owned" building="MeatPropagandaBillboard" not="true" />
					</Requirements>
					<Item type="building" name="MeatPropagandaBillboard" />
				</Reward>
				<Reward chance="0.310344828">
					<Requirements>
						<Requirement type="building owned" building="TurkeyStuffingMachine" not="true" />
					</Requirements>
					<Item type="building" name="TurkeyStuffingMachine" />
				</Reward>
				<Reward chance="0.327586207">
					<Requirements>
						<Requirement type="building owned" building="SingingSirloin" not="true" />
					</Requirements>
					<Item type="building" name="SingingSirloin" />
				</Reward>
				<Reward chance="0.344827586">
					<Requirements>
						<Requirement type="building owned" building="PirateShip" not="true" />
					</Requirements>
					<Item type="building" name="PirateShip" />
				</Reward>
				<Reward chance="0.362068966">
					<Requirements>
						<Requirement type="characterunlocked" name="Booberella" not="true" />
						<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveCharacterGOB_Available" not="true" />
						<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveOutfitGOB_Available" not="true" />
					</Requirements>
					<Item type="character" name="Booberella" />
				</Reward>
				<Reward chance="0.809210526">
					<Requirements>
						<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveCharacterGOB_Available" />
					</Requirements>
					<Item type="gameObjectBundle" name="CurvaceousCaveCharacterGOB" />
				</Reward>
				<Reward chance="0.809210526">
					<Requirements>
						<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveOutfitGOB_Available" />
					</Requirements>
					<Item type="gameObjectBundle" name="CurvaceousCaveOutfitGOB" />
				</Reward>
				<Reward chance="0.379310345">
					<Requirements>
						<Requirement type="building owned" building="TheLeagueOfExtraHornyGentlemen" not="true" />
					</Requirements>
					<Item type="gameObjectBundle" name="TheLeagueOfExtraHornyGentlemenGOB" />
				</Reward>
				<Reward chance="0.396551724">
					<Requirements>
						<Requirement type="building owned" building="CurvaceousCave" not="true" />
						<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveCharacterGOB_Available" not="true" />
						<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveOutfitGOB_Available" not="true" />
					</Requirements>
					<Item type="building" name="CurvaceousCave" />
				</Reward>
				<Reward chance="0.413793103">
					<Requirements>
						<Requirement type="building owned" building="Barra" not="true" />
					</Requirements>
					<Item type="building" name="Barra" />
				</Reward>
				<Reward chance="0.431034483">
					<Requirements>
						<Requirement type="building owned" building="BeerNBrawl" not="true" />
					</Requirements>
					<Item type="building" name="BeerNBrawl" />
				</Reward>
				<Reward chance="0.448275862">
					<Requirements>
						<Requirement type="building owned" building="TheBoiledPotato" not="true" />
					</Requirements>
					<Item type="building" name="TheBoiledPotato" />
				</Reward>
				<Reward chance="0.465517241">
					<Requirements>
						<Requirement type="building owned" building="CBGB" not="true" />
					</Requirements>
					<Item type="building" name="CBGB" />
				</Reward>
				<Reward chance="0.482758621">
					<Requirements>
						<Requirement type="building owned" building="CoconutBabaloo" not="true" />
					</Requirements>
					<Item type="building" name="CoconutBabaloo" />
				</Reward>
				<Reward chance="0.5">
					<Requirements>
						<Requirement type="building owned" building="DarbyOGuzzlins" not="true" />
					</Requirements>
					<Item type="building" name="DarbyOGuzzlins" />
				</Reward>
				<Reward chance="0.517241379">
					<Requirements>
						<Requirement type="building owned" building="TheFirstClassLounge" not="true" />
					</Requirements>
					<Item type="building" name="TheFirstClassLounge" />
				</Reward>
				<Reward chance="0.534482759">
					<Requirements>
						<Requirement type="building owned" building="MoesBrewingCo" not="true" />
					</Requirements>
					<Item type="building" name="MoesBrewingCo" />
				</Reward>
				<Reward chance="0.551724138">
					<Requirements>
						<Requirement type="building owned" building="MoHoHouse" not="true" />
					</Requirements>
					<Item type="building" name="MoHoHouse" />
				</Reward>
				<Reward chance="0.568965517">
					<Requirements>
						<Requirement type="building owned" building="TheNagAndWeasel" not="true" />
					</Requirements>
					<Item type="building" name="TheNagAndWeasel" />
				</Reward>
				<Reward chance="0.586206897">
					<Requirements>
						<Requirement type="building owned" building="OneNightStans" not="true" />
					</Requirements>
					<Item type="building" name="OneNightStans" />
				</Reward>
				<Reward chance="0.603448276">
					<Requirements>
						<Requirement type="building owned" building="PoppaWheelies" not="true" />
					</Requirements>
					<Item type="building" name="PoppaWheelies" />
				</Reward>
				<Reward chance="0.620689655">
					<Requirements>
						<Requirement type="building owned" building="SheSheLounge" not="true" />
					</Requirements>
					<Item type="building" name="SheSheLounge" />
				</Reward>
				<Reward chance="0.637931034">
					<Requirements>
						<Requirement type="building owned" building="SnubClub" not="true" />
					</Requirements>
					<Item type="building" name="SnubClub" />
				</Reward>
				<Reward chance="0.655172414">
					<Requirements>
						<Requirement type="building owned" building="TheSpottedCat" not="true" />
					</Requirements>
					<Item type="building" name="TheSpottedCat" />
				</Reward>
				<Reward chance="0.672413793">
					<Requirements>
						<Requirement type="building owned" building="DraggleRock" not="true" />
					</Requirements>
					<Item type="building" name="DraggleRock" />
				</Reward>
				<Reward chance="0.689655172">
					<Requirements>
						<Requirement type="building owned" building="DuffGardens" not="true" />
					</Requirements>
					<Item type="building" name="DuffGardens" />
				</Reward>
				<Reward chance="0.706896552">
					<Requirements>
						<Requirement type="building owned" building="DuffBrewery" not="true" />
					</Requirements>
					<Item type="building" name="DuffBrewery" />
				</Reward>
				<Reward chance="0.724137931">
					<Requirements>
						<Requirement type="building owned" building="DuffPartyLiner" not="true" />
					</Requirements>
					<Item type="building" name="DuffPartyLiner" />
				</Reward>
				<Reward chance="0.74137931">
					<Requirements>
						<Requirement type="building owned" building="LittleBlackBox" not="true" />
					</Requirements>
					<Item type="building" name="LittleBlackBox" />
				</Reward>
				<Reward chance="0.75862069">
					<Requirements>
						<Requirement type="building owned" building="CaesarsPowWowCasino" not="true" />
					</Requirements>
					<Item type="building" name="CaesarsPowWowCasino" />
				</Reward>
				<Reward chance="0.775862069">
					<Requirements>
						<Requirement type="building owned" building="CasinoConciergeKiosk" not="true" />
					</Requirements>
					<Item type="building" name="CasinoConciergeKiosk" />
				</Reward>
				<Reward chance="0.793103448">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:BartsCasinoAndCasinoBart_Available" />
					</Requirements>
					<Item type="consumable" name="BartsCasinoAndCasinoBart" useImmediately="true" />
				</Reward>
				<Reward chance="0.810344828">
					<Requirements>
						<Requirement type="building owned" building="LaBelleFrottage" not="true" />
					</Requirements>
					<Item type="building" name="LaBelleFrottage" />
				</Reward>
				<Reward chance="0.827586207">
					<Requirements>
						<Requirement type="building owned" building="PeacockLounge" not="true" />
					</Requirements>
					<Item type="building" name="PeacockLounge" />
				</Reward>
				<Reward chance="0.844827586">
					<Requirements>
						<Requirement type="building owned" building="Britannia" not="true" />
					</Requirements>
					<Item type="building" name="Britannia" />
				</Reward>
				<Reward chance="0.862068966">
					<Requirements>
						<Requirement type="building owned" building="BurnsCasino" not="true" />
					</Requirements>
					<Item type="building" name="BurnsCasino" />
				</Reward>
				<Reward chance="0.879310345">
					<Requirements>
						<Requirement type="building owned" building="CletussDiceDen" not="true" />
					</Requirements>
					<Item type="building" name="CletussDiceDen" />
				</Reward>
				<Reward chance="0.896551724">
					<Requirements>
						<Requirement type="building owned" building="GamingMoes" not="true" />
					</Requirements>
					<Item type="building" name="GamingMoes" />
				</Reward>
				<Reward chance="0.913793103">
					<Requirements>
						<Requirement type="building owned" building="HomersHouseOfCards" not="true" />
					</Requirements>
					<Item type="building" name="HomersHouseOfCards" />
				</Reward>
				<Reward chance="0.931034483">
					<Requirements>
						<Requirement type="building owned" building="LuckyCasino" not="true" />
					</Requirements>
					<Item type="building" name="LuckyCasino" />
				</Reward>
				<Reward chance="0.948275862">
					<Requirements>
						<Requirement type="building owned" building="NerosPalaceCasino" not="true" />
					</Requirements>
					<Item type="building" name="NerosPalaceCasino" />
				</Reward>
				<Reward chance="0.965517241">
					<Requirements>
						<Requirement type="building owned" building="SafariCasino" not="true" />
					</Requirements>
					<Item type="building" name="SafariCasino" />
				</Reward>
				<Reward chance="0.982758621">
					<Requirements>
						<Requirement type="building owned" building="CasinoVIP" not="true" />
					</Requirements>
					<Item type="building" name="CasinoVIP" />
				</Reward>
				<Reward chance="0.982758621">
					<Requirements>
						<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:CasinoVIPSkinBundle_Available" />
					</Requirements>
					<Item type="consumable" name="CasinoVIPSkinBundle" useImmediately="true" />
				</Reward>
				<Reward chance="1">
					<Requirements>
						<Requirement type="building owned" building="DollarCasino" not="true" />
					</Requirements>
					<Item type="building" name="DollarCasino" />
				</Reward>
			</RewardList>
		</PrizeBox>
	</BannedByTheBuddhaMysteryBox_MysteryBoxPrizes>
</Attributes>