<Buildings>
	<MasterList>
		<DataID id="242000" name="Spiros" />
		<DataID id="242001" name="GreasersCafe" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="true" />
		<MultiPlace value="false" />
		<LoadBuilding value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="true" />
		<TaxJobPackage value="SpringfieldChoppers_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="242000" name="Spiros" type="Building" xpValue="0">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="242500" name="IncomeTax_Spiros" time="8h" />
		<RatingElem community="10" />
		<BSv2 name="Spiros" flippedname="SpirosFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Eatery" />
		<Group name="Bars" />
		<Cost donuts="70" />
		<SoundKit event="BuildingTouched" name="Spiros_tap" />
	</Building>
	<Building id="242001" name="GreasersCafe" type="Building" xpValue="150">
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="6s" />
		<GridType type="grass|pavement|boardwalk|boardwalkedge|pier|pieredge|dirtpavement|klsroad|klsroadedge" />
		<Job id="242501" name="IncomeTax_GreasersCafe" time="8h" premiumJob="true" />
		<RatingElem restaurant="20" />
		<BSv2 name="GreasersCafe" flippedname="GreasersCafeFlipped" overrideFootprintFile="bwbuildstates" overrideFootprintTiles="boardwalk|boardwalkedge|pier|pieredge|pavement|dirtpavement" overrideFlatFootprint="false" />
		<Group name="Eatery" />
		<Character name="WolfguyJack" />
		<Cost donuts="__SpringfieldChoppers_GameConfig:PremiumCosts:GreasersCafe__" />
		<SoundKit event="BuildingTouched" name="GreasersCafe_tap" />
	</Building>
</Buildings>