<Attributes>
	<GuidePanel_Default>
		<Attribute name="EndDate" value="SpringfieldJobs_End" />
		<Attribute name="specialEvent" value="SpringfieldJobs_Event" />
		<Attribute name="Objects">
			<AttributeSet name="TitleText">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideEvent_Title" localise="true" />
				<Attribute name="font" value="eFont_Special" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="TooltipTimeText">
				<Attribute name="text" value="UI_TerwilligersPt1Guide_countdown" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
			</AttributeSet>
			<AttributeSet name="Button">
				<Attribute name="active" value="false" />
			</AttributeSet>
			<AttributeSet name="NoToolTip">
				<Attribute name="active" value="false" />
			</AttributeSet>
			<AttributeSet name="ActiveAfterExpiredText">
				<Attribute name="text" value="UI_PrizeTrack_ActiveAfterExpired" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
		</Attribute>
	</GuidePanel_Default>
	<PrizeTrackGuide_Config>
		<Merge path="SpringfieldJobs_GuidePanelsConfig:GuidePanel_Default" />
		<Attribute name="ExitButtonScript" value="SpringfieldJobs_Scripts:Tab_PrizeTrack" />
		<Attribute name="Objects">
			<AttributeSet name="TitleText">
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Title" localise="true" />
				<Attribute name="font" value="eFont_Special" />
			</AttributeSet>
			<AttributeSet name="TextColumn1">
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Text1" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="TextColumn2">
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Text2" localise="true" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActOne" />
					<AttributeSet name="textParams">
						<Attribute name="0" value="RES_SpringfieldJobs_Act1PrizeTrackCurrency_Plural" localise="true" />
					</AttributeSet>
				</Attribute>
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Text2" localise="true" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
					<AttributeSet name="textParams">
						<Attribute name="0" value="RES_SpringfieldJobs_Act2PrizeTrackCurrency_Plural" localise="true" />
					</AttributeSet>
				</Attribute>
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Text2" localise="true" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
					<AttributeSet name="textParams">
						<Attribute name="0" value="RES_SpringfieldJobs_Act3PrizeTrackCurrency_Plural" localise="true" />
					</AttributeSet>
				</Attribute>
				<Attribute name="font" value="eFont_XSBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="TextColumn3">
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Text3" localise="true" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActOne" />
					<AttributeSet name="textParams">
						<Attribute name="0" value="RES_SpringfieldJobs_Act1PrizeTrackCurrency_Plural" localise="true" />
					</AttributeSet>
				</Attribute>
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Text3" localise="true" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
					<AttributeSet name="textParams">
						<Attribute name="0" value="RES_SpringfieldJobs_Act2PrizeTrackCurrency_Plural" localise="true" />
					</AttributeSet>
				</Attribute>
				<Attribute name="text" value="UI_SpringfieldJobs_GuidePrizeTrack_Text3" localise="true" parameters="textParams">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
					<AttributeSet name="textParams">
						<Attribute name="0" value="RES_SpringfieldJobs_Act3PrizeTrackCurrency_Plural" localise="true" />
					</AttributeSet>
				</Attribute>
				<Attribute name="font" value="eFont_XSBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="FullPanelImageNoText">
				<Attribute name="image" value="MHUD_SpringfieldJobs_GuidePanelMain">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActOne" />
				</Attribute>
				<Attribute name="image" value="MHUD_SpringfieldJobs_GuidePanelMainAct2">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActTwo" />
				</Attribute>
				<Attribute name="image" value="MHUD_SpringfieldJobs_GuidePanelMainAct3">
					<Requirement type="reqList" location="SpringfieldJobs_Requirements:ActThree" />
				</Attribute>
			</AttributeSet>
		</Attribute>
	</PrizeTrackGuide_Config>
	<CraftingGuide_Config>
		<Merge path="SpringfieldJobs_GuidePanelsConfig:GuidePanel_Default" />
		<Attribute name="ExitButtonScript" value="SpringfieldJobs_Scripts:Tab_Crafting" />
		<Attribute name="Objects">
			<AttributeSet name="TitleText">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideCrafting_Title" localise="true" />
				<Attribute name="font" value="eFont_Special" />
			</AttributeSet>
			<AttributeSet name="TextColumn1">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideCrafting_Text1" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="TextColumn2">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideCrafting_Text2" localise="true" />
				<Attribute name="font" value="eFont_XSBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="TextColumn3">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideCrafting_Text3" localise="true" parameters="textParams" />
				<Attribute name="font" value="eFont_XSBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="FullPanelImageNoText">
				<Attribute name="image" value="MHUD_SpringfieldJobs_GuidePanelCrafting" />
			</AttributeSet>
		</Attribute>
	</CraftingGuide_Config>
	<BuildingFinderGuide_Config>
		<Merge path="SpringfieldJobs_GuidePanelsConfig:GuidePanel_Default" />
		<Attribute name="ExitButtonScript" value="SpringfieldJobs_Scripts:Tab_BuildingFinder" />
		<Attribute name="Objects">
			<AttributeSet name="TitleText">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideBuildingFinder_Title" localise="true" />
				<Attribute name="font" value="eFont_Special" />
			</AttributeSet>
			<AttributeSet name="TextColumn4">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideBuildingFinder_Text1" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="TextColumn5">
				<Attribute name="text" value="UI_SpringfieldJobs_GuideBuildingFinder_Text2" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="000000FF" />
			</AttributeSet>
			<AttributeSet name="FullPanelImageNoText">
				<Attribute name="image" value="MHUD_SpringfieldJobs_GuidePanelArrangementMode" />
			</AttributeSet>
		</Attribute>
	</BuildingFinderGuide_Config>
	<ScenesGuide_Config>
		<Merge path="SpringfieldJobs_GuidePanelsConfig:PrizeTrackGuide_Config" />
		<Attribute name="ExitButtonScript" value="SpringfieldJobs_Scripts:Tab_Scenes" />
	</ScenesGuide_Config>
</Attributes>