<Quests> <!-- --->
	<MasterList>
		<DataID id="139000" name="SpringfieldHeights_10" />
		<DataID id="139001" name="SpringfieldHeights_11" />
		<DataID id="139002" name="SpringfieldHeights_12" />
		<DataID id="139003" name="SpringfieldHeights_13" />
		<DataID id="139004" name="SpringfieldHeights_14" />
		<DataID id="139005" name="LodgeAComplaint_1" />
		<DataID id="139006" name="LodgeAComplaint_2" />
		<DataID id="139007" name="LodgeAComplaint_3" />
		<DataID id="139008" name="LodgeAComplaint_4" />
		<DataID id="139009" name="LodgeAComplaint_5" />
		<DataID id="139010" name="LodgeAComplaint_6" />
		<DataID id="139011" name="LodgeAComplaint_7" />
		<DataID id="139012" name="LodgeAComplaint_8" />
		<DataID id="139013" name="LodgeAComplaint_9" />
		<DataID id="139150" name="PopulateSpringfieldHeights2" />
		<DataID id="139200" name="UnfairTrade" />
		<DataID id="139201" name="SpringfieldHeightsTunnelMoved" />
		<DataID id="139202" name="ASmidgeToTheRight" />
		<DataID id="139203" name="ThePhantomOpera" />
		<DataID id="139204" name="HudTip_CharacterJobUnlock_MarketingAgency_2" />
		<DataID id="139205" name="HudTip_CharacterJobUnlock_MarketingAgency_3" />
		<DataID id="139206" name="HudTip_CharacterJobUnlock_MarketingAgency_4" />
		<DataID id="139207" name="HudTip_CharacterJobUnlock_MarketingAgency_5" />
		<DataID id="139208" name="GoneFission" />
		<DataID id="139209" name="OperaHouse" />
		<DataID id="139210" name="WealthyWednesday" />
		<DataID id="139400" name="HeightsExpansionRecommendation" />
		<DataID id="139401" name="ClearHeightsExpansionRecommendation" />
		<DataID id="139402" name="MissingMarketingBuildingFix" />
		<DataID id="139900" name="TheProclomationOfDecoration" onDeprecated="delete" endDate="XMASFifteen_EndDate" />
	</MasterList>
	<Quest id="139000" name="SpringfieldHeights_10" tags="sidequest" icon="LindsayNaegle">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="SpringfieldHeights09" />
			<Requirement type="land" land="Springfield" />
			<Requirement type="conditional" logic="OR">
				<Requirement type="quest" quest="WealthyWednesday" />
				<Requirement type="time" start="WealthyWednesday_EndDate" />
			</Requirement>
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="SpringfieldHeights_10_Start" triggerType="character" character="CookieKwan" />
		<Objectives>
			<Objective type="land upgrade" quantity="1" x="7" y="-5" progress="lifetime" GoToBehaviour="script" GoToScript="SpringfieldHeights2_QuestScripts:GoToUnpurchasedMarketingAgency">
				<DoneScript package="SpringfieldHeights2_Scripts" name="MarketingAgencyUnlock" />
			</Objective>
			<Objective type="land upgrade" quantity="1" x="6" y="-5" progress="quest" optional="true" hide="true">
				<DoneScript package="SpringfieldHeights2_QuestScripts" name="GoToUnpurchasedMarketingAgency_HiddenObjectiveDone" />
			</Objective>
			<Objective type="land upgrade" quantity="1" x="5" y="-5" progress="quest" optional="true" hide="true">
				<DoneScript package="SpringfieldHeights2_QuestScripts" name="GoToUnpurchasedMarketingAgency_HiddenObjectiveDone" />
			</Objective>
			<Objective type="land upgrade" quantity="1" x="4" y="-5" progress="quest" optional="true" hide="true">
				<DoneScript package="SpringfieldHeights2_QuestScripts" name="GoToUnpurchasedMarketingAgency_HiddenObjectiveDone" />
			</Objective>
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139001" name="SpringfieldHeights_11" tags="sidequest" icon="LindsayNaegle">
		<Requirements>
			<Requirement type="quest" quest="SpringfieldHeights_10" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="SpringfieldHeights_11_Start" triggerType="character" character="LindseyNaegle" />
		<Objectives>
			<!-- <Objective type="collect special currency" showProgressBar="false" currency="Ads" quantity="10" progress="questIgnoreLoss" reqType="any" GoToBehaviour="script" GoToScript="SpringfieldHeights2_Scripts:GoToMarketingAgency" /> -->
			<!-- <Objective type="build" building="ExclusiveResort" quantity="1" rewardsCollected="yes" /> -->
		</Objectives>
		<EndScript package="SpringfieldHeights2_Scripts_Dialogue" name="SpringfieldHeights_11_End" />
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139002" name="SpringfieldHeights_12" tags="sidequest" icon="LindsayNaegle" preventSuspend="true">
		<Requirements>
			<Requirement type="quest" quest="SpringfieldHeights_11" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="SpringfieldHeights_12_Start" triggerType="character" character="LindseyNaegle" />
		<Objectives>
			<Objective type="build" building="OrnatePier" quantity="1" rewardsCollected="yes" />
			<Objective type="tile count" tile="pier" count="3" progress="lifetime" />
			<Objective type="build" building="EliteYachtClub" quantity="1" rewardsCollected="yes" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139003" name="SpringfieldHeights_13" tags="sidequest" icon="LindsayNaegle">
		<Requirements>
			<Requirement type="quest" quest="SpringfieldHeights_12" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="SpringfieldHeights_13_Start" triggerType="character" character="LindseyNaegle" />
		<Objectives>
			<Objective type="complete job" character="LindseyNaegle" job="KeepKidsOutOfLavishParty" quantity="1" progress="quest" />
			<Objective type="complete job" job="AttendALavishParty" quantity="3" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139004" name="SpringfieldHeights_14" tags="sidequest" icon="LindsayNaegle">
		<Requirements>
			<Requirement type="quest" quest="SpringfieldHeights_13" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="SpringfieldHeights_14_Start" triggerType="character" character="LindseyNaegle" />
		<Objectives>
			<Objective type="complete job" character="LindseyNaegle" job="GiveAnImpassionedSpeech" quantity="1" progress="quest" />
			<Objective type="requirement list" showProgress="false" GoToBehaviour="script" GoToScript="SpringfieldHeights2_Scripts:GoToPrivateIslandInStore">
				<Requirement type="conditional" logic="OR">
					<Requirement type="building" building="PrivateIsland" />
					<Requirement type="building" building="PrivateIsland2" />
					<Requirement type="building" building="PrivateIsland3" />
					<Requirement type="building" building="PrivateIsland4" />
					<Requirement type="building" building="PrivateIsland_Complete" />
				</Requirement>
			</Objective>
		</Objectives>
		<EndScript package="SpringfieldHeights2_Scripts_Dialogue" name="SpringfieldHeights_14_End" />
		<Reward money="2500" xp="250" />
		<EndOfQuestline />
	</Quest>
	<Quest id="139005" name="LodgeAComplaint_1" tags="sidequest" toolTip="QST_LodgeAComplaint_1_3_dlg_Start_12_ObjectiveTip" icon="Burns">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="SpringfieldHeights_13" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_1_Start" triggerType="character" character="Burns" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="PlanInteriorDecoration" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139006" name="LodgeAComplaint_2" tags="sidequest" toolTip="QST_LodgeAComplaint_1_3_dlg_Start_12_ObjectiveTip" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_1" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_2_Start" triggerType="character" character="Smithers" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="StockpileCoffee" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139007" name="LodgeAComplaint_3" tags="sidequest" toolTip="QST_LodgeAComplaint_1_3_dlg_Start_12_ObjectiveTip" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_2" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_3_Start" triggerType="character" character="Burns" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="PlanSophisticatedSecurity" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139008" name="LodgeAComplaint_4" tags="sidequest" toolTip="QST_LodgeAComplaint_1_3_dlg_Start_12_ObjectiveTip" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_3" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_4_Start" triggerType="character" character="Burns" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="CreateLifelongExercisePlan" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139009" name="LodgeAComplaint_5" tags="sidequest" toolTip="QST_LodgeAComplaint_1_3_dlg_Start_12_ObjectiveTip" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_4" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_5_Start" triggerType="character" character="Burns" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="StockUpMrBurnsMedications" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139010" name="LodgeAComplaint_6" tags="sidequest" toolTip="QST_LodgeAComplaint_1_3_dlg_Start_12_ObjectiveTip" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_5" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_6_Start" triggerType="character" character="Burns" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="AdvertiseCallForOrganDonors" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139011" name="LodgeAComplaint_7" tags="sidequest" toolTip="QST_LodgeAComplaint_1_3_dlg_Start_12_ObjectiveTip" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_6" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_7_Start" triggerType="character" character="Burns" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="DocumentMrBurnsAchievements" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139012" name="LodgeAComplaint_8" tags="sidequest" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_7" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_8_Start" triggerType="character" character="Smithers" />
		<Objectives>
			<Objective type="build" building="MountainLodge" quantity="1" rewardsCollected="yes" />
		</Objectives>
		<EndScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_8_End" />
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139013" name="LodgeAComplaint_9" tags="sidequest" icon="Burns">
		<Requirements>
			<Requirement type="quest" quest="LodgeAComplaint_8" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="LodgeAComplaint_9_Start" triggerType="character" character="Burns" />
		<Objectives>
			<Objective type="complete job" character="Smithers" job="TakeTimeOffAtTheMountainLodge" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="2500" xp="250" />
		<EndOfQuestline />
	</Quest>
	<Quest id="139150" name="PopulateSpringfieldHeights2">
		<Requirements>
			<Requirement type="level" level="7" />
			<Requirement type="land" land="Springfield" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts" name="SpawnStations_MarketingAgency" />
		<Objectives>
			<Objective type="level" level="1" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139200" name="UnfairTrade" icon="Number1" tags="sidequest">
		<Requirements>
			<Requirement type="quest started" quest="LodgeAComplaint_9" />
			<Requirement type="character" name="Number1" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="UnfairTrade_Start" triggerType="character" character="Number1" />
		<!-- <Objectives> -->
			<!-- <Objective type="complete job" character="Number1" job="ControlTheLatteMarket" quantity="1" progress="quest" /> -->
		<!-- </Objectives> -->
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139201" name="SpringfieldHeightsTunnelMoved">
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Objectives>
			<Objective type="move building" building="SpringfieldHeightsTunnel" hide="true" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139202" name="ASmidgeToTheRight">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="SpringfieldHeightsTunnelMoved" not="true" />
			<Requirement type="quest" quest="SpringfieldHeights05" />
		</Requirements>
		<Objectives>
			<Objective type="none" supressCompleteSound="true" />
		</Objectives>
		<EndScript package="SpringfieldHeights2_Scripts_Dialogue" name="ASmidgeToTheRight_End" />
	</Quest>
	<Quest id="139203" name="ThePhantomOpera" icon="Marge" tags="sidequest">
		<Requirements>
			<Requirement type="quest" quest="OperaHouse" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="ThePhantomOpera_Start" triggerType="character" character="Marge" />
		<Objectives>
			<Objective type="complete job" job="TakeHomerToTheOpera" quantity="1" progress="quest" />
		</Objectives>
		<EndScript package="SpringfieldHeights2_Scripts_Dialogue" name="ThePhantomOpera_End" />
		<Reward money="100" xp="10" />
	</Quest>
	<Quest id="139204" name="HudTip_CharacterJobUnlock_MarketingAgency_2" tags="sidequest">
		<Requirements>
			<Requirement type="variable" variable="MarketingAgencySlotsUnlockedCount" count="1" />
			<Requirement type="special currency" currency="RealEstateValue" amount="28200000" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts" name="HudTip_CharacterJobUnlock_MarketingAgency" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139205" name="HudTip_CharacterJobUnlock_MarketingAgency_3" tags="sidequest">
		<Requirements>
			<Requirement type="variable" variable="MarketingAgencySlotsUnlockedCount" count="1" />
			<Requirement type="special currency" currency="RealEstateValue" amount="36000000" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts" name="HudTip_CharacterJobUnlock_MarketingAgency" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139206" name="HudTip_CharacterJobUnlock_MarketingAgency_4" tags="sidequest">
		<Requirements>
			<Requirement type="variable" variable="MarketingAgencySlotsUnlockedCount" count="1" />
			<Requirement type="special currency" currency="RealEstateValue" amount="41000000" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts" name="HudTip_CharacterJobUnlock_MarketingAgency" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139207" name="HudTip_CharacterJobUnlock_MarketingAgency_5" tags="sidequest">
		<Requirements>
			<Requirement type="variable" variable="MarketingAgencySlotsUnlockedCount" count="1" />
			<Requirement type="special currency" currency="RealEstateValue" amount="49000000" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts" name="HudTip_CharacterJobUnlock_MarketingAgency" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139208" name="GoneFission" tags="sidequest">
		<Requirements>
			<Requirement type="building" building="GoneFission" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="GoneFission_Start" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139209" name="OperaHouse" tags="sidequest">
		<Requirements>
			<Requirement type="building" building="HeightsOperaHouse" />
			<Requirement type="quest" quest="SpringfieldHeights_11" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="OperaHouse_Start" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139210" name="WealthyWednesday" tags="sidequest">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="SpringfieldHeights05" />
			<Requirement type="land" land="Springfield" />
			<Requirement type="time" end="WealthyWednesday_EndDate" />
		</Requirements>
		<StartScript name="SpringfieldHeights2_Scripts_Dialogue:WealthyWednesday_Start" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
		<EndScript name="SpringfieldHeights2_Scripts_Dialogue:WealthyWednesday_Recommendation" />
	</Quest>
	<Quest id="139400" name="HeightsExpansionRecommendation" tags="sidequest">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="ClearHeightsRecommendation" />
		</Requirements>
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
		<EndScript package="SpringfieldHeights2_Scripts" name="RecommendHeightsExpansion" />
	</Quest>
	<Quest id="139401" name="ClearHeightsExpansionRecommendation" tags="sidequest">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="HeightsExpansionRecommendation" />
			<Requirement type="quest" quest="SpringfieldHeights_14" />
		</Requirements>
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
		<EndScript package="SpringfieldHeights2_Scripts" name="ClearHeightsExpansionRecommendation" />
	</Quest>
	<Quest id="139402" name="MissingMarketingBuildingFix" tags="sidequest">
		<Requirements>
			<Requirement type="quest" quest="PopulateSpringfieldHeights2" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts" name="MarketingAgencyUnlock_Fixed" />
		<Objectives>
			<Objective type="none" suppressCompleteSound="true" />
		</Objectives>
	</Quest>
	<Quest id="139900" name="TheProclomationOfDecoration" tags="eventquest" icon="XMAS2015_Generic">
		<Priority types="LimitedTime" />
		<Requirements>
			<Requirement type="level" level="5" />
			<Requirement type="quest" quest="MyPad" />
		</Requirements>
		<StartScript package="SpringfieldHeights2_Scripts_Dialogue" name="TheProclomationOfDecoration_Start" />
		<Objectives>
			<Objective type="complete job" character="Ned" job="DecorateHisHouse_Preview" quantity="1" progress="quest" />
		</Objectives>
		<Reward money="100" xp="10" />
	</Quest>
</Quests>