<Scenes eventEnd="SpringfieldJobs_End" expiredBehaviour="viewUnlocked">
	<Scene id="9204" name="SpringfieldJobsScene01" bsv2="SpringfieldJobs_Scene01_BG" completeVariable="SpringfieldJobs_CollectedAct1Scene_Permanent" hasPlayed="SpringfieldJobs_Scene1_HasPlayed">
		<Pieces>
			<Piece bsv2="SpringfieldJobs_Scene01_Piece01" icon="ICO_SpringfieldJobs_Scene01_Piece01" building="MuseumOfSuperFineArts" hasSeenVariable="SpringfieldJobs_Act1_piece1_Seen" GoToScript="SpringfieldJobs_Scripts:GoToMuseumOfSuperFineArts_PrizeTrack" pieceSource="prize">
				<Requirements>
					<Requirement type="building" building="MuseumOfSuperFineArts" />
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene01_Piece02" icon="ICO_SpringfieldJobs_Scene01_Piece02" building="DaVinciAircraft" hasSeenVariable="SpringfieldJobs_Act1_piece2_Seen" GoToScript="SpringfieldJobs_Scripts:GoToDaVinciAircraft_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene01_Piece03" icon="ICO_SpringfieldJobs_Scene01_Piece03" building="CheeseTruck" hasSeenVariable="SpringfieldJobs_Act1_piece3_Seen" GoToScript="SpringfieldJobs_Scripts:GoToCheeseTruck_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene01_Piece04" icon="ICO_SpringfieldJobs_Scene01_Piece04" building="Gondola" hasSeenVariable="SpringfieldJobs_Act1_piece4_Seen" GoToScript="SpringfieldJobs_Scripts:GoToGondola_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene01_Piece05" icon="ICO_SpringfieldJobs_Scene01_Piece05" character="Primo" hasSeenVariable="SpringfieldJobs_Act1_piece5_Seen" GoToScript="SpringfieldJobs_Scripts:GoToPrimo_PrizeTrack" pieceSource="prize">
				<Requirements>
					<Requirement type="character" name="Primo" />
				</Requirements>
			</Piece>
		</Pieces>
		<Dates start="SpringfieldJobs_Start" end="SpringfieldJobs_ActTwo" />
		<OnPlayScript script="SpringfieldJobs_Scripts:Scene1StartScript" />
	</Scene>
	<Scene id="9205" name="SpringfieldJobsScene02" bsv2="SpringfieldJobs_Scene02_BG" completeVariable="SpringfieldJobs_CollectedAct2Scene_Permanent" hasPlayed="SpringfieldJobs_Scene2_HasPlayed">
		<Pieces>
			<Piece bsv2="SpringfieldJobs_Scene02_Piece01" icon="ICO_SpringfieldJobs_Scene02_Piece01" building="TowerOfSpringfield" hasSeenVariable="SpringfieldJobs_Act2_piece1_Seen" GoToScript="SpringfieldJobs_Scripts:GoToTowerOfSpringfield_PrizeTrack" pieceSource="prize">
				<Requirements>
					<Requirement type="building" building="TowerOfSpringfield" />
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene02_Piece02" icon="ICO_SpringfieldJobs_Scene02_Piece02" building="OldPhoneBooth" hasSeenVariable="SpringfieldJobs_Act2_piece2_Seen" GoToScript="SpringfieldJobs_Scripts:GoToOldPhoneBooth_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene02_Piece03" icon="ICO_SpringfieldJobs_Scene02_Piece03" building="PoliceCallBox" hasSeenVariable="SpringfieldJobs_Act2_piece3_Seen" GoToScript="SpringfieldJobs_Scripts:GoToPoliceCallBox_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene02_Piece04" icon="ICO_SpringfieldJobs_Scene02_Piece04" building="QueensCarriage" hasSeenVariable="SpringfieldJobs_Act2_piece4_Seen" GoToScript="SpringfieldJobs_Scripts:GoToQueensCarriage_PrizeTrack" pieceSource="prize">
				<Requirements>
					<Requirement type="building" building="QueensCarriage" />
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene02_Piece05" icon="ICO_SpringfieldJobs_Scene02_Piece05" building="QueensGuard" hasSeenVariable="SpringfieldJobs_Act2_piece5_Seen" GoToScript="SpringfieldJobs_Scripts:GoToQueensGuard_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
		</Pieces>
		<Dates start="SpringfieldJobs_ActTwo" end="SpringfieldJobs_ActThree" />
		<OnPlayScript script="SpringfieldJobs_Scripts:Scene2StartScript" />
	</Scene>
	<Scene id="9206" name="SpringfieldJobsScene03" bsv2="SpringfieldJobs_Scene03_BG" completeVariable="SpringfieldJobs_CollectedAct3Scene_Permanent" hasPlayed="SpringfieldJobs_Scene3_HasPlayed">
		<Pieces>
			<Piece bsv2="SpringfieldJobs_Scene03_Piece01" icon="ICO_SpringfieldJobs_Scene03_Piece01" building="MonteBurnsResortCasino" hasSeenVariable="SpringfieldJobs_Act3_piece1_Seen" GoToScript="SpringfieldJobs_Scripts:GoToMonteBurnsResortCasino_PrizeTrack" pieceSource="prize">
				<Requirements>
					<Requirement type="building" building="MonteBurnsResortCasino" />
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene03_Piece02" icon="ICO_SpringfieldJobs_Scene03_Piece02" building="FirstPrimeMinisterOfAustraliaStatue" hasSeenVariable="SpringfieldJobs_Act3_piece2_Seen" GoToScript="SpringfieldJobs_Scripts:GoToFirstPrimeMinisterOfAustraliaStatue_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene03_Piece03" icon="ICO_SpringfieldJobs_Scene03_Piece03" building="RaceCarStatue" hasSeenVariable="SpringfieldJobs_Act3_piece3_Seen" GoToScript="SpringfieldJobs_Scripts:GoToRaceCarStatue_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene03_Piece04" icon="ICO_SpringfieldJobs_Scene03_Piece04" building="FancyOvalFountain" hasSeenVariable="SpringfieldJobs_Act3_piece4_Seen" GoToScript="SpringfieldJobs_Scripts:GoToFancyOvalFountain_Crafting" pieceSource="store">
				<Requirements>
					<Requirement type="conditional" logic="AND">
						<Requirement type="reqList" location="SpringfieldJobs_Requirements:Crafting_Unlocked" />
						<Requirement type="building" building="PlundererPetes" />
					</Requirement>
				</Requirements>
			</Piece>
			<Piece bsv2="SpringfieldJobs_Scene03_Piece05" icon="ICO_SpringfieldJobs_Scene03_Piece05" character="FernandoVidal" hasSeenVariable="SpringfieldJobs_Act3_piece5_Seen" GoToScript="SpringfieldJobs_Scripts:GoToFernandoVidal_PrizeTrack" pieceSource="prize">
				<Requirements>
					<Requirement type="character" name="FernandoVidal" />
				</Requirements>
			</Piece>
		</Pieces>
		<Dates start="SpringfieldJobs_ActThree" end="SpringfieldJobs_End" />
		<OnPlayScript script="SpringfieldJobs_Scripts:Scene3StartScript" />
	</Scene>
</Scenes>