<Jobs>
	<MasterList>
		<DataID id="139000" name="SpeedDate" />
		<DataID id="139001" name="NetworkAtAnAAMeeting" />
		<DataID id="139002" name="GiveAnImpassionedSpeech" />
		<DataID id="139003" name="DrinkWithClients" />
		<DataID id="139004" name="FendOffChildren" />
		<DataID id="139005" name="KeepKidsOutOfLavishParty" />
		<DataID id="139006" name="AttendALavishParty" />
		<DataID id="139007" name="PlanInteriorDecoration" />
		<DataID id="139008" name="StockpileCoffee" />
		<DataID id="139009" name="PlanSophisticatedSecurity" />
		<DataID id="139010" name="CreateLifelongExercisePlan" />
		<DataID id="139011" name="StockUpMrBurnsMedications" />
		<DataID id="139012" name="AdvertiseCallForOrganDonors" />
		<DataID id="139013" name="DocumentMrBurnsAchievements" />
		<DataID id="139014" name="CraftDisclaimers" />
		<DataID id="139015" name="RunFocusGroup" />
		<DataID id="139016" name="TakeBlindTasteTest" />
		<DataID id="139017" name="ImproveOnlineAdClickThroughs" />
		<DataID id="139018" name="StarInABeachAd" />
		<DataID id="139019" name="BeExtraInABeachAd" />
		<DataID id="139200" name="ControlTheLatteMarket" />
		<DataID id="139202" name="TakeHomerToTheOpera" />
		<DataID id="139203" name="WatchTheOperaAlone" />
		<DataID id="139204" name="TakeTimeOffAtTheMountainLodge" />
		<DataID id="139205" name="GoToTheOperaWithMarge" />
		<DataID id="139206" name="PartyAtTheYachtClub" />
		<DataID id="139300" name="EnsuringEverythingIsMadeOfWood" />
		<DataID id="139301" name="PreCrashingChandeliers" />
		<DataID id="139302" name="SwimmingWithSharksAndWasps" />
		<DataID id="139500" name="OrnatePier1" />
		<DataID id="139501" name="OrnatePier2" />
		<DataID id="139900" name="DecorateHisHouse_Preview" onDeprecated="delete" endDate="XMASFifteen_EndDate" />
	</MasterList>
	<Job id="139000" name="SpeedDate" time="1h">
		<Location name="JavaServer" />
		<Character name="LindseyNaegle" good="true" />
	</Job>
	<Job id="139001" name="NetworkAtAnAAMeeting" time="4h">
		<Location>
			<Building name="SpringfieldConventionCenter" />
			<Building name="FirstChurchofSpringfield" />
			<Building name="MarketingAgency" />
		</Location>
		<Character name="LindseyNaegle" good="false" />
	</Job>
	<Job id="139002" name="GiveAnImpassionedSpeech" time="8h" animated="true">
		<Requirement type="quest started" quest="SpringfieldHeights_14" />
		<VisibilityRequirements>
			<Requirement type="quest started" quest="SpringfieldHeights_14" />
		</VisibilityRequirements>
		<Movement mode="rushandrest" />
		<MoveGroup>
			<MovePick x="-1" y="0" speed="1">
				<Animation name="Give_An_Impassioned_Speech_Front_Walk" />
			</MovePick>
			<MovePick x="0" y="1" speed="1">
				<Animation name="Give_An_Impassioned_Speech_Front_Walk" />
			</MovePick>
			<MovePick x="0" y="-1" speed="1">
				<Animation name="Give_An_Impassioned_Speech_Back_Walk" />
			</MovePick>
			<MovePick x="1" y="0" speed="1">
				<Animation name="Give_An_Impassioned_Speech_Back_Walk" />
			</MovePick>
			<MovePick x="1" y="1" speed="0">
				<Sequence>
					<Loop>
						<Random chance="0.5">
							<Animation name="Give_An_Impassioned_Speech_Active" />
						</Random>
					</Loop>
				</Sequence>
			</MovePick>
			<MovePick x="-1" y="-1" speed="0">
				<Sequence>
					<Loop>
						<Random chance="0.5">
							<Animation name="Give_An_Impassioned_Speech_Active" />
						</Random>
					</Loop>
				</Sequence>
			</MovePick>
		</MoveGroup>
		<Character name="LindseyNaegle" good="true" />
	</Job>
	<Job id="139003" name="DrinkWithClients" time="12h">
		<Location name="MarketingAgency" />
		<Character name="LindseyNaegle" good="true" />
	</Job>
	<Job id="139004" name="FendOffChildren" time="24h" animated="true">
		<Requirement type="quest" quest="SpringfieldHeights_13" />
		<VisibilityRequirements>
			<Requirement type="quest" quest="SpringfieldHeights_13" />
		</VisibilityRequirements>
		<MoveGroup>
			<MovePick x="1" y="1" speed="0">
				<Sequence>
					<Random chance="1.0">
						<Animation name="Affection_Rejection_Active" />
					</Random>
				</Sequence>
			</MovePick>
		</MoveGroup>
		<Character name="LindseyNaegle" good="true" />
	</Job>
	<Job id="139005" name="KeepKidsOutOfLavishParty" time="6h" temp="true" animated="true">
		<Requirement type="active quest" quest="SpringfieldHeights_13" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="SpringfieldHeights_13" />
		</VisibilityRequirements>
		<Location name="EliteYachtClub" fade="false" lockPosition="true" />
		<MoveGroup>
			<MovePick x="1" y="1" speed="0">
				<Sequence>
					<Random chance="1.0">
						<Animation name="Affection_Rejection_Yacht_Club_Active" />
					</Random>
				</Sequence>
			</MovePick>
		</MoveGroup>
		<Character name="LindseyNaegle" good="true" />
	</Job>
	<Job id="139006" name="AttendALavishParty" time="6h">
		<Requirement type="active quest" quest="SpringfieldHeights_13" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="SpringfieldHeights_13" />
		</VisibilityRequirements>
		<Location name="EliteYachtClub" />
		<CharacterGroup name="Celebrity" good="true" />
	</Job>
	<Job id="139007" name="PlanInteriorDecoration" time="12h" refundWhenCancelled="true">
		<Requirement type="active quest" quest="LodgeAComplaint_1" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="LodgeAComplaint_1" />
		</VisibilityRequirements>
		<Cost Furniture="200" />
		<Location name="BurnsManor" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139008" name="StockpileCoffee" time="6h" refundWhenCancelled="true">
		<Requirement type="active quest" quest="LodgeAComplaint_2" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="LodgeAComplaint_2" />
		</VisibilityRequirements>
		<Cost Latte="75" />
		<Location name="BurnsManor" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139009" name="PlanSophisticatedSecurity" time="12h" refundWhenCancelled="true">
		<Requirement type="active quest" quest="LodgeAComplaint_3" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="LodgeAComplaint_3" />
		</VisibilityRequirements>
		<Cost SmartDevice="75" />
		<Location name="BurnsManor" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139010" name="CreateLifelongExercisePlan" time="8h" refundWhenCancelled="true">
		<Requirement type="active quest" quest="LodgeAComplaint_4" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="LodgeAComplaint_4" />
		</VisibilityRequirements>
		<Cost YogaMat="75" />
		<Location name="BurnsManor" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139011" name="StockUpMrBurnsMedications" time="4h" refundWhenCancelled="true">
		<Requirement type="active quest" quest="LodgeAComplaint_5" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="LodgeAComplaint_5" />
		</VisibilityRequirements>
		<Cost Pharmaceutical="75" />
		<Location name="BurnsManor" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139012" name="AdvertiseCallForOrganDonors" time="24h" refundWhenCancelled="true">
		<Requirement type="active quest" quest="LodgeAComplaint_6" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="LodgeAComplaint_6" />
		</VisibilityRequirements>
		<Cost Ads="75" />
		<Location name="BurnsManor" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139013" name="DocumentMrBurnsAchievements" time="12h" refundWhenCancelled="true">
		<Requirement type="active quest" quest="LodgeAComplaint_7" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="LodgeAComplaint_7" />
		</VisibilityRequirements>
		<Cost HollywoodAward="50" />
		<Location name="BurnsManor" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139014" name="CraftDisclaimers" time="16m">
		<Cost Furniture="2" YogaMat="2" />
		<Reward Ads="2" xp="8" />
		<Location name="MarketingAgency" />
		<Character name="BlueHairedLawyer" good="true" showInMenu="false" />
	</Job>
	<Job id="139015" name="RunFocusGroup" time="16m">
		<Cost Furniture="2" YogaMat="2" />
		<Reward Ads="1" xp="5" />
		<Location name="MarketingAgency" />
		<Character name="LindseyNaegle" good="true" showInMenu="false" />
	</Job>
	<Job id="139016" name="TakeBlindTasteTest" time="16m">
		<Cost Furniture="2" YogaMat="2" />
		<Reward Ads="1" xp="5" />
		<Location name="MarketingAgency" />
		<Character name="Skinner" good="false" showInMenu="false" />
	</Job>
	<Job id="139017" name="ImproveOnlineAdClickThroughs" time="16m">
		<Cost Furniture="2" YogaMat="2" />
		<Reward Ads="1" xp="5" />
		<Location name="MarketingAgency" />
		<Character name="Martin" good="true" showInMenu="false" />
	</Job>
	<Job id="139018" name="StarInABeachAd" time="16m">
		<Cost Furniture="2" YogaMat="2" />
		<Reward Ads="1" xp="5" />
		<Location name="MarketingAgency" />
		<Character name="Carl" good="true" showInMenu="false" />
	</Job>
	<Job id="139019" name="BeExtraInABeachAd" time="16m">
		<Cost Furniture="2" YogaMat="2" />
		<Reward Ads="1" xp="5" />
		<Location name="MarketingAgency" />
		<Character name="Lenny" good="false" showInMenu="false" />
	</Job>
	<Job id="139200" name="ControlTheLatteMarket" time="1h">
		<Requirement type="conditional" logic="AND" typetext="REQ_TooManyLattes">
			<Requirement type="quest started" quest="UnfairTrade" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Spendable::Latte'), System::evaluate('Selector::LatteResourceCap'))" />
		</Requirement>
		<VisibilityRequirements>
			<Requirement type="quest started" quest="UnfairTrade" />
		</VisibilityRequirements>
		<Location name="MountainLodge" fade="true" />
		<Character name="Number1" good="true" />
		<Reward Latte="15" xp="25" />
	</Job>
	<Job id="139202" name="TakeHomerToTheOpera" rushMultiplier="2.0" time="4h" temp="true" waitForLinkedJobToBegin="true" animated="true">
		<Requirement type="active quest" quest="ThePhantomOpera" />
		<VisibilityRequirements>
			<Requirement type="active quest" quest="ThePhantomOpera" />
		</VisibilityRequirements>
		<Reward money="520" xp="140" />
		<Character name="Marge" good="true">
			<Link job="GoToTheOperaWithMarge" character="Homer" />
		</Character>
		<Movement mode="randomrelaxed" />
		<Location name="HeightsOperaHouse" fade="false" lockPosition="true" />
		<Sequence>
			<MoveGroup>
				<MovePick x="-1" y="0" speed="1.0">
					<Animation name="Go_For_A_Romantic_Stroll_With_Homer_front_walk_left" fastBreak="true" />
				</MovePick>
				<MovePick x="0" y="1" speed="1.0">
					<Animation name="Go_For_A_Romantic_Stroll_With_Homer_front_walk_right" fastBreak="true" />
				</MovePick>
				<MovePick x="1" y="0" speed="1.0">
					<Animation name="Go_For_A_Romantic_Stroll_With_Homer_back_walk_right" fastBreak="true" />
				</MovePick>
				<MovePick x="0" y="-1" speed="1.0">
					<Animation name="Go_For_A_Romantic_Stroll_With_Homer_back_walk_left" fastBreak="true" />
				</MovePick>
				<MovePick x="1" y="1" speed="0">
					<Random chance="0.67">
						<Random chance="0.5">
							<Animation name="Go_For_A_Romantic_Stroll_With_Homer_Active_1_Right" fastBreak="true" />
							<Animation name="Go_For_A_Romantic_Stroll_With_Homer_Active_2_Right" fastBreak="true" />
						</Random>
						<Animation name="Go_For_A_Romantic_Stroll_With_Homer_Active_3_Right" fastBreak="true" />
					</Random>
				</MovePick>
				<MovePick x="-1" y="-1" speed="0">
					<Random chance="0.67">
						<Random chance="0.5">
							<Animation name="Go_For_A_Romantic_Stroll_With_Homer_Active_1_Left" fastBreak="true" />
							<Animation name="Go_For_A_Romantic_Stroll_With_Homer_Active_2_Left" fastBreak="true" />
						</Random>
						<Animation name="Go_For_A_Romantic_Stroll_With_Homer_Active_3_Left" fastBreak="true" />
					</Random>
				</MovePick>
			</MoveGroup>
		</Sequence>
	</Job>
	<Job id="139203" name="WatchTheOperaAlone" time="4h">
		<Requirement type="quest" quest="ThePhantomOpera" />
		<VisibilityRequirements>
			<Requirement type="quest" quest="ThePhantomOpera" />
		</VisibilityRequirements>
		<Location name="HeightsOperaHouse" fade="true" />
		<Character name="Marge" good="true" premiumJob="true" />
	</Job>
	<Job id="139204" name="TakeTimeOffAtTheMountainLodge" time="4h">
		<Requirement type="quest started" quest="LodgeAComplaint_9" />
		<VisibilityRequirements>
			<Requirement type="quest started" quest="LodgeAComplaint_9" />
		</VisibilityRequirements>
		<Location name="MountainLodge" fade="true" />
		<Character name="Smithers" good="true" />
	</Job>
	<Job id="139205" name="GoToTheOperaWithMarge" time="4h" temp="true" waitForLinkedJobToBegin="true">
		<Reward money="0" xp="0" />
		<Character name="Homer" good="true" showInMenu="false" autocomplete="true" redirectTouchTo="Marge">
			<CustomEndConditions>
				<Requirement type="job done listener" job="TakeHomerToTheOpera" character="Marge" />
			</CustomEndConditions>
		</Character>
		<Location name="HeightsOperaHouse" fade="true" />
	</Job>
	<Job id="139206" name="PartyAtTheYachtClub" time="6h">
		<Requirement type="quest" quest="SpringfieldHeights_13" />
		<VisibilityRequirements>
			<Requirement type="quest" quest="SpringfieldHeights_13" />
		</VisibilityRequirements>
		<Location name="EliteYachtClub" fade="true" />
		<Character name="LindseyNaegle" good="true" />
	</Job>
	<Job id="139900" name="DecorateHisHouse_Preview" time="30s" temp="true" OnJobDoneScript="SpringfieldHeights2_Scripts:ApplyFlandersHomeDecorated">
		<Requirement type="active quest" quest="TheProclomationOfDecoration" />
		<Location name="FlandersHome" />
		<Character name="Ned" good="true" />
	</Job>
</Jobs>