<Attributes>
	<SceneMenu>
		<Attribute name="sceneDataFile" value="SpringfieldJobs_Scenes.xml" />
		<Attribute name="Center" value="true">
			<Requirement type="time" start="SpringfieldJobs_End" />
		</Attribute>
		<Attribute name="HideHelp" value="true">
			<Requirement type="time" start="SpringfieldJobs_End" />
		</Attribute>
		<Attribute name="pieceButton">
			<AttributeSet name="complete">
				<Attribute name="border" value="4CA4DCFF" />
				<Attribute name="fill" value="4CA4DC99" />
			</AttributeSet>
			<AttributeSet name="available">
				<Attribute name="border" value="575757FF" />
				<Attribute name="fill" value="5757578F" />
			</AttributeSet>
			<AttributeSet name="locked">
				<Attribute name="border" value="575757FF" />
				<Attribute name="fill" value="5757578F" />
			</AttributeSet>
			<AttributeSet name="selected">
				<Attribute name="border" value="87C9F2FF" />
			</AttributeSet>
		</Attribute>
		<Attribute name="iconColor" value="FFFFFFFF" />
		<Attribute name="tabColor" value="FFFFFFFF" />
		<Attribute name="tabHLColor" value="FFFFFFFF" />
		<Attribute name="Lock" value="ICO_GENR_ScrollLock.rgb" />
		<Attribute name="Checkmark" value="ICO_HUB_Checkmark.rgb" />
		<Attribute name="Exclamation" value="ICO_HUB_ExclamationMarkIcon.rgb" />
		<Attribute name="PrizeBaseOutlineTL" value="BSE_RoundBoxCorner.rgb" />
		<Attribute name="PrizeBaseOutlineTR" value="BSE_RoundBoxCorner.rgb" />
		<Attribute name="PrizeBaseOutlineBR" value="BSE_RoundBoxCorner.rgb" />
		<Attribute name="PrizeBaseOutlineBL" value="BSE_RoundBoxCorner.rgb" />
		<Attribute name="tabIcon" value="but_genr_hubtab_active.rgb" />
		<Attribute name="tabIconInactive" value="but_genr_hubtab_inactive.rgb" />
		<Attribute name="selectedTabIcon" value="but_genr_hubtab_selected.rgb" />
		<Attribute name="availablePiecePrizeText" value="UI_WildWest_ScenePieceLocatorPrizeTrack_text" localise="true" />
		<Attribute name="availablePieceStoreText" value="UI_SpringfieldJobs_ScenePieceLocatorGeneralStore_text" localise="true" />
		<Attribute name="availablePieceQuestText" value="UI_WildWest_ScenePieceLocatorQuest_Text" />
		<Attribute name="availablePieceDefaultText" value="UI_WildWest_ScenePieceLocatorQuest_Text" localise="true" />
		<Attribute name="availablePieceButtonText" value="UI_DoIt" localise="true" />
		<Attribute name="lockedPiecePrizeText" value="UI_WildWest_ScenePieceLockedPrizeTrack_text" localise="true" />
		<Attribute name="lockedPieceStoreText" value="UI_SpringfieldJobs_ScenePieceLockedGeneralStore_text" localise="true" />
		<Attribute name="lockedPieceQuestText" value="UI_WildWest_ScenePieceLockedQuest_text" />
		<Attribute name="lockedPieceDefaultText" value="UI_WildWest_ScenePieceLockedQuest_text" localise="true" />
		<Attribute name="lockedPieceButtonText" value="UI_DoIt" localise="true" />
		<Attribute name="expiredPiecePrizeText" value="UI_WildWest_ScenePiece_ExpiredAct" />
		<Attribute name="expiredPieceStoreText" value="UI_WildWest_ScenePiece_ExpiredGeneralStore" localise="true" />
		<Attribute name="expiredPieceQuestText" value="UI_WildWest_ScenePiece_ExpiredQuest" />
		<Attribute name="expiredPieceDefaultText" value="UI_WildWest_ScenePieceComplete_text" localise="true" />
		<Attribute name="expiredPieceButtonText" value="UI_DoIt" localise="true" />
		<Attribute name="completePieceText" value="UI_WildWest_ScenePieceComplete_text" localise="true" />
		<Attribute name="sceneCompleteText" value="UI_WildWest_ScenePieceAllCompleted_text" localise="true" />
		<Attribute name="sceneCompleteButtonText" value="UI_SceneCompletePlay_button" localise="true" />
		<Attribute name="missedPieceText" value="UI_SceneCompletePlay_button" localise="true" />
		<Attribute name="missedPieceButtonText" value="UI_GoTo" localise="true" />
		<Attribute name="helpButtonScript" value="SpringfieldJobs_Scripts:GuidePanel_Scenes" />
		<Attribute name="footerText" value="UI_SpringfieldJobs_SceneFooter_text" />
		<Attribute name="LockedPopUpTitle" value="UI_WildWest_ScenePopup_title" localise="true" />
		<Attribute name="LockedPopUpMessage" value="UI_SpringfieldJobs_ScenePopup_body" localise="true" />
		<Attribute name="ExpiredLockedPopUpTitle" value="UI_WildWest_ScenePopup_title" localise="true" />
		<Attribute name="ExpiredLockedPopUpMessage" value="UI_WildWest_ScenePiece_ExpiredPopUp" localise="true" />
		<Attribute name="ActExpiredFooterMessage" value="UI_WildWest_ScenePieceAllCompleted_text" localise="true" />
		<Attribute name="configRoot">
			<AttributeSet name="titleText">
				<Attribute name="text" value="UI_SpringfieldJobs_HeistFinales_text" localise="true" />
				<Attribute name="font" value="eFont_Special" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="prizePurchasableText">
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="prizeCompleteText">
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="prizeLockedText">
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="prizeInProgressText">
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="prizeExpiredText">
				<Attribute name="font" value="eFont_Small" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="tooltipTimeText">
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="doItButtonText">
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="tabButton01Text">
				<Attribute name="text" value="UI_WildWest_Tab1_text" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="tabButton02Text">
				<Attribute name="text" value="UI_WildWest_Tab2_text" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="tabButton03Text">
				<Attribute name="text" value="UI_WildWest_Tab3_text" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="tabButton01TextHL">
				<Attribute name="text" value="UI_WildWest_Tab1_text" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="000000FF" />
			</AttributeSet>
			<AttributeSet name="tabButton02TextHL">
				<Attribute name="text" value="UI_WildWest_Tab2_text" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="000000FF" />
			</AttributeSet>
			<AttributeSet name="tabButton03TextHL">
				<Attribute name="text" value="UI_WildWest_Tab3_text" localise="true" />
				<Attribute name="font" value="eFont_NormalBold" />
				<Attribute name="color" value="000000FF" />
			</AttributeSet>
			<AttributeSet name="HelpBase">
				<Attribute name="image" value="BSE_THOH_HelpCircle" />
			</AttributeSet>
			<AttributeSet name="HelpBaseHL">
				<Attribute name="image" value="BSE_THOH_HelpCircle" />
			</AttributeSet>
			<AttributeSet name="HelpIcon">
				<Attribute name="image" value="ICO_THOH_Help_SM" />
			</AttributeSet>
			<AttributeSet name="HelpIconHL">
				<Attribute name="image" value="ICO_THOH_Help_SM" />
			</AttributeSet>
			<AttributeSet name="UpArrow">
				<Attribute name="image" value="BSE_THOH_HelpCircle" />
				<Attribute name="color" value="FFFFFF33" />
			</AttributeSet>
			<AttributeSet name="UpArrowHL">
				<Attribute name="image" value="BSE_THOH_HelpCircle" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
		</Attribute>
	</SceneMenu>
</Attributes>