<Attributes>
	<Dates>
		<Attribute name="SpringfieldChoppers_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_Start_1hrbefore" value="2021-03-17 14:00" />
		<Attribute name="SpringfieldChoppers_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_GreasersCafe_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_GreasersCafe_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CircleOfDeath_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CircleOfDeath_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_PoppaWheelies_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_PoppaWheelies_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BullyBoss_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BullyBoss_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CrowdOfBullies_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CrowdOfBullies_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BullyBus_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BullyBus_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_UnrulyCrowd_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_UnrulyCrowd_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_RuffiansBundle_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_RuffiansBundle_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_HoochCity_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_HoochCity_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_TruckStopDiner_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_TruckStopDiner_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_StonersPotPalace_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_StonersPotPalace_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_MadameChaos_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_MadameChaos_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_RitaLaFleur_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_RitaLaFleur_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CreggDemon_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CreggDemon_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CoconutBabaloo_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CoconutBabaloo_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_ShelbyvilleBundle_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_ShelbyvilleBundle_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JoesTavern_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JoesTavern_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CBGB_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_CBGB_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_Barra_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_Barra_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BeerNBrawl_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BeerNBrawl_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_MotorcycleWithSidecar_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_MotorcycleWithSidecar_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_ScrapYard_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_ScrapYard_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JunkBase_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JunkBase_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_RuffianFort_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_RuffianFort_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_Slaghold_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_Slaghold_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_TruckShack_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_TruckShack_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsMaggieOutlandsSimpsonHouse_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsMaggieOutlandsSimpsonHouse_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsFactory_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsFactory_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_GrubShack_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_GrubShack_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_Refrigeratorium_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_Refrigeratorium_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JuvenileCorrectionFacility_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JuvenileCorrectionFacility_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandSign_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandSign_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_PitaAndPeta_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_PitaAndPeta_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BagpipeBus_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BagpipeBus_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JunkFortBundle_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JunkFortBundle_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsGate_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsGate_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsWaterTower_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_OutlandsWaterTower_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JetEngineBike_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_JetEngineBike_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BackwaterBrewery_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_BackwaterBrewery_End" value="2021-03-31 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_MoesCavern_Start" value="2021-03-17 15:00" />
		<Attribute name="SpringfieldChoppers_MERCH_MoesCavern_End" value="2021-03-31 15:00" />
	</Dates>
	<ExpirationFormattedText>
		<Attribute name="FormattedExpiration24" value="UI_SpringfieldChoppers_24HourExpiry_text" localise="true" parameters="textParams">
			<AttributeSet name="textParams">
				<Attribute name="0" formula="floor(days(System::evaluate('Date::SpringfieldChoppers_End') - serverTime(0)))" />
				<Attribute name="1" formula="mod(floor(hours(System::evaluate('Date::SpringfieldChoppers_End') - serverTime(0))), 24)" />
				<Attribute name="2" formula="mod(floor(minutes(System::evaluate('Date::SpringfieldChoppers_End') - serverTime(0))), 60)" />
			</AttributeSet>
		</Attribute>
	</ExpirationFormattedText>
	<PremiumCosts cache="true">
		<Attribute name="GreasersCafe" value="150" />
		<Attribute name="WolfguyJack" value="150" />
	</PremiumCosts>
	<ResourceQuantities>
		<Attribute name="SpringfieldChoppers_ResourceList1" value="125" />
		<Attribute name="SpringfieldChoppers_ResourceList2" value="125" />
		<Attribute name="SpringfieldChoppers_ResourceList3" value="125" />
		<Attribute name="SpringfieldChoppers_ResourceList4" value="100" />
		<Attribute name="SpringfieldChoppers_ResourceList5" value="125" />
	</ResourceQuantities>
	<CurrencyRewards>
		<Attribute name="RegularJobReward" value="5" />
		<Attribute name="PremiumJobReward" value="8" />
		<Attribute name="PremiumReturningJobReward" value="7" />
		<Attribute name="RegularTaxJobs" value="10" />
		<Attribute name="PremiumTaxJobs" value="20" />
		<Attribute name="4HStandard_XP" value="45" />
		<Attribute name="4HPremium_XP" value="70" />
	</CurrencyRewards>
	<EarnsCurrency>
		<Attribute name="GasCans" value="UI_EarnsEventCurrencyInput" localise="true" parameters="textParams">
			<AttributeSet name="textParams">
				<Attribute name="0" value="UI_SpringfieldChoppers_CurrencyPlural" localise="true" />
			</AttributeSet>
		</Attribute>
	</EarnsCurrency>
	<EnableMTX>
		<Attribute name="SpringfieldChoppers_iOSMTXOffersEnabled" value="true" />
		<Attribute name="SpringfieldChoppers_AndroidMTXOffersEnabled" value="true" />
	</EnableMTX>
</Attributes>