<Buildings><!---->
	<BuildingDefaults>
		<NoNewTagIfNoHistory value="true" />
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="false" />
		<MultiPlace value="false" />
		<ApplyLevelMultiplier value="false" />
		<ForceToRoadGrid value="false" />
		<ActiveAnimationController name="Neutral" />
		<TaxJobPackage value="SpringfieldHeights_Jobs" />
	</BuildingDefaults>
	<Building id="105500" name="FancyWall" type="Decoration" renderTag="fence">
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<ConstructionReward xp="1" RealEstateValue="3000" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="false" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="15" />
		<Sell allowed="false" storeoverride="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105501" name="FancyFence" type="Decoration" renderTag="fence">
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<ConstructionReward xp="2" RealEstateValue="1500" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="10" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="false" />
		<ShrinkAABB value="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<DirectionsToFlip value="4" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105502" name="FancyLampost" type="Decoration">
		<Cost Furniture="30" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="400000" />
		</Requirements>
		<ConstructionReward xp="30" RealEstateValue="5000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105503" name="FancyGate" type="Decoration" renderTag="fence">
		<Cost Latte="20" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="700000" />
		</Requirements>
		<ConstructionReward xp="40" RealEstateValue="60000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<GridType type="grass|dirtpavement|pavement" />
		<DirectionsToFlip value="4" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105504" name="SpringfieldHeightsGate" type="Decoration">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="200000" />
		</Requirements>
		<ConstructionReward xp="50" RealEstateValue="75000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="50" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105505" name="Vineyard" type="Decoration" renderTag="greenery">
		<Cost Pharmaceutical="5" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="10000000" />
		</Requirements>
		<ConstructionReward xp="15" RealEstateValue="22500" />
		<Unique value="false" />
		<Group name="HeightsPharmaceutical" />
		<BuildTime time="0" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105506" name="Helicopter" type="AnimatedDecoration">
		<Cost Pharmaceutical="15" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="35000000" />
		</Requirements>
		<ConstructionReward xp="45" RealEstateValue="67500" />
		<Unique value="false" />
		<BuildTime time="0" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<Group name="HeightsPharmaceutical" />
		<OnEvent onObject="Helicopter" event="BuildingTouched">
			<Script name="HelicopterTapped" package="SpringfieldHeights_Scripts" />
		</OnEvent>
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105507" name="ClassyFountain" type="AnimatedDecoration">
		<Cost SmartDevice="5" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="1000000" />
		</Requirements>
		<ConstructionReward xp="15" RealEstateValue="22500" />
		<Unique value="false" />
		<BuildTime time="0" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<Group name="HeightsSmartDevice" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
		<AmbientSound soundKit="Fountain_Med" />
	</Building>
	<Building id="105508" name="FancyTree" type="Decoration" renderTag="greenery">
		<Cost YogaMat="5" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="2500000" />
		</Requirements>
		<ConstructionReward xp="10" RealEstateValue="15000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<Group name="HeightsYogaMat" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105509" name="FancyBush" type="Decoration" renderTag="greenery">
		<Cost Furniture="25" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="400000" />
		</Requirements>
		<ConstructionReward xp="25" RealEstateValue="4500" />
		<Unique value="false" />
		<BuildTime time="0" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105510" name="GoldMailbox" type="Decoration">
		<Cost HollywoodAward="5" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="28200000" />
		</Requirements>
		<ConstructionReward xp="45" RealEstateValue="37500" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Group name="HeightsAward" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105511" name="LamborgottiFasterossa" type="Decoration">
		<Cost HollywoodAward="10" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="55000000" />
		</Requirements>
		<ConstructionReward xp="50" RealEstateValue="75000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge" />
		<Group name="SpringfieldHeightsDecorations" />
		<Group name="HeightsAward" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105512" name="MoneyTree" type="Decoration" renderTag="greenery">
		<Cost Latte="15" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="800000" />
		</Requirements>
		<ConstructionReward xp="30" RealEstateValue="45000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105513" name="LuxuryYacht" type="AnimatedDecoration" flatBuilding="true">
		<Cost HollywoodAward="25" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="70000000" />
		</Requirements>
		<ConstructionReward xp="125" RealEstateValue="187500" />
		<Unique value="false" />
		<BuildTime time="0" />
		<GridType type="ocean" />
		<Group name="SpringfieldHeightsDecorations" />
		<Group name="HeightsAward" />
		<SubFootprints>
			<Footprint name="LuxuryYacht_Top" />
		</SubFootprints>
		<ActiveAnimationController name="YachtBase" />
		<Falls value="false" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105523" name="LuxuryYacht_Top" type="AnimatedDecoration" xpValue="1">
		<GridType type="ocean" />
		<BuildTime time="1" />
		<Proxy value="true" />
		<ActiveAnimationController name="YachtTop" />
		<ApplyLevelMultiplier value="false" />
	</Building>
	<Building id="105514" name="JetSki" type="AnimatedDecoration" flatBuilding="true">
		<Cost Furniture="200" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="3000000" />
		</Requirements>
		<ConstructionReward xp="200" RealEstateValue="300000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<GridType type="ocean" />
		<Group name="SpringfieldHeightsDecorations" />
		<SubFootprints>
			<Footprint name="JetSki_Top" />
		</SubFootprints>
		<OnEvent onObject="JetSki" event="BuildingTouched">
			<Script name="JetSkiTapped" package="SpringfieldHeights_Scripts" />
		</OnEvent>
		<ActiveAnimationController name="JetskiBase" />
		<Falls value="false" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105524" name="JetSki_Top" type="AnimatedDecoration" xpValue="1">
		<GridType type="ocean" />
		<BuildTime time="1" />
		<Proxy value="true" />
		<ActiveAnimationController name="JetskiTop" />
		<ApplyLevelMultiplier value="false" />
	</Building>
	<Building id="105516" name="PoloField" type="Decoration">
		<Cost Latte="200" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="4000000" />
		</Requirements>
		<ConstructionReward xp="400" RealEstateValue="600000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<GridType type="grass|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105518" name="SolidGoldBrickWall" type="Decoration" renderTag="fence">
		<Cost HollywoodAward="1" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="55000000" />
		</Requirements>
		<ConstructionReward xp="5" RealEstateValue="7500" />
		<Unique value="false" />
		<BuildTime time="0" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="false" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<Group name="HeightsAward" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105519" name="SolidGoldFence" type="Decoration" renderTag="fence">
		<Cost HollywoodAward="2" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="55000000" />
		</Requirements>
		<ConstructionReward xp="10" RealEstateValue="15000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="false" />
		<GridType type="grass|dirtpavement|pavement" />
		<DirectionsToFlip value="4" />
		<ShrinkAABB value="true" />
		<Group name="SpringfieldHeightsDecorations" />
		<Group name="HeightsAward" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105520" name="FlyingCar" type="Decoration">
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<ConstructionReward xp="10" RealEstateValue="100000" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="true" />
		<BuildTime time="0" />
		<Cost money="100" />
		<GridType type="grass|dirtpavement|pavement|beach|boardwalk|boardwalkedge|pier|pieredge" />
		<Group name="SpringfieldHeightsDecorations" />
		<Group name="Vehicles" />
		<SoundKit event="BuildingTouched" name="FlyingCar_Tap" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105521" name="SpringfieldLake" type="Decoration" xpValue="10">
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="true" />
		<BuildTime time="0" />
		<Cost money="100" />
		<GridType type="grass|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105522" name="BillionaireHaven" type="AnimatedDecoration" xpValue="10">
		<Cost money="1" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="1000000000" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="true" />
		<BuildTime time="0" />
		<Characters>
			<Character name="ParisTexan" />
		</Characters>
		<GridType type="grass|dirtpavement|pavement" />
		<OnEvent onObject="BillionaireHaven" event="BuildingTouched">
			<Script name="BillionaireHavenTapped" package="SpringfieldHeights_Scripts" />
		</OnEvent>
		<RatingElem decoration="10" />
		<AmbientSound soundKit="campfire_med" />
	</Building>
	<Building id="105600" name="ClassicMansionEntrance" type="Decoration" xpValue="0">
		<Cost money="1" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105601" name="ClassicMansionFrontBalcony" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<DirectionsToFlip value="4" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105602" name="ClassicMansionGarage" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105603" name="ClassicMansionGarden" type="Decoration">
		<Cost Latte="10" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="1850000" />
		</Requirements>
		<ConstructionReward xp="20" RealEstateValue="30000" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105604" name="ClassicMansionHotTub" type="AnimatedDecoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
		<AmbientSound soundKit="dec_Hot_Tub_Water_Bubble" />
	</Building>
	<Building id="105605" name="ClassicMansionMiddleBuilding" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105606" name="ClassicMansionPalm01" type="Decoration" renderTag="greenery">
		<Cost Furniture="25" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<ConstructionReward xp="3" RealEstateValue="4500" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105607" name="ClassicMansionPalm02" type="Decoration" renderTag="greenery">
		<Cost Furniture="25" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<ConstructionReward xp="3" RealEstateValue="4500" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105608" name="ClassicMansionSideBalcony" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<DirectionsToFlip value="4" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105609" name="ClassicMansionSideBuilding" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105610" name="ClassicMansionSmallBalcony" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<DirectionsToFlip value="4" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105611" name="ClassicMansionSmallPlant" type="Decoration" renderTag="greenery">
		<Cost Furniture="5" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<ConstructionReward xp="5" RealEstateValue="1000" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105612" name="ModernMansionArtStatue" type="Decoration">
		<Cost YogaMat="12" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="6200000" />
		</Requirements>
		<ConstructionReward xp="24" RealEstateValue="36000" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<Group name="HeightsYogaMat" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105613" name="ModernMansionAwning" type="Decoration">
		<Cost Latte="50" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="6200000" />
		</Requirements>
		<ConstructionReward xp="100" RealEstateValue="150000" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105614" name="ModernMansionMiddleBuilding" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105615" name="ModernMansionFountain" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
		<AmbientSound soundKit="dec_Minnow_Pond" />
	</Building>
	<Building id="105616" name="ModernMansionGarage" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105617" name="ModernMansionLowerBalcony" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<DirectionsToFlip value="4" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105618" name="ModernMansionPool" type="AnimatedDecoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
		<AmbientSound soundKit="Fountain_Med" />
	</Building>
	<Building id="105619" name="ModernMansionSideBuilding01" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105620" name="ModernMansionSideBuilding02" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105621" name="ModernMansionSolarPanel" type="Decoration">
		<Cost YogaMat="10" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="6200000" />
		</Requirements>
		<ConstructionReward xp="20" RealEstateValue="30000" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Group name="HeightsYogaMat" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105622" name="ModernMansionUpperBalcony" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<DirectionsToFlip value="4" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement|pavement|beach" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105623" name="BeachFrontPathway" type="Decoration" flatBuilding="true">
		<Cost Furniture="50" />
		<BuildFromInventory value="true" />
		<InventoryRequirements>
			<Requirement type="level" level="30" />
		</InventoryRequirements>
		<VisibilityRequirements>
			<Requirement type="formula" formula="lessThan(System::evaluate('Building::BeachFrontPathway::TotalCount'), System::evaluate('Land::LandCount::0,-7:0,-2'))" />
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest" quest="SpringfieldHeights03" />
			<Requirement type="special currency" currency="RealEstateValue" amount="200000" />
			<Requirement type="formula" formula="lessThan(System::evaluate('Building::BeachFrontPathway::TotalCount'), System::evaluate('Land::LandCount::0,-7:0,-2'))" />
		</Requirements>
		<ConstructionReward xp="10" RealEstateValue="75000" />
		<Sell allowed="false" storeoverride="true" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Flippable value="false" />
		<Falls value="true" />
	<!--<GridType type="beach|cliff|grass|dirtpavement" />
		<ForcedGridPos x="11" zMax="-16" />
		<ExtraCollisions>
			<CollisionArea x="0" y="0" xLength="5" yLength="7" />
			<CollisionArea x="0" y="8" xLength="5" yLength="6" />
		</ExtraCollisions>-->
		<SubFootprints>
			<Footprint name="BeachFrontPathway_Back" />
			<Footprint name="BeachFrontPathway_Front" />
		</SubFootprints>
		<Walkable value="true" />
		<RatingElem decoration="10" />
	</Building>
	<Building id="105629" name="BeachFrontPathway_Front" type="Building" xpValue="0">
		<BuildTime time="1" />
		<Proxy value="true" />
		<Walkable value="true" />
	</Building>
	<Building id="105630" name="BeachFrontPathway_Back" type="Building" xpValue="0">
		<BuildTime time="1" />
		<Proxy value="true" />
		<Walkable value="true" />
	</Building>
	<Building id="105624" name="SpringfieldHeightsEntrance" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="false" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Flippable value="false" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement" />
	<!--<ForcedGridPos x="16" z="0" />-->
		<AllowRearrange value="true" />
	</Building>
	<Building id="105625" name="SpringfieldHeightsEntranceSmall" type="Decoration" xpValue="0">
		<Cost money="1" />
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<Sell allowed="false" storeoverride="false" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Flippable value="false" />
		<Falls value="false" />
		<GridType type="grass|dirtpavement" />
	<!--<ForcedGridPos x="28" z="0" />-->
		<AllowRearrange value="false" />
	</Building>
	<Building id="105525" name="GoldFancyTree" type="Decoration" renderTag="greenery">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="10000000" />
		</Requirements>
		<ConstructionReward xp="200" RealEstateValue="300000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="200" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="false" />
		<ShrinkAABB value="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<DirectionsToFlip value="4" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105526" name="GoldPalmTree" type="Decoration" renderTag="greenery">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="8000000" />
		</Requirements>
		<ConstructionReward xp="150" RealEstateValue="200000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="150" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="false" />
		<ShrinkAABB value="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<DirectionsToFlip value="4" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105527" name="GoldSmallPlant" type="Decoration" renderTag="greenery">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="8000000" />
		</Requirements>
		<ConstructionReward xp="100" RealEstateValue="150000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="100" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="false" />
		<ShrinkAABB value="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<DirectionsToFlip value="4" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105528" name="GoldFancyTree2" type="Decoration" renderTag="greenery">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="10000000" />
		</Requirements>
		<ConstructionReward xp="200" RealEstateValue="300000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="200" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105529" name="GoldPalmTree2" type="Decoration" renderTag="greenery">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="8000000" />
		</Requirements>
		<ConstructionReward xp="150" RealEstateValue="200000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="150" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
	<Building id="105530" name="GoldSmallPlant2" type="Decoration" renderTag="greenery">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="8000000" />
		</Requirements>
		<ConstructionReward xp="100" RealEstateValue="150000" />
		<Unique value="false" />
		<BuildTime time="0" />
		<Cost Furniture="100" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" ignoreFacing="true" />
		<GridType type="grass|dirtpavement|pavement" />
		<Group name="SpringfieldHeightsDecorations" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
	</Building>
</Buildings>