<Requirements>
	<StoreCategory_SpringfieldEnlightened_Unlocked>
		<Requirement type="quest" quest="MyPad" />
		<Requirement type="time" start="SpringfieldEnlightened_Start" end="SpringfieldEnlightened_End" />
		<Requirement type="quest started" quest="SpringfieldEnlightened_IntroPanel" />
	</StoreCategory_SpringfieldEnlightened_Unlocked>
	<StoreNotifications_Unlocked>
		<Requirement type="quest" quest="SpringfieldEnlightened_RecommendStore" />
	</StoreNotifications_Unlocked>
	<Event_Active>
		<Requirement type="time" start="SpringfieldEnlightened_Start" end="SpringfieldEnlightened_End" />
	</Event_Active>
	<EventCompleted>
		<Requirement type="variable" variable="SpringfieldEnlightened_Week1_Complete" />
		<Requirement type="variable" variable="SpringfieldEnlightened_Week2_Complete" />
		<Requirement type="variable" variable="SpringfieldEnlightened_Week3_Complete" />
		<Requirement type="variable" variable="SpringfieldEnlightened_Week4_Complete" />
	</EventCompleted>
	<EventExpired>
		<Requirement type="variable" variable="SpringfieldEnlightened_Week1_Expired" />
		<Requirement type="variable" variable="SpringfieldEnlightened_Week2_Expired" />
		<Requirement type="variable" variable="SpringfieldEnlightened_Week3_Expired" />
		<Requirement type="variable" variable="SpringfieldEnlightened_Week4_Expired" />
		<Requirement type="time" start="SpringfieldEnlightened_End" />
	</EventExpired>
	<EventMasterQuestsStarted>
		<Requirement type="conditional" logic="OR">
			<Requirement type="quest started" quest="GirlEnlightened_1" />
			<Requirement type="quest started" quest="OmIsWhereTheHeartIs_1" />
			<Requirement type="quest started" quest="OhBrotherWhyArtThou_1" />
			<Requirement type="quest started" quest="BuddhismSans_1" />
		</Requirement>
	</EventMasterQuestsStarted>
	<EventQuestsActive>
		<Requirement type="conditional" logic="OR">
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive1" />
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive2" />
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive3" />
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive4" />
		</Requirement>
	</EventQuestsActive>
	<MasterQuestActive1>
		<Requirement type="conditional" logic="OR">
			<Requirement type="active quest" quest="GirlEnlightened_1" />
			<Requirement type="active quest" quest="GirlEnlightened_2" />
			<Requirement type="active quest" quest="GirlEnlightened_3" />
			<Requirement type="active quest" quest="GirlEnlightened_4" />
			<Requirement type="active quest" quest="GirlEnlightened_5" />
		</Requirement>
	</MasterQuestActive1>
	<MasterQuestActive2>
		<Requirement type="conditional" logic="OR">
			<Requirement type="active quest" quest="OmIsWhereTheHeartIs_1" />
			<Requirement type="active quest" quest="OmIsWhereTheHeartIs_2" />
			<Requirement type="active quest" quest="OmIsWhereTheHeartIs_3" />
			<Requirement type="active quest" quest="OmIsWhereTheHeartIs_4" />
			<Requirement type="active quest" quest="OmIsWhereTheHeartIs_5" />
		</Requirement>
	</MasterQuestActive2>
	<MasterQuestActive3>
		<Requirement type="conditional" logic="OR">
			<Requirement type="active quest" quest="OhBrotherWhyArtThou_1" />
			<Requirement type="active quest" quest="OhBrotherWhyArtThou_2" />
			<Requirement type="active quest" quest="OhBrotherWhyArtThou_3" />
			<Requirement type="active quest" quest="OhBrotherWhyArtThou_4" />
			<Requirement type="active quest" quest="OhBrotherWhyArtThou_5" />
		</Requirement>
	</MasterQuestActive3>
	<MasterQuestActive4>
		<Requirement type="conditional" logic="OR">
			<Requirement type="active quest" quest="BuddhismSans_1" />
			<Requirement type="active quest" quest="BuddhismSans_2" />
			<Requirement type="active quest" quest="BuddhismSans_3" />
			<Requirement type="active quest" quest="BuddhismSans_4" />
			<Requirement type="active quest" quest="BuddhismSans_5" />
		</Requirement>
	</MasterQuestActive4>
	<BartsCasinoAndCasinoBart_Available>
		<Requirement type="character" name="Bart" unlockedskin="CasinoBossBart" not="true" />
		<Requirement type="consumableCount" name="BartsCasinoAndCasinoBart" requireCountMin="1" not="true" />
		<Requirement type="consumableCount" name="BartsCasino" requireCountMin="1" not="true" />
		<Requirement type="consumableCount" name="CasinoBossBart" requireCountMin="1" not="true" />
		<Requirement type="building" building="BartsTreehouse" skinOwned="BartsCasino" not="true" />
	</BartsCasinoAndCasinoBart_Available>
	<CasinoVIPSkinBundle_Available>
		<Requirement type="building owned" building="CasinoVIP" />
		<Requirement type="conditional" logic="OR">
			<Requirement type="item" item="CasinoVIP_02" checkInventoryOnly="false" not="true" />
			<Requirement type="item" item="CasinoVIP_03" checkInventoryOnly="false" not="true" />
			<Requirement type="item" item="CasinoVIP_04" checkInventoryOnly="false" not="true" />
		</Requirement>
	</CasinoVIPSkinBundle_Available>
	<SpringfieldEnlightened_DonutSale_Visible>
		<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MTXPurchaseOfferVisibility" />
		<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:StoreCategory_SpringfieldEnlightened_Unlocked" />
		<Requirement type="time" start="SpringfieldEnlightened_Act3Start" end="SpringfieldEnlightened_End" />
		<Requirement type="variable" variable="SpringfieldEnlightened_DonutSale_Purchased" not="true" />
	</SpringfieldEnlightened_DonutSale_Visible>
	<MTXPurchaseOfferVisibility>
		<Requirements>
			<Requirement type="conditional" logic="OR">
				<Requirement type="conditional" logic="AND">
					<Requirement type="platform" platform="ios" />
					<Requirement type="config" key="SpringfieldEnlightened_GameConfig:EnableMTX:SpringfieldEnlightened_iOSMTXOffersEnabled" value="true" />
				</Requirement>
				<Requirement type="conditional" logic="AND">
					<Requirement type="platform" platform="android" />
					<Requirement type="config" key="SpringfieldEnlightened_GameConfig:EnableMTX:SpringfieldEnlightened_AndroidMTXOffersEnabled" value="true" />
				</Requirement>
			</Requirement>
		</Requirements>
	</MTXPurchaseOfferVisibility>
	<TheTajMahalBundle_Purchased>
		<Requirement type="building owned" building="TheTajMahal" />
	</TheTajMahalBundle_Purchased>
	<TheTajMahalBundle_Available>
		<Requirement type="building owned" building="TheTajMahal" not="true" />
	</TheTajMahalBundle_Available>
	<BannedByTheBuddhaMysteryBox_Available>
		<Requirement type="conditional" logic="AND" not="true">
			<Requirement type="building owned" building="MovementarianCompound" />
			<Requirement type="building owned" building="PreppersCompound" />
			<Requirement type="building owned" building="SpringfieldHuntingSupplies" />
			<Requirement type="building owned" building="AfricanTreeResort" />
			<Requirement type="building owned" building="PigglysSuperSmorg" />
			<Requirement type="building owned" building="SlaughterhouseRestaurant" />
			<Requirement type="building owned" building="SlaughterhouseExpress" />
			<Requirement type="building owned" building="DeucesCabooseChiliDogs" />
			<Requirement type="building owned" building="SwankyFish" />
			<Requirement type="building owned" building="TreeSteakhouse" />
			<Requirement type="building owned" building="LeKrustyBurger" />
			<Requirement type="building owned" building="DeadLobster" />
			<Requirement type="building owned" building="DerKrazyKraut" />
			<Requirement type="building owned" building="TheHungryHun" />
			<Requirement type="building owned" building="StonecutterTable" />
			<Requirement type="building owned" building="ImprovisedSnare" />
			<Requirement type="building owned" building="MeatPropagandaBillboard" />
			<Requirement type="building owned" building="TurkeyStuffingMachine" />
			<Requirement type="building owned" building="SingingSirloin" />
			<Requirement type="building owned" building="PirateShip" />
			<Requirement type="characterunlocked" name="Booberella" />
			<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveCharacterGOB_Available" not="true" />
			<Requirement type="reqList" location="ClasslessReunion_Requirements:CurvaceousCaveOutfitGOB_Available" not="true" />
			<Requirement type="building owned" building="TheLeagueOfExtraHornyGentlemen" />
			<Requirement type="building owned" building="CurvaceousCave" />
			<Requirement type="building owned" building="Barra" />
			<Requirement type="building owned" building="BeerNBrawl" />
			<Requirement type="building owned" building="TheBoiledPotato" />
			<Requirement type="building owned" building="CBGB" />
			<Requirement type="building owned" building="CoconutBabaloo" />
			<Requirement type="building owned" building="DarbyOGuzzlins" />
			<Requirement type="building owned" building="TheFirstClassLounge" />
			<Requirement type="building owned" building="MoesBrewingCo" />
			<Requirement type="building owned" building="MoHoHouse" />
			<Requirement type="building owned" building="TheNagAndWeasel" />
			<Requirement type="building owned" building="OneNightStans" />
			<Requirement type="building owned" building="PoppaWheelies" />
			<Requirement type="building owned" building="SheSheLounge" />
			<Requirement type="building owned" building="SnubClub" />
			<Requirement type="building owned" building="TheSpottedCat" />
			<Requirement type="building owned" building="DraggleRock" />
			<Requirement type="building owned" building="DuffGardens" />
			<Requirement type="building owned" building="DuffBrewery" />
			<Requirement type="building owned" building="DuffPartyLiner" />
			<Requirement type="building owned" building="LittleBlackBox" />
			<Requirement type="building owned" building="CaesarsPowWowCasino" />
			<Requirement type="building owned" building="CasinoConciergeKiosk" />
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:BartsCasinoAndCasinoBart_Available" not="true" />
			<Requirement type="building owned" building="LaBelleFrottage" />
			<Requirement type="building owned" building="PeacockLounge" />
			<Requirement type="building owned" building="Britannia" />
			<Requirement type="building owned" building="BurnsCasino" />
			<Requirement type="building owned" building="CletussDiceDen" />
			<Requirement type="building owned" building="GamingMoes" />
			<Requirement type="building owned" building="HomersHouseOfCards" />
			<Requirement type="building owned" building="LuckyCasino" />
			<Requirement type="building owned" building="NerosPalaceCasino" />
			<Requirement type="building owned" building="SafariCasino" />
			<Requirement type="building owned" building="CasinoVIP" />
			<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:CasinoVIPSkinBundle_Available" not="true" />
			<Requirement type="building owned" building="DollarCasino" />
		</Requirement>
	</BannedByTheBuddhaMysteryBox_Available>
</Requirements>