<Skins>
	<MasterList>
		<DataID id="162000" name="PinCollectorLisa" />
	</MasterList>
	<Skin id="162000" name="PinCollectorLisa" character="Lisa" avatar="Lisa_PinCollector" unlockXP="25">
		<Animations character="Lisa_PinCollector" />
		<AnimationRemap Idle_Right="PinCollector_Idle" Idle_Left="PinCollector_Idle" Idle_blink_Right="PinCollector_Idle_Blink" Idle_blink_Left="PinCollector_Idle_Blink" Front_Walk_Right="PinCollector_Front_Walk" Front_Walk_Left="PinCollector_Front_Walk" Back_Walk_Right="PinCollector_Back_Walk" Back_Walk_Left="PinCollector_Back_Walk" Victory_Pose_Right="PinCollector_Victory_Pose" Victory_Pose_Left="PinCollector_Victory_Pose" />
		<Sound event="CharacterSoundTouched" sound="PIN_COLLECTOR_LISA_TAP_1.caf" />
		<Sound event="CharacterSoundTouched" sound="PIN_COLLECTOR_LISA_TAP_2.caf" />
		<Sound event="CharacterSoundBadJob" sound="PIN_COLLECTOR_LISA_JOBBAD_1.caf" />
		<Sound event="CharacterSoundBadJob" sound="PIN_COLLECTOR_LISA_JOBBAD_2.caf" />
		<Sound event="CharacterSoundGoodJob" sound="PIN_COLLECTOR_LISA_JOBGOOD_1.caf" />
		<Sound event="CharacterSoundGoodJob" sound="PIN_COLLECTOR_LISA_JOBGOOD_2.caf" />
		<Sound event="CharacterSoundDone" sound="PIN_COLLECTOR_LISA_JOBDONE_1.caf" />
		<Sound event="CharacterSoundDone" sound="PIN_COLLECTOR_LISA_JOBDONE_2.caf" />
		<UnlockSound type="notFlanders" />
		<Set index="3" name="SpringfieldGames" />
	</Skin>
</Skins>