<Attributes>
	<SpringfieldGames_PrizeGroup01>
		<Attribute>
			<Attribute name="tipFormat" value="UI_SpringfieldGames_EventEnding" localise="true" />
			<Attribute name="tipFormatExpired" value="UI_MiniEvents_FinishCurrent" localise="true" />
			<Attribute name="tipSubsections" />
			<Attribute name="tipEndDate" value="__SpringfieldGames_GameConfig:Dates:SpringfieldGames_tipEndDate__" />
			<Attribute name="tipEndDateExpiredText" value="UI_MiniEvents_OutOfTime" localise="true" />
		</Attribute>
		<Attribute name="prizes">
			<AttributeSet>
				<Include path="Config_MasterQuest:VisualPrizeGroup_FirstArrow_Locked" />
				<Attribute name="image" value="ICO_PRIZ_SpringfieldGames_SportsCauldron_MD.rgb" />
				<Attribute name="title" value="UI_MiniEvents_Reward_Decoration" localise="true" />
			</AttributeSet>
			<AttributeSet>
				<Include path="Config_MasterQuest:VisualPrizeGroup_NormalArrow_Locked" />
				<Attribute name="image" value="ICO_PRIZ_SpringfieldGames_SportsPodium_MD.rgb" />
				<Attribute name="title" value="UI_MiniEvents_Reward_Decoration" localise="true" />
			</AttributeSet>
			<AttributeSet>
				<Include path="Config_MasterQuest:VisualPrizeGroup_NormalArrow_Locked" />
				<Attribute name="image" value="ICO_PRIZ_SpringfieldGames_PinStand_MD.rgb" />
				<Attribute name="title" value="UI_MiniEvents_Reward_Decoration" localise="true" />
			</AttributeSet>
			<AttributeSet>
				<Include path="Config_MasterQuest:VisualPrizeGroup_NormalArrow_Locked" />
				<Attribute name="image" value="ICO_PRIZ_SpringfieldGames_LitCauldronFacade_MD.rgb" />
				<Attribute name="title" value="UI_MiniEvents_Reward_Animation" localise="true" />
			</AttributeSet>
			<AttributeSet>
				<Include path="Config_MasterQuest:VisualPrizeGroup_NormalArrow_Locked" />
				<Attribute name="image" value="ICO_PRIZ_SpringfieldGames_GoKartTrack_MD.rgb" />
				<Attribute name="title" value="UI_MiniEvents_Reward_Building" localise="true" />
			</AttributeSet>
			<AttributeSet>
				<Include path="Config_MasterQuest:VisualPrizeGroup_NormalArrow_Locked" />
				<Attribute name="image" value="ICO_PRIZ_SpringfieldGames_GoKartTrackBetting_MD.rgb" />
				<Attribute name="title" value="UI_MiniEvents_Reward_Building" localise="true" />
			</AttributeSet>
		</Attribute>
	</SpringfieldGames_PrizeGroup01>
</Attributes>