<Dates>
	<Date name="SpringfieldJobs_Start" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_Start__" />
	<Date name="SpringfieldJobs_ActOne" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_ActOne__" />
	<Date name="SpringfieldJobs_ActTwo" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_ActTwo__" />
	<Date name="SpringfieldJobs_ActThree" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_ActThree__" />
	<Date name="SpringfieldJobs_End" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_End__" />
	<Date name="SpringfieldJobs_AsianWondersMysteryBox_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_AsianWondersMysteryBox_Start__" />
	<Date name="SpringfieldJobs_AsianWondersMysteryBox_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_AsianWondersMysteryBox_End__" />
	<Date name="SpringfieldJobs_CasinoMysteryBox_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CasinoMysteryBox_Start__" />
	<Date name="SpringfieldJobs_CasinoMysteryBox_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CasinoMysteryBox_End__" />
	<Date name="SpringfieldJobs_End3Panel" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_End3Panel__" />
	<Date name="SpringfieldJobs_LASTCHANCE_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_LASTCHANCE_Start__" />
	<Date name="SpringfieldJobs_JacktheRipperPromotion_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_JacktheRipperPromotion_Start__" />
	<Date name="SpringfieldJobs_JacktheRipperPromotion_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_JacktheRipperPromotion_End__" />
	<Date name="SpringfieldJobs_SvenGollyMTX_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SvenGollyMTX_Start__" />
	<Date name="SpringfieldJobs_SvenGollyMTX_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SvenGollyMTX_End__" />
	<Date name="SpringfieldJobs_SvenGollyPopup_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SvenGollyPopup_Start__" />
	<Date name="SpringfieldJobs_SvenGollyPopup_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SvenGollyPopup_End__" />
	<Date name="SpringfieldJobs_FirstClassLounge_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_FirstClassLounge_Start__" />
	<Date name="SpringfieldJobs_FirstClassLounge_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_FirstClassLounge_End__" />
	<Date name="SpringfieldJobs_CalabresiBundle_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CalabresiBundle_Start__" />
	<Date name="SpringfieldJobs_CalabresiBundle_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CalabresiBundle_End__" />
	<Date name="SpringfieldJobs_CalabresiBundle_POPUP" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CalabresiBundle_Popup__" />
	<Date name="SpringfieldJobs_Colosseum_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Colosseum_Start__" />
	<Date name="SpringfieldJobs_Colosseum_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Colosseum_End__" />
	<Date name="SpringfieldJobs_PompeiiRuins_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_PompeiiRuins_Start__" />
	<Date name="SpringfieldJobs_PompeiiRuins_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_PompeiiRuins_End__" />
	<Date name="SpringfieldJobs_StPaulsBasilica_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_StPaulsBasilica_Start__" />
	<Date name="SpringfieldJobs_StPaulsBasilica_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_StPaulsBasilica_End__" />
	<Date name="SpringfieldJobs_WestminsterAbbey_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_WestminsterAbbey_Start__" />
	<Date name="SpringfieldJobs_WestminsterAbbey_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_WestminsterAbbey_End__" />
	<Date name="SpringfieldJobs_BuckinghamPalace_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_BuckinghamPalace_Start__" />
	<Date name="SpringfieldJobs_BuckinghamPalace_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_BuckinghamPalace_End__" />
	<Date name="SpringfieldJobs_FortuneMegastore_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_FortuneMegastore_Start__" />
	<Date name="SpringfieldJobs_FortuneMegastore_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_FortuneMegastore_End__" />
	<Date name="SpringfieldJobs_NagAndWeasel_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_NagAndWeasel_Start__" />
	<Date name="SpringfieldJobs_NagAndWeasel_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_NagAndWeasel_End__" />
	<Date name="SpringfieldJobs_GiantFerrisWheel_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_GiantFerrisWheel_Start__" />
	<Date name="SpringfieldJobs_GiantFerrisWheel_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_GiantFerrisWheel_End__" />
	<Date name="SpringfieldJobs_RaoulsPenthouse_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_RaoulsPenthouse_Start__" />
	<Date name="SpringfieldJobs_RaoulsPenthouse_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_RaoulsPenthouse_End__" />
	<Date name="SpringfieldJobs_SmoochesOnTheBeach_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SmoochesOnTheBeach_Start__" />
	<Date name="SpringfieldJobs_SmoochesOnTheBeach_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SmoochesOnTheBeach_End__" />
	<Date name="SpringfieldJobs_Swelldorado_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Swelldorado_Start__" />
	<Date name="SpringfieldJobs_Swelldorado_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Swelldorado_End__" />
	<Date name="SpringfieldJobs_Scooter_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Scooter_Start__" />
	<Date name="SpringfieldJobs_Scooter_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Scooter_End__" />
	<Date name="SpringfieldJobs_WineBarrels_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_WineBarrels_Start__" />
	<Date name="SpringfieldJobs_WineBarrels_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_WineBarrels_End__" />
	<Date name="SpringfieldJobs_MotorcyclewithSidecar_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_MotorcyclewithSidecar_Start__" />
	<Date name="SpringfieldJobs_MotorcyclewithSidecar_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_MotorcyclewithSidecar_End__" />
	<Date name="SpringfieldJobs_SpringfieldMuseum_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SpringfieldMuseum_Start__" />
	<Date name="SpringfieldJobs_SpringfieldMuseum_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_SpringfieldMuseum_End__" />
	<Date name="SpringfieldJobs_PlatosRepublicCasino_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_PlatosRepublicCasino_Start__" />
	<Date name="SpringfieldJobs_PlatosRepublicCasino_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_PlatosRepublicCasino_End__" />
	<Date name="SpringfieldJobs_CesarAndUgolin_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CesarAndUgolin_Start__" />
	<Date name="SpringfieldJobs_CesarAndUgolin_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CesarAndUgolin_End__" />
	<Date name="SpringfieldJobs_ItalianVilla_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ItalianVilla_Start__" />
	<Date name="SpringfieldJobs_ItalianVilla_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ItalianVilla_End__" />
	<Date name="SpringfieldJobs_ItsAWonderfulKnife_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ItsAWonderfulKnife_Start__" />
	<Date name="SpringfieldJobs_ItsAWonderfulKnife_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ItsAWonderfulKnife_End__" />
	<Date name="SpringfieldJobs_FirstBankofSpringfield_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_FirstBankofSpringfield_Start__" />
	<Date name="SpringfieldJobs_FirstBankofSpringfield_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_FirstBankofSpringfield_End__" />
	<Date name="SpringfieldJobs_PontDuGard_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_PontDuGard_Start__" />
	<Date name="SpringfieldJobs_PontDuGard_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_PontDuGard_End__" />
	<Date name="SpringfieldJobs_ChateauMaison_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ChateauMaison_Start__" />
	<Date name="SpringfieldJobs_ChateauMaison_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ChateauMaison_End__" />
	<Date name="SpringfieldJobs_LeKrustyBurger_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_LeKrustyBurger_Start__" />
	<Date name="SpringfieldJobs_LeKrustyBurger_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_LeKrustyBurger_End__" />
	<Date name="SpringfieldJobs_LeKrustyBurger_Solo_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_LeKrustyBurger_Solo_Start__" />
	<Date name="SpringfieldJobs_LeKrustyBurger_Solo_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_LeKrustyBurger_Solo_End__" />
	<Date name="SpringfieldJobs_Moog_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Moog_Start__" />
	<Date name="SpringfieldJobs_Moog_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Moog_End__" />
	<Date name="SpringfieldJobs_BuckinghamPayLessMotel_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_BuckinghamPayLessMotel_Start__" />
	<Date name="SpringfieldJobs_BuckinghamPayLessMotel_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_BuckinghamPayLessMotel_End__" />
	<Date name="SpringfieldJobs_BigDigiBen_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_BigDigiBen_Start__" />
	<Date name="SpringfieldJobs_BigDigiBen_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_BigDigiBen_End__" />
	<Date name="SpringfieldJobs_RioDaysInnEro_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_RioDaysInnEro_Start__" />
	<Date name="SpringfieldJobs_RioDaysInnEro_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_RioDaysInnEro_End__" />
	<Date name="SpringfieldJobs_Fatov_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Fatov_Start__" />
	<Date name="SpringfieldJobs_Fatov_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_Fatov_End__" />
	<Date name="SpringfieldJobs_ResurrectionOfRigellianChrist_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ResurrectionOfRigellianChrist_Start__" />
	<Date name="SpringfieldJobs_ResurrectionOfRigellianChrist_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ResurrectionOfRigellianChrist_End__" />
	<Date name="SpringfieldJobs_ResurrectionOfRigellianChrist_POPUP" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_ResurrectionOfRigellianChrist_Popup__" />
	<Date name="SpringfieldJobs_CincoDeMayo_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CincoDeMayo_Start__" />
	<Date name="SpringfieldJobs_CincoDeMayo_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_CincoDeMayo_End__" />
	<Date name="SpringfieldJobs_JackTheRipper_IN" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_JackTheRipperGilPromo_Start__" />
	<Date name="SpringfieldJobs_JackTheRipper_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_JackTheRipperGilPromo_End__" />
	<Date name="SpringfieldJobs_PostEventPets_OUT" date="__SpringfieldJobs_GameConfig:Dates:SpringfieldJobs_MERCH_PostEventPets_End__" />
</Dates>