<Buildings>
	<BuildingDefaults>
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.5" G="0.0" B="0.0" A="0.7" />
		<GoodColour R="0.0" G="1.5" B="0.0" A="0.7" />
	</BuildingDefaults>
	<Building name="FancyWall">
		<BSv2 name="FancyWall" />
	</Building>
	<Building name="FancyFence">
		<BSv2 nameFlipSE="FancyFenceSE" nameFlipSW="FancyFenceSW" nameFlipNE="FancyFenceNE" nameFlipNW="FancyFenceNW" />
	</Building>
	<Building name="FancyLampost">
		<BSv2 name="FancyLampPost" />
	</Building>
	<Building name="FancyGate">
		<BSv2 nameFlipSE="FancyGateSE" nameFlipSW="FancyGateSW" nameFlipNE="FancyGateNE" nameFlipNW="FancyGateNW" />
	</Building>
	<Building name="SpringfieldHeightsGate">
		<BSv2 name="SHPromenadeGate" flippedname="SHPromenadeGateFlipped" />
	</Building>
	<Building name="Vineyard">
		<BSv2 name="Vineyard" />
	</Building>
	<Building name="Helicopter">
		<BSv2 name="ZiffCorpHelicopter" flippedname="ZiffCorpHelicopterFlipped" />
	</Building>
	<Building name="ClassyFountain">
		<BSv2 name="BellagioFountain" />
	</Building>
	<Building name="FancyTree">
		<BSv2 name="FancyTree" />
	</Building>
	<Building name="FancyBush">
		<BSv2 name="FancyBush" />
	</Building>
	<Building name="GoldMailbox">
		<BSv2 name="GoldMailbox" />
	</Building>
	<Building name="LamborgottiFasterossa">
		<BSv2 name="LamborgottiFasterossa" flippedname="LamborgottiFasterossaFlipped" />
	</Building>
	<Building name="MoneyTree">
		<BSv2 name="MoneyTree" />
	</Building>
	<Building name="LuxuryYacht">
		<BSv2 name="LuxuryYacht" neutralAnim="YachtBase" />
	</Building>
	<Building name="LuxuryYacht_Top">
		<BSv2 name="LuxuryYacht" neutralAnim="YachtTop" />
	</Building>
	<Building name="JetSki">
		<BSv2 name="Jetski" neutralAnim="JetskiBase" />
	</Building>
	<Building name="JetSki_Top">
		<BSv2 name="Jetski" neutralAnim="JetskiTop" />
	</Building>
	<Building name="PoloField">
		<BSv2 name="PoloField" />
	</Building>
	<Building name="SolidGoldBrickWall">
		<BSv2 name="SolidGoldBrickWall" flippedname="SolidGoldBrickWallFlipped" />
	</Building>
	<Building name="SolidGoldFence">
		<BSv2 nameFlipSE="SolidGoldFenceSE" nameFlipSW="SolidGoldFenceSW" nameFlipNE="SolidGoldFenceNE" nameFlipNW="SolidGoldFenceNW" />
	</Building>
	<Building name="FlyingCar">
		<BSv2 name="FlyingCar" />
	</Building>
	<Building name="SpringfieldLake" animated="true">
		<BSv2 name="SpringfieldLake" flippedname="SpringfieldLakeFlipped" />
	</Building>
	<Building name="BillionaireHaven" animated="true">
		<BSv2 name="BillionaireHaven" flippedname="BillionaireHavenFlipped" />
	</Building>
	<Building name="ClassicMansionEntrance">
		<BSv2 name="MansionClassicEntrance" />
	</Building>
	<Building name="ClassicMansionFrontBalcony">
		<BSv2 nameFlipSE="MansionClassicFrontBalconySE" nameFlipSW="MansionClassicFrontBalconySW" nameFlipNE="MansionClassicFrontBalconyNE" nameFlipNW="MansionClassicFrontBalconyNW" />
	</Building>
	<Building name="ClassicMansionGarage">
		<BSv2 name="MansionClassicGarage" />
	</Building>
	<Building name="ClassicMansionGarden">
		<BSv2 name="MansionClassicGarden" />
	</Building>
	<Building name="ClassicMansionHotTub">
		<BSv2 name="MansionClassicHotTub" />
	</Building>
	<Building name="ClassicMansionMiddleBuilding">
		<BSv2 name="MansionClassicMidBuilding" />
	</Building>
	<Building name="ClassicMansionPalm01">
		<BSv2 name="MansionClassicPalm01" />
	</Building>
	<Building name="ClassicMansionPalm02">
		<BSv2 name="MansionClassicPalm02" />
	</Building>
	<Building name="ClassicMansionSideBalcony">
		<BSv2 nameFlipSE="MansionClassicSideBalconySE" nameFlipSW="MansionClassicSideBalconySW" nameFlipNE="MansionClassicSideBalconyNE" nameFlipNW="MansionClassicSideBalconyNW" />
	</Building>
	<Building name="ClassicMansionSideBuilding">
		<BSv2 name="MansionClassicSideBuilding" />
	</Building>
	<Building name="ClassicMansionSmallBalcony">
		<BSv2 nameFlipSE="MansionClassicSmallBalconySE" nameFlipSW="MansionClassicSmallBalconySW" nameFlipNE="MansionClassicSmallBalconyNE" nameFlipNW="MansionClassicSmallBalconyNW" />
	</Building>
	<Building name="ClassicMansionSmallPlant">
		<BSv2 name="MansionClassicSmallPlant" />
	</Building>
	<Building name="ModernMansionArtStatue">
		<BSv2 name="MansionModernArtStatue" />
	</Building>
	<Building name="ModernMansionAwning">
		<BSv2 name="MansionModernAwning" />
	</Building>
	<Building name="ModernMansionMiddleBuilding">
		<BSv2 name="MansionModernMiddleBuilding" />
	</Building>
	<Building name="ModernMansionFountain">
		<BSv2 name="MansionModernFountain" />
	</Building>
	<Building name="ModernMansionGarage">
		<BSv2 name="MansionModernGarage" />
	</Building>
	<Building name="ModernMansionLowerBalcony">
		<BSv2 nameFlipSE="MansionModernLowerBalconySE" nameFlipSW="MansionModernLowerBalconySW" nameFlipNE="MansionModernLowerBalconyNE" nameFlipNW="MansionModernLowerBalconyNW" />
	</Building>
	<Building name="ModernMansionPool">
		<BSv2 name="MansionModernPool" />
	</Building>
	<Building name="ModernMansionSideBuilding01">
		<BSv2 name="MansionModernSideBuilding" />
	</Building>
	<Building name="ModernMansionSideBuilding02">
		<BSv2 name="MansionModernSideBuilding2" />
	</Building>
	<Building name="ModernMansionSolarPanel">
		<BSv2 name="MansionModernSolarPanel" />
	</Building>
	<Building name="ModernMansionUpperBalcony">
		<BSv2 nameFlipSE="MansionModernUpperBalconySE" nameFlipSW="MansionModernUpperBalconySW" nameFlipNE="MansionModernUpperBalconyNE" nameFlipNW="MansionModernUpperBalconyNW" />
	</Building>
	<Building name="BeachFrontPathway">
		<BSv2 name="sheightsstairs" neutralAnim="neutral" />
	</Building>
	<Building name="BeachFrontPathway_Front">
		<BSv2 name="sheightsstairs" neutralAnim="front" />
	</Building>
	<Building name="BeachFrontPathway_Back">
		<BSv2 name="sheightsstairs" neutralAnim="back" />
	</Building>
	<Building name="SpringfieldHeightsEntrance">
		<BSv2 name="SHeights_Entrance" />
	</Building>
	<Building name="SpringfieldHeightsEntranceSmall">
		<BSv2 name="SHeights_EntranceSmall" />
	</Building>
	<Building name="GoldFancyTree">
		<BSv2 name="GoldenFancyTree" />
	</Building>
	<Building name="GoldPalmTree">
		<BSv2 name="GoldenPalmTree" />
	</Building>
	<Building name="GoldSmallPlant">
		<BSv2 name="GoldenSmallPlant" />
	</Building>
	<Building name="GoldFancyTree2">
		<BSv2 name="GoldenFancyTree" />
	</Building>
	<Building name="GoldPalmTree2">
		<BSv2 name="GoldenPalmTree" />
	</Building>
	<Building name="GoldSmallPlant2">
		<BSv2 name="GoldenSmallPlant" />
	</Building>
</Buildings>