<Attributes>
	<GuidePanelConfig>
		<Attribute name="FullPanelConfig">
			<AttributeSet name="image">
				<Attribute name="image" value="ICO_Heights_GuidePanel" />
			</AttributeSet>
		</Attribute>
		<Attribute name="TopPanel1Config">
			<AttributeSet name="text">
				<Attribute name="text" value="UI_SpringfieldHeights_Guide_Step1" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
		</Attribute>
		<Attribute name="TopPanel2Config">
			<AttributeSet name="text">
				<Attribute name="text" value="UI_SpringfieldHeights_Guide_Step2" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
		</Attribute>
		<Attribute name="BottomPanel1Config">
			<AttributeSet name="text">
				<Attribute name="text" value="UI_SpringfieldHeights_Guide_Step3" localise="true" />
				<Attribute name="font" value="eFont_SmallBold" />
				<Attribute name="color" value="FFFFFFFF" />
				<Attribute name="useTopText" value="true" />
			</AttributeSet>
		</Attribute>
		<Attribute name="MenuConfig">
			<AttributeSet name="titleText">
				<Attribute name="text" value="UI_SpringfieldHeights_Guide_Title" localise="true" />
				<Attribute name="font" value="eFont_Special" />
				<Attribute name="color" value="FFFFFFFF" />
			</AttributeSet>
			<AttributeSet name="closeButtonImage">
				<Attribute name="image" value="ICO_Close" />
			</AttributeSet>
			<AttributeSet name="closeButtonImageHighlight">
				<Attribute name="image" value="ICO_Close" />
			</AttributeSet>
		</Attribute>
		<Attribute name="ToolTip" value="false" />
		<Attribute name="ExitButtonScript" value="MiscScripts:GoToInGame" />
		<Attribute name="HideDividers" value="true" />
	</GuidePanelConfig>
</Attributes>