<SpecialEvents>
	<MasterList>
		<DataID id="245000" name="SpringfieldEnlightened_Event" />
		<DataID id="245001" name="SpringfieldEnlightened_Event_Week1" />
		<DataID id="245002" name="SpringfieldEnlightened_Event_Week2" />
		<DataID id="245003" name="SpringfieldEnlightened_Event_Week3" />
		<DataID id="245004" name="SpringfieldEnlightened_Event_Week4" />
	</MasterList>
	<SpecialEvent id="245000" name="SpringfieldEnlightened_Event">
		<Variable name="SpringfieldEnlightened_PreExpiryDisplayed24" value="false" />
		<Variable name="SpringfieldEnlightened_PreExpiryDisplayed72" value="false" />
		<Variable name="SpringfieldEnlightened_IntroSeen" value="false" />
		<Variable name="SpringfieldEnlightened_EventHubTabValue" value="false" />
		<Variable name="SpringfieldEnlightened_Store" value="false" />
		<Variable name="SpringfieldEnlightened_DonutSale_Purchased" value="false" />
		<onExit destroyHUD="true" />
		<Promo eventName="SpringfieldEnlightened_TheTajMahalGilPromo" questID="245800" type="building" object="TheTajMahal" yes="BTN_200Donuts" visualEndDate="SpringfieldEnlightened_TheTajMahal_OUT" menu="SpringfieldEnlightenedDynamicTextPromo" menuConfig="SpringfieldEnlightened_GameConfig:TheTajMahal_PromoMenuConfig">
			<Cost donuts="200" />
		</Promo>
		<SpecialButtons>
			<Button mode="game" icon="ICO_MHUD_SpringfieldEnlightened_Event">
				<Requirements>
					<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:EventCompleted" not="true" />
					<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:EventMasterQuestsStarted" />
					<Requirement type="time" start="SpringfieldEnlightened_Start" end="SpringfieldEnlightened_End" />
					<Requirement type="land" land="Springfield" />
					<Requirement type="time" end="SpringfieldEnlightened_End" />
				</Requirements>
				<RunScript>
					<Script name="OpenEventHub" package="SpringfieldEnlightened_Scripts" />
				</RunScript>
			</Button>
		</SpecialButtons>
		<EventHub menuConfig="Config_EventHub:Default">
			<Tabs>
				<Tab name="Tab_SpringfieldEnlightened_Questline1" icon="ICO_CUR_SpringfieldEnlightened_Act1Currency_LG">
					<DisplayRequirements>
						<Requirement type="quest started" quest="GirlEnlightened_1" />
					</DisplayRequirements>
					<HighlightRequirements>
						<Requirement type="formula" formula="SpringfieldEnlightened_EventHubTabValue==0" />
					</HighlightRequirements>
					<Script name="Tab_Week1" package="SpringfieldEnlightened_Scripts" />
				</Tab>
				<Tab name="Tab_SpringfieldEnlightened_Questline2" icon="ICO_CUR_SpringfieldEnlightened_Act2Currency_LG">
					<DisplayRequirements>
						<Requirement type="quest started" quest="OmIsWhereTheHeartIs_1" />
					</DisplayRequirements>
					<HighlightRequirements>
						<Requirement type="formula" formula="SpringfieldEnlightened_EventHubTabValue==1" />
					</HighlightRequirements>
					<Script name="Tab_Week2" package="SpringfieldEnlightened_Scripts" />
				</Tab>
				<Tab name="Tab_SpringfieldEnlightened_Questline3" icon="ICO_CUR_SpringfieldEnlightened_Act3Currency_LG">
					<DisplayRequirements>
						<Requirement type="quest started" quest="OhBrotherWhyArtThou_1" />
					</DisplayRequirements>
					<HighlightRequirements>
						<Requirement type="formula" formula="SpringfieldEnlightened_EventHubTabValue==2" />
					</HighlightRequirements>
					<Script name="Tab_Week3" package="SpringfieldEnlightened_Scripts" />
				</Tab>
				<Tab name="Tab_SpringfieldEnlightened_Questline4" icon="ICO_CUR_SpringfieldEnlightened_Act4Currency_LG">
					<DisplayRequirements>
						<Requirement type="quest started" quest="BuddhismSans_1" />
					</DisplayRequirements>
					<HighlightRequirements>
						<Requirement type="formula" formula="SpringfieldEnlightened_EventHubTabValue==3" />
					</HighlightRequirements>
					<Script name="Tab_Week4" package="SpringfieldEnlightened_Scripts" />
				</Tab>
			</Tabs>
			<ResourceTypes>
				<Resource type="SpringfieldEnlightened_Act1PrizeTrackCurrency">
					<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive1" />
				</Resource>
				<Resource type="SpringfieldEnlightened_Act2PrizeTrackCurrency">
					<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive2" />
				</Resource>
				<Resource type="SpringfieldEnlightened_Act3PrizeTrackCurrency">
					<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive3" />
				</Resource>
				<Resource type="SpringfieldEnlightened_Act4PrizeTrackCurrency">
					<Requirement type="reqList" location="SpringfieldEnlightened_Requirements:MasterQuestActive4" />
				</Resource>
			</ResourceTypes>
		</EventHub>
		<Buildings override="true">
			<Building id="245004" name="TowerOfScience">
				<BuildMenuText text="__SpringfieldEnlightened_GameConfig:EarnsCurrency:EventCurrency__" />
			</Building>
			<Building id="245005" name="GautamaPalace">
				<BuildMenuText text="__SpringfieldEnlightened_GameConfig:EarnsCurrency:EventCurrency__" />
			</Building>
			<Building id="245006" name="AncientMultiplayerGame">
				<BuildMenuText text="__SpringfieldEnlightened_GameConfig:EarnsCurrency:EventCurrency__" />
			</Building>
			<Building id="245007" name="JogyesaTemple">
				<BuildMenuText text="__SpringfieldEnlightened_GameConfig:EarnsCurrency:EventCurrency__" />
			</Building>
		</Buildings>
	</SpecialEvent>
	<SpecialEvent id="245001" name="SpringfieldEnlightened_Event_Week1">
		<EventCurrencyJobLists>
			<JobList name="SpringfieldEnlightened_Questline1_JL_1">
				<Title value="QST_GirlEnlightened_1_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline1_ResourceList1__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act1PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="CloneLotusFlowersWithScience" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Bart" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Homer" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Carl" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Apu" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline1_JL_2">
				<Title value="QST_GirlEnlightened_2_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline1_ResourceList2__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act1PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="CloneLotusFlowersWithScience" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Bart" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Homer" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Carl" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Apu" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline1_JL_3">
				<Title value="QST_GirlEnlightened_3_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline1_ResourceList3__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act1PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="CloneLotusFlowersWithScience" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Bart" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Homer" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Carl" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Apu" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline1_JL_4">
				<Title value="QST_GirlEnlightened_4_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline1_ResourceList4__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act1PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="CloneLotusFlowersWithScience" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Bart" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Homer" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Carl" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Apu" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline1_JL_5">
				<Title value="QST_GirlEnlightened_5_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline1_ResourceList5__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act1PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="CloneLotusFlowersWithScience" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Bart" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Homer" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Carl" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Apu" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="ScoopLotusFlowersOutOfPonds" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
		</EventCurrencyJobLists>
		<Jobs override="true">
			<Job id="245046" name="ScoopLotusFlowersOutOfPonds">
				<Reward SpringfieldEnlightened_Act1PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:RegularJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HStandard_XP__" />
			</Job>
			<Job id="245047" name="CloneLotusFlowersWithScience">
				<Reward SpringfieldEnlightened_Act1PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:PremiumJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HPremium_XP__" />
			</Job>
		</Jobs>
	</SpecialEvent>
	<SpecialEvent id="245002" name="SpringfieldEnlightened_Event_Week2">
		<EventCurrencyJobLists>
			<JobList name="SpringfieldEnlightened_Questline2_JL_1">
				<Title value="QST_OmIsWhereTheHeartIs_1_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline2_ResourceList1__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act2PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Bart" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Homer" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Carl" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Apu" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline2_JL_2">
				<Title value="QST_OmIsWhereTheHeartIs_2_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline2_ResourceList2__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act2PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Bart" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Homer" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Carl" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Apu" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline2_JL_3">
				<Title value="QST_OmIsWhereTheHeartIs_3_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline2_ResourceList3__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act2PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Bart" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Homer" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Carl" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Apu" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline2_JL_4">
				<Title value="QST_OmIsWhereTheHeartIs_4_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline2_ResourceList4__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act2PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Bart" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Homer" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Carl" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Apu" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline2_JL_5">
				<Title value="QST_OmIsWhereTheHeartIs_5_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline2_ResourceList5__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act2PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="GlueRocksTogether" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Bart" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Homer" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Carl" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Apu" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="FindRockStacksInTheMountains" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
		</EventCurrencyJobLists>
		<Jobs override="true">
			<Job id="245048" name="FindRockStacksInTheMountains">
				<Reward SpringfieldEnlightened_Act2PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:RegularJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HStandard_XP__" />
			</Job>
			<Job id="245049" name="GlueRocksTogether">
				<Reward SpringfieldEnlightened_Act2PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:PremiumJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HPremium_XP__" />
			</Job>
		</Jobs>
	</SpecialEvent>
	<SpecialEvent id="245003" name="SpringfieldEnlightened_Event_Week3">
		<EventCurrencyJobLists>
			<JobList name="SpringfieldEnlightened_Questline3_JL_1">
				<Title value="QST_OhBrotherWhyArtThou_1_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline3_ResourceList1__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act3PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Bart" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Homer" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Carl" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Apu" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline3_JL_2">
				<Title value="QST_OhBrotherWhyArtThou_2_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline3_ResourceList2__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act3PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Bart" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Homer" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Carl" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Apu" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline3_JL_3">
				<Title value="QST_OhBrotherWhyArtThou_3_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline3_ResourceList3__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act3PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Bart" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Homer" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Carl" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Apu" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline3_JL_4">
				<Title value="QST_OhBrotherWhyArtThou_4_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline3_ResourceList4__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act3PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Bart" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Homer" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Carl" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Apu" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline3_JL_5">
				<Title value="QST_OhBrotherWhyArtThou_5_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline3_ResourceList5__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act3PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="OrderKoiFishOnline" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Bart" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Homer" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Carl" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Apu" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="SneakUpOnKoiFish" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
		</EventCurrencyJobLists>
		<Jobs override="true">
			<Job id="245050" name="SneakUpOnKoiFish">
				<Reward SpringfieldEnlightened_Act3PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:RegularJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HStandard_XP__" />
			</Job>
			<Job id="245051" name="OrderKoiFishOnline">
				<Reward SpringfieldEnlightened_Act3PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:PremiumJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HPremium_XP__" />
			</Job>
		</Jobs>
	</SpecialEvent>
	<SpecialEvent id="245004" name="SpringfieldEnlightened_Event_Week4">
		<EventCurrencyJobLists>
			<JobList name="SpringfieldEnlightened_Questline4_JL_1">
				<Title value="QST_BuddhismSans_1_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline4_ResourceList1__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act4PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="TheDalaiLama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Bart" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Homer" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Carl" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Apu" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline4_JL_2">
				<Title value="QST_BuddhismSans_2_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline4_ResourceList2__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act4PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="TheDalaiLama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Bart" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Homer" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Carl" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Apu" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline4_JL_3">
				<Title value="QST_BuddhismSans_3_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline4_ResourceList3__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act4PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="TheDalaiLama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Bart" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Homer" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Carl" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Apu" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline4_JL_4">
				<Title value="QST_BuddhismSans_4_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline4_ResourceList4__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act4PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="TheDalaiLama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Bart" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Homer" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Carl" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Apu" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldEnlightened_Questline4_JL_5">
				<Title value="QST_BuddhismSans_5_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldEnlightened_GameConfig:ResourceQuantities:SpringfieldEnlightened_Questline4_ResourceList5__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldEnlightened_Act4PrizeTrackCurrency" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldEnlightened_Ratio" menuConfig="Config_MiniEvents:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="TheDalaiLama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="PrinceGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="KingGautama" />
					</Slot>
					<Slot tipText="UI_PremiumSlot_tiptext">
						<Job name="StealHockeyPucksToMakeYinYangs" character="AdvisorFrink" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lisa" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Bart" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Homer" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Carl" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Apu" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Lovejoy" />
					</Slot>
					<Slot>
						<Job name="RaidTemplesForYinYangs" character="Frink" />
					</Slot>
				</ResourceGenerator>
			</JobList>
		</EventCurrencyJobLists>
		<Jobs override="true">
			<Job id="245052" name="RaidTemplesForYinYangs">
				<Reward SpringfieldEnlightened_Act4PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:RegularJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HStandard_XP__" />
			</Job>
			<Job id="245053" name="StealHockeyPucksToMakeYinYangs">
				<Reward SpringfieldEnlightened_Act4PrizeTrackCurrency="__SpringfieldEnlightened_GameConfig:CurrencyRewards:PremiumJobReward__" xp="__SpringfieldEnlightened_GameConfig:CurrencyRewards:4HPremium_XP__" />
			</Job>
		</Jobs>
	</SpecialEvent>
</SpecialEvents>