<Buildings>
	<MasterList>
		<DataID id="139500" name="OceanSuite" />
		<DataID id="139502" name="OrnatePier" />
		<DataID id="139504" name="OrnatePierBench" />
		<DataID id="139505" name="OrnatePierRailing" />
		<DataID id="139506" name="OrnatePierPost" />
		<DataID id="139507" name="ExoticPond" />
		<DataID id="139508" name="ElegantGrill" />
		<DataID id="139510" name="GoneFission" />
		<DataID id="139511" name="UltraLuxuryYacht" />
		<DataID id="139514" name="ExclusiveResortModule1" />
		<DataID id="139515" name="ExclusiveResortModule2" />
		<DataID id="139516" name="ExclusiveResortModule3" />
		<DataID id="139517" name="ExclusiveResortModule4" />
		<DataID id="139518" name="ExclusiveResortModule5" />
		<DataID id="139519" name="ExclusiveResortModule6" />
		<DataID id="139520" name="ExclusiveResortModule7" />
		<DataID id="139521" name="ExclusiveResortModule8" />
		<DataID id="139522" name="ClayTennisCourt" />
		<DataID id="139600" name="OrnatePier_Back" />
		<DataID id="139601" name="OrnatePier_Front" />
		<DataID id="139602" name="UltraLuxuryYachtTop" />
		<DataID id="139603" name="OceanSuiteTop" />
		<DataID id="139604" name="GoneFissionTop" />
		<DataID id="139700" name="EliteYachtClub" />
		<DataID id="139701" name="EliteYachtClubTop" />
	</MasterList>
	<BuildingDefaults>
		<LoadBuilding value="true" />
		<Cost money="0" donuts="0" />
		<Sell money="0.25" donuts="25" allowed="true" />
		<Unique value="false" />
		<Falls value="false" />
		<MultiPlace value="false" />
		<LoadBuilding value="true" />
		<ApplyLevelMultiplier value="true" />
		<BuildFromInventory value="false" />
		<TaxJobPackage value="SpringfieldHeights2_Jobs" />
		<MoveColour R="1.0" G="1.0" B="1.0" A="0.7" />
		<BadColour R="1.0" G="0.8" B="0.8" A="0.7" />
		<GoodColour R="1.0" G="1.0" B="1.0" A="0.7" />
	</BuildingDefaults>
	<Building id="139500" name="OceanSuite" type="AnimatedDecoration" flatBuilding="true">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="41000000" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="40" RealEstateValue="60000" />
		<Unique value="false" />
		<Limit value="5" />
		<Cost YogaMat="20" />
		<MultiPlace value="false" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<GridType type="ocean" />
		<SoundKit event="BuildingTouched" name="bld_OceanSuite_Tap" />
		<AnimatesBuilding name="OceanSuiteTop" />
		<SubFootprints>
			<Footprint name="OceanSuiteTop" />
		</SubFootprints>
		<OnEvent onObject="OceanSuite" event="BuildingTouched" gamestate="GameState_InGame">
			<Script name="OceanSuite_Tapped" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<BSv2 name="BeachSuite" />
	</Building>
	<Building id="139502" name="OrnatePier" type="AnimatedDecoration" flatBuilding="true">
		<VisibilityRequirements>
			<Requirement type="quest started" quest="SpringfieldHeights_11" />
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest started" quest="SpringfieldHeights_12" />
			<Requirement type="special currency" currency="RealEstateValue" amount="41000000" />
		</Requirements>
		<ConstructionReward xp="60" RealEstateValue="90000" />
		<Unique value="true" />
		<MultiPlace value="false" />
		<Cost Ads="15" />
		<BuildTime time="0" />
		<Flippable value="false" />
		<GridType type="ocean|shoreline|beach" />
		<Farm name="OrnatePierFarm" />
		<ForceToRoadGrid value="true" />
		<ForcedGridPos x="-4" zMax="-16" zMin="-100" />
		<Sell allowed="false" />
		<ActiveAnimationController name="Base" />
		<SubFootprints>
			<Footprint name="OrnatePier_Back" />
			<Footprint name="OrnatePier_Front" />
		</SubFootprints>
		<ExtraCollisions>
			<CollisionArea x="4" y="0" xLength="8" yLength="4" />
			<CollisionArea x="4" y="8" xLength="8" yLength="4" />
		</ExtraCollisions>
		<Walkable value="true" />
		<BSv2 name="OrnatePier" neutralAnim="base" />
	</Building>
	<Building id="139504" name="OrnatePierBench" type="Decoration">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="28200000" />
			<Requirement type="building" building="OrnatePier" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="30" RealEstateValue="45000" />
		<RatingElem decoration="10" />
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<Cost Pharmaceutical="10" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" />
		<BuildTime time="0" />
		<GridType type="pier|pieredge|boardwalk|boardwalkedge" />
		<BSv2 name="OrnatePierBench" />
	</Building>
	<Building id="139505" name="OrnatePierRailing" type="Decoration" renderTag="fence">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="28200000" />
			<Requirement type="building" building="OrnatePier" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="3" RealEstateValue="4500" />
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<Cost Pharmaceutical="1" />
		<BuildTime time="0" />
		<MultiPlace value="true" />
		<GridType type="pier|pieredge|boardwalk|boardwalkedge" />
		<RatingElem decoration="10" />
		<ShrinkAABB value="true" />
		<DirectionsToFlip value="4" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" />
		<BSv2 nameFlipSE="OrnatePierRailingSE" nameFlipSW="OrnatePierRailingSW" nameFlipNE="OrnatePierRailingNE" nameFlipNW="OrnatePierRailingNW" />
	</Building>
	<Building id="139506" name="OrnatePierPost" type="Decoration">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="28200000" />
			<Requirement type="building" building="OrnatePier" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="6" RealEstateValue="9000" />
		<RatingElem decoration="10" />
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<Cost Pharmaceutical="2" />
		<Flippable value="false" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="false" cameraFollows="true" />
		<BuildTime time="0" />
		<GridType type="pier|pieredge|boardwalk|boardwalkedge" />
		<BSv2 name="OrnatePierPost" />
	</Building>
	<Building id="139507" name="ExoticPond" type="AnimatedDecoration">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="41000000" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="80" RealEstateValue="120000" />
		<RatingElem environment="10" />
		<Group name="Camping" />
		<Group name="Nature" />
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<Cost Ads="20" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" />
		<BuildTime time="0" />
		<GridType type="grass" />
		<SoundKit event="BuildingTouched" name="bld_ExoticPond_Tap" />
		<AmbientSound soundKit="Pond_Water_Loop" />
		<BSv2 name="ExoticPond" />
	</Building>
	<Building id="139508" name="ElegantGrill" type="AnimatedDecoration">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="28200000" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="40" RealEstateValue="60000" />
		<Unique value="false" />
		<RatingElem decoration="10" />
		<Sell allowed="false" storeoverride="true" />
		<Cost Ads="10" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" />
		<BuildTime time="0" />
		<GridType type="grass|dirtpavement|pavement|beach|pier|pieredge|boardwalk|boardwalkedge" />
		<SoundKit event="BuildingTouched" name="bld_ElegantGrill_Tap" />
		<BSv2 name="ElegantGrill" neutralAnim="active" />
		<AmbientSound soundKit="fireshrub" />
	</Building>
	<Building id="139510" name="GoneFission" type="AnimatedDecoration" flatBuilding="true">
		<Requirements>
			<Requirement type="level" level="30" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="85" RealEstateValue="3500000" />
		<RatingElem decoration="10" />
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<Cost donuts="85" />
		<MultiPlace value="true" />
		<GridType type="ocean" />
		<ActiveAnimationController name="GoneFissionBottom" />
		<SubFootprints>
			<Footprint name="GoneFissionTop" />
		</SubFootprints>
		<OnEvent onObject="GoneFission" event="BuildingTouched" gamestate="GameState_InGame">
			<Script name="GoneFission_Tapped" package="SpringfieldHeights2_Scripts" />
		</OnEvent>
		<SoundKit event="BuildingTouched" name="bld_GoneFission_Tap" />
		<BSv2 name="GoneFission" flippedname="GoneFissionFlipped" neutralAnim="GoneFissionBottom" />
	</Building>
	<Building id="139511" name="UltraLuxuryYacht" type="AnimatedDecoration" flatBuilding="true">
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="8800000" />
		</Requirements>
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<ConstructionReward xp="800" RealEstateValue="900000" />
		<RatingElem decoration="10" />
		<Limit value="2" />
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<Cost SmartDevice="200" />
		<MultiPlace value="true" />
		<BuildTime time="0" />
		<GridType type="ocean" />
		<SoundKit event="BuildingTouched" name="bld_LuxuryYatch_Tap" />
		<NeutralAnimationController name="UltraLuxuryYachtBottom" />
		<SubFootprints>
			<Footprint name="UltraLuxuryYachtTop" />
		</SubFootprints>
		<BSv2 name="UltraLuxuryYacht" />
	</Building>
	<Building id="139602" name="UltraLuxuryYachtTop" type="AnimatedDecoration" xpValue="0">
		<NeutralAnimationController name="UltraLuxuryYachtTop" />
		<BuildTime time="1" />
		<Proxy value="true" />
		<BSv2 name="UltraLuxuryYacht" />
	</Building>
	<Building id="139514" name="ExclusiveResortModule1" type="AnimatedDecoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<BSv2 name="exclusiveresorttower" flippedname="exclusiveresorttowerflipped" />
	</Building>
	<Building id="139515" name="ExclusiveResortModule2" type="Decoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<DirectionsToFlip value="4" />
		<BSv2 nameFlipSW="exclusiveresortwingsw" nameFlipSE="exclusiveresortwingse" nameFlipNE="exclusiveresortwingne" nameFlipNW="exclusiveresortwingnw" />
	</Building>
	<Building id="139516" name="ExclusiveResortModule3" type="AnimatedDecoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<DirectionsToFlip value="4" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<BSv2 nameFlipSE="ExclusiveResortElevatorSE" nameFlipSW="ExclusiveResortElevatorSW" nameFlipNE="ExclusiveResortElevatorNE" nameFlipNW="ExclusiveResortElevatorNW" />
	</Building>
	<Building id="139517" name="ExclusiveResortModule4" type="AnimatedDecoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<BSv2 name="exclusiveresortgardens" flippedname="ExclusiveResortGardensFlipped" />
		<AmbientSound soundKit="dec_Minnow_Pond" />
	</Building>
	<Building id="139518" name="ExclusiveResortModule5" type="AnimatedDecoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<DirectionsToFlip value="4" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<BSv2 nameFlipNE="ExclusiveResortBalconyNE" nameFlipNW="ExclusiveResortBalconyNW" nameFlipSE="ExclusiveResortBalconySE" nameFlipSW="ExclusiveResortBalconySW" />
	</Building>
	<Building id="139519" name="ExclusiveResortModule6" type="Decoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<BSv2 name="exclusiveresortannex" flippedname="exclusiveresortannexflipped" />
	</Building>
	<Building id="139520" name="ExclusiveResortModule7" type="Decoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<BSv2 name="ExclusiveResortStairway" />
	</Building>
	<Building id="139521" name="ExclusiveResortModule8" type="Decoration" xpValue="0">
		<BuildFromInventory value="true" />
		<Requirements>
			<Requirement type="level" level="1" />
		</Requirements>
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<GridType type="grass|dirtpavement|pavement|boardwalk|boardwalkedge|pier|pieredge|beach" />
		<BSv2 name="ExclusiveResortEntrance" flippedname="ExclusiveResortEntranceFlipped" />
	</Building>
	<Building id="139522" name="ClayTennisCourt" type="Decoration">
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="special currency" currency="RealEstateValue" amount="49000000" />
		</Requirements>
		<ConstructionReward xp="40" RealEstateValue="150000" />
		<Unique value="false" />
		<Sell allowed="false" storeoverride="true" />
		<Cost HollywoodAward="10" />
		<MultiPlace value="true" />
		<ChainPlacement enabled="true" longerSideFrontFace="true" cameraFollows="true" />
		<BuildTime time="0" />
		<RatingElem decoration="10" />
		<GridType type="grass|dirtpavement|pavement|beach|boardwalk|boardwalkedge|pier|pieredge" />
		<BSv2 name="ClayTennisCourt" />
	</Building>
	<Building id="139600" name="OrnatePier_Back" type="Building" xpValue="1">
		<BuildTime time="1" />
		<Proxy value="true" />
		<ActiveAnimationController name="backarch" />
		<BSv2 name="OrnatePier" />
	</Building>
	<Building id="139601" name="OrnatePier_Front" type="Building" xpValue="1">
		<BuildTime time="1" />
		<Proxy value="true" />
		<ActiveAnimationController name="frontarch" />
		<BSv2 name="OrnatePier" />
	</Building>
	<Building id="139700" name="EliteYachtClub" type="Building" animated="true" flatBuilding="true">
		<VisibilityRequirements>
			<Requirement type="level" level="30" />
		</VisibilityRequirements>
		<Requirements>
			<Requirement type="level" level="30" />
			<Requirement type="quest started" quest="SpringfieldHeights_12" />
		</Requirements>
		<ConstructionReward xp="120" RealEstateValue="120000" />
		<RatingElem decoration="10" />
		<Cost Ads="20" />
		<Unique value="true" />
		<Sell allowed="false" storeoverride="true" />
		<BuildTime time="12h" />
		<Falls value="true" />
		<Flippable value="false" />
		<GridType type="ocean|shoreline|beach" />
		<ForceToRoadGrid value="true" />
		<ForcedGridPos x="-4" zMax="-16" zMin="-96" />
		<SoundKit event="BuildingTouched" name="bld_EliteYachtClub_Tap" />
		<BSv2 name="EliteYachtClub" footprintFile="EliteYachtClubBuildState" disableGroundNormal="true" />
		<ActiveAnimationController name="EliteYachtClub_ActiveBottom" />
		<NeutralAnimationController name="EliteYachtClubBottom" />
		<SubFootprints>
			<Footprint name="EliteYachtClubTop" />
		</SubFootprints>
		<AnimatesBuilding name="EliteYachtClubTop" />
		<Job id="139302" name="SwimmingWithSharksAndWasps" time="6h" />
		<AmbientSound soundKit="fireshrub" />
	</Building>
	<Building id="139701" name="EliteYachtClubTop" type="Building" animated="true" xpValue="0">
		<GridType type="ocean" />
		<BuildTime time="1" />
		<Proxy value="true" />
		<NeutralAnimationController name="EliteYachtClubTop" />
		<ActiveAnimationController name="EliteYachtClub_ActiveTop" />
		<BSv2 name="EliteYachtClub" />
	</Building>
	<Building id="139603" name="OceanSuiteTop" type="AnimatedDecoration" xpValue="0">
		<GridType type="ocean" />
		<BuildTime time="1" />
		<Proxy value="true" />
		<ActiveAnimationController name="BeachSuiteTop" />
		<BSv2 name="BeachSuite" />
	</Building>
	<Building id="139604" name="GoneFissionTop" type="AnimatedDecoration" xpValue="0">
		<GridType type="ocean" />
		<BuildTime time="1" />
		<Proxy value="true" />
		<BSv2 name="GoneFission" flippedname="GoneFissionFlipped" />
	</Building>
</Buildings>