<SoundKitPackage>
	<SoundKit name="Shop_Tap" channel="buildingTap_channel" key="tapFirst">
		<Sound name="sfx_EA_TSTO_SHeights_Shop_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="CoffeeShop_Tap" channel="buildingTap_channel" key="tapFirst">
		<Sound name="sfx_EA_TSTO_SHeights_Coffee_Shop_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="LABodyWorks_Tap" channel="buildingTap_channel" key="tapFirst">
		<Sound name="sfx_EA_TSTO_SHeights_LA_Body_Works_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="SHIT_Tap" channel="buildingTap_channel" key="tapFirst">
		<Sound name="sfx_EA_TSTO_SHeights_Institute_Of_Technology_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="PharmerJohns_Tap" channel="buildingTap_channel" key="tapFirst">
		<Sound name="sfx_EA_TSTO_SHeights_Pharmer_Johns_Pharmaceuticals_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="HeightsTheater_Tap" channel="buildingTap_channel" key="tapFirst">
		<Sound name="sfx_EA_TSTO_SHeights_Heights_Theater_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="DeluxeCondo_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Fancy_Condominium_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="BusinessCenter_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Business_Center_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="ValetParking_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Valet_Parkade_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="BillionaireHaven_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Billionaire_Haven_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="BurnsSlantDrillingCo_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Burns_Slant_Drilling_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="ColumnMansion_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Column_Mansion_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="HealthSpa_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Health_Spa_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="IncubatorThinkTank_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Incubator_Think_Tank_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="MontessoriSchool_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Montessori_School_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="ZiffMansion_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Ziff_Mansion_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="RedBlazer_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Red_Blazer_Realty_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="PlasticSurgeryCenter_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Plastic_Surgery_Center_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="PoloFieldHouse_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Polo_Field_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="FlyingCar_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Flying_Car_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="Helicopter_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Helicopter_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
	<SoundKit name="JetSki_Tap" channel="buildingTap_channel">
		<Sound name="sfx_EA_TSTO_SHeights_Jet_Ski_Tap" />
		<PlayStyle type="PlayOnce" />
		<Volume value="1.0" />
	</SoundKit>
</SoundKitPackage>