<Characters>
	<MasterList>
		<DataID id="245000" name="Siddmartha" />
		<DataID id="245001" name="MeditatingBear" />
		<DataID id="245002" name="MarquessMilhouse" />
		<DataID id="245003" name="QueenGautama" />
		<DataID id="245004" name="AdvisorFrink" />
		<DataID id="245005" name="KingGautama" />
		<DataID id="245006" name="PrinceGautama" />
		<DataID id="245007" name="TheDalaiLama" />
		<DataID id="245008" name="TheMaster" />
	</MasterList>
	<Character id="245000" name="Siddmartha" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="Siddmartha" />
		<UnlockSound type="herFace" />
		<Set index="0" name="SpringfieldEnlightened" />
		<Group name="Youngster" />
		<Group name="RegularCharacters" />
		<Group name="RegularFemale" />
		<Group name="GoodPeople" />
		<SpeechBubbleOffset x="40" y="-45" />
		<SoundKit event="CharacterSoundTouched" name="Siddmartha_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="Siddmartha_good" />
		<SoundKit event="CharacterSoundBadJob" name="Siddmartha_bad" />
		<SoundKit event="CharacterSoundDone" name="Siddmartha_done" />
		<Cost donuts="75" />
	</Character>
	<Character id="245001" name="MeditatingBear" unlockXP="25" ignoredByCensus="true" selectionAllowed="false">
		<WalkSpeed speed="50" />
		<Animations character="MeditatingBear" />
		<UnlockSound type="lookRidiculous" />
		<Set index="8" name="SpringfieldEnlightened" />
		<Group name="Pet" />
		<Group name="Animal" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="MeditatingBear_tap" />
		<OnEvent onObject="MeditatingBear" event="CharacterTouched">
			<Script name="DecorationTapped_SingleTap_Wait" package="MiscScripts" />
		</OnEvent>
		<Cost donuts="25" />
	</Character>
	<Character id="245002" name="MarquessMilhouse" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="MarquessMilhouse" />
		<UnlockSound type="heyYou" />
		<Set index="4" name="SpringfieldEnlightened" />
		<Group name="Youngster" />
		<Group name="RegularCharacters" />
		<Group name="RegularMale" />
		<SpeechBubbleOffset x="40" y="-45" />
		<IndicatorOffset x="0" y="60" />
		<Cost donuts="75" />
	</Character>
	<Character id="245003" name="QueenGautama" unlockXP="25">
		<WalkSpeed speed="50" />
		<Animations character="QueenGautama" />
		<UnlockSound type="herFace" />
		<Set index="2" name="SpringfieldEnlightened" />
		<Group name="Adult" />
		<Group name="RegularCharacters" />
		<Group name="RegularFemale" />
		<Group name="RichPeople" />
		<Group name="Wives" />
		<Group name="Moms" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="QueenGautama_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="QueenGautama_good" />
		<SoundKit event="CharacterSoundBadJob" name="QueenGautama_bad" />
		<SoundKit event="CharacterSoundDone" name="QueenGautama_done" />
		<Cost donuts="75" />
	</Character>
	<Character id="245004" name="AdvisorFrink" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="AdvisorFrink" />
		<UnlockSound type="welcomeRealWorld" />
		<Set index="5" name="SpringfieldEnlightened" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:AdvisorFrink__" />
		<Group name="Adult" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="AdvisorFrink_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="AdvisorFrink_good" />
		<SoundKit event="CharacterSoundBadJob" name="AdvisorFrink_bad" />
		<SoundKit event="CharacterSoundDone" name="AdvisorFrink_done" />
	</Character>
	<Character id="245005" name="KingGautama" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="KingGautama" />
		<UnlockSound type="premium" />
		<Set index="1" name="SpringfieldEnlightened" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:KingGautama__" />
		<Group name="Adult" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<Group name="RichPeople" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="KingGautama_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="KingGautama_good" />
		<SoundKit event="CharacterSoundBadJob" name="KingGautama_bad" />
		<SoundKit event="CharacterSoundDone" name="KingGautama_done" />
	</Character>
	<Character id="245006" name="PrinceGautama" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="PrinceGautama" />
		<UnlockSound type="premium" />
		<Set index="3" name="SpringfieldEnlightened" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:PrinceGautama__" />
		<Group name="Youngster" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<SpeechBubbleOffset x="40" y="-45" />
		<IndicatorOffset x="0" y="60" />
		<SoundKit event="CharacterSoundTouched" name="PrinceGautama_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="PrinceGautama_good" />
		<SoundKit event="CharacterSoundBadJob" name="PrinceGautama_bad" />
		<SoundKit event="CharacterSoundDone" name="PrinceGautama_done" />
	</Character>
	<Character id="245007" name="TheDalaiLama" unlockXP="25" defaultPremiumReward="true" avatar="DalaiLama">
		<WalkSpeed speed="50" />
		<Animations character="DalaiLama" />
		<UnlockSound type="iKnowHim" />
		<Set index="6" name="SpringfieldEnlightened" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:TheDalaiLama__" />
		<Group name="Adult" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="TheDalaiLama_tap" />
		<SoundKit event="CharacterSoundBadJob" name="TheDalaiLama_bad" />
		<SoundKit event="CharacterSoundDone" name="TheDalaiLama_done" />
	</Character>
	<Character id="245008" name="TheMaster" unlockXP="25" defaultPremiumReward="true">
		<WalkSpeed speed="50" />
		<Animations character="TheMaster" />
		<UnlockSound type="roomForMore" />
		<Set index="7" name="SpringfieldEnlightened" />
		<Cost donuts="__SpringfieldEnlightened_GameConfig:PremiumCosts:TheMaster__" />
		<Group name="Adult" />
		<Group name="PremiumCharacters" />
		<Group name="PremiumMale" />
		<SpeechBubbleOffset x="40" y="-90" />
		<SoundKit event="CharacterSoundTouched" name="TheMaster_tap" />
		<SoundKit event="CharacterSoundGoodJob" name="TheMaster_good" />
		<SoundKit event="CharacterSoundBadJob" name="TheMaster_bad" />
		<SoundKit event="CharacterSoundDone" name="TheMaster_done" />
	</Character>
</Characters>