<GameObjectBundles>
	<MasterList>
		<DataID id="242000" name="JunkFortBundleWithGate" />
		<DataID id="242001" name="JunkFortBundleNoGate" />
	</MasterList>
	<GameObjectBundle id="242000" name="JunkFortBundleWithGate" originX="0" originZ="0" textpoolName="GOB_JunkFortBundle_name" textpoolDesc="UI_JunkFort_Desc">
		<VisibilityRequirements>
			<Requirement type="building owned" building="OutlandsGate" not="true" />
		</VisibilityRequirements>
		<Cost donuts="75" />
		<BuildMenuText text="UI_JunkFortWithGate_Excite" />
		<Entries>
			<Building name="StraightTrench" x="3" z="4" flipState="1" />
			<Building name="StraightTrench" x="-1" z="4" flipState="1" />
			<Building name="StraightTrench" x="-5" z="4" flipState="1" />
			<Building name="StraightTrench" x="-3" z="4" flipState="1" />
			<Building name="RuffianBarrier" x="-5" z="-6" flipState="1" />
			<Building name="RuffianBarrier" x="-1" z="2" flipState="0" />
			<Building name="RuffianBarrier" x="1" z="-7" flipState="2" />
			<Building name="RuffianBarrier" x="1" z="2" flipState="0" />
			<Building name="RuffianBarrier" x="-5" z="2" flipState="1" />
			<Building name="RuffianBarrier" x="-3" z="2" flipState="0" />
			<Building name="RuffianBarrier" x="-1" z="-7" flipState="2" />
			<Building name="RuffianBarrier" x="-3" z="-7" flipState="2" />
			<Building name="RuffianBarrier" x="-5" z="2" flipState="0" />
			<Building name="RuffianBarrier" x="-5" z="-7" flipState="2" />
			<Building name="JunkBarrier" x="4" z="-6" flipState="3" />
			<Building name="JunkBarrier" x="3" z="-7" flipState="2" />
			<Building name="StraightTrench" x="-1" z="-8" flipState="1" />
			<Building name="StraightTrench" x="3" z="-8" flipState="1" />
			<Building name="SmallRubblePile" x="-3" z="-5" flipState="1" />
			<Building name="SmallRubblePile" x="2" z="-2" flipState="1" />
			<Building name="SmallRubblePile" x="0" z="0" flipState="3" />
			<Building name="SmallRubblePile" x="-1" z="-3" flipState="0" />
			<Building name="JunkBarrier" x="4" z="-2" flipState="3" />
			<Building name="JunkLookout" x="-7" z="2" flipState="1" />
			<Building name="JunkBarrier" x="4" z="2" flipState="3" />
			<Building name="JunkBarrier" x="3" z="2" flipState="0" />
			<Building name="JunkBarrier" x="-5" z="0" flipState="1" />
			<Building name="JunkBarrier" x="-6" z="-4" flipState="3" />
			<Building name="JunkBarrier" x="4" z="0" flipState="3" />
			<Building name="RuffianTower" x="2" z="-5" flipState="1" />
			<Building name="RuffianTower" x="2" z="1" flipState="1" />
			<Building name="SmallRubblePile" x="-4" z="1" flipState="0" />
			<Building name="EndTrench" x="-7" z="-8" flipState="3" />
			<Building name="EndTrench" x="-7" z="4" flipState="3" />
			<Building name="CornerTrench" x="5" z="-8" flipState="1" />
			<Building name="CornerTrench" x="5" z="4" flipState="2" />
			<Building name="JunkBarrier" x="4" z="-4" flipState="3" />
			<Building name="StraightTrench" x="1" z="-8" flipState="1" />
			<Building name="StraightTrench" x="5" z="-2" flipState="0" />
			<Building name="StraightTrench" x="5" z="-6" flipState="0" />
			<Building name="StraightTrench" x="5" z="2" flipState="0" />
			<Building name="StraightTrench" x="1" z="4" flipState="1" />
			<Building name="StraightTrench" x="-5" z="-8" flipState="1" />
			<Building name="OutlandsGate" x="-9" z="3" flipState="1" />
			<Building name="JunkLookout" x="-7" z="-6" flipState="1" />
			<Building name="StraightTrench" x="5" z="-4" flipState="0" />
			<Building name="StraightTrench" x="-3" z="-8" flipState="1" />
			<Building name="StraightTrench" x="5" z="0" flipState="0" />
		</Entries>
		<StorePositioningRule rule="JunkFortBundleWithGateRule" />
	</GameObjectBundle>
	<GameObjectBundle id="242001" name="JunkFortBundleNoGate" originX="0" originZ="0" textpoolName="GOB_JunkFortBundle_name" textpoolDesc="UI_JunkFort_Desc">
		<VisibilityRequirements>
			<Requirement type="building owned" building="OutlandsGate" />
		</VisibilityRequirements>
		<Cost donuts="65" />
		<BuildMenuText text="UI_JunkFort_Excite" />
		<Entries>
			<Building name="StraightTrench" x="9" z="6" flipState="1" />
			<Building name="StraightTrench" x="5" z="6" flipState="1" />
			<Building name="StraightTrench" x="1" z="6" flipState="1" />
			<Building name="StraightTrench" x="3" z="6" flipState="1" />
			<Building name="RuffianBarrier" x="1" z="-4" flipState="1" />
			<Building name="RuffianBarrier" x="5" z="4" flipState="0" />
			<Building name="RuffianBarrier" x="7" z="-5" flipState="2" />
			<Building name="RuffianBarrier" x="7" z="4" flipState="0" />
			<Building name="RuffianBarrier" x="1" z="4" flipState="1" />
			<Building name="RuffianBarrier" x="3" z="4" flipState="0" />
			<Building name="RuffianBarrier" x="5" z="-5" flipState="2" />
			<Building name="RuffianBarrier" x="3" z="-5" flipState="2" />
			<Building name="RuffianBarrier" x="1" z="4" flipState="0" />
			<Building name="RuffianBarrier" x="1" z="-5" flipState="2" />
			<Building name="JunkBarrier" x="10" z="-4" flipState="3" />
			<Building name="JunkBarrier" x="9" z="-5" flipState="2" />
			<Building name="StraightTrench" x="-3" z="-6" flipState="1" />
			<Building name="StraightTrench" x="-5" z="-4" flipState="0" />
			<Building name="RuffianBarrier" x="-3" z="4" flipState="1" />
			<Building name="RuffianBarrier" x="-3" z="-4" flipState="1" />
			<Building name="CornerTrench" x="-5" z="-6" flipState="0" />
			<Building name="CornerTrench" x="-5" z="6" flipState="3" />
			<Building name="StraightTrench" x="5" z="-6" flipState="1" />
			<Building name="StraightTrench" x="9" z="-6" flipState="1" />
			<Building name="SmallRubblePile" x="3" z="-3" flipState="1" />
			<Building name="SmallRubblePile" x="8" z="0" flipState="1" />
			<Building name="SmallRubblePile" x="6" z="2" flipState="3" />
			<Building name="SmallRubblePile" x="5" z="-1" flipState="0" />
			<Building name="RuffianBarrier" x="-3" z="-5" flipState="2" />
			<Building name="StraightTrench" x="-3" z="6" flipState="1" />
			<Building name="StraightTrench" x="-5" z="4" flipState="0" />
			<Building name="JunkBarrier" x="-3" z="2" flipState="1" />
			<Building name="RuffianBarrier" x="-1" z="-5" flipState="2" />
			<Building name="RuffianBarrier" x="-1" z="4" flipState="0" />
			<Building name="RuffianBarrier" x="-3" z="4" flipState="0" />
			<Building name="JunkBarrier" x="-3" z="-2" flipState="1" />
			<Building name="JunkBarrier" x="10" z="0" flipState="3" />
			<Building name="JunkLookout" x="-2" z="3" flipState="1" />
			<Building name="JunkBarrier" x="10" z="4" flipState="3" />
			<Building name="JunkBarrier" x="9" z="4" flipState="0" />
			<Building name="JunkBarrier" x="1" z="2" flipState="1" />
			<Building name="JunkBarrier" x="0" z="-2" flipState="3" />
			<Building name="JunkBarrier" x="10" z="2" flipState="3" />
			<Building name="RuffianTower" x="8" z="-3" flipState="1" />
			<Building name="RuffianTower" x="8" z="3" flipState="1" />
			<Building name="SmallRubblePile" x="2" z="3" flipState="0" />
			<Building name="EndTrench" x="-5" z="-2" flipState="2" />
			<Building name="EndTrench" x="-5" z="2" flipState="0" />
			<Building name="CornerTrench" x="11" z="-6" flipState="1" />
			<Building name="CornerTrench" x="11" z="6" flipState="2" />
			<Building name="JunkBarrier" x="10" z="-2" flipState="3" />
			<Building name="StraightTrench" x="7" z="-6" flipState="1" />
			<Building name="StraightTrench" x="11" z="0" flipState="0" />
			<Building name="StraightTrench" x="11" z="-4" flipState="0" />
			<Building name="StraightTrench" x="11" z="4" flipState="0" />
			<Building name="StraightTrench" x="7" z="6" flipState="1" />
			<Building name="StraightTrench" x="1" z="-6" flipState="1" />
			<Building name="JunkLookout" x="-2" z="-2" flipState="1" />
			<Building name="StraightTrench" x="11" z="-2" flipState="0" />
			<Building name="StraightTrench" x="-1" z="-6" flipState="1" />
			<Building name="StraightTrench" x="3" z="-6" flipState="1" />
			<Building name="StraightTrench" x="11" z="2" flipState="0" />
			<Building name="StraightTrench" x="-1" z="6" flipState="1" />
		</Entries>
		<StorePositioningRule rule="JunkFortBundleRule" />
	</GameObjectBundle>
</GameObjectBundles>