<SpecialEvents>
	<MasterList>
		<DataID id="162000" name="SpringfieldGames_Main" />
		<DataID id="162001" name="SpringfieldGames_NonPermanent" />
		<DataID id="162003" name="SpringfieldGames_TireFireOverrides" />
		<DataID id="162005" name="SpringfieldGames_TurnOffLisaChaser" />
		<DataID id="162006" name="SpringfieldGames_EventActive" onDeprecated="delete" endDate="SpringfieldGames_End" />
	</MasterList>
	<SpecialEvent id="162000" name="SpringfieldGames_Main">
		<Variable name="SpringfieldGames_Active" value="true" />
		<Variable name="SpringfieldGames_Event" value="true" />
		<Variable name="SpringfieldGames_Part1Done" value="false" />
		<Variable name="SpringfieldGames_EventExpired" value="false" />
		<Variable name="SpringfieldGames_PreExpiryDisplayed24" value="false" />
		<Variable name="SpringfieldGames_PreExpiryDisplayed72" value="false" />
		<Variable name="SpringfieldGames_ExpiryDisplayed" value="false" />
		<Variable name="Fatov_SpawnTime" value="0" />
		<Variable name="SG_RegularRibbons" value="0" />
		<Variable name="SG_PremiumRibbons" value="0" />
		<Variable name="SG_TappablesRibbons" value="0" />
		<Variable name="SG_JobRibbons" value="0" />
		<Variable name="SG_BuildingRibbons" value="0" />
		<Variable name="SG_TotalRibbons" value="0" />
		<SpecialButtons>
			<Button mode="game" icon="ICO_MHUD_SpringfieldGames_SE">
				<Requirements>
					<Requirement type="land" land="Springfield" />
					<Requirement type="active quest" quest="SpringfieldGames_Master" />
					<Requirement type="time" end="SpringfieldGames_End" />
				</Requirements>
				<RunScript>
					<Script name="SpringfieldGames_Scripts:OpenMasterQuest" />
				</RunScript>
			</Button>
		</SpecialButtons>
		<EventCurrencyJobLists>
			<JobList name="SpringfieldGames_JL_01">
				<Title value="QST_SpringfieldGames_1_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldGames_GameConfig:ResourceQuantities:ResourceList01__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldGames_ParticipationRibbons" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldGames_Ratio" menuConfig="SpringfieldGames_MenuConfig:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext" unlockIcon="Sidebar_Lugash.rgb" unlockTitle="JOB_GetExcitedForTheGames_name">
						<VisibilityRequirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="variable" variable="SpringfieldGames_Store" />
								<Requirement type="character" name="Lugash" />
							</Requirement>
						</VisibilityRequirements>
						<Job name="SuggestEvents_Premium" character="Lugash" />
						<CustomGetNowScript package="SpringfieldGames_Scripts" name="GetLugash" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Skinner" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Homer" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Moe" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Bart" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Milhouse" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="SuggestEvents" character="Martin" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="character" name="Fatov" />
						</VisibilityRequirements>
						<Job name="Fatov_Exercise" character="Fatov" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldGames_JL_02">
				<Title value="QST_SpringfieldGames_2_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldGames_GameConfig:ResourceQuantities:ResourceList02__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldGames_ParticipationRibbons" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldGames_Ratio" menuConfig="SpringfieldGames_MenuConfig:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext" unlockIcon="Sidebar_Lugash.rgb" unlockTitle="JOB_GetExcitedForTheGames_name">
						<VisibilityRequirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="variable" variable="SpringfieldGames_Store" />
								<Requirement type="character" name="Lugash" />
							</Requirement>
						</VisibilityRequirements>
						<Job name="GetExcitedForTheGames_Premium" character="Lugash" />
						<CustomGetNowScript package="SpringfieldGames_Scripts" name="GetLugash" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForTheGames" character="Skinner" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForTheGames" character="Homer" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForTheGames" character="Quimby" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForTheGames" character="Moe" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForGoKarts" character="Bart" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForGoKarts" character="Milhouse" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForGoKarts" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="GetExcitedForGoKarts" character="Martin" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="character" name="Fatov" />
						</VisibilityRequirements>
						<Job name="Fatov_Exercise" character="Fatov" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldGames_JL_03">
				<Title value="QST_SpringfieldGames_3_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldGames_GameConfig:ResourceQuantities:ResourceList03__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldGames_ParticipationRibbons" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldGames_Ratio" menuConfig="SpringfieldGames_MenuConfig:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext" unlockIcon="Sidebar_Lugash.rgb" unlockTitle="JOB_GetExcitedForTheGames_name">
						<VisibilityRequirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="variable" variable="SpringfieldGames_Store" />
								<Requirement type="character" name="Lugash" />
							</Requirement>
						</VisibilityRequirements>
						<Job name="TrainTheKidsInSecret" character="Lugash" />
						<CustomGetNowScript package="SpringfieldGames_Scripts" name="GetLugash" />
					</Slot>
					<Slot>
						<Job name="ReluctantlyTrainForTheGames" character="Skinner" />
					</Slot>
					<Slot>
						<Job name="ReluctantlyTrainForTheGames" character="Homer" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="ReluctantlyTrainForTheGames" character="Carl" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="ReluctantlyTrainForTheGames" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="ReluctantlyTrainForTheGames" character="Moe" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Bart" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Milhouse" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Martin" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="character" name="Fatov" />
						</VisibilityRequirements>
						<Job name="Fatov_Exercise" character="Fatov" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldGames_JL_04">
				<Title value="QST_SpringfieldGames_4_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldGames_GameConfig:ResourceQuantities:ResourceList04__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldGames_ParticipationRibbons" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldGames_Ratio" menuConfig="SpringfieldGames_MenuConfig:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext" unlockIcon="Sidebar_Lugash.rgb" unlockTitle="JOB_GetExcitedForTheGames_name">
						<VisibilityRequirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="variable" variable="SpringfieldGames_Store" />
								<Requirement type="character" name="Lugash" />
							</Requirement>
						</VisibilityRequirements>
						<Job name="TrainTheKidsInSecret" character="Lugash" />
						<CustomGetNowScript package="SpringfieldGames_Scripts" name="GetLugash" />
					</Slot>
					<Slot>
						<Job name="TrainForTheDodecathalon" character="Skinner" />
					</Slot>
					<Slot>
						<Job name="TrainForTheDodecathalon" character="Homer" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="TrainForTheDodecathalon" character="Carl" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="TrainForTheDodecathalon" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="TrainForTheDodecathalon" character="Moe" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Bart" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Milhouse" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Martin" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="character" name="Fatov" />
						</VisibilityRequirements>
						<Job name="Fatov_Exercise" character="Fatov" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldGames_JL_05">
				<Title value="QST_SpringfieldGames_5_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldGames_GameConfig:ResourceQuantities:ResourceList05__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldGames_ParticipationRibbons" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldGames_Ratio" menuConfig="SpringfieldGames_MenuConfig:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext" unlockIcon="Sidebar_Lugash.rgb" unlockTitle="JOB_GetExcitedForTheGames_name">
						<VisibilityRequirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="variable" variable="SpringfieldGames_Store" />
								<Requirement type="character" name="Lugash" />
							</Requirement>
						</VisibilityRequirements>
						<Job name="TrainTheKidsInSecret" character="Lugash" />
						<CustomGetNowScript package="SpringfieldGames_Scripts" name="GetLugash" />
					</Slot>
					<Slot>
						<Job name="CompeteInTheDodecathalon" character="Skinner" />
					</Slot>
					<Slot>
						<Job name="CompeteInTheDodecathalon" character="Homer" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="CompeteInTheDodecathalon" character="Carl" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="CompeteInTheDodecathalon" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="CompeteInTheDodecathalon" character="Moe" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Bart" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Milhouse" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="TrainForTheGoKartRaces" character="Martin" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="character" name="Fatov" />
						</VisibilityRequirements>
						<Job name="Fatov_Exercise" character="Fatov" />
					</Slot>
				</ResourceGenerator>
			</JobList>
			<JobList name="SpringfieldGames_JL_06">
				<Title value="QST_SpringfieldGames_6_1_name" />
				<ResourceGenerator resourceCapSelector="__SpringfieldGames_GameConfig:ResourceQuantities:ResourceList06__" slotsUnlockedVariable="Monorail_UnusedVariable" resourceName="SpringfieldGames_ParticipationRibbons" resourceCapIcon="ico_mono15_junk_sm.rgb" topupConfig="SpringfieldGames_Ratio" menuConfig="SpringfieldGames_MenuConfig:ResourceGeneratorConfig">
					<Slot tipText="UI_PremiumSlot_tiptext" unlockIcon="Sidebar_Lugash.rgb" unlockTitle="JOB_GetExcitedForTheGames_name">
						<VisibilityRequirements>
							<Requirement type="conditional" logic="OR">
								<Requirement type="variable" variable="SpringfieldGames_Store" />
								<Requirement type="character" name="Lugash" />
							</Requirement>
						</VisibilityRequirements>
						<Job name="WatchTheGoKarts_Premium" character="Lugash" />
						<CustomGetNowScript package="SpringfieldGames_Scripts" name="GetLugash" />
					</Slot>
					<Slot>
						<Job name="CompeteInGoKartRaces" character="Skinner" />
					</Slot>
					<Slot>
						<Job name="CompeteInGoKartRaces" character="Homer" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="CompeteInGoKartRaces" character="Carl" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="level" level="24" />
						</VisibilityRequirements>
						<Job name="CompeteInGoKartRaces" character="Lenny" />
					</Slot>
					<Slot>
						<Job name="CompeteInGoKartRaces" character="Moe" />
					</Slot>
					<Slot>
						<Job name="CompeteInGoKartRaces" character="Bart" />
					</Slot>
					<Slot>
						<Job name="CompeteInGoKartRaces" character="Milhouse" />
					</Slot>
					<Slot>
						<Job name="CompeteInGoKartRaces" character="Nelson" />
					</Slot>
					<Slot>
						<Job name="CompeteInGoKartRaces" character="Martin" />
					</Slot>
					<Slot>
						<VisibilityRequirements>
							<Requirement type="character" name="Fatov" />
						</VisibilityRequirements>
						<Job name="Fatov_Exercise" character="Fatov" />
					</Slot>
				</ResourceGenerator>
			</JobList>
		</EventCurrencyJobLists>
		<Jobs override="true">
			<Job id="162001" name="Fatov_Exercise" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162015" name="SuggestEvents" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162016" name="IntimidateSpringfielders" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162017" name="IncludeGoKartRacingForTheKids" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162018" name="GetExcitedForTheGames" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162019" name="GetExcitedForGoKarts" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162020" name="EncourageAdultsToStartTraining" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162021" name="ReluctantlyTrainForTheGames" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162022" name="TrainForTheGoKartRaces" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162023" name="TrainTheKidsInSecret" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:PremiumJobReward__" xp="35" />
			</Job>
			<Job id="162027" name="LightTheGamesCauldron" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162028" name="TrainForTheDodecathalon" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162029" name="ExplainTheDodecathlonRules" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162030" name="CompeteInTheDodecathalon" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162031" name="CompeteInGoKartRaces" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162033" name="WatchTheGoKartRaces" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:RegularJobReward__" xp="35" />
			</Job>
			<Job id="162034" name="SuggestEvents_Premium" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:PremiumJobReward__" xp="35" />
			</Job>
			<Job id="162035" name="GetExcitedForTheGames_Premium" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:PremiumJobReward__" xp="35" />
			</Job>
			<Job id="162036" name="WatchTheGoKarts_Premium" time="3h">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:PremiumJobReward__" xp="35" />
			</Job>
		</Jobs>
	</SpecialEvent>
	<SpecialEvent id="162001" name="SpringfieldGames_NonPermanent">
		<Variable name="SpringfieldGames_Store" value="true" />
		<Variable name="PlaySaxForPins_Complete" value="0" />
		<Variable name="Fatov_FirstSpawn" value="true" />
		<SpawnOverTime character="SpringfieldGames_FatovTappable" loggedOnSpawnTime="3h" loggedOffSpawnTime="3h" maxAllowedInTown="1" regularBankMax="0" premiumBankMax="0" showPopUpIfRegularBankMaxReached="false" errorTitle="UI_SpringfieldGames_Fatov_title" errorBody="UI_SpringfieldGames_Fatov_text" alwaysCheckRequirements="true">
			<Requirements>
				<Requirement type="quest" quest="PinStandPlaced" />
				<Requirement type="quest" quest="RewardFatov" not="true" />
				<Requirement type="time" end="SpringfieldGames_End" />
			</Requirements>
			<Subland value="Springfield" />
		</SpawnOverTime>
	</SpecialEvent>
	<SpecialEvent id="162003" name="SpringfieldGames_TireFireOverrides">
		<Jobs override="true">
			<Job id="162103" name="EnrichingOzoneLayer" time="3h" OnJobDoneScript="SpringfieldGames_Scripts:RegisterTelemetry_Building">
				<Reward SpringfieldGames_ParticipationRibbons="__SpringfieldGames_GameConfig:CurrencyRewards:PremiumJobReward__" xp="35" />
			</Job>
		</Jobs>
		<Buildings override="true">
			<Building name="SpringfieldTireyard">
				<BuildMenuText text="UI_SpringfieldGames_GeneratorText_exciting" />
			</Building>
		</Buildings>
	</SpecialEvent>
	<SpecialEvent id="162005" name="SpringfieldGames_TurnOffLisaChaser">
		<Variable name="LisaChaser_Active" value="true" />
		<LoopScript scheduleTime="SpringfieldGames_End" package="SpringfieldGames_Scripts" interval="1s" script="TurnOffLisaChaser" loop="false" />
	</SpecialEvent>
	<SpecialEvent id="162006" name="SpringfieldGames_EventActive">
		<Variable name="SpringfieldGames_InroQuestsActive" value="true" />
		<Jobs override="true">
			<Job id="162011" name="PetitionForSpringfieldGames" time="6s">
				<Requirement type="active quest" quest="GamesOfTheirOwn_1" />
			</Job>
			<Job id="162012" name="PlanTouristScams" time="6s">
				<Requirement type="active quest" quest="GamesOfTheirOwn_2" />
			</Job>
			<Job id="162013" name="PlanPoliceAssistance" time="6s">
				<Requirement type="active quest" quest="GamesOfTheirOwn_2" />
			</Job>
			<Job id="162014" name="AnnounceTheSpringfieldGames" time="6s">
				<Requirement type="active quest" quest="GamesOfTheirOwn_2" />
			</Job>
		</Jobs>
	</SpecialEvent>
</SpecialEvents>