<Consumables>
	<ConsumableDefaults>
		<NoNewTagIfNoHistory value="true" />
		<Subland value="Springfield" />
	</ConsumableDefaults>
	<Consumable id="139000" name="PierDrawing" type="PierDrawing" icon="Indicator_OrnatePierTile" TextPoolID="UI_PierTiles">
		<XSIcon useAtlas="false" icon="MENU_ICO_DECR_OrnatePierTile_XS.rgb" />
		<Sell allowed="false" storeoverride="true" />
	</Consumable>
</Consumables>