<TelemetryFamilies>
	<SpringfieldJobs>
		<Requirement type="variable" variable="SpringfieldJobs" />
		<SessionCounters>
			<Counter name="SpringfieldJobs_HeistJobsCompleted" />
		</SessionCounters>
		<SessionEvents>
			<Event id="9930">
				<Parameter0 type="Enumeration" source="FixedString" extra="SpringfieldJobs_Act1PrizeTrackCurrency" />
				<Parameter1 type="Enumeration" source="SpendableBalance" extra="SpringfieldJobs_Act1PrizeTrackCurrency" />
			</Event>
			<Event id="9930">
				<Parameter0 type="Enumeration" source="FixedString" extra="SpringfieldJobs_Act2PrizeTrackCurrency" />
				<Parameter1 type="Enumeration" source="SpendableBalance" extra="SpringfieldJobs_Act2PrizeTrackCurrency" />
			</Event>
			<Event id="9930">
				<Parameter0 type="Enumeration" source="FixedString" extra="SpringfieldJobs_Act3PrizeTrackCurrency" />
				<Parameter1 type="Enumeration" source="SpendableBalance" extra="SpringfieldJobs_Act3PrizeTrackCurrency" />
			</Event>
			<Event id="9930">
				<Parameter0 type="Enumeration" source="FixedString" extra="SpringfieldJobs_CraftingCurrency" />
				<Parameter1 type="Enumeration" source="SpendableBalance" extra="SpringfieldJobs_CraftingCurrency" />
			</Event>
			<Event id="9930">
				<Parameter0 type="Enumeration" source="FixedString" extra="SpringfieldJobs_CraftingXP" />
				<Parameter1 type="Enumeration" source="SpendableBalance" extra="SpringfieldJobs_CraftingXP" />
			</Event>
			<Event id="9932">
				<Parameter0 type="Score" source="Counter" extra="SpringfieldJobs_HeistJobsCompleted" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="MuseumOfSuperFineArts" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MuseumOfSuperFineArts" />
				<Parameter1 type="Enumeration" source="FixedString" extra="MuseumOfSuperFineArts" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="DaVinciAircraft" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MuseumOfSuperFineArts" />
				<Parameter1 type="Enumeration" source="FixedString" extra="DaVinciAircraft" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="CheeseTruck" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MuseumOfSuperFineArts" />
				<Parameter1 type="Enumeration" source="FixedString" extra="CheeseTruck" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="Gondola" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MuseumOfSuperFineArts" />
				<Parameter1 type="Enumeration" source="FixedString" extra="Gondola" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="characterunlocked" name="Primo" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MuseumOfSuperFineArts" />
				<Parameter1 type="Enumeration" source="FixedString" extra="Primo" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="TowerOfSpringfield" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="TowerOfSpringfield" />
				<Parameter1 type="Enumeration" source="FixedString" extra="TowerOfSpringfield" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="OldPhoneBooth" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="TowerOfSpringfield" />
				<Parameter1 type="Enumeration" source="FixedString" extra="OldPhoneBooth" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="PoliceCallBox" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="TowerOfSpringfield" />
				<Parameter1 type="Enumeration" source="FixedString" extra="PoliceCallBox" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="QueensCarriage" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="TowerOfSpringfield" />
				<Parameter1 type="Enumeration" source="FixedString" extra="QueensCarriage" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="QueensGuard" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="TowerOfSpringfield" />
				<Parameter1 type="Enumeration" source="FixedString" extra="QueensGuard" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="MonteBurnsResortCasino" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MonteBurnsResortCasino" />
				<Parameter1 type="Enumeration" source="FixedString" extra="MonteBurnsResortCasino" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="FirstPrimeMinisterOfAustraliaStatue" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MonteBurnsResortCasino" />
				<Parameter1 type="Enumeration" source="FixedString" extra="FirstPrimeMinisterOfAustraliaStatue" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="RaceCarStatue" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MonteBurnsResortCasino" />
				<Parameter1 type="Enumeration" source="FixedString" extra="RaceCarStatue" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="building owned" building="FancyOvalFountain" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MonteBurnsResortCasino" />
				<Parameter1 type="Enumeration" source="FixedString" extra="FancyOvalFountain" />
			</Event>
			<Event id="9938">
				<Requirements>
					<Requirement type="characterunlocked" name="FernandoVidal" />
				</Requirements>
				<Parameter0 type="Enumeration" source="FixedString" extra="MonteBurnsResortCasino" />
				<Parameter1 type="Enumeration" source="FixedString" extra="FernandoVidal" />
			</Event>
		</SessionEvents>
		<TriggerEffects>
			<TriggerEffect>
				<Filter type="matching" key="TriggerType" string="OnItemCrafted" />
				<Response type="logEvent">
					<Event id="9931">
						<Parameter0 type="Enumeration" source="FixedString" extra="{Trigger::ObjectName}" />
						<Parameter1 type="Enumeration" source="FormulaAsInt" extra="{Trigger::Amount}" />
						<Parameter2 type="Enumeration" source="FormulaAsInt" extra="{Trigger::PremiumCost}" />
					</Event>
				</Response>
			</TriggerEffect>
			<TriggerEffect>
				<Filter type="matching" key="TriggerType" string="OnBuildingPlaced" />
				<Filter type="matching" key="OriginalCostSpendable" string="SpringfieldJobs_CraftingCurrency" />
				<Filter type="matching" key="FromInventory" formula="0" />
				<Response type="logEvent">
					<Event id="9931">
						<Parameter0 type="Enumeration" source="FixedString" extra="{Trigger::ObjectName}" />
						<Parameter1 type="Enumeration" source="FixedString" extra="1" />
						<Parameter2 type="Enumeration" source="FixedString" extra="0" />
					</Event>
				</Response>
			</TriggerEffect>
			<TriggerEffect>
				<Filter type="logic" conditional="or">
					<Filter type="matching" key="TriggerType" string="OnJobRushed" />
					<Filter type="matching" key="TriggerType" string="OnJobCompleted" />
				</Filter>
				<Filter type="logic" conditional="or">
					<Filter type="matching" key="Source" string="PlanHeist_Intro" />
					<Filter type="matching" key="Source" string="PlanHeist_MuseumOfSuperFineArts" />
					<Filter type="matching" key="Source" string="PlanHeist_TowerOfSpringfield" />
					<Filter type="matching" key="Source" string="PlanHeist_MonteBurnsResortCasino" />
				</Filter>
				<Response type="incrementCounter" counter="SpringfieldJobs_HeistJobsCompleted" increment="1" />
			</TriggerEffect>
		</TriggerEffects>
	</SpringfieldJobs>
</TelemetryFamilies>